= form_for(resource, url: providers_path, method: :post, class: 'form-horizontal') do |f|
  = f.hidden_field :user_type
  = f.hidden_field :welcome_message
  = f.text_field :first_name, placeholder: 'First name', class: 'form-control'
  = f.text_field :last_name, placeholder: 'Last name', class: 'form-control'
  = f.text_field :provider_name, placeholder: 'Official provider name (example: JohnSmithMedical)', class: 'form-control'
  = f.text_field :slug, placeholder: 'Unique url name', class: 'form-control'
  = f.text_field :address_1, placeholder: 'Address line 1', class: 'form-control'
  = f.text_field :address_2, placeholder: 'Address line 2', class: 'form-control'
  = f.text_field :city, placeholder: 'City', class: 'form-control'
  = f.text_field :state_code, placeholder: 'State', class: 'form-control'
  = f.text_field :zip_code, placeholder: 'Zip code', class: 'form-control'
  = f.email_field :email, placeholder: 'Email address', class: 'form-control'
  = f.password_field :password, placeholder: 'Password', class: 'form-control'
  = f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control'
  = f.submit 'Sign up!', class: 'btn btn-primary-custom'
