- @active_top_nav_link = :community
- @page_title = 'Registered Sleep Apnea Care Providers'

.content-main-header
  %h1
    Providers on
    = ENV['pprn_title']

%div{ style: 'text-align:center' }= paginate @providers, theme: 'bootstrap-small'


.content-container.inherit-background
  .content-body
    .row.reset-layout
      - @providers.order(:provider_name).each do |provider|
        .col-xs-12.col-sm-6.col-md-4
          .panel
            .panel-body
              .f500.centered-text{ style: "white-space:nowrap;position:relative;margin-bottom:10px;" }
                = link_to provider.provider_name, provider_path(provider.slug), data: { toggle: 'tooltip', title: provider.provider_name, container: 'body', placement: 'top' }
              %div{ style: "text-align:center;padding-bottom:5px;height:145px;line-height:145px" }
                = link_to image_tag( provider.photo_url, style: 'max-width:100%;max-height:140px' ), provider_path(provider.slug)
              %div.f300{ style: 'text-align:center;margin-top:5px' }
                %p
                  - member_count = provider.users.count
                  - if member_count < 100
                    Recruiting New Members
                  - elsif member_count < 1000
                    Hundreds of members
                  - else
                    Thousands of members
                = link_to "Join Provider Group", provider_path(provider.slug), class: 'btn btn-xs btn-primary'

%div{ style: 'text-align:center' }= paginate @providers, theme: 'bootstrap-small'

.content-container
  .content-body.centered-text
    = link_to 'Become a Provider', new_provider_path, class: 'btn btn-lg btn-primary'
