.content-main-header2
  %h1 Providers on MyApnea.Org

.pull-right
  = form_tag providers_path, method: :get, class: 'form-inline', style: 'margin: 20px 20px;' do
    .input-group
      = text_field_tag 's', params[:s], class: 'form-control'
      %span.input-group-btn
        = submit_tag 'Search', class: 'btn btn-primary', name: nil

.clearfix

- if @providers.count == 0 && params[:s].present?
  %p.lead.centered
    Sorry, we could not find any providers matching your search:
    %code= params[:s]
- else
  #current-provider-list
    = render 'providers/show_group'
