.row.row-fullscreen{id:"slide-1p"}
  .col-md-6.col-md-offset-1
    %h2.darker-blue.f700{style: "margin-top:120px"} Help us put an end to sleep apnea!
    %h3.text-dark6.f500 We are working directly with researchers and providers to treat this illness. By creating your own provider page, you can make an important impact.
    = link_to 'Create your page', '#signup', class: "btn btn-primary", id: "btn-join", style: "font-weight: bold; border-radius:100px; margin-top:50px;"
  .col-md-3.col-md-offset-1{style: "margin-top:120px;"}
    .thumbnail#video-play{:style=>"background-color:rgba(250,250,250,.43); padding:30px; text-align:center; border:none; cursor:pointer; border-radius:20px", data:{ object: 'play-video', toggle:"modal", target:'#welcomeVideoModal'}}
      %i.fa.fa-play-circle{style:"color:#BFD9F3; font-size:147px; line-height:118px; border-radius:100%;"}

.row.row-fullscreen{id:"slide-2p"}
  .col-md-6.col-md-offset-1.col-sm-8
    %h1.primary-blue{style: "margin-top:150px;"} Get your patients involved
    %h3{style: "color:rgba(0,0,0,.7)"}
      MyApnea.Org is what's called
      %span.lighter-blue patient-powered research.
      We're creating a platform that allows people with sleep apnea to have a direct impact on research priorities, in order to give them faster improvements in treatment methods. Input from people with sleep apnea is crucial to seeing how we can care for them better. By giving your provider page to your patients, you're joining an important movement to stop this disorder.
  .col-sm-4{ style: 'text-align:center;' }
    / = image_tag 'myapnea/welcome/img-small/team-hands-cropped.jpg', class: "hidden-sm hidden-xs"
    = image_tag 'myapnea/welcome/img-small/first35_orange.png', class: 'hidden-xs'
    / %div
    /   Icons made by
    /   %a{ href: "http://www.freepik.com", title: "Freepik" } Freepik
    /   from
    /   %a{ href:"http://www.flaticon.com", title:'Flaticon' } www.flaticon.com
    /   is licensed by
    /   %a{ href:'http://creativecommons.org/licenses/by/3.0/', title:'Creative Commons BY 3.0' }CC BY 3.0
.row.row-fullscreen#slide-3p{ style: 'padding-bottom:170px;'}
  .col-sm-4.col-md-offset-1{ style: 'text-align:center;' }
    / = image_tag 'myapnea/welcome/img-large/unsplash-dont-stand-there.jpg', class: "hidden-sm hidden-xs"
    = image_tag 'myapnea/welcome/img-small/heart258_orange.png', class: 'hidden-xs'
  .col-md-6.col-sm-8
    %h1.primary-blue Provide better care
    %h3{style: "color:rgba(0,0,0,.7)"}
      By offering this network to your patients, and engaging with them actively outside of the office, they begin to feel a uniquely incredible quality of care. This community easily shows people with sleep apnea the amount of support they have from an international group of researchers, care providers, and fellow patients.
.row#partners-banner
  .col-sm-12.col-md-4.col-lg-4.col-lg-offset-1
    = image_tag 'myapnea/welcome/img-small/asaa_logo.jpg', class: "partners-img img-responsive", id: "partner-AASA"
  .col-sm-12.col-md-4.col-lg-3
    = image_tag 'myapnea/welcome/img-small/pcornet_logo.jpg', class: "partners-img img-responsive", id: "partner-PCORnet"
  .col-sm-12.col-md-4.col-lg-3
    = image_tag 'myapnea/welcome/img-small/bwh_logo.jpg', class: "partners-img img-responsive", id: "partner-BWH"

- if current_user
  %div{ style: 'height:75vh;background-color:white;text-align:center;padding-top:25vh' }
    - if current_user.provider?
      %p.lead
        You are currently signed in as
        %strong= "#{current_user.name}."
        Thank you for signing up as a provider.
      %p.lead
        You may customize your personal provider page in your
        - if current_user.beta_opt_in?
          = link_to('Account Settings', account_path) + "."
        - else
          = link_to('Account Settings (Beta)', update_account_path(user: { beta_opt_in: '1' }), method: :patch) + "."
    - else
      %p.lead
        You are currently signed in as
        %strong= "#{current_user.name}."
      %p.lead
        If you are a provider and want to set up a custom page, you can email us at
        = mail_to(ENV['pprn_support_email']) + "."
- else
  / Signup sheet
  %a{ name: 'signup' }
  - @user = @provider
  = render partial: "providers/provider_signup_form", locals: { resource: @provider }
