#bmi-ahi-calculator.row.reset-layout
  .col-sm-5
    .row.list-group-item
      %h3 BMI and Sleep Apnea
      %p.lead
        Although obesity is not a trait of all patients with sleep apnea, there is evidence that a relationship between weight and sleep apnea exists.  Changes in weight have been linked to changes in the Apnea Hypopnea Index.
    #bmi-height.row.list-group-item
      .col-xs-6
        %h4
          What is your height?
      .col-xs-6
        = select_tag 'feet', options_for_select(0..8), include_blank: true, class: 'bmi-height-select', id: 'my-height-feet', data: { object: 'feet-input' }
        %label.select-label{ for: 'feet'} feet
        = select_tag 'inches', options_for_select(0..11), include_blank: true, class: 'bmi-height-select', id: 'my-height-inches', data: { object: 'inches-input' }
        %label.select-label{ for: 'inches' } inches
    #bmi-weight.row.list-group-item
      .col-xs-6
        %h4
          What is your weight?
      .col-xs-6
        = number_field_tag 'weight', nil, class: 'number-input', id: 'my-weight', data: { object: 'weight-input' }
        %label.select-label{ for: 'weight' } pounds
    #bmi-graph.row.list-group-item
      %h4 Your Calculated BMI:
      %p.f300
        From the height and weight you've provided, we've determined your
        = link_to 'Body Mass Index', 'http://en.wikipedia.org/wiki/Body_mass_index'
        to be:
        %span#bmi.f500
      %p.f300
        People with this BMI are considered to be
        %span.f500= bmi_category(bmi(72, 160))
      %svg.chart
  #bmi-ahi-results-container.col-sm-7.hidden
    .panel{ style: 'margin-top:20px; height: 100%;' }
      .panel-heading
        %h4 Effects of Weight Change on AHI
      .panel-body
        .row
          .col-xs-4
            %h5 Your Desired Weight:
          .col-xs-8
            = number_field_tag 'desired-weight', nil, class: 'number-input', style: 'position:relative; top:4px;'
            .btn.btn-success{ data: { object: 'calculate-minimum-weight' } }
              %p.small.reset-layout Calculate minimum healthy weight
        .row
          .col-md-4
            %h5 Your Resulting BMI:
          .col-md-8
            %h5#predicted-bmi
        .row
          %cite.notice.text-muted
            %a{:href => ""} Peppard et al. Longitudinal Study of Moderate Weight Change and Sleep-Disordered Breathing. JAMA. 2000;284(23):3015-3021.
































-if false
  .row.reset-layout
    #bmi-graph.col-md-5.col-md-offset-1
      %h4 What is my BMI?
      .list-group-item
        .row
          .col-md-7
            %h5 Your Weight:
          .col-md-5
            .input-group.input-group-sm
              %input#my-weight.form-control/
              %span.input-group-addon pounds
      .list-group-item
        .row
          .col-md-7
            %h5 Your Height:
          .col-md-5
            .input-group.input-group-sm
              %input#my-height-feet.form-control/
              %span.input-group-addon feet
            .input-group.input-group-sm
              %input#my-height-inches.form-control/
              %span.input-group-addon inches
      .list-group-item
        .row
          .col-md-7
            %h5 Your Calculated BMI:
          .col-md-5
            %h5#my-bmi
      %br/
      %svg.chart
      .row
        %dl
          .col-md-4
            %dt
              %strong Your height:
            %dd#height
          .col-md-4
            %dt
              %strong Your weight:
            %dd#weight
          .col-md-4
            %dt Your BMI
            %dd#bmi

- if false
  #ahi.row.reset-layout
    #ahi-graph.col-md-8
      %h4 Effects of Weight Change on AHI
      %svg.chart
      %cite.notice.text-muted
        %a{:href => ""} Peppard et al. Longitudinal Study of Moderate Weight Change and Sleep-Disordered Breathing. JAMA. 2000;284(23):3015-3021.
    #prediction.col-md-4
      %h4 How might your AHI change?
      .list-group
        .list-group-item
          .row
            .col-md-7
              %h5 Your Current Weight:
            .col-md-5
              %h5#current-weight
        .list-group-item
          .row
            .col-md-7
              %h5 Your Desired Weight:
            .col-md-5
              .input-group.input-group-sm
                %input#desired-weight.form-control/
                %span.input-group-addon pounds
        .list-group-item
          .row
            .col-md-7
              %h5 Your Resulting BMI:
            .col-md-5
              %h5#predicted-bmi
        .list-group-item
          .row
            .col-md-7
              %h5 Possible AHI Change:
            .col-md-5
              %h5#predicted-change

= javascript_include_tag "tools/bmi_ahi"
= stylesheet_link_tag "tools/bmi_ahi"
