#bmi-ahi-calculator.row.reset-layout
  .col-md-5
    .row.list-group-item
      %h3 Sleep Apnea and BMI
      %p.lead
        Although obesity is not a trait of all patients with sleep apnea, there is evidence that a relationship between weight and sleep apnea exists.  Changes in weight, and resulting changes in
        = link_to('body mass index (BMI)', 'http://en.wikipedia.org/wiki/Body_mass_index')+','
        have been linked to changes in the
        = link_to('apnea hypopnea index (AHI)', 'http://en.wikipedia.org/wiki/Apnea%E2%80%93hypopnea_index')+'.'
    #bmi-height.row.list-group-item
      .col-xs-6
        %h4
          What is your height?
      .col-xs-6
        = select_tag 'feet', options_for_select(0..8), include_blank: true, class: 'bmi-height-select', id: 'my-height-feet', data: { object: 'feet-input' }
        %label.select-label{ for: 'feet'} feet
        = select_tag 'inches', options_for_select(0..11), include_blank: true, class: 'bmi-height-select', id: 'my-height-inches', data: { object: 'inches-input' }
        %label.select-label{ for: 'inches' } inches
    #bmi-weight.row.list-group-item
      .col-xs-6
        %h4
          What is your weight?
      .col-xs-6
        = number_field_tag 'weight', nil, class: 'number-input', id: 'my-weight', data: { object: 'weight-input' }
        %label.select-label{ for: 'weight' } pounds
    #calculate-bmi-placeholder.row.list-group-item.centered-text
      %button.btn.btn-success.disabled{ data: { object: 'submit-bmi'} }
        %h3 Calculate My BMI
    #bmi-graph.row.list-group-item.hidden
      %h3.centered-text.f300
        Your BMI:
        %span#bmi.f500
      #my-bmi{ style: 'margin-top: 20px;'}
        %p.lead
          People with this BMI are considered to be:
          %span#my-bmi-category.f500
        %svg.chart
  #bmi-ahi-results-container.col-md-7.dimmed-and-disabled
    .list-group-item
      %h4
        Effects of Weight Change on AHI
      %p.lead
        Research has show that the risk of obstructive sleep apnea (OSA) is much higher in people with high BMI, and a strong relationship exists between increases in BMI and increases in the severity of OSA.
    .list-group-item
      .row
        .col-xs-4
          %h5 Your Desired Weight:
        .col-xs-8
          = number_field_tag 'desired-weight', nil, class: 'number-input', style: 'position:relative; top:4px;'
          %button.btn.btn-default.disabled{ data: { object: 'calculate-minimum-weight' } }
            %p.small.reset-layout Calculate short-term weight goal
    .list-group-item
      #calculate-weight-change-results.centered-text
        %button.btn.btn-primary.disabled{ data: { object: 'submit-weight-change'} }
          %h4 See Your Results
    #weight-change-results-container.hidden
      .list-group-item
        .row
          .col-md-4
            %h5 Your Resulting BMI:
          .col-md-8
            %h5#predicted-bmi
      .list-group-item
        %p#bmi-change-result-text.hidden.lead{ style: 'font-size: 18px; padding-left: 5px; padding-right: 5px'}
          %br
          %span#bmi-change-result-custom-text.darkerer-blue
          #severity-graph.centered-text
            #severe.row.reset-layout
              .col-xs-3
                %h4.darkerer-blue Severe
              .col-xs-3
              .col-xs-3
              .col-xs-3
                .circle
            #moderate.row.reset-layout
              .col-xs-3
                %h4.darkerer-blue Moderate
              .col-xs-3
              .col-xs-3
                .circle
              .col-xs-3
            #mild.row.reset-layout
              .col-xs-3
                %h4.darkerer-blue Mild
              .col-xs-3
                .circle
              .col-xs-3
              .col-xs-3
            .row.reset-layout
              .col-xs-3
              .col-xs-3
                %h4.darkerer-blue Normal weight
              .col-xs-3
                %h4.darkerer-blue Overweight
              .col-xs-3
                %h4.darkerer-blue Obese
    .list-group-item
      %cite#bmi-change-result-citation.notice.text-muted.small
        %a{:href => "http://www.archbronconeumol.org/en/obstructive-sleep-apnea-in-normal/articulo/90258886/"}
          Quintas et al. "Obstructive sleep apnea in normal weight patients: Characteristics and comparison with overweight and obese patients." Archivos de Bronconeumología (English Edition) 49.12 (2013): 513-517.

= javascript_include_tag "tools/bmi_ahi"
= stylesheet_link_tag "tools/bmi_ahi"
