#risk-assessment-results-container
  .row.reset-layout.logo-color-bcg{ style: 'padding-bottom:10px;' }
    .col-sm-8
      %h1.centered-text.text-white
        Sleep Apnea Risk Assessment
    #risk-assessment-logo.col-sm-2.col-sm-offset-1
      = link_to root_path do
        = image_tag 'myapnea/logos/MyApneaLogo_border_whitetext_300x80.png', class: 'img-responsive'
  .row.reset-layout
    .col-xs-3.col-xs-offset-1.no-padding
      #high-risk-bar.row.reset-layout.risk-indicator-bar{ class: "#{'risk-level-passed' if @risk_category>=3} #{'risk-level-active' if @risk_category==3}" }
        %p.lead{ class: "#{'f500' if @risk_category==3}" }
          High Risk
      #middle-risk-bar.row.reset-layout.risk-indicator-bar{ class: "#{'risk-level-passed' if @risk_category>=2} #{'risk-level-active' if @risk_category==2}" }
        %p.lead{ class: "#{'f500' if @risk_category==2}" }
          Moderate Risk
      #low-risk-bar.row.reset-layout.risk-indicator-bar{ class: "#{'risk-level-passed' if @risk_category>=1} #{'risk-level-active' if @risk_category==1}" }
        %p.lead{ class: "#{'f500' if @risk_category==1}" }
          Low Risk
    .col-xs-2.no-padding
      .row.reset-layout.risk-connector{ class: "#{'risk-level-active' if @risk_category==3}" }
      .row.reset-layout.risk-connector{ class: "#{'risk-level-active' if @risk_category==2}" }
      .row.reset-layout.risk-connector{ class: "#{'risk-level-active' if @risk_category==1}" }
    #risk-assessment-results-description.col-xs-5.no-padding
      %h2.f300.centered-text
        Your risk category is:
        %br
        %span.primary-orange= @risk_category
