#risk-assessment-container
  .row.reset-layout.logo-color-bcg{ style: 'padding-bottom:10px;' }
    .col-sm-8
      %h1.centered-text.text-white
        Sleep Apnea Risk Assessment
    #risk-assessment-logo.col-sm-2.col-sm-offset-1
      = link_to root_path do
        = image_tag 'myapnea/logos/MyApneaLogo_border_whitetext_300x80.png', class: 'img-responsive'
  = form_tag sleep_apnea_risk_assessment_results_path do
    .row.reset-layout
      .col-sm-6.reset-layout
        #stopbang-gender.row.reset-layout
          .col-xs-6
            %h4
              What is your sex?
          .col-xs-6
            .radio-container
              = radio_button_tag 'gender', 'male'
              %label{ for: 'gender' }
                %p Male
            .radio-container
              = radio_button_tag 'gender', 'female'
              %label{ for: 'gender' }
                %p Female
        #stopbang-age.row.reset-layout
          .col-xs-6
            %h4
              What is your age?
          .col-xs-6
            = number_field_tag 'age'
            %label.select-label{ for: 'years' } years
        #stopbang-bmi
          #stopbang-height.row.reset-layout
            .col-xs-6
              %h4
                What is your height?
            .col-xs-6
              .row.reset-layout
                .col-sm-6.no-padding
                  = select_tag 'feet', options_for_select(0..8), include_blank: true, data: { object: 'feet-input' }
                  %label.select-label{ for: 'feet'} feet
                .col-sm-6.no-padding
                  = select_tag 'inches', options_for_select(0..11), include_blank: true, data: { object: 'inches-input' }
                  %label.select-label{ for: 'inches' } inches
          #stopbang-weight.row.reset-layout
            .col-xs-6
              %h4
                What is your weight?
            .col-xs-6
              = number_field_tag 'weight', nil, class: 'number-input', data: { object: 'weight-input' }
              %label.f300{ for: 'weight' } pounds
          .row.reset-layout
            .col-xs-6
              %h4 Your BMI:
            .col-xs-6
              %h4#stopbang-bmi-output.f300
        #stopbang-bp.row.reset-layout
          .col-xs-6
            %h4
              Are you currently being treated for high blood pressure?
          .col-xs-6
            .radio-container
              = radio_button_tag 'hbp', 'yes'
              %label{ for: 'snoring' }
                %p Yes
            .radio-container
              = radio_button_tag 'hbp', 'no'
              %label{ for: 'snoring' }
                %p No
        #stopbang-snoring.row.reset-layout
          .col-xs-6
            %h4
              Do you snore loudly?
            %p.f300.text-muted
              Loudly enough to be heard through closed doors, or so that your bed-partner elbows you for snoring at night.
          .col-xs-6
            .radio-container
              = radio_button_tag 'snoring', 'yes'
              %label{ for: 'snoring' }
                %p Yes
            .radio-container
              = radio_button_tag 'snoring', 'no'
              %label{ for: 'snoring' }
                %p No
      .col-sm-6.reset-layout
        #stopbang-tiredness.row.reset-layout
          .col-xs-6
            %h4
              Do you often feel tired, fatigued, or sleepy during the daytime?
          .col-xs-6
            .radio-container
              = radio_button_tag 'tiredness', 'yes'
              %label{ for: 'tiredness' }
                %p Yes
            .radio-container
              = radio_button_tag 'tiredness', 'no'
              %label{ for: 'tiredness' }
                %p No
        #stopbang-observation.row.reset-layout
          .col-xs-6
            %h4
              Has anyone ever observed you stop breathing or start choking/gasping during your sleep?
          .col-xs-6
            .radio-container
              = radio_button_tag 'observation', 'yes'
              %label{ for: 'observation' }
                %p Yes
            .radio-container
              = radio_button_tag 'observation', 'no'
              %label{ for: 'observation' }
                %p No
        #stopbang-neck.row.reset-layout
          .col-xs-6
            %h4
              Do you have a large neck size?
              %br
              %span.text-muted.f300
                Collar size of 17" or more for men
                %br
                Collar size of 16" or more for women
          .col-xs-6
            .radio-container
              = radio_button_tag 'neck', 'yes'
              %label{ for: 'neck' }
                %p Yes
            .radio-container
              = radio_button_tag 'neck', 'no'
              %label{ for: 'neck' }
                %p No
        #stopbang-submit.centered-text
          %button.btn.btn-success{ data: { object: 'submit-risk-assessment'} }
            %h3 Check My Risk
  .row.reset-layout.primary-orange-bcg
    .col-sm-4
    .col-sm-4
    .col-sm-4
      %p#stopbang-accreditation.small.text-right
        = link_to 'STOPBang', 'http://www.stopbang.ca'
        is the property of
        = link_to 'University Health Network', 'http://www.uhn.ca'
        and is licensed for use by
        = link_to 'Partners Healthcare', 'http://www.partners.org'
        and
        = link_to('MyApnea.Org', 'http://www.myapnea.org') + '.'
