.form-group{ style: "#{"display: none;" if object.new_record? && !object.errors.key?(key)}" }
  = form.label key, defined?(key_name) ? key_name : nil, class: "form-control-label"
  = form.text_field key, class: "form-control#{" is-invalid" if object.errors[key].present?}", id: "#{object.class.to_s.underscore}_#{key}"
  - if defined?(key_name)
    = render "forms/invalid_feedback", object: object, key: key, key_name: key_name
  - else
    = render "forms/invalid_feedback", object: object, key: key
  = render "forms/help_text", help_text: help_text if defined?(help_text)
