- raise StandardError unless defined?(rt)
.panel
  .panel-heading
    %div{ style: 'min-height: 50px;'}
      = image_tag rt.user.photo_url, class: 'img-responsive', style: 'width: 50px; height: 50px; border: 2px solid white; float: left'
      %p.text-dark6{ style: 'float: left; padding-left: 20px; padding-top: 20px;font-size: 15px;' }
        %span.f500.primary-blue= rt.user.name
        asked:
  .panel-body
    %h4.centered-text= rt.text
    %hr
    %p.lead= "\"#{rt.description}\""
    %hr
    .centered-text
      = radio_button_tag "I endorse this topic", :endorse
      %label{ for: 'endorse' } I endorse this topic!
      %br
      = radio_button_tag "I don't endorse this topic", :dont_endorse
      %label{ for: 'dont_endorse' } I don't endorse this topic!
      %br
      %br
      %p.muted Add a comment (optional):
      = text_area_tag "comment", nil, rows: 5, class: 'form-control'
      %br
      = submit_tag "Submit", class: 'btn btn-primary'
