- remote_bool = false unless defined?(remote_bool)

- if remote_bool and params[:action] != 'first_topics'
  - path = remote_vote_path(research_topic: research_topic)
- else
  - path = vote_path(research_topic: research_topic)

-# Can we deprecate this catch?
- if research_topic.present?
  -# End potential deprecation
  .research-topic-container
    .research-topic-header
      .research-topic-header-details
        = image_tag user_photo_url(research_topic.user), alt: '', class: 'img-responsive', style: 'width: 50px; height: 50px; float: left'
        %p.dark6.question-asked-by
          = render 'users/forum_name', user: research_topic.user
          proposed:
    .research-topic-body
      %h4.centered= research_topic.text
      %hr
      - if research_topic.description.present?
        .scroll-container-max
          %h5.f300= "#{research_topic.description}"
    - unless current_user.cast_vote_for?(research_topic)
      .research-topic-footer
        = form_tag path, remote: remote_bool, class: 'voting-form' do
          = hidden_field_tag :research_topic_id, research_topic.id
          .voting-form-header
            %p.lead This should be a research priority:
          .row
            .col-sm-3.col-sm-offset-2.centered-text
              %br.visible-xs
              .endorse-button-container.endorse-positive
                = radio_button_tag "endorse_#{research_topic.id}", 1, current_user.endorsed?(research_topic)
                %label.endorse-label{ for: "endorse_#{research_topic.id}_1" } Agree
              .endorse-button-container.endorse-negative
                = radio_button_tag "endorse_#{research_topic.id}", 0, current_user.opposed?(research_topic)
                %label.endorse-label{ for: "endorse_#{research_topic.id}_0" } Disagree
            .col-sm-4.col-sm-offset-0.col-xs-10.col-xs-offset-1
              %br.visible-xs
              %label.text-left{ for: "comment_#{research_topic.id}", style: 'width:100%'}
                Add a comment:
                %span.f300.italic (optional)
              = text_area_tag "comment_#{research_topic.id}", params["comment_#{research_topic.id}"], rows: 3, style: 'resize: none', class: 'form-control', disabled: current_user.cast_vote_for?(research_topic)
          .voting-form-submit
            = submit_tag "Submit", class: 'btn btn-primary'
    - else
      -# Display of user's vote choice
      .content-container
        .content-body{ class: "white #{current_user.endorsed?(research_topic) ? 'great-bcg' : 'danger-bcg' }" }
          %p.lead.horizontal-inset
            %i.fa.fa-lg{ class: "#{current_user.endorsed?(research_topic) ? 'fa-thumbs-up' : 'fa-thumbs-down' }" }
            &nbsp;
            You
            = current_user.endorsed?(research_topic) ? "agreed" : "disagreed"
            that this is a research priority.
            = link_to 'I changed my mind', change_vote_path(research_topic_id: research_topic.id), method: :patch, class: 'btn btn-default pull-right'
