- if research_topic.present?
  .research-topic-container
    .research-topic-header
      %div{ style: 'min-height: 50px;'}
        = image_tag research_topic.user.photo_url, class: 'img-responsive', style: 'width: 50px; height: 50px; float: left'
        %p.text-dark6{ style: 'float: left; padding-left: 20px; padding-top: 20px;font-size: 15px;' }
          %span.f500.primary-blue= research_topic.user.name
          asked:
    .research-topic-body
      %h4.centered-text= research_topic.text
      %hr
      %p.lead= "\"#{research_topic.description}\""
      %hr
      .centered-text
        = form_tag vote_path(research_topic: research_topic) do
          = hidden_field_tag :research_topic_id, research_topic.id
          = radio_button_tag :endorse, 1
          %label{ for: 'endorse_1' } I endorse this topic!
          %br
          = radio_button_tag :endorse, 0
          %label{ for: 'endorse_0' } I don't endorse this topic!
          %br
          %br
          %p.muted Add a comment (optional):
          = text_area_tag 'comment', nil, rows: 5, class: 'form-control'
          %br
          = submit_tag "Submit", class: 'btn btn-primary'

