.content-main-header
  %h1.f300 Research
- if current_user and (current_user.moderator? or current_user.owner?) and ResearchTopic.pending_review.present?
  .well
    %h4
      For admins:
    %p.horizontal-inset
      The following topics are pending review:
    %ul
      - ResearchTopic.pending_review.each do |research_topic|
        %li= link_to research_topic.text, research_topic_path(research_topic)

.content-container
  .content-body
    %p.lead
      Let us know what research questions matter to you most. Join the community in voting and discussing research topics submitted by members like yourself. We will take the most endorsed questions and translate them into
      = link_to 'research highlights', accepted_research_topics_path, class: 'no-underline'
      and proposals for future studies of sleep apnea.
  .content-footer
    %p
      = link_to 'Propose a new research topic', new_research_topic_path, class: 'no-underline'
    - if current_user and current_user.my_research_topics.present?
      %p
        = link_to "Check the status of your research topics", my_research_topics_research_topics_path, class: 'no-underline'


- if current_user and current_user.highlighted_research_topic.present?
  = render 'research_topics/voting_form', research_topic: current_user.highlighted_research_topic

.content-container.inherit-background
  .content-body
    .row
      .col-sm-6
        %h2 Newest
        .scroll-container
          - @research_topics.newest.first(10).each do |rt|
            = link_to research_topic_path(rt), class: 'research-topic-index-display' do
              - if current_user and current_user.cast_vote_for?(rt)
                = render 'research_topics/voting_badge', rt: rt
                %p= rt.text
              - else
                %span.badge
                  Vote!
                %p= rt.text
          = link_to newest_research_topics_path, class: 'research-topic-index-display' do
            %p More...

        %h2 Most Discussed
        .scroll-container
          - @research_topics.most_discussed.first(10).each do |rt|
            = link_to research_topic_path(rt), class: 'research-topic-index-display' do
              - if current_user and current_user.cast_vote_for?(rt)
                = render 'research_topics/voting_badge', rt: rt
                %p= rt.text
              - else
                %span.badge
                  Vote!
                %p= rt.text
          = link_to most_discussed_research_topics_path, class: 'research-topic-index-display' do
            %p More...
      .col-sm-6
        %h2 Current Clinical Studies
        .scroll-container-large
          .clinical-trial-container
            %h3
              Type 2 Diabetes and Obstructive Sleep Apnea
            %p.italic
              A study at Brigham and Women's Hospital and Beth Israel Deaconess Medical Center
            %p
              Both obstructive sleep apnea and type 2 diabetes can lead to cardiovascular disease; however, few studies have looked at what happens to the heart and blood vessels in people with both conditions.  Yet, despite optimal treatment of blood sugar, blood pressure, and cholesterol, people with diabetes can still be at risk of cardiovascular disease.  Additionally, sleep apnea is very common among people with diabetes, and so it is possible that the presence of untreated sleep apnea may contribute to these cardiovascular problems in people with diabetes.  This study is designed to investigate whether treatment of sleep apnea in people with diabetes can improve cardiovascular health.
            %p{ style: 'font-size: 14px' }
              %span.f500 Eligibility:
              The study team is looking for people with type 2 diabetes aged 18-70, who are interested in having a home-based sleep study to see if they have sleep apnea.  They cannot include anyone that has used a CPAP machine at home in the past, or anyone who has had a heart attack, stroke, or other serious cardiovascular illness.  All study visits take place in Boston, MA.
            %p{ style: 'font-size: 14px' }
              %span.f500 Contact Info:
              If you are interested in participating, please contact the study team by calling 617-525-9767, or email
              = succeed '.' do
                = link_to 'sleepresearchstudy@partners.org', 'mailto:sleepresearchstudy@partners.org'
          .clinical-trial-container
            %h3
              Support Groups for New CPAP Users
            %p.italic
              A study at Brigham and Women's Hospital
            %p
              Continuous positive airway pressure (CPAP) is the first-choice treatment for most people with obstructive sleep apnea.  CPAP treats sleep apnea very well in most people, but it can be difficult to get used to wearing a machine and mask to bed each night.  This study is looking at whether attending support group discussions led by successful CPAP users will help new CPAP users get the most out of their therapy.
            %p{ style: 'font-size: 14px' }
              %span.f500 Eligibility:
              The study team is looking for enthusiastic people who have been successfully using CPAP for at least two years, who would be interested in working with the research team to lead some support group discussions in Boston, MA.  Candidates will need to interview, and training will be provided.
            %p{ style: 'font-size: 14px' }
              %span.f500 Contact Info:
              If you are interested in working with the study team as a CPAP leader, please call 617-732-5987, or email
              = succeed '.' do
                = link_to 'jpbakker@bwh.harvard.edu', 'mailto:jpbakker@bwh.harvard.edu'

-# Research highlights
.content-container.lighter-blue-bcg
  .content-header
    %h3.text-light9 Recently accepted research topics:
  .content-body
    .row
      - Highlight.current.where(research_highlight: true).sort{ |a,b| b.created_at <=> a.created_at }.each do |highlight|
        .col-sm-4
          = render highlight

- unless current_user
  = render 'home/join_the_community', referrer: 'research', message: 'Make a direct impact on the future of sleep apnea research'
