- @active_top_nav_link = :research

.content-main-header
  %h1.f300 Rank the Research

.lighterer-blue-bcg{ style: 'border-radius: 20px; padding: 20px;' }
  %h2.text-white Trending Topic
  = render partial: 'research_topics/voting_form', locals: { research_topic: ResearchTopic.highlighted(current_user) }


%br
%br
.panel
  .panel-body
    / %h4.f300 Check out what's been going on in research lately.
    / %br
    .row
      .col-sm-6
        = link_to forum_topic_path('research', 'does-treatment-of-sleep-apnea-influence-body-weight'), class: 'thumbnail pull-right' do
          = image_tag 'myapnea/research/sleep-apnea-body-weight.png', class: 'img-responsive', style: 'max-width: 400px;'
      .col-sm-6
        = link_to forum_topic_path('research', 'does-sleep-influence-memory-and-brain-plasticity'), class: 'thumbnail pull-left' do
          = image_tag 'myapnea/research/sleep-apnea-memory.png', class: 'img-responsive', style: 'max-width: 400px;'
  .panel-footer
    .row
      .col-sm-6
        %h4 Newest
        - @research_topics.newest.first(5).each do |rt|
          .list-group-item
            %p.small= rt.text
            / Button trigger modal
            %button.btn.btn-sm.btn-primary{"data-target" => "#modal-rt#{rt.id}-newest", "data-toggle" => "modal", :type => "button"}
              Vote!
            .modal.fade{ id: "modal-rt#{rt.id}-newest", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog{ style: 'z-index: 1050; '}
                .modal-content
                  .modal-header{ style: 'background-color: white; border: none;' }
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body
                    = render partial: 'research_topics/voting_form', locals: { research_topic: rt }
        .list-group-item
          = link_to 'More...', newest_research_topics_path

      .col-sm-6
        %h4 Most Discussed
        - @research_topics.most_discussed.first(5).each do |rt|
          .list-group-item
            %p.small= rt.text
            %button.btn.btn-sm.btn-primary{"data-target" => "#modal-rt#{rt.id}-discussed", "data-toggle" => "modal", :type => "button"}
              Vote!
            .modal.fade{ id: "modal-rt#{rt.id}-discussed", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog{ style: 'z-index: 1050; '}
                .modal-content
                  .modal-header{ style: 'background-color: white; border: none;' }
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body
                    = render partial: 'research_topics/voting_form', locals: { research_topic: rt }
        .list-group-item
          = link_to 'More...', most_discussed_research_topics_path

.panel.primary-blue-bcg
  .panel-body
    .row
      .col-sm-8.col-sm-offset-2
        %h3.text-light9 Add your own question!
        .list-group-item
          = form_for ResearchTopic.new, html: { data: { object: "inline-validation"} } do |f|
            .form-group
              = f.label :text, class: 'sr-only'
              = f.text_area :text, class: 'form-control input-lg', placeholder: "Enter your research question here...", autocomplete: :off, data: { object: 'inline-validation-item', name: 'research-topic-name' }
              .col-sm-6.hidden{ style: 'margin-top: 15px; margin-bottom: 30px;', data: { object: 'research-topic-name--error' } }
                %p.small.centered-text.inline-validation-error
                  Please enter a valid question or research topic!
            .form-group
              = f.label :author, class: 'sr-only'
              = f.text_area :description, placeholder: "Describe why you think this question is important...", class: 'form-control input-lg'
            = f.submit("Submit", class: "btn btn-success pull-right")
            .clearfix
    %br
    %br

- if false
  .row
    .col-sm-4
      %h3 Most Popular
      - @research_topics.popular(10).first(5).each do |rt|
        .list-group-item
          %p.small= rt.text
    .col-sm-4
      %h3 Most Discussed
      - @research_topics.most_discussed.first(5).each do |rt|
        .list-group-item
          %p.small= rt.text
    .col-sm-4
      %h3 Newest
      - @research_topics.newest.each do |rt|
        .list-group-item
          %p.small= rt.text

