.content-main-header
  .container
    %h1 Research

.container
  .row
    .col-sm-7
      - @research_topics.newest.first(10).each do |rt|
        .rt-list-item
          = image_tag user_photo_url(rt.user), class: 'rt-user-img'
          .rt-content
            %p.f400
              = link_to rt.text, rt
            .pull-left
              .rt-detail
                = link_to rt do
                  %i.fa.fa-thumbs-up
                &nbsp;
                = link_to rt do
                  %i.fa.fa-thumbs-down
                &nbsp;
                = link_to 'Comment', rt
                &middot;
                = time_ago_in_words(rt.created_at) + ' ago'
            .pull-right
              .rt-voters
                - rt.topic.posts.first(3).each do |comment|
                  = link_to member_path(comment.user.forum_name) do
                    = image_tag user_photo_url(comment.user), class: 'commenter-thumbnail'
                - if rt.topic.posts.count > 3
                  .commenter-thumbnail-more= "+#{rt.topic.posts.count - 3}"
            .clearfix
    .col-sm-4.col-sm-offset-1
      -# Clinical Trial Highlight
      - if @clinical_trial = Admin::ClinicalTrial.where(displayed: true).order(:updated_at).first
        .highlight-header
          %p New Clinical Trial
        = link_to '#', class: 'no-underline' do
          .rt-highlight
            %h4= @clinical_trial.title
            %p.black= @clinical_trial.overview
            %hr
            .centered= link_to 'View all clinical trials', '#'
      -# Research Article Highlight
      - Highlight.current.where(research_highlight: true).order(created_at: :desc).first(3).each do |highlight|
        = link_to highlight.link, class: 'no-underline' do
          .rt-highlight
            - if highlight.photo_url.present?
              = image_tag highlight_photo_url(highlight), alt: '', class: 'img-responsive', style: 'margin: auto;'
            %h4
              = highlight.title
            %p.black
              = highlight.description

- if false
  .content-main-header
    %h1.f300 Research
  - if false and current_user and (current_user.moderator? or current_user.owner?) and ResearchTopic.pending_review.present?
    .well
      %h4
        For admins:
      %p.horizontal-inset
        The following topics are pending review:
      %ul
        - ResearchTopic.pending_review.each do |research_topic|
          %li= link_to research_topic.text, research_topic_path(research_topic)

  .content-container
    .content-body
      %p.lead
        Let us know what research questions matter to you most. Join the community
        in voting and discussing research topics submitted by members like
        yourself. We will take the most endorsed questions and translate them into
        %strong= link_to 'research highlights', accepted_research_topics_path
        and proposals for future studies of sleep apnea.
    .content-footer
      = link_to 'Propose a new research topic', new_research_topic_path, class: 'btn btn-lg btn-primary-custom'
      - if current_user and current_user.my_research_topics.present?
        = link_to "Check the status of your research topics", my_research_topics_research_topics_path, class: 'btn btn-lg btn-default-custom'


  .content-container.inherit-background
    .content-body
      .row
        .col-sm-6
          %h2 Newest
          .scroll-container
            - @research_topics.newest.first(10).each do |rt|
              = link_to research_topic_path(rt), class: 'research-topic-index-display' do
                - if current_user and current_user.cast_vote_for?(rt)
                  = render 'research_topics/voting_badge', rt: rt
                  %p= rt.text
                - else
                  %span.badge
                    Vote!
                  %p= rt.text
            = link_to newest_research_topics_path, class: 'research-topic-index-display' do
              %p More...

          %h2 Most Discussed
          .scroll-container
            - @research_topics.most_discussed.first(10).each do |rt|
              = link_to research_topic_path(rt), class: 'research-topic-index-display' do
                - if current_user and current_user.cast_vote_for?(rt)
                  = render 'research_topics/voting_badge', rt: rt
                  %p= rt.text
                - else
                  %span.badge
                    Vote!
                  %p= rt.text
            = link_to most_discussed_research_topics_path, class: 'research-topic-index-display' do
              %p More...
        - if @clinical_trials.present?
          .col-sm-6
            %h2 Current Clinical Studies
            .scroll-container-large
              - @clinical_trials.each do |clinical_trial|
                = render clinical_trial

  -# Research highlights
  .content-container.lighter-blue-bcg
    .content-header
      %h3.light9 Recently accepted research topics:
    .content-body
      - Highlight.current.where(research_highlight: true).order(created_at: :desc).in_groups_of(3, false) do |highlights_row|
        .row
          - highlights_row.each do |highlight|
            .col-sm-4
              = render highlight

  - unless current_user
    = render 'home/join_the_community', referrer: 'research', message: 'Make a direct impact on the future of sleep apnea research'
