- @active_top_nav_link = :research

.content-main-header
  %h1.f300 Rank the Research
- if (current_user.moderator? or current_user.owner?) and ResearchTopic.pending_review.present?
  .well
    %h4
      For admins:
    %h5.f300.horizontal-inset
      The following topics are pending review:
    %ul
      - ResearchTopic.pending_review.each do |research_topic|
        %li= link_to research_topic.text, research_topic_path(research_topic)

- if current_user.my_research_topics.present?
  .well
    %h4.f300
      = "You've submitted #{pluralize(current_user.my_research_topics.count, 'research topic')}!"
    %ul
      - current_user.my_research_topics.each do |rt|
        %li= link_to(rt.text, research_topic_path(rt)) + " (#{rt.topic.status})"



- if current_user.highlighted_research_topic.present?
  = render 'research_topics/voting_form', research_topic: current_user.highlighted_research_topic

.content-container.inherit-background
  .content-body
    .row
      .col-sm-6
        %h4 Newest
        .scroll-container
          - @research_topics.newest.first(10).each do |rt|
            = link_to research_topic_path(rt), class: 'research-topic-index-display' do
              - if current_user.cast_vote_for?(rt)
                %span.badge{ class: "#{current_user.endorsed?(rt) ? 'great-bcg' : 'danger-bcg' }" }
                  %span.glyphicon{ class: "#{current_user.endorsed?(rt) ? 'glyphicon-ok' : 'glyphicon-remove' }" }
                %p= rt.text
              - else
                %span.badge
                  Vote!
                %p= rt.text
          .research-topic-index-display
            = link_to 'More...', newest_research_topics_path

      .col-sm-6
        %h4 Most Discussed
        .scroll-container
          - @research_topics.most_discussed.first(10).each do |rt|
            = link_to research_topic_path(rt), class: 'research-topic-index-display' do
              - if current_user.cast_vote_for?(rt)
                %span.badge{ class: "#{current_user.endorsed?(rt) ? 'great-bcg' : 'danger-bcg' }" }
                  %span.glyphicon{ class: "#{current_user.endorsed?(rt) ? 'glyphicon-ok' : 'glyphicon-remove' }" }
                %p= rt.text
              - else
                %span.badge
                  Vote!
                %p= rt.text
          .research-topic-index-display
            = link_to 'More...', most_discussed_research_topics_path

-# Add your own question
.content-container.horizontal-inset
  .content-body.lighter-blue-bcg
    %h3.text-light9 Add your own question!
    .list-group-item
      = form_for @new_research_topic, html: { data: { object: "inline-validation"} } do |f|
        - if @new_research_topic.errors.any?
          .bs-callout.bs-callout-danger#error_explanation
            %h4
              = pluralize(@new_research_topic.errors.count, "error")
              prohibited this user from being saved
            %ul
              - @new_research_topic.errors.messages.each do |key, msg|
                - if key == :over_eighteen
                  %li= msg.join(", ")
                - else
                  %li= "#{key.to_s.titleize} #{msg.join(", ")}"

        .form-group
          = f.label :text, class: 'sr-only'
          = f.text_area :text, placeholder: "Enter your research question here", autocomplete: :off, style: 'resize: none', class: 'form-control input-lg', data: { object: 'inline-validation-item', name: 'research-topic-name' }
          .col-sm-6.hidden{ style: 'margin-top: 15px; margin-bottom: 30px;', data: { object: 'research-topic-name--error' } }
            %p.small.centered-text.inline-validation-error
              Please enter a valid question or research topic!
        .form-group
          = f.label :author, class: 'sr-only'
          = f.text_area :description, placeholder: "Describe why you think this question is important", style: 'resize: none', class: 'form-control input-lg'
        = f.submit("Submit", class: "btn btn-success pull-right")
        .clearfix

- if true
  .content-container
    .content-body
      .row
        .col-md-4.col-sm-4.col-xs-6
          = link_to forum_topic_path('research', 'does-treatment-of-sleep-apnea-influence-body-weight') do
            = image_tag 'myapnea/research/sleep-apnea-body-weight.png', class: 'img-responsive'
        .col-md-4.col-sm-4.col-xs-6
          = link_to forum_topic_path('research', 'does-sleep-influence-memory-and-brain-plasticity') do
            = image_tag 'myapnea/research/sleep-apnea-memory.png', class: 'img-responsive'
