.content-main-header
  %h1.f300 Rank the Research
- if current_user and (current_user.moderator? or current_user.owner?) and ResearchTopic.pending_review.present?
  .well
    %h4
      For admins:
    %p.horizontal-inset
      The following topics are pending review:
    %ul
      - ResearchTopic.pending_review.each do |research_topic|
        %li= link_to research_topic.text, research_topic_path(research_topic)

.content-container
  .content-body
    %p.lead
      Let us know what research questions matter to you most. Join the community in voting and discussing research topics submitted by members like yourself. We will take the most endorsed questions and translate them into
      = link_to 'research highlights', accepted_research_topics_path, class: 'no-underline'
      and proposals for future studies of sleep apnea.
  - if current_user and current_user.my_research_topics.present?
    .content-footer
      %p
        = link_to "Check the status of your research topics", my_research_topics_research_topics_path, class: 'no-underline'


- if current_user and current_user.highlighted_research_topic.present?
  = render 'research_topics/voting_form', research_topic: current_user.highlighted_research_topic

.content-container.inherit-background
  .content-body
    .row
      .col-sm-6
        %h2 Newest
        .scroll-container
          - @research_topics.newest.first(10).each do |rt|
            = link_to research_topic_path(rt), class: 'research-topic-index-display' do
              - if current_user and current_user.cast_vote_for?(rt)
                = render 'research_topics/voting_badge', rt: rt
                %p= rt.text
              - else
                %span.badge
                  Vote!
                %p= rt.text
          = link_to newest_research_topics_path, class: 'research-topic-index-display' do
            %p More...

      .col-sm-6
        %h2 Most Discussed
        .scroll-container
          - @research_topics.most_discussed.first(10).each do |rt|
            = link_to research_topic_path(rt), class: 'research-topic-index-display' do
              - if current_user and current_user.cast_vote_for?(rt)
                = render 'research_topics/voting_badge', rt: rt
                %p= rt.text
              - else
                %span.badge
                  Vote!
                %p= rt.text
          = link_to most_discussed_research_topics_path, class: 'research-topic-index-display' do
            %p More...

-# Add your own question
- if current_user
  .content-container.horizontal-inset
    .content-header.lighter-blue-bcg
      %h3.text-light9 Propose your own research topic:
    .content-body.lighter-blue-bcg
      = render 'research_topics/form', research_topic: @new_research_topic

-# Research highlights
.content-container
  .content-header
    %h3.text-dark7 Recently accepted research topics:
  .content-body
    .row
      .col-md-4.col-sm-4.col-xs-6
        = link_to sleep_apnea_body_weight_path do
          = image_tag 'myapnea/research/sleep-apnea-body-weight.png', class: 'img-responsive'
      .col-md-4.col-sm-4.col-xs-6
        = link_to sleep_apnea_brain_plasticity_path do
          = image_tag 'myapnea/research/sleep-apnea-memory.png', class: 'img-responsive'

- unless current_user
  = render 'home/join_the_community', referrer: 'research', message: 'Make a direct impact on the future of sleep apnea research'
