- @active_top_nav_link = :research


%div{ style: 'background-color: #ffa400; border-radius: 20px; padding: 20px;' }
  %h1.text-white.centered-text Trending Topic
  %br
  = render partial: 'research_topics/voting_form', locals: { rt: @research_topics.last }


%br
%br
.panel
  .panel-body
    / %h4.f300 Check out what's been going on in research lately.
    / %br
    .row
      .col-sm-6
        = link_to forum_topic_path('research', 'does-treatment-of-sleep-apnea-influence-body-weight'), class: 'thumbnail pull-right' do
          = image_tag 'myapnea/research/sleep-apnea-body-weight.png', class: 'img-responsive', style: 'max-width: 400px;'
      .col-sm-6
        = link_to forum_topic_path('research', 'does-sleep-influence-memory-and-brain-plasticity'), class: 'thumbnail pull-left' do
          = image_tag 'myapnea/research/sleep-apnea-memory.png', class: 'img-responsive', style: 'max-width: 400px;'
  .panel-footer
    .row
      .col-sm-6
        %h4 Newest
        - @research_topics.first(5).each do |rt|
          .list-group-item
            %p.small= rt.text

      .col-sm-6
        %h4 Most Discussed
        - @research_topics.first(5).each do |rt|
          .list-group-item
            %p.small= rt.text
        %hr

.panel.primary-blue-bcg
  .panel-body
    .row
      .col-sm-8.col-sm-offset-2
        %h3.text-light9 Add your own question!
        - research_topic = ResearchTopic.new
        .list-group-item
          = form_for research_topic, html: { data: { object: "inline-validation"} } do |f|
            .form-group
              = f.label :text, class: 'sr-only'
              = f.text_area :text, class: 'form-control input-lg', placeholder: "Enter your research question here...", autocomplete: :off, data: { object: 'inline-validation-item', name: 'research-topic-name' }
              .col-sm-6.hidden{ style: 'margin-top: 15px; margin-bottom: 30px;', data: { object: 'research-topic-name--error' } }
                %p.small.centered-text.inline-validation-error
                  Please enter a valid question or research topic!
            .form-group
              = f.label :author, class: 'sr-only'
              = f.text_area :description, placeholder: "Describe why you think this question is important...", class: 'form-control input-lg'
            - if current_user.can_moderate?(research_topic) and false
              .form-group
                = f.label :state, class: 'sr-only'
                = f.select :state, ResearchTopic::STATES, {prompt: "-- select state --" }, { class: 'input-lg form-control' }
            = f.submit("Submit", class: "btn btn-success pull-right")
            .clearfix
    %br
    %br


- if false
  .row
    .col-sm-4
      %h3 Most Popular
      - @research_topics.first(5).each do |rt|
        .list-group-item
          %p.small= rt.text
    .col-sm-4
      %h3 Most Discussed
      - @research_topics[6..10].each do |rt|
        .list-group-item
          %p.small= rt.text
    .col-sm-4
      %h3 Newest
      - @research_topics[11..15].each do |rt|
        .list-group-item
          %p.small= rt.text

- if false
  .content-main-header
    %h1.f300 Rank the Research

  .panel
    .panel-heading
      %h4.f300
        At MyApnea.Org you can help direct the future of sleep apnea research.
    .panel-body
      %h5.f300
        Below are questions important to network members. Every week, you can cast up to five votes on approved research questions, and you can suggest your own  as well.
        %div.centered-text{ style: 'margin: 15px;' }
          = link_to 'Add a new research question', new_research_topic_path, class: 'btn btn-sm btn-primary', style: 'margin-right: 15px;'
          / = link_to 'Discuss other research questions', new_research_topic_path, class: 'btn btn-sm btn-info'
      %h5.f300
        For each question you vote on, you will be able to see what proportion of other members have also voted on that question. If a question is highly popular, and if data is lacking, the topic will be endorsed as an important direction for future research, and we'll get to work in figuring out how to deliver you the knowledge you need.
    .panel-footer
      %h4.f300.centered-text Let your voice be heard, vote now!


  - if current_user
    .panel.panel-rank-research
      %table.table
        - @research_topics.shuffle.each do |research_topic|
          %tr{ id: "#{'update_link'+research_topic.id.to_s}" }
            = render partial: 'votes/voting_link', locals: { research_topic: research_topic}
