.content-main-header
  .container
    %h1 Research

.container
  .row
    .col-sm-8
      - @research_topics.newest.each do |rt|
        = render 'research_topics/displays/list', rt: rt

    .col-sm-4
      -# Clinical Trial Highlight
      - if @clinical_trial = Admin::ClinicalTrial.where(displayed: true).order(:updated_at).first
        .highlight-header
          %p New Clinical Trial
        = link_to '#', class: 'no-underline' do
          .rt-highlight
            %h4= @clinical_trial.title
            %p.black= @clinical_trial.overview
            %hr
            .centered= link_to 'View all clinical trials', '#'

      -# Research Article Highlight
      - Highlight.current.where(research_highlight: true).order(created_at: :desc).first(3).each do |highlight|
        = link_to highlight.link, class: 'no-underline' do
          .rt-highlight
            - if highlight.photo_url.present?
              = image_tag highlight_photo_url(highlight), alt: '', class: 'img-responsive', style: 'margin: auto;'
            %h4
              = highlight.title
            %p.black
              = highlight.description
