.content-main-header
  %h1.f300 Newest Research Questions
  %h5.f300= link_to 'Back to Research Topics', research_topics_path, class: 'no-underline'

- @research_topics.each do |rt|
  = link_to research_topic_path(rt), class: 'research-topic-index-display' do
    - if current_user.cast_vote_for?(rt)
      = render 'research_topics/voting_badge', rt: rt
      %p= rt.text
    - else
      %span.badge
        Vote!
      %p= rt.text

