- @page_title = "Research Topics"

.content-main-header
  %h1 Research Discussion

- if current_user.owner? or current_user.moderator?
  .well
    %h4
      For admins:
      = link_to 'Update Progress', edit_research_topic_path(@research_topic), class: 'btn btn-xs btn-primary' if current_user.has_role? :owner
      = link_to 'Approve Research Topic', forum_topic_path(@forum, @topic, topic: { status: 'approved' }), method: :patch, class: 'btn btn-success btn-xs' unless @topic.status=="approved"

-# Display of actual research topic
- if true
  .research-topic-container
    .research-topic-header
      .research-topic-header-details
        = image_tag @research_topic.user.photo_url, class: 'img-responsive', style: 'width: 50px; height: 50px; float: left'
        %p.text-dark6{ style: 'float: left; padding-left: 20px; padding-top: 20px;font-size: 15px;' }
          = render 'users/forum_name', user: @research_topic.user
          asked:
    .research-topic-body
      %h5.centered-text= @research_topic.text
      - if @research_topic.description.present?
        %hr
        %h5.f300= @research_topic.description
- else
  .content-container
    .content-header
      %h3.f300= @research_topic.topic.name
    .content-body
      = simple_markdown(@research_topic.topic.description, false)
    .content-footer
      = image_tag @research_topic.user.photo_url, class: 'img-responsive img-thumbnail', style: 'height: 50px; width: 50px; float: left; margin-right: 20px;'
      .pull-left
        %p.lead.no-margin
          Proposed by
          %span.f500.primary-blue
            = @research_topic.user.forum_name.present? ? link_to(@research_topic.user.forum_name, member_path(@research_topic.user.forum_name), class: 'no-underline') : @research_topic.user.name
        %p.small.text-muted{ style: 'margin-top: 5px' }
          = @research_topic.created_at.strftime("%-d %B %Y, %-l:%M %p")
      .clearfix

-# Display of comments
- @topic.posts.offset(1).each do |post|
  = render 'research_topics/comments', comment: post
