- @page_title = "Research Topics"

.content-main-header
  %h1 Research Discussion
  %h5.f300= link_to 'Back to Research Topics', research_topics_path, class: 'no-underline'

- if current_user and (current_user.owner? or current_user.moderator?)
  .well
    %h4
      For admins:
      - if @topic.status=="approved"
        = link_to 'Update Progress', edit_research_topic_path(@research_topic), class: 'btn btn-xs btn-primary' if current_user.owner?
      - elsif @topic.status=="pending_review"
        = link_to 'Approve Research Topic', forum_topic_path(@forum, @topic, topic: { status: 'approved' }), method: :patch, class: 'btn btn-success btn-xs'
        = link_to 'Reject Research Topic', forum_topic_path(@forum, @topic, topic: { status: 'hidden' }), method: :patch, class: 'btn btn-danger btn-xs'
      - elsif @topic.status=="hidden"
        %span.small Currently hidden.
        = link_to 'Approve Research Topic', forum_topic_path(@forum, @topic, topic: { status: 'approved' }), method: :patch, class: 'btn btn-success btn-xs'

- if current_user
  - if current_user.cast_vote_for?(@research_topic)
    -# Display of actual research topic
    .research-topic-container
      .research-topic-header
        .research-topic-header-details
          = image_tag @research_topic.user.photo_url, class: 'img-responsive', style: 'width: 50px; height: 50px; float: left'
          %p.text-dark6.question-asked-by
            = render 'users/forum_name', user: @research_topic.user
            proposed:
      .research-topic-body
        %h4.centered-text= @research_topic.text
        - if @research_topic.description.present?
          %hr
          %h5.f300= @research_topic.description
    -# Display of user's vote choice
    .content-container
      .content-body{ class: "text-white #{current_user.endorsed?(@research_topic) ? 'great-bcg' : 'danger-bcg' }" }
        %p.lead.horizontal-inset
          %i.fa.fa-lg{ class: "#{current_user.endorsed?(@research_topic) ? 'fa-thumbs-up' : 'fa-thumbs-down' }" }
          &nbsp;
          You
          = current_user.endorsed?(@research_topic) ? "agreed" : "disagreed"
          that this is a research priority.
          = link_to 'I changed my mind', change_vote_path(research_topic_id: @research_topic.id), method: :patch, class: 'btn btn-default pull-right'
  - else
    -# Display voting form
    = render 'research_topics/voting_form', research_topic: @research_topic
- else
  -# Display of actual research topic for non users
  .research-topic-container
    .research-topic-header
      .research-topic-header-details
        = image_tag @research_topic.user.photo_url, class: 'img-responsive', style: 'width: 50px; height: 50px; float: left'
        %p.text-dark6.question-asked-by
          = render 'users/forum_name', user: @research_topic.user
          proposed:
    .research-topic-body
      %h4.centered-text= @research_topic.text
      - if @research_topic.description.present?
        %hr
        %h5.f300= @research_topic.description


-# Display of comments
.row.horizontal-inset
  .col-sm-4
    - if @research_topic.votes.count > 0
      %h5.centered-text
        Endorsement:
        %br.hidden-lg.hidden-md
        %span.f300= "#{(@research_topic.endorsement*100).round}%"
        %span.f300.italic= pluralize(@research_topic.votes.current.count, 'vote')
      .progress-meter
        %span{ data: { object: 'research-topic-meter', progress: "#{@research_topic.endorsement*100}" } }
      %br
  .col-sm-8
    - @topic.posts.offset(1).each do |post|
      = render 'research_topics/comments', comment: post
- 3.times do
  %br
