- @page_title = "Research Topics"

.content-main-header
  %h1= @research_topic.text

- if current_user.has_role? :owner or current_user.has_role? :moderator
  .well
    %h4
      For admins:
      = link_to 'Edit Research Topic', edit_research_topic_path(@research_topic), class: 'btn btn-xs btn-primary'
      = link_to 'Approve Research Topic', forum_topic_path(@forum, @topic, topic: { status: 'approved' }), method: :patch, class: 'btn btn-success btn-xs' unless @topic.status=="approved"

.content-container
  .content-header
    %h3.f300= @research_topic.text
  .content-body
    = simple_markdown(@research_topic.description, false)
  .content-footer
    = image_tag @research_topic.user.photo_url, class: 'img-responsive img-thumbnail', style: 'height: 50px; width: 50px; float: left; margin-right: 20px;'
    .pull-left
      %p.lead.no-margin
        Proposed by
        %span.f500.primary-blue
          = @research_topic.user.forum_name.present? ? link_to(@research_topic.user.forum_name, member_path(@research_topic.user.forum_name), class: 'no-underline') : @research_topic.user.name
      %p.small.text-muted{ style: 'margin-top: 5px' }
        = @research_topic.created_at.strftime("%-d %B %Y, %-l:%M %p")
    .clearfix

= render @topic.posts.offset(1)









- if false

  .row
    .col-md-12
      .row
        .col-md-1
          %h2
            %i.fa.fa-check-square-o
            =@research_topic.endorsement
        .col-md-11
          = link_to research_topics_path, class: "btn btn-primary btn-xs pull-right" do
            .fa.fa-arrow-left
            Back to Research Questions
          %h2
            = @research_topic.text
            .small= render partial: "research_topics/state", locals: {research_topic: @research_topic }

          %p= @research_topic.description
        %br/

      -#.row
      -#  .col-md-12
      -#
      -#    .alert.alert-info
      -#      .req What stages should be available?
      -#
      -#      -#%span.small
      -#      -#  This research proposal is currently <strong>under consideration</strong> by the research team.
      -#      -#  Add your vote and voice to help increase the chances this research topic gets studied.
      -#

      - if @research_topic.user.present?
        .panel.panel-default
          .panel-heading
            %h3.panel-title Proposed By...
          .panel-body
            .media
              %a.pull-left
                = image_tag @research_topic.user.photo_url, :class => "img-responsive img-thumbnail"
              .media-body.small
                %strong
                  = @research_topic.user.forum_name
              .clearfix

