.content-main-header
  %h1 About Us
.panel
  .panel-heading{ style: 'background-color: white; padding: 0' }
    = image_tag 'myapnea/welcome/img-small/finding_answers_together.png', style: 'width:100%; border-radius: 20px 20px 0 0;'
  .panel-body{ style: 'padding:20px;' }
    %h3.text-dark8{ style: 'padding-bottom:20px; text-align: center' }
      MyApnea.Org is all about improving sleep apnea through information, support, and research
    %h5.spaced.text-dark7.f300
      Join a new patient-led community created to fight sleep apnea. MyApnea.Org is a network created by people with sleep apnea to empower others and to help get needed answers.
      We are inviting thousands of people with sleep apnea and their caregivers to come together at MyApnea.Org to learn more about symptoms and treatment, to share their experiences with others within the community, and to become part of a national research network to improve lives. It’s a whole new way of finding help—for you and for millions of people with sleep apnea.
      MyApnea.Org is what’s called patient-powered research. Together, members share health information, discuss experiences regarding treatment, and express views directly to researchers and sleep experts on future research projects that can make a difference. In return, you will get easy-to-use tools to track your health and will be able to learn from others about treatments, symptoms, and coping with sleep apnea to take control of your life. And we will report back on all interesting research findings, in language you don’t have to be a scientist to understand.
  .panel-footer.centered-text.f300{ style: 'padding:0; margin: 0; backgorund-color:white;' }
    %h4.f300
      = link_to 'Learn More', learn_path, style: 'color:#5999de'
.panel{ style: 'margin-bottom:30px;' }
  .panel-heading.panel-heading-orange
    %h3 Help us advertise!
  .panel-body
    %h4.f300.spaced
      Collaboration is going to be the key to defeating sleep apnea once and for all. We have a few ways you can help us spread the word in order to get more people involved. Whether it's a quick tweet or telling a friend over coffee, we appreciate your help immensely -
      %span.f500 we can't do this without you!
      %ul.text-dark7{ style: 'margin-top:40px; ' }
        %li{ style: 'margin:15px' }
          = link_to 'Print one of our flyers', "#{ENV['website_url']}/pdfs/myapnea_flyer.pdf", class: 'open-tab'
          and post it at work or school, or ask your care provider if they will hang it in their offices - let's get more public exposure on sleep apnea!
        %li{ style: 'margin:15px' }
          Share our pages using one of the
          %span.f500 social media buttons below
          \- it's quick, easy, and one of the best ways to get more people involved!
        %li{ style: 'margin:15px' }
          Email your peers, professional networks, and alumni groups. We've made it easy by drafting an email -
          = link_to 'click here to quickly send it!', "mailto:?subject=Check out MyApnea.Org&body=This group is working to improve treatment and research of sleep apnea! You can learn more and join their community by visiting https//:www.myapnea.org"
.panel.row{ style: 'margin-top:50px; margin-bottom:30px; padding-top: 20px; padding-bottom:20px; margin-left:0px; margin-right:0px;' }
  .col-xs-3{ style: 'text-align:center;' }
    = link_to image_tag('myapnea/icons/facebook_icon.png', class: 'share-icons-lg share-icons-animate', style: 'width:60%; height:60%; border-radius:100%;'), "http://www.facebook.com/share.php?u=#{ENV['website_url']}"
  .col-xs-3{ style: 'text-align:center;' }
    = link_to image_tag('myapnea/icons/twitter_icon.png', class: 'share-icons-lg share-icons-animate', style: 'width:60%; height:60%; border-radius:100%;'), 'http://ctt.ec/Qeg7f'
  .col-xs-3{ style: 'text-align:center;' }
    = link_to image_tag('myapnea/icons/gplus_icon.png', class: 'share-icons-lg share-icons-animate', style: 'width:60%; height:60%; border-radius:100%;'), "https://plusone.google.com/_/+1/confirm?hl=en&url=http%3A%2F%2F%20#{ENV['website_url']}"
  .col-xs-3{ style: 'text-align:center' }
    = link_to image_tag('myapnea/icons/email_icon.png', class: 'share-icons-lg share-icons-animate', style: 'width:60%; height:60%; border-radius:100%;'), "mailto:?subject=Check out MyApnea.Org&body=This group is working to improve treatment and research of sleep apnea! You can learn more and join their community by visiting https//:www.myapnea.org"
.panel{ style: 'margin-bottom:30px;' }
  .panel-heading.panel-heading-orange
    %h3 Join as a Provider!
  .panel-body{ style: 'padding-bottom: 30px;' }
    %h4.f300.spaced By offering this network to your patients, and engaging with them actively outside of the office, they begin to feel a uniquely incredible quality of care. This community easily shows people with sleep apnea the amount of support they have from an international group of researchers, care providers, and fellow patients.
    %h4.centered-text.text-dark7{ style: 'margin-top:30px;'} Ready to make a difference?
    .centered-text{ style:'margin:0 auto; width:30%; background-color: #ffa400; border-radius:20px; color:white;'}
      .btn= link_to 'Create a Provider Page', providers_path, style: 'color:white; width:100%;'
