- @title = @forum.new_record? ? 'New Forum' : 'Edit Forum'

.content-main-header
  %h1
    = @title
  %p.lead
    = link_to 'Forums', forums_path
    - unless @forum.new_record?
      &middot;
      = link_to @forum.name, @forum

.content-container
  .content-body
    = form_for @forum, html: { class: 'form-horizontal' } do |f|
      - if @forum.errors.any?
        #error_explanation.bs-callout.bs-callout-danger
          %h4
            = pluralize(@forum.errors.count, "error")
            prohibited this forum from being saved

          %ul
            - @forum.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        = f.label :name, 'Title', class: 'col-md-2 control-label'
        .col-md-10
          = f.text_field :name, class: 'form-control', autocomplete: 'off'

      .form-group
        = f.label :slug, nil, class: 'col-md-2 control-label'
        .col-md-10
          = f.text_field :slug, class: 'form-control'
          .bs-callout.bs-callout-info
            %h4
              Naming convention
            %ul
              %li Must be a lowercase letter <code>a-z</code> followed by lowercase letters <code>a-z</code>, numbers<code>0-9</code>, or dashes<code>-</code>.
            Ex: <code>meetings-1-on-1</code>

      .form-group
        = f.label :position, nil, class: 'col-md-2 control-label'
        .col-md-10
          = f.number_field :position, class: 'form-control', autocomplete: 'off', min: 0

      .form-group
        = f.label :description, nil, class: 'col-md-2 control-label'
        .col-md-10
          = f.text_area :description, rows: 7, class: 'form-control'


      .form-group
        .col-md-offset-2.col-md-10
          = f.submit nil, class: 'btn btn-primary'
          = link_to 'Cancel', (@forum.new_record? ? forums_path : @forum), class: 'btn btn-default'
