- topics = if current_user and current_user.moderator?
  - forum.topics
- else
  - forum.topics.viewable_by_user(current_user ? current_user.id : nil)
- topics = topics.search(params[:s]) if params[:s].present?
- if author = User.current.find_by_forum_name(params[:a])
  - topics = topics.user_active(author.id)
- topics = topics.pending_review if params[:status] == 'pending_review'
- topics = topics.page(topic_limit ? 1 : params[:page]).per( topic_limit )

- if topics.count > 0 or (params[:s].blank? and params[:status].blank? and params[:a].blank?)
  - if author
    .alert.alert-info
      Showing topics that include posts by
      %strong= author.forum_name
  - elsif params[:a].present? and author.blank?
    .alert.alert-warning
      There are no posts by
      = params[:a]
      in this forum.

  .content-container
    -# Only need header for forums/index view
    - if topic_limit
      -# Forums/Index view
      .content-header
        %h2.f300.centered
          = link_to forum.name, forum, class: 'no-underline'

    -# Body displayed in the same way for both views
    .content-body
      %table.table
        %col.hidden-xs.hidden-sm{ width: "50px" }
        %col
        %col{ width: "50px" }
        %col.hidden-xs.hidden-sm{ width: "50px" }
        %col{ width: "100px" }
        %thead
          %tr.topic-row
            %th.hidden-xs.hidden-sm
            %th
            %th.small
              Posts
            %th.small.hidden-xs.hidden-sm
              Views
            %th.small
              Last Post
        %tbody
          - topics.each do |topic|
            = render 'topics/summary_table_row', topic: topic

    -# Separate footer for view from index and show
    .content-footer.centered
      - if topic_limit
        -# On Index
        = link_to 'Enter forum to view more posts', forum, class: 'no-underline'
      - else
        -# On Show Page
        = paginate topics, theme: 'bootstrap-small'
