.content-main-header
  %h1
    Welcome to the Forums!
  = link_to 'New Forum', new_forum_path, class: 'btn btn-xs btn-primary' if current_user and current_user.has_role? :owner

- if current_user and !current_user.beta_opt_in?
  %div{ style: 'padding: 15px 0;' }
    .alert.alert-info{ role: 'alert', style: 'margin-top:10px; margin-bottom:5px' }
      %btn{ type: 'button', class: 'close', data: { dismiss: 'alert' }, aria: { label: 'Close'} }
        %span{ aria: { hidden: 'true'} } &times;
      %strong Why do the forums look different?
      The forums have been recreated in the new layout for all members. Don't worry - all of your posts are still available! Our community is rapidly growing, and we needed to make this change to improve your experience on the forums.
      %br
      %br
      If you like the look of the new forums, we recommend enabling the beta version and seeing the entire site in this layout. If you don't like the new look, we want to hear from you!
      = link_to 'Send us an email with your feedback.', "mailto:#{ENV['pprn_support_email']}"
      - user_class_sym = current_user.class.name.downcase.to_sym
      = link_to 'Enable Beta', update_account_path(user_class_sym =>   { beta_opt_in: '1' }), method: :patch, class: 'btn btn-primary btn-block', style: 'width:60%; margin: 15px auto'
= form_tag forums_path, method: :get, class: 'form-inline', style: 'margin-bottom:20px' do
  .input-group
    = text_field_tag 's', params[:s], class: 'form-control'
    %span.input-group-btn
      = submit_tag 'Search', class: 'btn btn-primary', name: nil
      = link_to 'Reset', forums_path, class: 'btn btn-default'
      = link_to 'Pending Review', forums_path(status: (params[:status] == 'pending_review' ? nil : 'pending_review')), class: "btn btn-default #{'active' if params[:status] == 'pending_review'}" if current_user and current_user.has_role? :moderator

- @forums.order(:position).each do |forum|
  = render partial: 'forums/show', locals: { forum: forum, topic_limit: 10 }
