.content-main-header
  %h1.f300
    Welcome to the Forums
- if current_user and (current_user.has_role? :owner or current_user.has_role? :moderator)
  .well
    %h4
      For admins:
      = link_to 'New Forum', new_forum_path, class: 'btn btn-xs btn-primary' if current_user.has_role? :owner
      = link_to 'Pending Review', forums_path(status: (params[:status] == 'pending_review' ? nil : 'pending_review')), class: "btn btn-default btn-xs #{'active' if params[:status] == 'pending_review'}" if current_user.has_role? :moderator

.horizontal-inset
  = form_tag forums_path, method: :get, class: 'form-inline col-md-12 search-bar-forum' do
    .input-group
      = text_field_tag 's', params[:s], class: 'form-control'
      %span.input-group-btn{ style: 'width: 1%;' }
        = submit_tag 'Search', class: 'btn btn-primary', name: nil
  .clearfix

%br

- @forums.order(:position).each do |forum|
  = render partial: 'forums/show', locals: { forum: forum, topic_limit: 10 }
  %br
