- @title = @forum.name

.content-main-header
  %h1
    = link_to 'Forums', forums_path
    &middot;
    = @title
  - if current_user
    = link_to 'Start a New Topic', new_forum_topic_path(@forum), class: 'btn btn-xs btn-primary'
  - else
    = link_to 'Sign in to Start a New Topic', new_forum_topic_path(@forum), class: 'btn btn-xs btn-primary'
  - if current_user and current_user.has_role? :moderator
    = link_to 'Edit Forum', edit_forum_path(@forum), class: 'btn btn-xs btn-primary'

= render partial: 'forums/show', locals: { forum: @forum, topic_limit: nil }


- if false
  %p
    %strong
      Name:
      = @forum.name

  %p
    %strong
      Description:
      = @forum.description

  %p
    %strong
      Views count:
      = @forum.views_count

  %p
    %strong
      Slug:
      = @forum.slug

  = link_to 'Edit', edit_forum_path(@forum)
  |
  = link_to 'Back', forums_path

  %ul
    - @forum.topics.each do |t|
      %li
        = link_to t.name, [@forum, t]
        - if t.deleted? or t.hidden?
          %span.label.label-danger
            HIDDEN OR DELETED
