- @title = @forum.name

.container.with-padding-y
  .row
    .col-sm-4.col-sm-push-8
      - if current_user and (current_user.owner? or current_user.moderator?)
        .admin-container
          %span.logo-color Admins:
          = link_to 'Edit Forum', edit_forum_path(@forum), class: 'btn btn-success btn-xs' if current_user.owner?
          = link_to 'Pending Review', forum_path(@forum, status: (params[:status] == 'pending_review' ? nil : 'pending_review')), class: "btn btn-default btn-xs #{'active' if params[:status] == 'pending_review'}" if current_user.moderator?
      = form_tag @forum, method: :get, class: "form-inline" do
        .input-group
          = text_field_tag 's', params[:s], class: 'form-control'
          %span.input-group-btn{ style: 'width: 1%;' }
            = submit_tag 'Search', class: 'btn btn-primary', name: nil
      .clearfix
      %br

      - if @most_viewed = Topic.current.where(forum_id: @forum.id).order(views_count: :desc).first
        .topic-highlight-container
          Popular in
          %strong= @forum.name
          .topic-highlight
            = link_to member_path(@most_viewed.user.forum_name), class: 'no-underline' do
              = image_tag user_photo_url(@most_viewed.user), class: 'user-image img-thumbnail'
            .topic-highlight-content
              = link_to @most_viewed.name, [@most_viewed.forum, @most_viewed]

      - if @most_discussed = Topic.current.where(forum_id: @forum.id).joins(:posts).group(Topic.columns_for_group).order('count(posts)').last
        .topic-highlight-container
          Trending in
          %strong= @forum.name
          .topic-highlight
            = link_to member_path(@most_discussed.user.forum_name), class: 'no-underline' do
              = image_tag user_photo_url(@most_discussed.user), class: 'user-image img-thumbnail'
            .topic-highlight-content
              = link_to @most_discussed.name, [@most_discussed.forum, @most_discussed]

      - if current_user
        = link_to 'New Topic', new_forum_topic_path(@forum), class: 'btn btn-primary-custom col-xs-12'
      - else
        = render 'home/join_the_community', referrer: 'forums', message: 'Share stories directly with sleep researchers and others with sleep apnea'

    .col-sm-8.col-sm-pull-4
      = render 'forums/show', forum: @forum, topic_limit: nil
