- @title = @forum.name

.content-main-header
  %h3.f300.text-light9
    = link_to 'Forums', forums_path, class: 'no-underline'
    \/
    %span.f400= @title
- if current_user and (current_user.has_role? :owner or current_user.has_role? :moderator)
  .well
    %h4
      For admins:
      = link_to 'Edit Forum', edit_forum_path(@forum), class: 'btn btn-success btn-xs' if current_user.has_role? :owner
      = link_to 'Pending Review', forum_path(@forum, status: (params[:status] == 'pending_review' ? nil : 'pending_review')), class: "btn btn-default btn-xs #{'active' if params[:status] == 'pending_review'}" if current_user.has_role? :moderator
- else
  %br
.content-container.horizontal-inset.inherit-background
  .row.reset-layout
    .col-sm-2.col-xs-3.centered-text
      - if current_user
        = link_to 'New Topic', new_forum_topic_path(@forum), class: 'btn btn-primary hidden-xs'
        = link_to 'New', new_forum_topic_path(@forum), class: 'btn btn-primary visible-xs'
      - else
        = link_to 'Sign In', new_forum_topic_path(@forum), class: 'btn btn-warning'
    = form_tag @forum, method: :get, class: 'form-inline col-sm-10 col-xs-9' do
      .input-group
        = text_field_tag 's', params[:s], class: 'form-control'
        %span.input-group-btn{ style: 'width: 1%;' }
          = submit_tag 'Search', class: 'btn btn-primary', name: nil

= render partial: 'forums/show', locals: { forum: @forum, topic_limit: nil }
