= form_for @admin_research_article, html: { class: 'form-horizontal' } do |f|
  - if @admin_research_article.errors.any?
    #error_explanation
      %h2
        = pluralize(@admin_research_article.errors.count, "error")
        prohibited this research article from being saved:
      %ul
        - @admin_research_article.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :title, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :slug, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :slug, class: 'form-control'
  .form-group
    = f.label :author, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :author, class: 'form-control'
  .form-group
    = f.label :credentials, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :credentials, class: 'form-control'
  .form-group
    = f.label :description, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :position, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.number_field :position, class: 'form-control'
  .form-group
    = f.label :photo, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.file_field :photo
  %hr
  .form-group
    .col-md-6
      %label Content
      = f.text_area :content, rows: 30, class: 'form-control', data: { object: 'research-article-content-input', id: "#{@admin_research_article.new_record? ? 'new' : @admin_research_article.id}" }
    .col-md-6
      %label Content Preview
      #research-article-content-preview
    .clearfix
  %hr
  .form-group
    .form-group
    .col-md-6
      %label References
      = f.text_area :references, rows: 10, class: 'form-control', data: { object: 'research-article-references-input', id: "#{@admin_research_article.new_record? ? 'new' : @admin_research_article.id}" }
    .col-md-6
      %label References Preview
      #research-article-references-preview
    .clearfix
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
