- link_path = admin_access ? research_article : accepted_article_research_topics_path(research_article)
.content-container
  = link_to link_path do
    %h3= research_article.title
  %p
    = research_article.description
    = link_to 'Read more', link_path
  .content-footer
    .row
      .col-sm-2.col-xs-4
        = image_tag research_article_photo_url(research_article), alt: '', class: 'img-responsive author-img'
      .col-sm-10.col-xs-8
        %h4.f300
          = research_article.author
        %p.dark7
          = research_article.credentials
