= render partial: 'myapnea/layouts/beta/registration/first_session_modal'

.content-main-header
  %h1.f300
    Welcome,
    = current_user.first_name + '!'


.panel
  .panel-body
    .row
      - current_user.smart_surveys.each do |survey|
        .col-sm-4.centered-text
          = render partial: 'static/beta/survey_progress', locals: { survey: survey }

.panel
  .panel-heading
    %h3.f300 News
  .panel-body
    .row
      .col-sm-4{ style: 'margin-bottom:20px;' }
        = link_to ENV['website_url']+'/forums/news/topics/patient-engagement-panel-description-and-application', class: 'home-news-link' do
          = image_tag 'myapnea/welcome/img-small/unsplash-team_300x300.jpg', style: 'width:100%; height: auto;', class: 'img-rounded hidden-xs'
          %h4.f300.primary-orange.centered-text Join as a member of the Patient Engagement Council!
          %h5.f300.centered-text.visible-xs Help the community by providing critical reviews, and of the Network's activities and ensure that the patient's voice is reflected in major decisions and implementation.
      .col-sm-4{ style: 'margin-bottom:20px;' }
        = link_to ENV['website_url']+'/forums/news/topics/we-re-happy-to-announce-the-beta-release-of-our-new-and-improved-platform', class: 'home-news-link' do
          = image_tag 'myapnea/welcome/img-small/unsplash-computer_300x300.jpg', style: 'width:100%; height: auto;', class: 'img-rounded hidden-xs'
          %h4.f300.primary-orange.centered-text We're happy to announce the beta release of our new and improved platform!
          %h5.f300.centered-text.visible-xs Click here to opt in and gain the ability to provide feedback and help us finish the last stages of development.
      .col-sm-4{ style: 'margin-bottom:20px;' }
        = link_to ENV['website_url']+'/forums/news/topics/introducing-provider-s-pages', class: 'home-news-link' do
          = image_tag 'myapnea/welcome/img-small/snapwire-team_300x300.jpg', style: 'width:100%; height: auto;', class: 'img-rounded hidden-xs'
          %h4.f300.primary-orange.centered-text Introducing: Provider's pages!
          %h5.f300.centered-text.visible-xs Care providers can now join as an official Healthcare Partner, create their own custom page, and build a personal network.

.panel
  .panel-heading
    %h3.f300 Recent Forum Activity
    / %h5.f300 It seems like you're most active on these forums, so we've filtered the content for you.
  = render partial: './forums/show_from_home', locals: { topic_limit: '5' }

