- if @answer_template.new_record?
  - url = builder_survey_question_answer_templates_path(@survey, @question)
  - method = :post
- else
  - url = builder_survey_question_answer_template_path(@survey, @question, @answer_template)
  - method = :patch
= form_for @answer_template, url: url, method: method, html: { class: 'form-horizontal', multipart: true } do |f|
  - if @answer_template.errors.any?
    .panel.panel-danger
      .panel-heading
        %strong
          = pluralize(@answer_template.errors.count, "error")
          prohibited this answer template from being saved:

      .panel-body
        %ul
          - @answer_template.errors.full_messages.each do |message|
            %li= message

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'
      .bs-callout.bs-callout-info
        %h4 Naming convention

        %ul
          %li
            Must be a letter
            %code a-zA-Z
            followed by letters
            = succeed ',' do
              %code a-zA-Z
            numbers
            = succeed ',' do
              %code 0-9
            or underscores
            = succeed '.' do
              %code _
          %li
            Max length
            = succeed '.' do
              %strong 32 characters
        Ex:
        %code var1_population

  .form-group
    = f.label :template_name, 'Template Name', class: 'col-md-2 control-label'
    .col-md-10
      = f.select :template_name, AnswerTemplate::TEMPLATE_NAMES, { include_blank: true }, class: 'form-control'

  .form-group
    = f.label :parent_answer_template_id, 'Parent Template', class: 'col-md-2 control-label'
    .col-md-10
      = f.select :parent_answer_template_id, @question.answer_templates.where(parent_answer_template_id: nil).where.not(id: @answer_template.id).collect{|at| [at.name_with_options, at.id]}, { include_blank: true }, class: 'form-control'
      .text-info
        Select a Parent Template if you wish for this to be shown or hidden conditionally.

  .form-group
    = f.label :parent_answer_option_value, 'Parent Option Value', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :parent_answer_option_value, class: 'form-control'

  .form-group
    = f.label :text, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :text, class: 'form-control'

  .form-group
    = f.label :unit, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :unit, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :archived
          Archived

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', url, class: 'btn btn-default'
