.content-main-header
  %h1
    = link_to 'Surveys', builder_surveys_path
    &middot;
    = link_to @survey.name, builder_survey_path(@survey)
    &middot;
    = link_to @question.slug, builder_survey_question_path(@survey, @question)
    &middot;
    = @answer_template.name

  - if @survey.editable_by?(current_user)
    = link_to 'Edit Answer Template', edit_builder_survey_question_answer_template_path(@survey, @question, @answer_template), class: 'btn btn-xs btn-default'
    = link_to 'Delete Answer Template', builder_survey_question_answer_template_path(@survey, @question, @answer_template), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Answer Template #{@answer_template.name}?" }

.content-container
  .content-body

    %dl.dl-horizontal
      %dt
        %strong Name
      %dd= @answer_template.name

      %dt
        %strong Template Name
      %dd
        = @answer_template.template_name

      %dt
        %strong Data Type
      %dd
        = @answer_template.data_type

      %dt
        %strong Allow Multiple
      %dd
        = simple_check @answer_template.allow_multiple

      %dt
        %strong Parent Answer Template
      %dd
        = @answer_template.parent_answer_template.name if @answer_template.parent_answer_template

      %dt
        %strong Target Answer Option
      %dd
        = @answer_template.target_answer_option

      %dt
        %strong Text
      %dd
        = @answer_template.text

      %dt
        %strong Answer Options
      %dd
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Text
              %th Hotkey
              %th Value
              %th Creator
              %th Actions
          - @answer_template.answer_options.each do |answer_option|
            %tr
              %td= answer_option.text
              %td= answer_option.hotkey
              %td= answer_option.value
              %td= link_to_if current_user.owner?, answer_option.user.name, answer_option.user if answer_option.user
              %td= link_to 'Edit', edit_builder_survey_question_answer_template_answer_option_path(@survey, @question, @answer_template, answer_option), class: 'btn btn-xs btn-default'
          %tr
            %td{ colspan: '5' }
              = link_to 'Add Another Answer Option', new_builder_survey_question_answer_template_answer_option_path(@survey, @question, @answer_template), class: 'btn btn-xs btn-default'
