.content-main-header2
  %h1
    = link_to 'Surveys', builder_surveys_path
    &middot;
    = link_to @survey.name, builder_survey_path(@survey)
    &middot;
    = link_to @question.slug, builder_survey_question_path(@survey, @question)
    &middot;
    = @answer_template.name

  - if @survey.editable_by?(current_user)
    = link_to 'Edit Answer Template', edit_builder_survey_question_answer_template_path(@survey, @question, @answer_template), class: 'btn btn-xs btn-default'
    = link_to 'Delete Answer Template', builder_survey_question_answer_template_path(@survey, @question, @answer_template), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Answer Template #{@answer_template.name}?" }

%dl.dl-horizontal
  %dt
    %strong Name
  %dd= @answer_template.name

  %dt
    %strong Template Name
  %dd
    = @answer_template.template_name

  %dt
    %strong Allow Multiple
  %dd
    = simple_check @answer_template.allow_multiple

  %dt
    %strong Parent Template
  %dd
    = @answer_template.parent_answer_template.name if @answer_template.parent_answer_template

  %dt
    %strong Parent Option Value
  %dd
    = @answer_template.parent_answer_option_value

  %dt
    %strong Text
  %dd
    = @answer_template.text

  %dt
    %strong Unit
  %dd
    = @answer_template.unit

  - if @answer_template.allows_answer_options?
    %dt
      %strong Answer Options
    %dd
      %table.table.table-bordered.table-striped
        %col{ width: '33px' }
        %thead
          %tr
            %th
            %th Text
            %th Hotkey
            %th Value
            %th Display Class
            %th Creator
            %th Actions
        %tbody{ data: { object: 'sortable-answer-options', survey: @survey.slug, question: @question.slug, answer_template: @answer_template.id } }
          - @answer_template.answer_options.each_with_index do |answer_option, index|
            %tr{ id: "question_#{@question.id}_template_#{@answer_template.id}_option_#{answer_option.id}_position_#{index}", data: { answer_option_id: answer_option.id } }
              %td{ style: 'vertical-align: middle;' }
                %span.glyphicon.glyphicon-move.move-handle
              %td= answer_option.text
              %td= answer_option.hotkey
              %td= answer_option.value
              %td
                %code= answer_option.display_class
              %td= link_to_if current_user.owner?, answer_option.user.name, answer_option.user if answer_option.user
              %td= link_to 'Edit', edit_builder_survey_question_answer_template_answer_option_path(@survey, @question, @answer_template, answer_option), class: 'btn btn-xs btn-default'
        %tr
          %td{ colspan: '7' }
            = link_to 'Add Another Answer Option', new_builder_survey_question_answer_template_answer_option_path(@survey, @question, @answer_template), class: 'btn btn-xs btn-default'
