- @title = @article.title
- @keywords = @article.keywords

- @menu = "night"
- @body = "night"
- @footer = "night"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title
- content_for :footer, render("decorations/moon")

.dashboard-container-margins{ style: "line-height: 1.8;" }
  %h4= @title
  .mb-4= simple_markdown_new @article.description, target_blank: false

  %small Was this article helpful?
  = succeed " " do
    = link_to "#", class: "btn btn-outline-secondary btn-sm", data: { object: "suppress-click" } do
      %i.fa.fa-thumbs-up
  = link_to "#", class: "btn btn-outline-secondary btn-sm", data: { object: "suppress-click" } do
    %i.fa.fa-thumbs-down

  %span.small{ style: "color: #9e9e9e;" }
    -# $p500-grey
    %small
      = 1
      out of
      = 1
      found this helpful

  %hr

  %small
    Have more questions?
    = link_to "Contact us", contact_path
