- @footer = "dark-blue"

- content_for :body_class do
  myapnea-light-bg

.background-fixed-image
  .d-flex.background-fixed-image-fixed-height.color-overlay.align-items-center
    .container.text-center
      .mb-3= image_tag "myapnea/logos/MyApneaLogo_border_bluetext.png", style: "height: auto; width: 300px; max-width: 100%;"
      %h1.d-none.landing-title.mb-3
        MyApnea.Org
      .landing-text
        Improving the lives of people with sleep apnea.

#top-menu.top-menu= render "layouts/menu"

= render "videos/full_frame_video"

= render "landing/video_slide"

.page-box-padding.myapnea-blue-bg.pt-0
  .container
    = render "landing/broadcasts"

= render "landing/forum_slide"

= render "landing/research_slide"

- if false
  - position = 0
  - Broadcast.current.order(id: :desc).each do |broadcast|
    - if first_image_url(broadcast).present?
      .anchor-menu{ id: "blog-#{position}"}
      .page-box.d-flex.flex-column.justify-content-around.overflow-hidden.myapnea-black-bg{ style: "position: relative;" }
        .background-blog-image.background-blur{ style: "background-image: url(#{first_image_url(broadcast)});" }
        .container
          .landing-blog-info
            .landing-blog-title= broadcast.title
            .landing-blog-content{ style: "position: relative;" }
              = strip_tags(simple_markdown broadcast.description, true, false).gsub(/\r/, " ").gsub(/\n/, " ").truncate(500, separator: ".", omission: ".").html_safe

              .d-none.d-sm-block{ style: "position: absolute;right: -1rem; bottom: -1rem;" }
                = link_to blog_post_path(broadcast.url_hash), class: "btn btn-accent btn-lg" do
                  Read more
                  %i.fa.fa-caret-right

              .d-block.d-sm-none{ style: "position: absolute;right: -.25rem; bottom: -.25rem;" }
                = link_to blog_post_path(broadcast.url_hash), class: "btn btn-sm btn-accent" do
                  Read more
                  %i.fa.fa-caret-right
          - position += 1
          = link_to "#blog-#{position}", data: { object: "scroll-anchor" }, class: "scroll-down-arrow-visible link-unstyled" do
            %i.fa.fa-chevron-down.text-white

#join.anchor-menu
.page-box.last-box.d-flex.align-items-center.myapnea-dark-blue-bg.text-white{ style: "position: relative;" }
  = link_to "#join", data: { object: "scroll-anchor" }, class: "scroll-down-arrow-visible scroll-down-arrow-top link-unstyled" do
    %i.fa.fa-chevron-down.text-white

  .container

    - if current_user
      .landing-sentence.text-center.mb-5
        Thank you for
        %span.text-accent making a difference
        on MyApnea.Org.

    - else
      .landing-sentence.text-center.mb-5
        Join
        %span.text-accent thousands
        of people already making a difference on MyApnea.Org.

      .text-center
        = link_to new_user_registration_path, class: "btn btn-xl btn-accent btn-shadow" do
          Join Today

- if false
  .page-box.last-box.myapnea-sky-bg
    = render "blank/sun"
    .container
      .myapnea-heading
        Get started!
