- @menu = "light"
- @body = "dark-blue"
- @footer = "dark-blue"

- if true
  .background-fixed-image
    .d-flex.background-fixed-image-fixed-height.color-overlay.align-items-center
      .container.text-center
        .mb-3= image_tag "logos/myapnea-logo-large-bluetext.png", style: "height: auto; width: 300px; max-width: 100%;", class: "img-ignore-selection"
        %h1.d-none.landing-title.mb-3
          MyApnea.Org
        .landing-text
          Improving the lives of people with sleep apnea.

#top-menu.top-menu= render "layouts/menu", menu: @menu ? "menu-#{@menu}" : nil

= render "landing/about_slide"

#research.anchor-menu
= render "landing/research_slide"

#video.anchor-menu
= render "landing/video_slide"

#join.anchor-menu
.page-box.last-box.d-flex.align-items-center.myapnea-dark-blue-bg.text-white{ style: "position: relative;" }
  = link_to "#join", data: { object: "scroll-anchor" }, class: "scroll-down-arrow-visible scroll-down-arrow-top link-unstyled" do
    %i.fa.fa-chevron-down.text-white

  .container

    - if current_user
      .landing-sentence.text-center.mb-5
        Thank you for
        %span.text-accent making a difference
        on MyApnea.Org.

    - else
      .landing-sentence.text-center.mb-5
        Join
        %span.text-accent thousands
        of people already making a difference on MyApnea.Org.

      .text-center
        = link_to new_user_registration_path, class: "btn btn-xl btn-accent btn-shadow" do
          Join Today
