- @menu = "dark-blue"
- @body = "dark-blue"
- @footer = "dark-blue"

- if false
  .background-fixed-image
    .d-flex.background-fixed-image-fixed-height.color-overlay.align-items-center
      .container.text-center
        .mb-3= image_tag "logos/myapnea-logo-large-bluetext.png", style: "height: auto; width: 300px; max-width: 100%;", class: "img-ignore-selection"
        %h1.d-none.landing-title.mb-3
          MyApnea
        .landing-text
          Improving the lives of people with sleep apnea.

  #top-menu.top-menu= render "layouts/menu", menu: @menu ? "menu-#{@menu}" : nil

= render "landing/landing_slide"

= render "landing/welcome_slide" if false

#research.anchor-menu
= render "landing/research_slide"

- if false
  #about.anchor-menu
  = render "landing/about_slide"

  #video.anchor-menu
  = render "landing/video_slide"

#join.anchor-menu
= render "landing/join_slide"
