- @footer = "dark-blue"

- content_for :body_class do
  myapnea-light-bg

.background-fixed-image
  .d-flex.background-fixed-image-fixed-height.color-overlay.align-items-center
    .container.text-center
      .mb-3= image_tag "myapnea/logos/MyApneaLogo_border_bluetext.png", style: "height: auto; width: 300px; max-width: 100%;"
      %h1.d-none.landing-title.mb-3
        MyApnea.Org
      .landing-text
        Improving the lives of people with sleep apnea.

#top-menu.top-menu= render "layouts/menu"

= render "videos/full_frame_video"

.page-box-padding.d-flex.justify-content-center.align-items-center.myapnea-blue-bg{ style: "position: relative;" }
  =# render "blank/sun"
  .container
    .background-questions-image.rounded.mb-3
      .embed-responsive.embed-responsive-16by9.p-3.box-shadow.rounded.d-flex.justify-content-center.align-items-center
        - video = "3I8YbWRgkjw"
        - video_loop = "0"
        - autoplay = "1"
        = link_to "#", data: { object: "launch-full-page-video", video_src: "//www.youtube.com/embed/#{video}?playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0" }, class: "link-blend myapnea-lead-sentence" do
          %i.fa.fa-play-circle.fa-2x

    .landing-sentence-small.text-center.text-white.p-3.rounded{ style: "background-color: rgba(0,0,0,.25);" }
      Our mission is to improve the diagnosis and treatment of sleep apnea through the active engagement of patients, families, researchers, and healthcare providers.

    - if false
      = link_to "#blog-0", data: { object: "scroll-anchor" }, class: "scroll-down-arrow-visible link-unstyled" do
        %i.fa.fa-chevron-down.text-white

.page-box-padding.myapnea-blue-bg.pt-0
  .container
    .card-deck.flex-column.flex-md-row
      - Broadcast.current.published.order(publish_date: :desc, id: :desc).limit(3).each do |broadcast|
        .card.background-image-container.mb-3.mb-md-0{ data: { object: "show-fullscreen-blog", broadcast_id: broadcast.id }, style: "cursor: pointer;" }
          .background-image{ style: "background-image: url(#{first_image_url(broadcast)});" }
          .card-body.myapnea-blue-transparent-bg.myapnea-border-accent{ style: "position: relative;" }
            %h4= broadcast.title
        .blog-fullscreen-backdrop{ data: { broadcast_id: broadcast.id } }
          .blog-fullscreen-content.d-flex.flex-column.justify-content-around
            .background-blog-image.background-blur{ style: "background-image: url(#{first_image_url(broadcast)});", data: { object: "close-fullscreen-blog", broadcast_id: broadcast.id } }
            %div{ style: "position: absolute; top: 0; right: 1rem;font-size: 2rem;cursor: pointer;" }
              = link_to "#", class: "link-white no-underline", data: { object: "close-fullscreen-blog", broadcast_id: broadcast.id } do
                &times;
            .container
              .landing-blog-info
                .landing-blog-title= broadcast.title
                .landing-blog-content{ style: "position: relative;" }
                  = strip_tags(simple_markdown broadcast.description, true, false).gsub(/\r/, " ").gsub(/\n/, " ").truncate(500, separator: ".", omission: ".").html_safe

                  .d-none.d-sm-block{ style: "position: absolute;right: -1rem; bottom: -1rem;" }
                    = link_to blog_post_path(broadcast.url_hash), class: "btn btn-accent btn-lg" do
                      Read more
                      %i.fa.fa-caret-right

                  .d-block.d-sm-none{ style: "position: absolute;right: -.25rem; bottom: -.25rem;" }
                    = link_to blog_post_path(broadcast.url_hash), class: "btn btn-sm btn-accent" do
                      Read more
                      %i.fa.fa-caret-right

- if false
  - position = 0
  - Broadcast.current.order(id: :desc).each do |broadcast|
    - if first_image_url(broadcast).present?
      .anchor-menu{ id: "blog-#{position}"}
      .page-box.d-flex.flex-column.justify-content-around.overflow-hidden.myapnea-black-bg{ style: "position: relative;" }
        .background-blog-image.background-blur{ style: "background-image: url(#{first_image_url(broadcast)});" }
        .container
          .landing-blog-info
            .landing-blog-title= broadcast.title
            .landing-blog-content{ style: "position: relative;" }
              = strip_tags(simple_markdown broadcast.description, true, false).gsub(/\r/, " ").gsub(/\n/, " ").truncate(500, separator: ".", omission: ".").html_safe

              .d-none.d-sm-block{ style: "position: absolute;right: -1rem; bottom: -1rem;" }
                = link_to blog_post_path(broadcast.url_hash), class: "btn btn-accent btn-lg" do
                  Read more
                  %i.fa.fa-caret-right

              .d-block.d-sm-none{ style: "position: absolute;right: -.25rem; bottom: -.25rem;" }
                = link_to blog_post_path(broadcast.url_hash), class: "btn btn-sm btn-accent" do
                  Read more
                  %i.fa.fa-caret-right
          - position += 1
          = link_to "#blog-#{position}", data: { object: "scroll-anchor" }, class: "scroll-down-arrow-visible link-unstyled" do
            %i.fa.fa-chevron-down.text-white

#join.anchor-menu
.page-box.last-box.d-flex.align-items-center.myapnea-dark-blue-bg.text-white{ style: "position: relative;" }
  = link_to "#join", data: { object: "scroll-anchor" }, class: "scroll-down-arrow-visible scroll-down-arrow-top link-unstyled" do
    %i.fa.fa-chevron-down.text-white

  .container

    - if current_user
      .landing-sentence.text-center.mb-5
        Thank you for
        %span.text-accent making a difference
        on MyApnea.Org.

    - else
      .landing-sentence.text-center.mb-5
        Join
        %span.text-accent thousands
        of people already making a difference on MyApnea.Org.

      .text-center
        = link_to new_user_registration_path, class: "btn btn-xl btn-accent btn-shadow" do
          Join Today


- if false
  .page-box.last-box.myapnea-sky-bg
    = render "blank/sun"
    .container
      .myapnea-heading
        Get started!
