- @title = "Our Partners"

- @menu = "dark-blue"
- @body = "dark-blue"
- @footer = "dark-blue"

.mb-3{ data: { object: "menu-trigger" } }
  = render "landing/orange_title", title: @title, text_class: "text-white"

- @partners.where(group: "main").each do |partner|
  .dashboard-container= render partner

.mb-3= render "landing/orange_title", title: "Promotional Partners", text_class: "text-white"

.dashboard-container
  %p.lead
    The following companies and organizations share our mission and goals to
    improve research and the treatment of sleep apnea and are working with us to
    promote MyApnea to patients and health care professionals. We greatly
    appreciate their assistance.
  .row
    - @partners.where(group: "promotional").sort.each do |partner|
      = render "admin/partners/promotional_partner", partner: partner

.dashboard-container.dashboard-disclaimer
  Our partners DO NOT have access to your contact or health information. Per our
  = succeed "," do
    = link_to "privacy policy", privacy_policy_path
  MyApnea will never share your contact or identifiable health information with
  any partners or other organizations without your express consent. All members
  of the network DO have access to de-identified aggregate data.
