- unless reply.deleted?
  %span.float-right{ id: "reply-#{reply.id}-vote" }
    = render "replies/vote", reply: reply, just_voted: just_voted
.nowrap.overflow-hidden
  - if reply.display_for_user?(current_user)
    = link_to "[-]", "#", data: { object: "toggle-reply" }, style: "text-decoration: none;", class: "text-muted"
  - else
    = link_to "[+]", "#", data: { object: "toggle-reply" }, style: "text-decoration: none;", class: "text-muted"
  - if reply.deleted?
    %small
      %i.text-muted [deleted]
  - else
    - if current_user && current_user.admin? && reply.user.shadow_banned?
      = icon("fas", "eye-slash", class: "text-muted")
    .d-inline.d-md-none
      - if reply.user[:photo]
        - picture_content = profile_picture_tag(reply.user, size: 16, style: "max-height: #{16+3}px;border-radius: .25rem;")
      - else
        - picture_content = icon("fas", "user", class: "text-muted")
      = link_to picture_content, posts_member_path(reply.user.username)
    = link_to reply.user.username, posts_member_path(reply.user.username)
  %span.text-muted{ id: "reply-#{reply.id}-points", style: "font-size: 60%" }
    = render "replies/points", reply: reply
  = render "replies/badge", reply: reply
