- unless reply.deleted?
  %span.pull-right{ id: "reply-#{reply.id}-vote" }
    = render 'replies/vote', reply: reply, just_voted: just_voted
.nowrap.overflow-hidden
  - if reply.display_for_user?(current_user)
    = link_to '[-]', '#', data: { object: 'toggle-reply' }, style: 'text-decoration:none', class: 'text-muted'
  - else
    = link_to '[+]', '#', data: { object: 'toggle-reply' }, style: 'text-decoration:none', class: 'text-muted'
  - if reply.deleted?
    %small
      %i.text-muted [deleted]
  - else
    - if current_user && current_user.owner? && reply.user.shadow_banned?
      %span.glyphicon.glyphicon-eye-close.text-muted
    - if reply.chapter_author?
      %small
        %i.fa.fa-moon-o.primary-orange{ data: { toggle: 'tooltip', title: 'Topic Author', container: 'body' } }
    = image_tag user_photo_url(reply.user), alt: '', style: "max-height:#{16+3}px;border-radius:4px", title: reply.user.forum_name, data: { toggle: 'tooltip', container: 'body', placement: 'top' }, class: 'hidden-md hidden-lg'
    = link_to reply.user.forum_name, member_path(reply.user.forum_name)
  %span.text-muted{ id: "reply-#{reply.id}-points", style: 'font-size: 60%' }
    = render 'replies/points', reply: reply
