- if !current_user && just_voted
  %small= link_to 'Login to vote', new_user_session_path
- else
  - vote = reply.vote(current_user)

  - if vote == true
    - klass = 'text-success'
    - icon = 'fa-thumbs-up'
    - change_to = 'clear'
  - else
    - klass = 'text-muted'
    - icon = 'fa-thumbs-o-up'
    - change_to = 'up'

  &nbsp;

  = link_to vote_reply_path(reply, chapter_id: @chapter, vote: change_to), method: :post, remote: true, style: 'text-decoration:none;outline:none', class: klass, tabindex: '-1' do
    %i.fa{ class: "#{icon} #{'just_voted' if just_voted && vote == true}", style: 'width: 16px' }

  &nbsp;

  - if vote == false
    - klass = 'text-danger'
    - icon = 'fa-thumbs-down'
    - change_to = 'clear'
  - else
    - klass = 'text-muted'
    - icon = 'fa-thumbs-o-down'
    - change_to = 'down'

  = link_to vote_reply_path(reply, chapter_id: @chapter, vote: change_to), method: :post, remote: true, style: 'text-decoration:none;outline:none', class: klass, tabindex: '-1' do
    %i.fa{ class: "#{icon} #{'just_voted' if just_voted && vote == false}", style: 'width: 16px' }

