- if !current_user && just_voted
  %small= link_to "Login to vote", new_user_session_path
- else
  .vote-info
    .vote-expanded-info
      %small
        Was this reply useful?
        = link_to "Learn more...", voting_path

    - vote = reply.vote(current_user)

    - if vote == true
      - klass = "text-success"
      - icon = "fa-arrow-up"
      - change_to = "clear"
    - else
      - klass = "text-muted"
      - icon = "fa-arrow-up"
      - change_to = "up"

    &nbsp;

    = link_to vote_reply_path(reply, topic_id: reply.topic, vote: change_to), method: :post, remote: true, style: "text-decoration:none;outline:none", class: klass, tabindex: "-1" do
      %i.fa{ class: "#{icon} #{"just-voted" if just_voted && vote == true}", style: "width: 16px" }

    &nbsp;

    - if vote == false
      - klass = "text-danger"
      - icon = "fa-arrow-down"
      - change_to = "clear"
    - else
      - klass = "text-muted"
      - icon = "fa-arrow-down"
      - change_to = "down"

    = link_to vote_reply_path(reply, topic_id: reply.topic, vote: change_to), method: :post, remote: true, style: "text-decoration:none;outline:none", class: klass, tabindex: "-1" do
      %i.fa{ class: "#{icon} #{"just-voted" if just_voted && vote == false}", style: "width: 16px" }

