.d-flex.justify-content-around
  .px-3{ style: "max-width: 800px;min-width: 300px;" }
    %table.table.table-striped.table-borderless.table-sm
      %col{ width: "1px" }
      %col
      %col
      %thead
        %th
        %th Response
        %th.text-center Percent
      - total = responses.sum(&:second)
      - responses.each do |response, count, voted|
        %tr{ style: voted ? "background-color: #{my_color};" : nil }
          %td
            - case variable_type when "checkbox"
              - if voted
                = icon("fas", "check-square")
              - else
                = icon("far", "square")
            - else
              - if voted
                = icon("fas", "check-circle")
              - else
                = icon("far", "circle")
          %td= response
          %td.text-center
            - if total.zero?
              %span.text-muted \-
            - elsif count.zero?
              %span.text-muted \-
            - else
              = format("%d%%", count * 100.0 / total)
