= form_with model: admin_team_member, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: admin_team_member, key: :name
  = render "forms/horizontal/text_field", form: form, object: admin_team_member, key: :designations
  = render "forms/horizontal/text_field", form: form, object: admin_team_member, key: :role
  = render "forms/horizontal/select", form: form, object: admin_team_member, key: :group, options: Admin::TeamMember::GROUPS
  - # TODO: Add number_field
  = render "forms/horizontal/text_field", form: form, object: admin_team_member, key: :position
  =# render "forms/horizontal/number_field", form: form, object: admin_team_member, key: :position
  = render "forms/horizontal/file_field", form: form, object: admin_team_member, key: :photo
  = render "forms/horizontal/text_area", form: form, object: admin_team_member, key: :bio
  = render "forms/horizontal/submit", form: form, object: admin_team_member

