= form_with model: admin_team_member, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: admin_team_member, key: :name
  = render "forms/horizontal/text_field", form: form, object: admin_team_member, key: :designations, key_name: "Degrees"
  = render "forms/horizontal/text_field", form: form, object: admin_team_member, key: :role
  = render "forms/horizontal/text_area", form: form, object: admin_team_member, key: :bio, rows: 7
  = render "forms/horizontal/file_field", form: form, object: admin_team_member, key: :photo
  = render "forms/horizontal/submit", form: form, object: admin_team_member

