.team-member-container
  .row
    .col-md-5.team-member-image-wrapper
      = image_tag team_member_photo_url(team_member), alt: '', class: 'team-member-img'
    .col-md-7
      %h2
        = team_member.name
        %span.designations= team_member.designations
      %h3
        = team_member.role
  %br
  %p.lead
    = team_member.bio
  - if current_user and current_user.owner?
    .admin-bar
      = link_to edit_admin_team_member_path(team_member) do
        %span.glyphicon.glyphicon-pencil
