- @title = 'Team Members'

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to plus_or('New Team Member'), new_admin_team_member_path, class: 'btn btn-accent btn-shadow'
          = link_to 'Edit Order', order_admin_team_members_path, class: 'btn btn-default btn-shadow'
          = render 'layouts/per_page', per_page: 40, object_count: @admin_team_members.total_count
        = @title

.drawer-and-shelf-container
  .drawer
    = render 'admin/menu'
  .shelf
    - if @admin_team_members.present?
      - @admin_team_members.each do |team_member|
        .dashboard-container
          = render team_member
    - else
      .jumbotron.jumbotron-action
        %p.center No team members found.


