- @title = 'Order Team Members'

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        Order
        = link_to 'Team Members', admin_team_members_path

.drawer-and-shelf-container
  .drawer
    = render 'admin/menu'
  .shelf
    .dashboard-container
      .list-group
        - @admin_team_members.count.times do |tmi|
          - if @admin_team_members.where(position: tmi).present?
            - @admin_team_members.where(position: tmi).each_with_index do |tm, tmpi|
              .list-group-item{ class: "#{'list-group-item-warning' if tmpi > 0}"}
                .pull-left
                  = image_tag team_member_photo_url(tm), height: 30, width: 30
                  = tm.name
                .pull-right
                  = tmi
                  = link_to '^', admin_team_member_path(tm, admin_team_member: { position: tm.position-1 }, redirect_back: 'true'), method: :patch
                  = link_to 'v', admin_team_member_path(tm, admin_team_member: { position: tm.position+1 }, redirect_back: 'true'), method: :patch
                .clearfix
          - else
            .list-group-item.list-group-item-danger
              .pull-right
                = tmi
              .clearfix
        - @admin_team_members.where("position > ?", @admin_team_members.count - 1).each do |tm|
          .list-group-item.list-group-item-danger
            .pull-left
              = tm.name
            .pull-right
              = tm.position
              = link_to '^', admin_team_member_path(tm, admin_team_member: { position: tm.position-1 }, redirect_back: 'true'), method: :patch
              = link_to 'v', admin_team_member_path(tm, admin_team_member: { position: tm.position+1 }, redirect_back: 'true'), method: :patch
            .clearfix
