.row.form-inline-always
  - selected_date = parse_date(answer.value[answer_template.id])
  = select_tag "#{question.id}[#{answer_template.id}][month]", options_for_select([["Month", nil]] + Date::MONTHNAMES[1..12].each_with_index.collect{|name, index| [name, index+1]}, selected: (selected_date ? selected_date.month : nil )), name: "response[#{answer_template.id}][month]", class: 'form-control', disabled: answer.locked?, style: "#{'cursor: default' if answer_session.locked?}"
  = select_tag "#{question.id}[#{answer_template.id}][day]", options_for_select([["Day", nil]] + (1..31).collect{|i| [i,i]}, selected: (selected_date ? selected_date.day : nil )), name: "response[#{answer_template.id}][day]", class: 'form-control', disabled: answer.locked?, style: "#{'cursor: default' if answer_session.locked?}"
  = select_tag "#{question.id}[#{answer_template.id}][year]", options_for_select([["Year", nil]] + (1900..(Date.today.year)).to_a.reverse, selected: (selected_date ? selected_date.year : nil )), name: "response[#{answer_template.id}][year]", class: 'form-control', disabled: answer.locked?, style: "#{'cursor: default' if answer_session.locked?}"
