.row
  - height = parse_integer(answer.value[answer_template.id], 0)
  - feet = height / 12
  - inches = height - (feet * 12)
  .col-xs-6{ style: 'text-align:right'}
    = select_tag "#{question.id}[#{answer_template.id}][feet]", options_for_select(0..8, selected: feet), name: "response[#{answer_template.id}][feet]", class: 'height-select', disabled: answer.locked?
  .col-xs-6{ style: 'text-align:left'}
    = label_tag "#{question.id}[#{answer_template.id}][feet]", "feet", class: 'height-label'
.row
  .col-xs-6{ style: 'text-align:right'}
    = select_tag "#{question.id}[#{answer_template.id}][inches]", options_for_select(0..11, selected: inches), name: "response[#{answer_template.id}][inches]", class: 'height-select', disabled: answer.locked?
  .col-xs-6{ style: 'text-align:left'}
    = label_tag "#{question.id}[#{answer_template.id}][inches]", "inches", class: 'height-label'
