// Deleted posts will only be viewed by moderators
// and will only show up as a blank bar
- if comment.deleted? or comment.user.deleted?
  - if current_user and current_user.moderator?
    .well.well-sm.italic
      Post deleted

  // Spam and hidden posts will only be viewed by moderators,
  // and they have the ability to edit them
- elsif comment.spam? or comment.hidden?
  - if current_user and current_user.moderator?
    .comment-container.comment-container-spam
      = render 'research_topics/comments/comment_contents', comment: comment
      .comment-toolbar
        = render 'posts/actions/edit_min', post: comment
  - elsif current_user and current_user == comment.user
    .wel.well-sm.danger-bcg.italic
      This post was marked as spam.

  // Pending review posts will be visible to everyone
  // and everyone will see that they are pending review,
  // but only moderators and current users can edit them
- elsif comment.pending_review?
  .comment-container.comment-container-review
    = render 'research_topics/comments/comment_contents', comment: comment
    - if current_user and current_user.moderator?
      .comment-toolbar
        = render 'posts/actions/pending_review_min', post: comment
        = render 'posts/actions/edit_min', post: comment
    - elsif current_user and current_user == comment.user
      .comment-toolbar
        = render 'posts/actions/edit_min', post: comment

  // Approved comments will be simply displayed
- elsif comment.approved?
  .comment-container
    = render 'research_topics/comments/comment_contents', comment: comment
    - if current_user and (current_user.moderator? or current_user == comment.user)
      .comment-toolbar
        = render 'posts/actions/edit_min', post: comment

