%h3 My Children

%ul.nav.nav-pills.nav-stacked
  - current_user.children.each do |child|
    - unless child.new_record?
      %li{ class: "#{'active' if @child == child}" }
        = link_to child, remote: true do
          = child.first_name
          \-
          %small
            = pluralize child.age, 'year'
            old
  %li{ class: "#{'active' if @child and @child.new_record?}"}
    = link_to new_child_path, remote: true do
      %i.fa.fa-user-plus
      Add Child

