= form_for @child, html: { class: 'form-horizontal', remote: true } do |f|
  - if @child.errors.any?
    .row
      .col-md-offset-2.col-md-10
        .bs-callout.bs-callout-danger
          %h4
            = pluralize(@child.errors.count, "error")
            prohibited this child from being saved

          %ul
            - @child.errors.full_messages.each do |msg|
              %li= msg

  .form-group
    = f.label :first_name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :first_name, class: 'form-control', autocomplete: :off

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :diagnosed
          Diagnosed with sleep apnea

  .form-group
    = f.label :age, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :age, class: 'form-control', autocomplete: :off
      .bs-callout.bs-callout-info{ style: 'margin-bottom: 0;' }
        Child's age must be between 2 and 8 years old.

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit (@child.new_record? ? 'Add Child' : 'Update Child'), class: 'btn btn-primary'
      = link_to 'Cancel', @child, remote: true, class: 'btn btn-default' unless @child.new_record?
