.content-main-header
  %h1.f300
    Your Children

.content-container
  .content-body
    %table.table.table-fixed
      %thead
        %tr
          %th First Name
          %th Age
          %th Accepted consent at
          %th Actions

      %tbody
        - @children.each do |child|
          %tr
            %td= link_to child.first_name, child
            %td= child.age
            %td= child.accepted_consent_at
            %td
              = link_to 'Edit', edit_child_path(child), class: 'btn btn-xs btn-default'
              = link_to 'Remove', child, method: :delete, data: { confirm: 'Are you sure you want to remove records of this child?' }, class: 'btn btn-xs btn-danger'
        %tr
          %td{ colspan: "3" }
          %td
            = link_to 'Add Another Child', new_child_path, class: "btn btn-xs btn-primary"
