- if @answer_option.new_record?
  - url = builder_survey_question_answer_template_answer_options_path(@survey, @question, @answer_template)
  - method = :post
- else
  - url = builder_survey_question_answer_template_answer_option_path(@survey, @question, @answer_template, @answer_option)
  - method = :patch
= form_for @answer_option, url: url, method: method, html: { class: 'form-horizontal', multipart: true } do |f|
  - if @answer_option.errors.any?
    .panel.panel-danger
      .panel-heading
        %strong
          = pluralize(@answer_option.errors.count, "error")
          prohibited this answer option from being saved:

      .panel-body
        %ul
          - @answer_option.errors.full_messages.each do |message|
            %li= message

  .form-group
    = f.label :text, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :text, class: 'form-control'

  .form-group
    = f.label :hotkey, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :hotkey, class: 'form-control'

  .form-group
    = f.label :value, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :value, class: 'form-control'

  .form-group
    = f.label :display_class, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :display_class, class: 'form-control', placeholder: 'label-default label-sm'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', url, class: 'btn btn-default'
