= form_with model: admin_partner, local: true do |form|
  = render "forms/horizontal/file_field", form: form, object: admin_partner, key: :photo
  = render "forms/horizontal/text_field", form: form, object: admin_partner, key: :name
  = render "forms/horizontal/text_area", form: form, object: admin_partner, key: :description
  = render "forms/horizontal/text_field", form: form, object: admin_partner, key: :link
  - # TODO: Add number_field
  = render "forms/horizontal/text_field", form: form, object: admin_partner, key: :position
  =# render "forms/horizontal/number_field", form: form, object: admin_partner, key: :position
  = render "forms/horizontal/select", form: form, object: admin_partner, key: :group, options: Admin::Partner::GROUPS
  = render "forms/horizontal/check_box", form: form, object: admin_partner, key: :displayed
  = render "forms/horizontal/submit", form: form, object: admin_partner
