- @title = "Partners"

- @theme = "day"
- content_for :header do
  .float-right
    = link_to plus_or("New Partner"), new_admin_partner_path, class: "btn btn-accent btn-shadow"
  = @title
= render "admin/tabs"
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 10, object_count: @admin_partners.total_count
  %ol
    %li.breadcrumb-muted partners
- content_for :sidebar, render("admin/sidebar")

.dashboard-container
  - @admin_partners.each do |partner|
    .py-5= render partner
    = succeed " " do
      = link_to edit_admin_partner_path(partner), class: "btn btn-light btn-sm" do
        = icon("fas", "pencil-alt")
        Edit
    Displayed:
    = simple_check partner.displayed?

.center-horizontally= paginate @admin_partners, theme: "bootstrap"
