%td{ style: 'padding-left:10px;padding-right:10px;vertical-align:top' }
  = link_to "##{post.number}", "#{ENV['website_url']}/forums/#{post.topic.forum.to_param}/topics/#{post.topic.to_param}/posts/#{post.id}", style: "#{link_style};white-space: nowrap;"
%td{ style: 'padding-right:10px;vertical-align:top' }= strip_tags(simple_markdown post.description).truncate(100, separator: ' ').html_safe
%td{ style: 'padding-right:10px;white-space:nowrap;text-align:right;vertical-align:top' }= post.user.forum_name
