%b
  Dear
  = succeed ',' do
    = @owner.first_name
%br
%br
Today,
= pluralize number_with_delimiter(@surveys_launched), 'followup survey'
= (@surveys_launched == 1 ? 'was' : 'were')
launched to members of MyApnea.Org.
%br
%br
- @survey_changes.each do |survey_slug, changes|
  %p
    %strong= changes[:name]

  - changes[:encounters].each do |encounter_hash|

    %div{ style: 'margin-left: 40px' }
      %strong= number_with_delimiter(encounter_hash[:answer_sessions_change])
      = encounter_hash[:name]
%br
%br
Thanks,
%br
The MyApnea.Org Team

