%p{ style: p_style }
  Dear
  = succeed ',' do
    = @admin.first_name
%p{ style: p_style }
  Today,
  %span{ style: emphasis_style }= pluralize number_with_delimiter(@surveys_launched), 'followup survey'
  = (@surveys_launched == 1 ? 'was' : 'were')
  launched to members of MyApnea.Org.

- @survey_changes.each do |survey_slug, changes|
  %p{ style: p_style }
    %strong= changes[:name]

  %div{ style: p_style }
    - changes[:encounters].each do |encounter_hash|
      %div{ style: 'margin-left: 40px' }
        %strong= number_with_delimiter encounter_hash[:answer_sessions_change]
        = encounter_hash[:name]

%p{ style: p_style }
  Thanks,
  %br
  The MyApnea.Org Team
