%p{ style: p_style }
  Dear
  = succeed ',' do
    = @export.user.first_name

%p{ style: p_style }
  The data export you requested
  %strong= @export.name
  is now
  = succeed '.' do
    %span{ style: emphasis_style } ready for download

%p{ style: p_style }
  Click the following link to download your data export:

%p{ style: center_style }
  = link_to "#{ENV['website_url']}/admin/exports/#{@export.id}", "#{ENV['website_url']}/admin/exports/#{@export.id}", style: link_style
