%b
  Dear
  = "#{@user.first_name},"
%br
%br
You have a new followup survey waiting to be completed on
= succeed '.' do
  = ENV['website_name']
%br
%br
Your participation is important to allow researchers to better understand the
effects of sleep apnea over time.
%br
%br
%center
  = link_to 'Start Followup Survey', "#{ENV['website_url']}/surveys", style: "color: #428bca"
%br
%br
Again, thank you for your participation, and we look forward to finding answers together with you!
%br
%br
The MyApnea.Org Team

