<b>Dear <%= @user.first_name %>,</b><br />
<br />


<% if @user.digest_posts.size > 0 %>
  <table style="width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;">
    <thead>
      <tr style="text-align:left">
        <th colspan="3" style="padding-bottom:10px;font-weight:normal">
          <span style="padding:5px;background-color:#5999de;color:white">Forum Updates</span>
        </th>
      </tr>
    </thead>
    <% @user.digest_posts.group_by{|s| s.topic_id}.each_with_index do |(topic_id, posts), index| %>
      <% topic = Topic.find_by_id(topic_id) %>
      <tbody style="<%= 'background-color: #fbfbfb' if index % 2 == 0 %>">
        <tr><td colspan="3" style="border-top:1px solid #ddd;"></td></tr>
        <tr>
          <td colspan="3" style="text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px;">
            <b><%= link_to topic.name, "#{ENV['website_url']}/forums/#{topic.forum.to_param}/topics/#{topic.to_param}", style: "color: #428bca;" %></b>
          </td>
        </tr>
        <% posts.sort_by(&:id).each do |post| %>
          <tr><%= render partial: 'digest_post', locals: { post: post } %></tr>
        <% end %>
        <tr><td colspan="3" style="padding-bottom:10px"></td></tr>
        <tr><td colspan="3" style="padding-bottom:10px"></td></tr>
      </tbody>
    <% end %>
  </table>
<% end %>

<br />
<center><%= link_to "#{ENV['website_url']}/forums", "#{ENV['website_url']}/forum", style: "color: #428bca" %></center><br />
