<b>Dear <%= @user.first_name %>,</b><br />
<br />
<%= @post.user.forum_name %> <span style="padding:5px;background-color:#428bca;color:white">mentioned</span> you in a post on the forums at MyApnea.Org.<br />
<br />
  <table style="width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;">
    <tbody>
      <tr><td colspan="3" style="border-top:1px solid #ddd;"></td></tr>
      <tr>
        <td colspan="3" style="text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px;">
          <b><%= link_to @post.topic.name, "#{ENV['website_url']}/forums/#{@post.topic.to_param}", style: "color: #428bca;" %></b>
        </td>
      </tr>
      <tr><%= render 'digest_post', post: @post %></tr>
      <tr><td colspan="3" style="padding-bottom:10px"></td></tr>
      <tr><td colspan="3" style="padding-bottom:10px"></td></tr>
    </tbody>
  </table>

<br />
<center><%= link_to "#{ENV['website_url']}/forums/#{@post.topic.to_param}", "#{ENV['website_url']}/forums/#{@post.topic.to_param}\##{@post.id}", style: "color: #428bca" %></center><br />
<br />
<span style="font-size:11px;color:#777">You may turn off these email notifications in your <%= link_to "settings", "#{ENV['website_url']}/account", style: "color: #428bca" %>.</span>
