%p{ style: p_style }
  Dear
  = succeed ',' do
    = @user.first_name

%p{ style: p_style }
  = @post.user.forum_name
  %span{ style: emphasis_style } mentioned you in a post
  on the forums at MyApnea.Org.


%table{ style: 'width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;' }
  %tbody
    %tr
      %td{ colspan: 3, style: 'border-top:1px solid #ddd;' }
    %tr
      %td{ colspan: 3, style: 'text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px;' }
        = link_to @post.topic.name, "#{ENV['website_url']}/forums/#{@post.topic.to_param}", style: link_style
    %tr= render 'digest_post', post: @post
    %tr
      %td{ colspan: 3, style: 'padding-bottom:10px' }
    %tr
      %td{ colspan: 3, style: 'padding-bottom:10px' }

%p{ style: center_style }
  = link_to "#{ENV['website_url']}/forums/#{@post.topic.to_param}", "#{ENV['website_url']}/forums/#{@post.topic.to_param}\##{@post.id}", style: link_style

%p{ style: p_style }
  %span{ style: muted_style }
    You may turn off these email notifications in your
    = succeed '.' do
      = link_to 'settings', "#{ENV['website_url']}/account", style: link_style
