%b
  Dear
  = "#{@user.first_name},"
%br
%br
You have
= pluralize(@user.answer_sessions.where(child_id: nil, locked: false).joins(:survey).merge(Survey.current.viewable.non_pediatric).count, 'new survey' )
waiting to be completed on MyApnea.Org.
%br
%br
Your participation is important to allow researchers to better understand the
effects of sleep apnea over time.
%br
%br
%center
  = link_to 'Start New Surveys', "#{ENV['website_url']}/surveys", style: "color: #428bca"
%br
%br
Each completed survey earns you an entry into our monthly lottery for a chance to
= succeed '.' do
  %strong win a $250 Visa Gift card

Thank you for your participation, and we look forward to finding answers together with you!
%br
%br
The MyApnea.Org Team

