%p{ style: p_style }
  Dear
  = succeed ',' do
    = @user.first_name

%p{ style: p_style }
  Someone
  %span{ style: emphasis_style } posted a reply
  to the following topic:

%p{ style: center_style }
  = link_to @post.topic.name, "#{ENV['website_url']}/forums/#{@post.forum.to_param}/topics/#{@post.topic.to_param}/posts/#{@post.to_param}", style: link_style

%p{ style: p_style }
  = succeed ':' do
    %strong= @post.user.forum_name
  = strip_tags(simple_markdown @post.description).truncate(100, separator: ' ').html_safe
  = link_to "Post ##{@post.number}", "#{ENV['website_url']}/forums/#{@post.forum.to_param}/topics/#{@post.topic.to_param}/posts/#{@post.to_param}", style: link_style

%i{ style: muted_style }
  You may also
  = link_to 'visit the topic', "#{ENV['website_url']}/forums/#{@post.forum.to_param}/topics/#{@post.topic.to_param}/posts/#{@post.to_param}", style: link_style
  to unsubscribe and stop receiving future replies to this topic.
