%b
  Dear
  = "#{@user.first_name},"
%br
%br
Your registration with
= "#{@user.my_provider.provider_name} for" if @user.my_provider and @user.my_provider.provider_name.present?
= link_to 'MyApnea.Org', ENV['website_url'], style: "color: #428bca"
was successful. Thank you for joining our growing network!
%br
%br
The dawn of a new era in sleep apnea research is here. As a network member you can now:
%br
%ul
  %li
    Connect with other members on the
    = link_to 'Forums', "#{ENV['website_url']}/forums", style: "color: #428bca"
    to share your story and discuss your views on future research projects.
  %li
    Track your health over time and compare with other network members by completing
    = link_to 'short surveys', "#{ENV['website_url']}/surveys", style: "color: #428bca"
    (each completed survey earns you an entry into our monthly lottery for a chance to
    %strong< win a $250 Visa Gift card
    %span> ).
  %li
    Direct future sleep apnea research by
    = link_to 'suggesting and voting on topics', "#{ENV['website_url']}/research-topics", style: "color: #428bca"
    that matter to you most.

%br
Again, welcome and we look forward to finding answers together with you!
%br
%br
The MyApnea.Org Team

