- @drawer = true
- if false
  %div.hidden-xs.profile
    .profile-image-container{ rel: "tooltip", data: { title: "Change your picture", container: "body", placement: "bottom" } }
      = link_to settings_path do
        = profile_picture_tag(current_user, size: "220", style: "width: 220px; height: auto; border-radius: 0 !important;")

    %div.overflow-hidden{ style: "margin-left: 20px;margin-right: 20px;margin-bottom: 0;" }
      %p
        %strong= current_user.full_name
        %br
        %small= current_user.username
      %p
        %small.profile-muted-description
          Joined
          = current_user.created_at.strftime("%b %Y")

.profile-menu-container
  %ul.blog-menu.profile-menu
    %li.blog-menu-header MyApnea
    %li= link_to "Dashboard", dashboard_path, class: current_page?(dashboard_path) ? "active" : nil
    %li= link_to "Research", slice_research_path, class: current_page?(slice_research_path) ? "active" : nil
    %li= link_to "Reports", reports_path, class: current_page?(reports_path) ? "active" : nil
    %li= link_to "Timeline", timeline_path, class: current_page?(timeline_path) ? "active" : nil

.profile-menu-container
  %ul.blog-menu.profile-menu
    %li.blog-menu-header Public
    %li= link_to "My Profile", posts_member_path(current_user.username), class: current_page?(posts_member_path(current_user.username)) ? "active" : nil
