.dashboard-container
  %ul.blog-menu
    %li.blog-menu-header
      %small Personal Settings
    %li
      = link_to 'Profile', settings_profile_path, class: current_page?(settings_profile_path) ? 'active' : nil
    %li
      = link_to 'Account', settings_account_path, class: current_page?(settings_account_path) ? 'active' : nil
    %li
      = link_to 'Emails', settings_emails_path, class: current_page?(settings_emails_path) ? 'active' : nil
    %li
      = link_to 'Research Consents', settings_consents_path, class: current_page?(settings_consents_path) ? 'active' : nil
    %li
      = link_to 'Old Settings', account_path, style: 'color: orange'
