- @drawer = true

.profile-menu-container
  - if false
    .hidden-sm.hidden-md.hidden-lg.profile-menu-close
      = link_to '#', data: { object: 'toggle-drawer' } do
        %fa.fa.fa-times
  %ul.blog-menu.profile-menu
    %li.blog-menu-header
      %small Personal Settings
    %li= link_to 'Profile', settings_profile_path, class: current_page?(settings_profile_path) ? 'active' : nil
    %li= link_to 'Account', settings_account_path, class: current_page?(settings_account_path) ? 'active' : nil
    %li= link_to 'Emails', settings_emails_path, class: current_page?(settings_emails_path) ? 'active' : nil
    %li= link_to 'Research Consents', settings_consents_path, class: current_page?(settings_consents_path) ? 'active' : nil
    %li= link_to 'Old Settings', account_path, style: 'color: orange'
