.col-12.col-md-3.col-xl-2.sidebar-wrapper
  .sidebar
    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse{ style: "background-color: transparent;" }
      .py-3.mx-3.my-0.ml-md-3.mb-md-3.mr-md-0
        %ul.sidebar-menu.sidebar-menu-shadow
          %li.sidebar-menu-header MyApnea
          %li= link_to "Dashboard", dashboard_path, class: current_page?(dashboard_path) ? "active" : nil
          %li= link_to "Research", slice_research_path, class: current_page?(slice_research_path) ? "active" : nil
          - if @project && @subject
            - if false
              %li.sidebar-menu-header= @project.name
            %li
              = link_to slice_overview_path(@project), class: "active" do
                = @project.name
            - if false
              - @subject.subject_events.reverse_each do |subject_event|
                %li
                  = link_to slice_surveys_path(@project), class: current_page?(slice_surveys_path(@project)) ? "active" : nil do
                    - if subject_event.complete?(@subject)
                      %i.fa.fa-check-square-o
                    - else
                      %i.fa.fa-square-o
                    = subject_event.name
            - if false
              %li
                = link_to slice_overview_report_path(@project), class: current_page?(slice_overview_report_path(@project)) ? "active" : nil do
                  %i.fa.fa-pie-chart
                  Report
          - if current_user
            %li.sidebar-menu-header Public
            %li= link_to "My profile", posts_member_path(current_user.username), class: current_page?(posts_member_path(current_user.username)) ? "active" : nil
