- content_for :tabs do
  - current_page = params[:controller].in?(%w(internal))
  = link_to dashboard_path, class: "link-unstyled d-inline-block px-3 pt-2 pb-2 rounded-top header-tab #{"border border-bottom-0 header-tab-active" if current_page}", data: { object: "#{"suppress-click" if current_page?(dashboard_path)}" } do
    %i.fa.fa-home
    Dashboard

  - current_page = params[:controller].in?(%w(slice))
  = link_to slice_research_path, class: "link-unstyled d-inline-block px-3 pt-2 pb-2 rounded-top header-tab #{"border border-bottom-0 header-tab-active" if current_page}", data: { object: "#{"suppress-click" if current_page?(slice_research_path)}" } do
    %i.fa.fa-files-o
    Surveys

  - current_page = params[:controller].in?(%w(settings))
  = link_to settings_profile_path, class: "link-unstyled d-inline-block px-3 pt-2 pb-2 rounded-top header-tab #{"border border-bottom-0 header-tab-active" if current_page}", data: { object: "#{"suppress-click" if current_page?(settings_profile_path)}" } do
    %i.fa.fa-cog
    Settings
