- @title = 'Dashboard'

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.drawer-and-shelf-container
  .drawer
    = render 'internal/menu'
  .shelf
    .dashboard-container
      .dashboard-title New Research Modules/Studies/Learn Things
      .dashboard-body
        %p= link_to 'Learn!', '#', data: { object: 'suppress-click' }, style: 'color: red;'

        %p= link_to 'MyApnea Core', question_path(id: 1)

        %p= link_to 'Yoga', yoga_path(id: 1)

        %p= link_to 'Themes', blue_path
