- @title = 'Settings'
- @menu_title = 'Email settings'
- @theme = 'night'

- content_for :body_class do
  myapnea-night-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

= render 'blank/moon'

.row
  .col-sm-3.col-sticky
    = render 'internal/settings_menu'
  .col-sm-9
    .dashboard-container
      .settings-title Emails

      .settings-body
        %p
          %strong Email

        %p.text-muted
          = current_user.email

        Email me: Yes No
        %br
        You selected:

        %strong= current_user.emails_enabled? ? 'Yes' : 'No'
