- @title = "Personal Timeline"

- @theme = "default"
- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("internal/sidebar")

.dashboard-container
  .profile-muted-description.text-center.mb-3
    Only you can see your timeline,
    = link_to "see your public profile here.", posts_member_path(current_user.username)
  .dashboard-title.text-center= Time.zone.today.strftime("%a %b %d, %Y")
  .dashboard-body
    %ul
      %li I did something.
      %li You followed someone.
      %li
        You joined the
        %strong Yoga
        study!
  %hr
  .dashboard-title.text-center Last Week
  .dashboard-body
    %ul
      %li You changed your username :-(
  %hr
  .dashboard-title.text-center= (Time.zone.today - 1.month).strftime("%b %Y")
  .dashboard-body
    %ul
      %li You joined!
      %li
        = link_to "Change my username", settings_profile_path
