.search-result
  .search-result-title
    = link_to broadcast_comment.broadcast.title, broadcast_comment
  .search-result-author
    Reply by
    = broadcast_comment.user.forum_name
    on
    %i= broadcast_comment.created_at.strftime '%B %-d, %Y'
    - if broadcast_comment.broadcast.category
      in
      = link_to broadcast_comment.broadcast.category.name, blog_category_path(category: broadcast_comment.broadcast.category)
  .search-result-body
    - terms = @search.split(' & ')
    - description = strip_tags(simple_markdown broadcast_comment.description, true, false).gsub(/\r/, ' ').gsub(/\n/, ' ')
    - description_array = description.split(/ /).reject(&:blank?)
    - @ranges = Broadcast.compute_ranges(description_array, terms)
    - @ranges.first(3).each_with_index do |(min, max), index|
      - if index == 0 && min != 0
        \...
      = highlight description_array[min..max].join(' '), terms.reject { |t| t.size < 3 }, highlighter: '<strong>\1</strong>'
      \...
