.search-container-relative
  .search-container{ class: params[:search].present? ? "search-container-visible" : nil }
    = form_tag url, method: :get, class: "form-vertical", enforce_utf8: false do
      = hidden_field_tag :order, params[:order] unless params[:order].blank?
      .form-group{ style: "margin: 0;" }
        .input-group
          = text_field_tag :search, params[:search], class: "form-control form-control-lg", placeholder: "Search #{@title}", autocomplete: "off", autofocus: true
          .input-group-append
            = link_to "#", class: "btn btn-lg btn-primary", data: { object: "submit-and-disable", target: "#search-form" } do
              %i.fa.fa-search

