- @title = "Help Center"

- @body = "grey"
- @footer = "grey"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

= form_tag search_path, method: :get, id: "search-form", class: "mb-5" do
  .input-group
    = text_field_tag :search, params[:search], class: "form-control form-control-lg", placeholder: "Start your search", autocomplete: "off", autofocus: true
    .input-group-append
      = link_to "#", class: "btn btn-lg btn-primary", data: { object: "submit-and-disable", target: "#search-form" } do
        %i.fa.fa-search

- if params[:search].present?
  - @highlight_found = true
  - if [0, 1].include?(params[:page].to_i)
    - if /consent/ =~ params[:search].to_s
      = render "search/highlights/consent"
    - else
      - @highlight_found = false
  - else
    - @highlight_found = false

  - if @search_documents.present?
    - @search_documents.each do |document|
      .dashboard-container
        - case document.searchable.class.to_s when "Broadcast"
          = render "search/broadcast", broadcast: document.searchable
        - when "Topic"
          = render "search/topic", topic: document.searchable
        - when "Reply"
          = render "search/reply", reply: document.searchable
    .center-horizontally= paginate @search_documents, theme: "bootstrap"
  - elsif @highlight_found
    -# Nothing
  - else
    %p.lead.text-center
      - if params[:search].present?
        No search results found.
        = link_to "Start over", search_path
      - else
        Type a search above.

- else
  .row
    .col-12.col-sm
      .dashboard-container
        %div.mb-3{ style: "font-size: 1.25rem;" } Top FAQs
        .small.mb-2= link_to "What is MyApnea?", article_path("what-is-myapnea"), class: "link-blend"
        .small.mb-2= link_to "How is MyApnea organized?", article_path("how-is-myapnea-organized"), class: "link-blend"
    .col-12.col-sm
      - articles = Broadcast.current.published.where(category: Admin::Category.find_by(slug: "research")).order(view_count: :desc).limit(5)
      .dashboard-container
        %div.mb-3{ style: "font-size: 1.25rem;" } Top Articles
        - articles.each do |broadcast|
          .small.mb-2= link_to broadcast.title, blog_post_path(broadcast.url_hash), class: "link-blend"
        = link_to "View all MyApnea articles", blog_path, class: "small link-accent"

  .row
    .col-12.col-sm
      .dashboard-container
        %div.mb-3{ style: "font-size: 1.25rem;" } Registration
        .small.mb-2= link_to "Who can join MyApnea?", article_path("who-can-join-myapnea"), class: "link-blend"
        .small.mb-2= link_to "How do I join MyApnea?", article_path("how-do-i-join-myapnea"), class: "link-blend"
        .small.mb-2= link_to "Why do I have to sign a consent form to participate in the research portal?", article_path("why-do-i-have-to-sign-a-consent-form-to-participate-in-the-research-portal"), class: "link-blend"
        - unless current_user
          .small.mb-2= link_to "Register an account", new_user_registration_path, class: "link-accent"



    .col-12.col-sm
      - articles = Broadcast.current.published.where(category: Admin::Category.find_by(slug: "research")).order(view_count: :desc).limit(5)
      .dashboard-container
        %div.mb-3{ style: "font-size: 1.25rem;" } Participating in the Research Portal
        .small.mb-2= link_to "What's expected of me if I join the research portal?", article_path("what-s-expected-of-me-if-i-join-the-research-portal"), class: "link-blend"
        .small.mb-2= link_to "What are the surveys about?", article_path("what-are-the-surveys-about"), class: "link-blend"
        .small.mb-2= link_to "How often do I take these surveys?", article_path("how-often-do-i-take-these-surveys"), class: "link-blend"
        - if project = Project.find_by(slug: "myapnea-core")
          .small.mb-2= link_to "View Consent", slice_consent_path(project), class: "link-accent"

  .row
    .col-12.col-sm
      .dashboard-container
        %div.mb-3{ style: "font-size: 1.25rem;" } Privacy and Security
        .small.mb-2= link_to "Is my data safe?", article_path("is-my-data-safe"), class: "link-blend"
        = link_to "View Privacy Policy", privacy_policy_path, class: "small link-accent"
    .col-12.col-sm
      - articles = Broadcast.current.published.where(category: Admin::Category.find_by(slug: "learn")).order(view_count: :desc).limit(5)
      .dashboard-container
        %div.mb-3{ style: "font-size: 1.25rem;" } Education
        - articles.each do |broadcast|
          .small.mb-2= link_to broadcast.title, blog_post_path(broadcast.url_hash), class: "link-blend"
        = link_to "View all Education articles", blog_category_path("learn"), class: "small link-accent"
