- @title = ['Search', @search.gsub(' & ', ' ')].compact.join(' | ')

.content-main-header2
  %h1
    Search
    = ENV['website_name']

.row
  .col-sm-9
    - if @search_documents.count > 0
      - @search_documents.each do |document|
        - case document.searchable.class.to_s when 'Broadcast'
          = render 'search/broadcast', broadcast: document.searchable
        - when 'Topic'
          = render 'search/topic', topic: document.searchable
        - when 'Reply'
          = render 'search/reply', reply: document.searchable
      .centered= paginate @search_documents, theme: 'bootstrap'
    - else
      .centered
        = image_tag 'myapnea/user_types/role_confused.png'
      %p.lead.centered.text-muted
        No Search Results Found
      %p.lead.centered
        You may modify your search or return to
        = succeed '.' do
          = link_to 'our blog', blog_path
  .col-sm-3.col-buffer
    = render 'blog/menu'
