.survey-report-container.panel
  = render partial: 'surveys/reports/question_and_user_answer', locals: { survey: @survey, question_slug: 'origin-country', encounter: 'baseline'}
  .survey-report-info
    %p.lead
      The global MyApnea community:
    %div{ style: "height: 500px; min-width: 310px; max-width: 600px; margin: 0 auto", data: { object: 'draw-world-map', membership: Map.countries_for_map.to_json } }

.survey-report-container.panel
  = render partial: 'surveys/reports/question_and_user_answer', locals: { survey: @survey, question_slug: 'family-diagnoses', encounter: 'baseline', skip_answer: true}
  - if Report.family_diagnostic_answer('baseline', current_user).present?
    .survey-report-answer
      %p
        Your answer:
        %span.f500= Report.family_diagnostic_answer('baseline', current_user)
  .survey-report-info
    .row
      .col-sm-2
      .col-sm-2.col-xs-6
        %p.lead
          Mother:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[0] + '%'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/female_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6
        %p.lead
          Father:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[1] + '%'
      .col-sm-2
    .row
      .col-sm-2.col-sm-offset-1.col-xs-6
        %p.lead
          Sister:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[3] + '%'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/female_color.png', class: 'img-responsive'
      .col-sm-2.hidden-xs= image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive hidden'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6
        %p.lead
          Brother:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[2] + '%'
    .row
      .col-sm-2
      .col-sm-2.col-xs-6
        %p.lead
          Daughter:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[5] + '%'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/female_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6
        %p.lead
          Son:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[4] + '%'
      .col-sm-2
    %p.lead
      You are more likely to have sleep apnea if another family member also has the condition. For example, if your mother is being treated for sleep apnea and you've inherited her narrow jaw, you may also develop sleep apnea. Researchers examine family patterns for diseases in order to better understand the underlying causes of those diseases and also to help health care providers better detect, diagnose, and treat sleep apnea.

