- @active_top_nav_link = :participate

.row.reset-layout{ style: 'background-color: rgb(207, 226, 248)'}
  - question = @survey.questions.where(slug: 'sex').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  - table_data = Report.about_me_sex
  .col-md-12.centered-text.lighterer-blue-bcg
    %h3.f500.text-dark7= question.text
    %p.lead.text-dark6= "Your answer: #{answer.show_value}"
    .row.reset-layout
      .col-xs-3.col-xs-offset-3
        = image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive'
        %p.lead= "#{table_data["1"]["answer_option_text"]}: #{table_data["1"]["frequency"].round}%"
      .col-xs-3
        = image_tag 'myapnea/surveys/about-me/female_color.png', class: 'img-responsive'
        %p.lead= "#{table_data["2"]["answer_option_text"]}: #{table_data["2"]["frequency"].round}%"


  - question = @survey.questions.where(slug: 'sex').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  - table_data = Report.about_me_sex
  .col-md-12.centered-text
    %h3.f400.text-dark7= question.text
    %p.lead.text-dark6= "Your answer: #{answer.show_value}"
    .row.reset-layout
      .col-xs-4
        = image_tag 'myapnea/surveys/about-me/americas_highlighted.png', class: 'img-responsive'
        %p.lead
          American Indian or Alaskan Native: 30%
      .col-xs-4
        = image_tag 'myapnea/surveys/about-me/asia_highlighted.png', class: 'img-responsive'
        %p.lead
          Asian: 30%
      .col-xs-4
        = image_tag 'myapnea/surveys/about-me/africa_highlighted.png', class: 'img-responsive'
        %p.lead
          Black or African American: 20%
    .row.reset-layout
      .col-xs-4.col-xs-offset-2
        = image_tag 'myapnea/surveys/about-me/pacific_islands_highlighted.png', class: 'img-responsive'
        %p.lead
          Native Hawaiian or Other Pacific Islander: 10%
      .col-xs-4
        = image_tag 'myapnea/surveys/about-me/europe_highlighted.png', class: 'img-responsive'
        %p.lead
          White: 80%

  - question = @survey.questions.where(slug: 'sex').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  - table_data = Report.about_me_sex
  .col-md-12.centered-text.lighterer-blue-bcg
    %h3.f400.text-dark7 Are you of Hispanic, Latino, or Spanish origin or ancestry?
    %p.lead.text-dark6 Your answer: No
    .row.reset-layout
      .col-xs-6
        %h1.cabin-sketch.text-light8 Yes
        %p.lead Yes: 30%
      .col-xs-6
        %h1.cabin-sketch.text-light8 No
        %p.lead No: 30%

  - question = @survey.questions.where(slug: 'sex').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  - table_data = Report.about_me_sex
  .col-md-12.centered-text
    %h3.f400.text-dark7 What is your education level?
    %p.lead.text-dark6 Your answer:
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education1_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: 8th grade or less
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education2_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: Some high school, but did not graduate
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education3_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: High school graduate or GED
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education4_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: Some college or 2-year degree
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education5_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: 4-year college degree
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education6_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: More than 4-year college degree

  - question = @survey.questions.where(slug: 'sex').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  - table_data = Report.about_me_sex
  .col-md-12.centered-text.lighterer-blue-bcg
    %h3.f400.text-dark7= question.text
    %p.lead.text-dark6= "Your answer: #{answer.show_value}"
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill1.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          = "#{table_data["1"]["frequency"].round}%: #{table_data["1"]["answer_option_text"]}: "
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill2.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          = "#{table_data["2"]["frequency"].round}%: #{table_data["2"]["answer_option_text"]}: "
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill3.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          = "#{table_data["3"]["frequency"].round}%: #{table_data["3"]["answer_option_text"]}: "
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill4.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          = "#{table_data["4"]["frequency"].round}%: #{table_data["4"]["answer_option_text"]}: "
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill5.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          = "#{table_data["5"]["frequency"].round}%: #{table_data["5"]["answer_option_text"]}: "
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill5.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          = "#{table_data["6"]["frequency"].round}%: #{table_data["6"]["answer_option_text"]}: "

















































