.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 In what country were you born in?
  - if @answer_session.present?
    .survey-report-answer
      %p
        Your answer:
        %span.f500= Report.country_of_origin_answer('baseline', current_user)
  .survey-report-info
    %p.lead
      The global MyApnea community:
    %div{ style: "height: 500px; min-width: 310px; max-width: 600px; margin: 0 auto", data: { object: 'draw-world-map', membership: Map.countries_for_map.to_json } }

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 Have any of your biological family members been diagnosed with sleep apnea?
  - if @answer_session.present?
    .survey-report-answer
      %p
        Your answer:
        %span.f500= Report.family_diagnostic_answer('baseline', current_user)
  .survey-report-info
    .row
      .col-sm-2
      .col-sm-2.col-xs-6
        %p.lead
          Mother:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[0] + '%'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/female_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6
        %p.lead
          Father:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[1] + '%'
      .col-sm-2
    .row
      .col-sm-2.col-sm-offset-1.col-xs-6
        %p.lead
          Sister:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[3] + '%'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/female_color.png', class: 'img-responsive'
      .col-sm-2.hidden-xs= image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive hidden'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6
        %p.lead
          Brother:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[2] + '%'
    .row
      .col-sm-2
      .col-sm-2.col-xs-6
        %p.lead
          Daughter:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[5] + '%'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/female_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6= image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive'
      .col-sm-2.col-xs-6
        %p.lead
          Son:
          %br
          %span.f500.darkerer-blue= "%0.2f" % Report.family_diagnostic_data[4] + '%'
      .col-sm-2
    %p.lead
      You are more likely to have sleep apnea if another family member also has the condition. It's not that you have a genetic predisposition to developing sleep apnea, the way that specific types of cancer may run in families. Instead, it's likely that you've inherited certain aspects of your physical makeup, such as a narrow jaw, that may increase your sleep apnea risk.
      %br
      %br
      Also your ancestry, where your relatives come from, may also determine certain physical features that may increase your risk of developing sleep apnea. Researchers examine these factors in order to help health care providers better detect and diagnose sleep apnea in the population and also determine what treatments may be most effective for certain groups.

