- @active_top_nav_link = :participate

.survey-report-container.panel
  - bmi = Report.bmi('baseline', current_user)
  .survey-report-question.rounded-top
    %h3 Based on your height and weight, we are able to calculate your body mass index (BMI).
  .survey-report-answer
    %p
      Your height:
      %span.f500= "#{Report.height('baseline', current_user)} inches"
    %p
      Your weight:
      %span.f500= "#{Report.weight('baseline', current_user)} pounds"
  .survey-report-info
    %p.lead
      Your BMI:
      %br
      %span.report-statistic= "%0.2f" % bmi
    - if bmi < 25
      %p.lead
        A BMI between 18 and 25 puts you in the
        %span.f500.primary-orange 'normal weight'
        category. Research has shown that people in this category are the least likely to develop severe obstructive sleep apnea, and more typically have mild or moderate OSA.
    - elsif bmi < 35
      %p.lead
        A BMI between 25 and 35 puts you in the
        %span.f500.primary-orange 'overweight'
        category. Research has shown that people who are overweight are more likely to develop moderate or severe obstructive sleep apnea.
    - elsif bmi < 100
      %p.lead
        A BMI above 35 puts you in the
        %span.f500.primary-orange 'obese'
        category. Research has shown that people who are obese are most likely to develop severe obstructive sleep apnea.
    %p.lead
      To learn more about the link between BMI and sleep apnea severity, visit
      = link_to 'our BMI research tool.', sleep_apnea_and_bmi_path
