- @active_top_nav_link = :participate

.survey-report-container.panel
  - question = @survey.questions.where(slug: 'marital-status').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  .survey-report-question.rounded-top
    %h3= question.text
  .survey-report-answer
    %p
      Your answer
      %span.f500= answer.show_value
  .survey-report-info
    - data_array = Report.current_marital_status_data
    #marital-status{ data: { object: 'd3-report', question: 'marital-status', array: "#{data_array}" } }

.survey-report-container.panel
  - question = @survey.questions.where(slug: 'daily-activities').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  .survey-report-question.rounded-top
    %h3= question.text
  .survey-report-answer
    %p
      Your answer:
      %span.f500= answer.show_value
  .survey-report-info
    - data_array = Report.daily_activities_data
    #daily-activities{ data: { object: 'd3-report', question: 'daily-activities', array: "#{data_array}" } }

.survey-report-container.panel
  - question = @survey.questions.where(slug: 'affording-basics').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  .survey-report-question.rounded-top
    %h3= question.text
  .survey-report-answer
    %p
      Your answer:
      %span.f500= answer.show_value
  .survey-report-info
    - data_array = Report.affording_basics_data
    #difficulty-affording-basics{ data: { object: 'd3-report', question: 'difficulty-paying-basics', array: "#{data_array}" } }
