- @active_top_nav_link = :participate

.survey-report-container.panel
  - question = @survey.questions.where(slug: 'marital-status').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  - table_data = Report.frequency_data('marital-status', 1..6)
  .survey-report-question.rounded-top
    %h3= question.text
  .survey-report-answer
    %p
      %span.f500= "Your answer: #{answer.show_value}"
  .survey-report-info
    #marital-status{ data: { object: 'd3-report', question: 'marital-status' } }

.survey-report-container.panel
  - question = @survey.questions.where(slug: 'daily-activities').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  - table_data = Report.frequency_data('daily-activities', 1..9)
  .survey-report-question.rounded-top
    %h3= question.text
  .survey-report-answer
    %p= "Your answer: #{answer.show_value}"
  .survey-report-info
    #daily-activities{ data: { object: 'd3-report', question: 'daily-activities' } }

.survey-report-container.panel
  - question = @survey.questions.where(slug: 'affording-basics').first
  - answer = @answer_session.answers.where(question_id: question.id).first
  - table_data = Report.frequency_data('affording-basics', 1..4)
  .survey-report-question.rounded-top
    %h3= question.text
  .survey-report-answer
    %p= "Your answer: #{answer.show_value}"
  .survey-report-info
    #difficulty-paying-basics{ data: { object: 'd3-report', question: 'difficulty-paying-basics' } }
