- @active_top_nav_link = :participate
.content-main-header
  %h1 Survey Results
.panel
  .panel-body
    - if current_user.is_nonacademic? and !current_user.provider?
      - if @survey and @survey.complete?(current_user)
        %h3.f400 Thank you for completing the survey!
        %h5.f400.lighter-blue{style: 'margin-bottom:30px;'} Congratulations, you have received one entry into the next monthly drawing!
        %h4.f300.spaced Now take some time to review your answers and see how they compare to other members of the community. If you want to continue the discussion, bring any questions or concerns to the forums to hear from doctors, researchers, and other people with sleep apnea.
      - else
        %h3.f400 Oops! Looks like you haven't completed this survey yet.
        %h4.f300
          Return to the
          = link_to 'survey page', survey_path(@survey)
          to work on this survey!
    - elsif (current_user.is_only_academic?) and current_user.ready_for_research?
      %h3.f300{style: 'margin-bottom:30px;'}
        Welcome to the data viewer for the
        %span.darker-blue= @survey.name
        survey!
      %h4.f300
        Please only use this data in accordance with our
        = link_to('Terms of Access', terms_of_access_path) + '.'
    - else
      -# TODO test that this can be removed once consent paths are finalized
      %h3.f300{style: 'margin-bottom:30px;'}
        Oops! Looks like you're not able to access this data right now.
      %h4.f300
        You must read and accept the
        = link_to('Terms of Access', terms_of_access_path) + '.'

  .panel-footer.f400
    We would love your feedback
    %a.u-voice.primary-blue Get in touch with us.

-# TODO test that this can be removed once consent paths are finalized
- unless (current_user.is_only_academic?) and !current_user.ready_for_research?
  - if @survey
    - answer_session = AnswerSession.most_recent(@survey.id, current_user.id)
    - all_answer_frequencies = @survey.survey_answer_frequencies
    - @survey.ordered_questions.each do |question|
      - question_answer_frequencies = all_answer_frequencies.where(question_id: question.id) #select {|af| af.question_id == question.id} #@survey.survey_answer_frequencies.where(question_id: question.id)
      - if question_answer_frequencies.present?
        = render partial: 'surveys/reports/question_text', locals: {question: question}
        - question.answer_templates.each do |answer_template|
          - answer_frequencies = question_answer_frequencies.where(answer_template_id: answer_template.id)
          - if answer_frequencies.present?
            - answer_value = answer_session.user.answer_for(answer_session, question).answer_values.where(answer_template_id: answer_template.id).first if answer_session.user.answer_for(answer_session, question)
            = render partial: 'surveys/reports/question_and_answer', locals: { survey: @survey, question: question, answer_template: answer_template, answer_value: answer_value, answer_session: @answer_session, answer_frequencies: answer_frequencies}
    -# Select next survey for completion
    - next_survey = current_user.next_survey(@survey)
    - continue_path = next_survey.present? ? survey_path(next_survey) : surveys_path
    .row.reset-layout
      .panel.lighterer-blue-bcg
        .panel-body
          %h3.f300.centered-text.text-dark7{ style: 'margin-bottom: 20px;' }
            Congratulations on finishing this survey - you're doing great!
          = link_to "Click here to continue", continue_path, class: "btn btn-primary btn-lg btn-block", style: 'width: 70%; margin: 10px auto;'
