.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 Sleep Apnea Treatments
  .survey-report-answer
  .survey-report-info
    %p.lead The following displays full summaries of sleep apnea treatment options, as reported by members of MyApnea. The treatments are ordered by popularity.
    - Report.current_treatment_popularity('baseline').each do |treatment|
      - stats = Report.treatment_stats('baseline', treatment["value"].to_i)
      .row
        .col-xs-11.col-xs-offset-1.text-left
          %h3.f500.darkerer-blue
            = treatment["answer_option_text"]
        .col-xs-8.col-xs-offset-2.text-left
          %h4
            Used by
            %span.primary-orange= "#{treatment["frequency"].round(1)}%"
            of members currently.
        - unless stats[:used_treatment].nan?
          .col-xs-8.col-xs-offset-2.text-left
            %h4.f500
              Used by
              %span.primary-orange= "#{stats[:used_treatment].round(1)}%"
              of members at some point.
        - unless stats[:satisfaction].nan?
          .col-xs-8.col-xs-offset-2.text-left
            %h4
              Average satisfaction:
              %span.f300.darker-blue= "#{stats[:satisfaction].round(1)}%"
        - if stats[:helped_most].present?
          .col-xs-8.col-xs-offset-2.text-left
            %h4
              Helped the most with:
              %span.f300.darker-blue= "#{stats[:helped_most]}"
        - if stats[:helped_least].present?
          .col-xs-8.col-xs-offset-2.text-left
            %h4
              Helped the least with:
              %span.f300.darker-blue= "#{stats[:helped_least]}"
