- @active_top_nav_link = :participate

.row.reset-layout{ style: 'background-color: rgb(207, 226, 248)'}
  - question = @survey.ordered_questions.where(slug: 'age-of-diagnosis').first
  .col-md-12.centered-text
    %h3.f500.text-dark7= question.text
    .row
      .col-sm-6
        %p.lead Average age of diagnosis:
        %h1.primary-orange.cabin-sketch= Report.median_age_of_diagnosis('baseline')
      .col-sm-6
        %p.lead Your age of diagnosis:
        %h1.primary-orange.cabin-sketch= "#{@answer_session.answers.where(question_id: question.id).first.show_value}"
    #age-of-diagnosis.hidden{ data: { object: 'd3-report', question: 'age-of-diagnosis' } }
  .col-md-12.centered-text.lighterer-blue-bcg
    - question = @survey.ordered_questions.where(slug: 'apnea-before-diagnosis').first
    %h3.f500.text-dark7= question.text
    %p.lead= "Your answer: #{@answer_session.answers.where(question_id: question.id).first.show_value}"
    .row
      .col-sm-6.col-sm-offset-3
        %p.lead Percentage of MyApnea members who think they had sleep apnea for over 2 years:
        %h1.primary-orange.cabin-sketch= "#{Report.percent_length_before_diagnosis('baseline').round(1)}%"
  .col-md-12.centered-text
    %h3.f500.text-dark7 Most common symptoms for MyApnea members

    - Report.symptoms_before_diagnosis.each do |symptom|
      .row
        .col-sm-2.col-sm-offset-1
          %h1.primary-orange.cabin-sketch{ style: 'margin-top: 0px'}= "#{symptom[:freq].round(1)}%"
        .col-sm-8
          %p.lead.text-left
            of members report that
            %span.darkerer-blue= symptom[:text]
            caused them to be evaluated for sleep apnea, with this symptom lasting for an average of
            %span.darker-blue= symptom[:median]
            before diagnosis.
            %span.primary-orange.cabin-sketch= "#{symptom[:above_year].round(1)}%"
            of MyApnea users report experiencing this symptom for at least one year before diagnosis.

  .col-md-12.centered-text
    - question = @survey.ordered_questions.where(slug: 'diagnostic-study').first
    %h3.f500.text-dark7= question.text
    %p.lead= "Your answer: #{@answer_session.answers.where(question_id: question.id).first.show_value}"
    - stats = Report.sleep_test_stats
    .row
      .col-sm-6
        %h3.f300 Home Sleep Tests
        %p.lead Used by
        %h1.primary-orange.cabin-sketch= "#{stats[:home_percent].round(1)}%"
        %p.lead of MyApnea members
        %br
        %p.lead
          %span.darkerer-blue= "#{stats[:home_sat_percent].round(1)}%"
          of these members report satisfaction with their test
      .col-sm-6
        %h3.f300 Sleep Tests in a Sleep Lab/Center
        %p.lead Used by
        %h1.primary-orange.cabin-sketch= "#{stats[:center_percent].round(1)}%"
        %p.lead of MyApnea members
        %br
        %p.lead
          %span.darkerer-blue= "#{stats[:center_sat_percent].round(1)}%"
          of these members report satisfaction with their test

