.content-container
  .survey-report-question
    %h3 Sleep Apnea Treatments
  .survey-report-info
    %p.lead The following displays full summaries of sleep apnea treatment options, as reported by members of MyApnea. The treatments are ordered by popularity.
    - question = @survey.questions.find_by_slug('types-of-treatments')
    - question2 = @survey.questions.find_by_slug('satisfaction-with-treatments')
    - question.answer_templates.unarchived.where(template_name: ['radio', 'checkbox']).each do |answer_template|
      - range = (2..14)
      - answer_option_counts = TemporaryReport.answer_option_counts(@survey, question, answer_template, encounter: @encounter, range: range)

      - range.each do |answer_option_value|
        - ri = ReportItem.new(answer_option_counts, answer_template, answer_option_value)
        - (percent_use, avg_sat, helped_most, helped_least) = TemporaryReport.treatment_popularity(@survey, question2, answer_option_value, encounter: @encounter)

        .row
          .col-xs-11.col-xs-offset-1.text-left
            %h3.f500.darkerer-blue
              = ri.answer_option.text
          .col-xs-8.col-xs-offset-2.text-left
            %h4
              Used by
              %span.primary-orange= ri.percent
              of members currently.
          .col-xs-8.col-xs-offset-2.text-left
            %h4.f500
              Used by
              %span.primary-orange= "#{percent_use.round(1)}%"
              of members at some point.
          .col-xs-8.col-xs-offset-2.text-left
            %h4
              Average satisfaction:
              %span.f300.darker-blue= "#{avg_sat.round(1)}%"
