- @active_top_nav_link = :participate

.survey-report-container.panel
  .survey-report-question.rounded-top
    - question = @survey.ordered_questions.where(slug: 'age-of-diagnosis').first
    %h3= question.text
  .survey-report-answer
    %p.lead
      Your answer:
      %span.f500= @answer_session.answers.where(question_id: question.id).first.show_value
  .survey-report-info
    %p.lead Average age of diagnosis:
    %h1.report-statistic= Report.median_age_of_diagnosis('baseline')

.survey-report-container.panel
  .survey-report-question.rounded-top
    - question = @survey.ordered_questions.where(slug: 'apnea-before-diagnosis').first
    %h3= question.text
  .survey-report-answer
    %p
      Your answer:
      %span.f500= @answer_session.answers.where(question_id: question.id).first.show_value
  .survey-report-info
    %p.lead Percentage of MyApnea members who think they had sleep apnea for over 2 years:
    %h1.report-statistic= "#{Report.percent_length_before_diagnosis('baseline').round(1)}%"

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 What symptoms have you experienced?
  .survey-report-answer
    %p.lead
      Your symptoms include:
      %span.f500= "Tiredness, Fatigue"
  .survey-report-info
    %h3 The most common symptoms for MyApnea members:
    - Report.symptoms_before_diagnosis.each do |symptom|
      %br
      .row
        .col-sm-3
          %h1.report-statistic= "#{symptom[:freq].round(1)}%"
        .col-sm-9
          %p.lead.text-left
            of members report that
            %span.darkerer-blue.f500= symptom[:text]
            caused them to be evaluated for sleep apnea, with this symptom lasting for an average of
            %span.darker-blue= symptom[:median]
            before diagnosis.
            %span.primary-orange= "#{symptom[:above_year].round(1)}%"
            of MyApnea users report experiencing this symptom at least one year before diagnosis.

.survey-report-container.panel
  .survey-report-question.rounded-top
    %h3 What type of sleep study did you have when first diagnosed with sleep apnea?
  .survey-report-answer
    %p
      Your answer:
      %span.f500= "A sleep study in a sleep lab/center"
  .survey-report-info
    .row
      .col-xs-6
        %h3.f300 Sleep Tests at Home
      .col-xs-6
        %h3.f300 Sleep Tests in a Sleep Lab
    %br
    .row
      .col-xs-6
        %p.lead Used by
        %h1.report-statistic= "37%"
        %p.lead of MyApnea members
        %br
        %p.lead
          %span.darkerer-blue= "38%"
          of these members report satisfaction with their test
      .col-xs-6
        %p.lead Used by
        %h1.report-statistic= "63%"
        %p.lead of MyApnea members
        %br
        %p.lead
          %span.darkerer-blue= "72%"
          of these members report satisfaction with their test

