.content-container
  = render 'surveys/reports/question_and_user_answer', survey: @survey, question_slug: 'age-of-diagnosis'
  .survey-report-info
    %p.lead Average age of diagnosis:
    - question = @survey.questions.find_by_slug('age-of-diagnosis')
    - answer_template = question.first_radio_or_checkbox_answer_template if question
    - median = TemporaryReport.get_median_report_item(@survey, question, answer_template, encounter: @encounter, range: 1..7)
    %h1.report-statistic= median.answer_option.text if median

.content-container
  = render 'surveys/reports/question_and_user_answer', survey: @survey, question_slug: 'apnea-before-diagnosis'
  .survey-report-info
    %p.lead Percentage of MyApnea members who think they had sleep apnea for over 2 years:
    - question = @survey.questions.find_by_slug('apnea-before-diagnosis')
    - answer_template = question.first_radio_or_checkbox_answer_template if question
    - answer_option_counts = TemporaryReport.answer_option_counts(@survey, question, answer_template, encounter: @encounter, range: 1..6)
    - ri = ReportItem.new(answer_option_counts, answer_template, 6)
    %h1.report-statistic= ri.percent

.content-container
  .survey-report-question
    %h3 What symptoms have you experienced?
  - my_risk_symptoms = TemporaryReport.risk_symptoms(@answer_session, 'symptoms-before-diagnosis').collect { |ao| ao.answer_templates.first.text }
  - if my_risk_symptoms.count > 0
    .survey-report-answer
      %p.lead
        Your symptoms include:
        %span.f500= my_risk_symptoms.join(', ')
  .survey-report-info
    %h3 The most common symptoms for MyApnea members:
    - question = @survey.questions.find_by_slug('symptoms-before-diagnosis')
    = render 'surveys/reports/sleep_apnea_symptoms_statistics', question: question

.content-container
  = render 'surveys/reports/question_and_user_answer', survey: @survey, question_slug: 'diagnostic-study'
  .survey-report-info
    - question = @survey.questions.find_by_slug('diagnostic-study')
    - answer_template = question.first_radio_or_checkbox_answer_template if question
    - answer_option_counts = TemporaryReport.answer_option_counts(@survey, question, answer_template, encounter: @encounter, range: 1..2)
    - ri1 = ReportItem.new(answer_option_counts, answer_template, 1)
    - ri2 = ReportItem.new(answer_option_counts, answer_template, 2)


    - home_satisifaction_percent = TemporaryReport.satistification_percent_by_study(@survey, 1, encounter: @encounter)
    - center_satisifaction_percent = TemporaryReport.satistification_percent_by_study(@survey, 2, encounter: @encounter)

    .row
      .col-xs-6.centered
        %h3.f300 Home Sleep Tests
      .col-xs-6.centered
        %h3.f300 Lab Sleep Tests
    %br
    .row
      .col-xs-6.centered
        %p.lead Used by
        %h1.report-statistic= ri1.percent
        %p.lead of MyApnea members
        %br
        %p.lead.text-left
          %span.darkerer-blue= home_satisifaction_percent
          of these members report satisfaction with their test.
      .col-xs-6.centered
        %p.lead Used by
        %h1.report-statistic= ri2.percent
        %p.lead of MyApnea members
        %br
        %p.lead.left
          %span.darkerer-blue= center_satisifaction_percent
          of these members report satisfaction with their test.

