- question.answer_templates.unarchived.where(template_name: ['radio', 'checkbox']).each do |answer_template|
  - median = TemporaryReport.get_median_report_item(@survey, question, answer_template, encounter: @encounter, range: 1..5)

  - answer_option_counts = TemporaryReport.answer_option_counts(@survey, question, answer_template, encounter: @encounter, range: 1..6)
  - ri1 = ReportItem.new(answer_option_counts, answer_template, 1)
  - ri2 = ReportItem.new(answer_option_counts, answer_template, 2)
  - ri3 = ReportItem.new(answer_option_counts, answer_template, 3)
  - ri4 = ReportItem.new(answer_option_counts, answer_template, 4)
  - ri5 = ReportItem.new(answer_option_counts, answer_template, 5)
  - all_ri = [ri1, ri2, ri3, ri4, ri5]

  %br
  .row
    .col-sm-3
      %h1.report-statistic= "#{all_ri.collect{|ri| ri.percent_number}.sum.round(1)}%"
    .col-sm-9
      %p.lead.text-left
        of members report experiencing
        = succeed ',' do
          %span.darkerer-blue.f500= answer_template.text
        with this symptom lasting for an average of
        = succeed '.' do
          %span.darker-blue= median.answer_option.text if median
        %span.primary-orange
          = "#{(ri2.percent_number + ri3.percent_number + ri4.percent_number + ri5.percent_number).round(1)}%"
        of MyApnea users report experiencing this symptom at least one year before diagnosis.
