- question.answer_templates.where(template_name: ['radio', 'checkbox']).each do |answer_template|
  - median = TemporaryReport.get_median_report_item(@survey, question, answer_template, encounter: @encounter, range: 1..4)

  - answer_option_counts = TemporaryReport.answer_option_counts(@survey, question, answer_template, encounter: @encounter, range: 1..5)
  - ri1 = ReportItem.new(answer_option_counts, answer_template, 1)
  - ri2 = ReportItem.new(answer_option_counts, answer_template, 2)
  - ri3 = ReportItem.new(answer_option_counts, answer_template, 3)
  - ri4 = ReportItem.new(answer_option_counts, answer_template, 4)
  - all_ri = [ri1, ri2, ri3, ri4]

  %br
  .row
    .col-sm-3
      %h1.report-statistic= "#{all_ri.collect{|ri| ri.percent_number}.sum.round(1)}%"
    .col-sm-9
      %p.lead.text-left
        of members report that
        %span.darkerer-blue.f500= answer_template.text
        caused them to be evaluated for sleep apnea, with this symptom lasting for an average of
        %span.darker-blue= median.answer_option.text if median
        before diagnosis.
        %span.primary-orange= ri4.percent
        of MyApnea users report experiencing this symptom at least one year before diagnosis.
