- @active_top_nav_link = :participate

.row.reset-layout{ style: 'background-color: rgb(207, 226, 248)'}
  .col-md-12.centered-text.lighterer-blue-bcg
    %h3.f500.text-dark7 What is your sex?
    %p.lead.text-dark6 Your answer: Male
    .row.reset-layout
      .col-xs-3.col-xs-offset-3
        = image_tag 'myapnea/surveys/about-me/male_color.png', class: 'img-responsive'
        %p.lead
          Male: 54%
      .col-xs-3
        = image_tag 'myapnea/surveys/about-me/female_color.png', class: 'img-responsive'
        %p.lead
          Female: 46%
  .col-md-12.centered-text
    %h3.f400.text-dark7 What is your racial background?
    %p.lead.text-dark6 Your answer:
    .row.reset-layout
      .col-xs-4
        = image_tag 'myapnea/surveys/about-me/americas_highlighted.png', class: 'img-responsive'
        %p.lead
          American Indian or Alaskan Native: 30%
      .col-xs-4
        = image_tag 'myapnea/surveys/about-me/asia_highlighted.png', class: 'img-responsive'
        %p.lead
          Asian: 30%
      .col-xs-4
        = image_tag 'myapnea/surveys/about-me/africa_highlighted.png', class: 'img-responsive'
        %p.lead
          Black or African American: 20%
    .row.reset-layout
      .col-xs-4.col-xs-offset-2
        = image_tag 'myapnea/surveys/about-me/pacific_islands_highlighted.png', class: 'img-responsive'
        %p.lead
          Native Hawaiian or Other Pacific Islander: 10%
      .col-xs-4
        = image_tag 'myapnea/surveys/about-me/europe_highlighted.png', class: 'img-responsive'
        %p.lead
          White: 80%
  .col-md-12.centered-text.lighterer-blue-bcg
    %h3.f400.text-dark7 Are you of Hispanic, Latino, or Spanish origin or ancestry?
    %p.lead.text-dark6 Your answer: No
    .row.reset-layout
      .col-xs-6
        %h1.cabin-sketch.text-light8 Yes
        %p.lead Yes: 30%
      .col-xs-6
        %h1.cabin-sketch.text-light8 No
        %p.lead No: 30%
  .col-md-12.centered-text
    %h3.f400.text-dark7 What is your education level?
    %p.lead.text-dark6 Your answer:
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education1_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: 8th grade or less
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education2_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: Some high school, but did not graduate
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education3_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: High school graduate or GED
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education4_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: Some college or 2-year degree
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education5_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: 4-year college degree
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/education6_color.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: More than 4-year college degree
  .col-md-12.centered-text.lighterer-blue-bcg
    %h3.f400.text-dark7 Last year, what was your total household income from all sources, before taxes?
    %p.lead.text-dark6 Your answer: Prefer not to answer
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill1.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: Less than $10,000 (USD)
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill2.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: $10,000 - $49,999
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill3.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: $50,000 - $99,999
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill4.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: $100,000 - $149,999
    .row.reset-layout{ style: 'margin: 40px 0'}
      .col-xs-2.col-sm-offset-1
        = image_tag 'myapnea/surveys/about-me/dollar_bill5.png', class: 'img-responsive'
      .col-xs-8
        %h4.f300.text-left
          12%: $150,000 or more

















































