= form_for @admin_clinical_trial, html: { class: 'form-horizontal' } do |f|
  - if @admin_clinical_trial.errors.any?
    #error_explanation
      %h2
        = pluralize(@admin_clinical_trial.errors.count, "error")
        prohibited this admin_clinical_trial from being saved:
      %ul
        - @admin_clinical_trial.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :title, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :overview, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :overview, class: 'form-control'
  .form-group
    = f.label :description, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :eligibility, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_area :eligibility, class: 'form-control'
  .form-group
    = f.label :phone, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :phone, class: 'form-control'
  .form-group
    = f.label :email, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :link, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :link, class: 'form-control'
  .form-group
    = f.label :displayed, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.check_box :displayed
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
