- @title = "Edit Clinical Trial: #{@admin_clinical_trial.title_was}"

.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = link_to 'Clinical Trials', admin_clinical_trials_path
    &middot;
    = link_to @admin_clinical_trial.title_was, @admin_clinical_trial
    &middot;
    Edit

= render 'form'
