.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    Clinical Trials

= link_to 'New Clinical Trial', new_admin_clinical_trial_path, class: 'btn btn-primary'
= link_to 'Edit Order', order_admin_clinical_trials_path, class: 'btn btn-default'

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Overview
      %th Email
      %th Displayed
      %th Industry Sponsored
      %th Actions
  %tbody
    - @admin_clinical_trials.each do |admin_clinical_trial|
      %tr
        %td= link_to admin_clinical_trial.title, admin_clinical_trial
        %td= admin_clinical_trial.overview
        %td= admin_clinical_trial.email
        %td.text-center= simple_check admin_clinical_trial.displayed
        %td.text-center= simple_check admin_clinical_trial.industry_sponsored
        %td.nowrap
          = link_to 'Edit', edit_admin_clinical_trial_path(admin_clinical_trial), class: 'btn btn-xs btn-default'
          = link_to 'Destroy', admin_clinical_trial, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
