.content-main-header
  .container
    %h1 Order Clinical Trials
    %p= link_to 'Back', admin_clinical_trials_path

.container
  .content-container
    .list-group
      - @admin_clinical_trials.count.times do |cti|
        - if @admin_clinical_trials.where(position: cti).present?
          - @admin_clinical_trials.where(position: cti).each_with_index do |ct, ctpi|
            .list-group-item{ class: "#{'list-group-item-warning' if ctpi > 0}"}
              .pull-left
                = ct.title
              .pull-right
                = cti
                = link_to '^', admin_clinical_trial_path(ct, admin_clinical_trial: { position: ct.position-1 }, redirect_back: 'true'), method: :patch
                = link_to 'v', admin_clinical_trial_path(ct, admin_clinical_trial: { position: ct.position+1 }, redirect_back: 'true'), method: :patch
              .clearfix
        - else
          .list-group-item.list-group-item-danger
            .pull-right
              = cti
            .clearfix
      - @admin_clinical_trials.where("position > ?", @admin_clinical_trials.count - 1).each do |ct|
        .list-group-item.list-group-item-danger
          .pull-left
            = ct.title
          .pull-right
            = ct.position
            = link_to '^', admin_clinical_trial_path(ct, admin_clinical_trial: { position: ct.position-1 }, redirect_back: 'true'), method: :patch
            = link_to 'v', admin_clinical_trial_path(ct, admin_clinical_trial: { position: ct.position+1 }, redirect_back: 'true'), method: :patch
          .clearfix
