.form-group.string-container
  .form-inline
    - case @variable.date_format
    - when "dd-mmm-yyyy"
      = render "survey/decoration/day", value: value
      %span.px-1 -
      = render "survey/decoration/month_select", value: value
      %span.px-1 -
      = render "survey/decoration/year", value: value
    - when "yyyy-mm-dd"
      = render "survey/decoration/year", value: value
      %span.px-1 -
      = render "survey/decoration/month", value: value
      %span.px-1 -
      = render "survey/decoration/day", value: value
    - when "dd/mm/yyyy"
      = render "survey/decoration/day", value: value
      %span.px-1 /
      = render "survey/decoration/month", value: value
      %span.px-1 /
      = render "survey/decoration/year", value: value
    - else # "mm/dd/yyyy"
      = render "survey/decoration/month", value: value
      %span.px-1 /
      = render "survey/decoration/day", value: value
      %span.px-1 /
      = render "survey/decoration/year", value: value

    = link_to "Today", "#", data: { object: "set-date-input-to-current-date", target_name: "response" }, class: "btn btn-sm btn-link" if @variable.show_current_button
    = link_to "Clear", "#", data: { object: "clear-date-input", target_name: "response" }, class: "btn btn-sm btn-link text-muted"

  = render "survey/decoration/errors"
  = render "survey/decoration/field_note"
