.form-group.string-container
  .form-inline
    - case @variable.time_of_day_format
    - when "24hour"
      = render "survey/decoration/hours", value: value
      %span.px-1 :
      = render "survey/decoration/minutes", value: value
      - if @variable.show_seconds
        %span.px-1 :
        = render "survey/decoration/seconds", value: value
    - when "12hour"
      = render "survey/decoration/hours", value: value
      %span.px-1 :
      = render "survey/decoration/minutes", value: value
      - if @variable.show_seconds
        %span.px-1 :
        = render "survey/decoration/seconds", value: value
      &nbsp;
      = render "survey/decoration/period", value: value
    - else # "12hour-pm"
      = render "survey/decoration/hours", value: value
      %span.px-1 :
      = render "survey/decoration/minutes", value: value
      - if @variable.show_seconds
        %span.px-1 :
        = render "survey/decoration/seconds", value: value
      &nbsp;
      = render "survey/decoration/period", value: value

    = link_to "Current Time", "#", data: { object: "set-time-input-to-current-time", target_name: "response", time_of_day_format: @variable.time_of_day_format }, class: "btn btn-sm btn-link" if @variable.show_current_button
    = link_to "Clear", "#", data: { object: "clear-time-of-day-input", target_name: "response", time_of_day_format: @variable.time_of_day_format }, class: "btn btn-sm btn-link text-muted"

  = render "survey/decoration/errors"
  = render "survey/decoration/field_note"
