- if @survey.new_record?
  - url = builder_surveys_path
  - method = :post
- else
  - url = builder_survey_path(@survey.slug_was)
  - method = :patch
= form_for @survey, url: url, method: method, html: { class: 'form-horizontal', multipart: true } do |f|
  - if @survey.errors.any?
    .panel.panel-danger
      .panel-heading
        %strong
          = pluralize(@survey.errors.count, "error")
          prohibited this survey from being saved:

      .panel-body
        %ul
          - @survey.errors.full_messages.each do |message|
            %li= message

  .form-group
    = f.label :name_en, 'Name EN', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name_en, class: 'form-control'

  .form-group
    = f.label :description_en, 'Description EN', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description_en, class: 'form-control'

  .form-group
    = f.label :slug, 'URL Slug', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :slug, class: 'form-control'
      .text-info
        Please only use lowercase letters, numbers, and dashes.

  .form-group
    = f.label :status, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :status, Survey::STATUS, { include_blank: true }, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :pediatric
          Pediatric survey

  .form-group{ style: "#{'display:none' unless @survey.pediatric?}", data: { object: 'show-for-pediatric' } }
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :pediatric_diagnosed
          Limit to diagnosed children

  .form-group{ style: "#{'display:none' unless @survey.pediatric?}", data: { object: 'show-for-pediatric' } }
    = f.label :child_min_age, 'Child Minimum Age', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :child_min_age, class: 'form-control'

  .form-group{ style: "#{'display:none' unless @survey.pediatric?}", data: { object: 'show-for-pediatric' } }
    = f.label :child_max_age, 'Child Maximum Age', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :child_max_age, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', url, class: 'btn btn-default'
