.content-main-header2
  %h1
    Surveys
    = link_to 'Build New Survey', new_builder_survey_path, class: 'btn btn-xs btn-default'

%table.table.table-striped
  %thead
    %tr
      %th Survey
      %th Slug
      %th Creator
      %th Status
      %th{ colspan: 2 } Actions

  %tbody
    - if @surveys.count == 0
      %tr
        %td{ colspan: "6" }
          %p.center.text-muted
            You haven't started building any surveys yet. Get started
            = link_to 'building your first survey', new_builder_survey_path
            today!
    - else
      - @surveys.each do |survey|
        %tr
          %td= link_to survey.name, builder_survey_path(survey)
          %td= survey.slug
          %td= link_to_if current_user.owner?, survey.user.name, survey.user if survey.user
          %td= survey.status
          %td.nowrap
            - if survey.editable_by?(current_user)
              = link_to 'Edit', edit_builder_survey_path(survey), class: 'btn btn-xs btn-default'
              = link_to 'Delete', builder_survey_path(survey), method: :delete, data: { confirm: "Are you sure you want to delete Survey #{survey.name}?" }, class: 'btn btn-xs btn-danger'
