/ Must be provided a question object: question
= form_tag(process_answer_path, {role: "form"}) do
  = hidden_field_tag "question_id[]", question.id
  .panel.survey-container.progress-w-enter.check-w-letter
    .question-container
      %h3.f300= question.text
      %h5.f300.reset-layout (Check all that apply)
    .input-container
      - answer_template = question.answer_templates.first
      - answer_template.answer_options.distinct.each do |answer_option|
        .check-box-container
          = check_box_tag "#{question.id}[#{answer_template.id}][]", answer_option.id, nil, id: "question_#{question.id}_#{answer_template.id}_#{answer_option.new_value}", data: { hotkey: answer_option.hotkey }
          %label{ for: "question_#{question.id}_#{answer_template.id}_#{answer_option.new_value}" }
            %span=answer_option.hotkey
            %p=answer_option.text
    .button-container
      .btn.btn-primary.next-question
        Go to next question
      %p.text-muted Or press ENTER
