= form_tag process_answer_surveys_path(question_id: question, answer_session_id: answer_session), role: "form", class: 'survey-container', data: { object: "question-container-#{question_number}" } do
  .panel
    .question-container
      %h3.f300= question.text
    .input-container
      .row.form-inline-always
        - selected_date = parse_date(answer.value[question.answer_templates.first.id])
        = select_tag "#{question.id}[#{question.answer_templates.first.id}][month]", options_for_select(Date::MONTHNAMES.each_with_index.to_a, selected: (selected_date ? selected_date.month : nil )), class: 'form-control', disabled: answer.locked?, style: "#{'cursor: default' if answer_session.locked?}", data: { object: 'inline-validation-item' }
        = select_tag "#{question.id}[#{question.answer_templates.first.id}][day]", options_for_select(1..31, selected: (selected_date ? selected_date.day : nil )), include_blank: true, class: 'form-control', disabled: answer.locked?, style: "#{'cursor: default' if answer_session.locked?}", data: { object: 'inline-validation-item' }
        = select_tag "#{question.id}[#{question.answer_templates.first.id}][year]", options_for_select((1900..(Date.today.year - 18)).to_a.reverse, selected: (selected_date ? selected_date.year : nil )), include_blank: true, class: 'form-control', disabled: answer.locked?, style: "#{'cursor: default' if answer_session.locked?}", data: { object: 'inline-validation-item' }
      = render 'surveys/question_templates/prefer_not_to_answer_box', question: question, answer: answer
    .col-sm-10.col-sm-offset-1.hidden{ style: 'margin-bottom:20px;', data: { object: 'date--error' } }
      %p.small.centered-text.inline-validation-error{ class: "#{'hidden' if answer.locked?}", data: { object: 'date--error-message' } }
    .button-container
      .btn.btn-primary.next-question
        Go to next question
      %p.text-muted Or press ENTER
