= form_tag process_answer_surveys_path(question_id: question, answer_session_id: answer_session), role: "form", class: 'survey-container', data: { object: "question-container-#{question_number}" } do
  .panel
    .question-container
      %h3.f300= question.text
    .input-container
      - answer_template = question.answer_templates.first
      .row
        .col-xs-6{ style: 'text-align:right'}
          = number_field_tag "#{question.id}[#{answer_template.id}]", answer.value[answer_template.id], disabled: answer.locked?, name: "response[#{answer_template.id}]", class: 'number-input', data: { object: 'number-validation' }
        .col-xs-6{ style: 'text-align:left'}
          .number-label= answer_template.unit if answer_template.unit.present?
      .row
        .col-sm-8.col-sm-offset-2.col-xs-12
          = render partial: 'surveys/question_templates/prefer_not_to_answer_box', locals: {question: question, answer: answer}

    .button-container
      .btn.btn-primary.next-question
        Go to next question
      %p.text-muted Or press ENTER
