-# Must be provided a question object: question
= form_tag(process_answer_path, {role: "form", class: 'survey-container multiple-question-parts', data: { object: "#{'question-container-'+question_number.to_s}" }}) do
  = hidden_field_tag "question_id[]", question.id
  = hidden_field_tag "answer_session_id", answer_session.id
  .panel
    .question-container
      %h3.f300= question.text
    .input-container{ data: { object: 'radio-input-multiple' } }
      - question.answer_templates.each do |answer_template|
        .row.multiple-question-container{ data: { object: 'radio-input-multiple-container' } }
          .col-md-3.col-sm-12
            %h4.f300= answer_template.text
          .col-md-9.col-sm-12
            .row.reset-layout
              - answer_template.answer_options.distinct.each do |answer_option|
                %div{ class: answer_option.display_class }
                  = radio_button_tag "#{question.id}[#{answer_template.id}]", answer_option.id, have_checked?(answer, answer_template, answer_option.id), id: "question_#{question.id}_#{answer_template.id}_#{answer_option.new_value}", data: { hotkey: answer_option.hotkey }
                  %label{ for: "question_#{question.id}_#{answer_template.id}_#{answer_option.new_value}" }
                    %p= answer_option.text
                    %span.hotkey= answer_option.hotkey
