.panel.survey-container.progress-w-enter.progress-w-number
  .question-container
    %h3.f300 How likely are you to fall asleep during the following activities?
  .input-container
    .row.multiple-question-container.current
      - input_name = 'likelihood1'
      .col-sm-3
        %h4.f300 Reading
      .col-sm-4
        = radio_button_tag input_name, '1'
        %label.survey-scale.survey-scale-great{ for: "#{input_name+'_1'}" }
          %p Never
          %span 1
      .col-sm-4
        = radio_button_tag input_name, '2'
        %label.survey-scale.survey-scale-good{ for: "#{input_name+'_2'}" }
          %p Always
          %span 2
    .row.multiple-question-container
      - input_name = 'likelihood2'
      .col-sm-3
        %h4.f300 Watching TV
      .col-sm-2
        = radio_button_tag input_name, '1'
        %label.survey-scale.survey-scale-great{ for: "#{input_name+'_1'}" }
          %p Never
          %span 1
      .col-sm-2
        = radio_button_tag input_name, '2'
        %label.survey-scale.survey-scale-good{ for: "#{input_name+'_2'}" }
          %p Slight
          %span 2
      .col-sm-2
        = radio_button_tag input_name, '3'
        %label.survey-scale.survey-scale-warning{ for: "#{input_name+'_3'}" }
          %p Moderate
          %span 3
      .col-sm-2
        = radio_button_tag input_name, '4'
        %label.survey-scale.survey-scale-danger{ for: "#{input_name+'_4'}" }
          %p High
          %span 4
