- content_for :header do
  #top-place
  - if false
    %div{ style: 'background-color: black;position: relative;' }
      .embed-responsive.embed-responsive-16by9{ style: 'position: relative;' }
        %video#video-player{ style: 'position: absolute !important; max-height: 100vh;', muted: 'true', autoplay: 'true', poster: asset_path('logos/myapnea-logo-large-bluetext.png') }
          -# controls: 'true'
          %source{ src: "//player.vimeo.com/external/208487154.hd.mp4" }
          Your browser does not support the video tag.
  - elsif false
    .page-box.video-box
      .frozen-container
        .embed-responsive.embed-responsive-16by9{ style: 'position: relative;pointer-events: none;height: 100%;' }
          - video = '3I8YbWRgkjw'
          - video_loop = '1'
          - autoplay = '1'
          %iframe{ src: "//www.youtube.com/embed/#{video}?playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
      .page-box-down-arrow.d-none.d-sm-block
        = link_to "#forum-place", data: { object: 'scroll-anchor' } do
          %i.fa.fa-chevron-circle-down
  - elsif false
    .frozen-container
      .embed-responsive.embed-responsive-16by9{ style: 'position: relative;pointer-events: none;height: 100%;' }
        - video = '3I8YbWRgkjw'
        - video_loop = '0' # '1'
        - autoplay = '0' # '1'
        %iframe#player{ src: "//www.youtube.com/embed/#{video}?enablejsapi=1&playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
  - else
    .frozen-container.center-vertically
      .embed-responsive.embed-responsive-16by9{ style: 'position: relative;' }
        #player

  #forum-place
  .page-box.myapnea-blue-bg
    .container
      .myapnea-heading
        Forum

      .landing-box-container
        - @topics = Topic.current.shadow_banned(current_user).reply_count.order(last_reply_at: :desc, id: :desc)
        - @topics.limit(9).each do |topic| # limit(99)
          - reply = topic.replies.current.first
          - if reply
            .landing-box.dashboard-container
              .landing-box-header
                = link_to topic.title, topic, class: 'link-blend'
              .landing-box-body
                = strip_tags(simple_markdown_new(reply.description)).gsub(/\r/, ' ').gsub(/\n/, ' ').truncate(250, separator: '.', omission: '...').html_safe
                = link_to reply, class: 'nowrap', data: { turbolinks: false } do
                  Read more
                  %i.fa.fa-arrow-right
              .landing-box-footer
                .landing-box-footer-content
                  .float-right
                    &nbsp;
                    %i.fa.fa-comments{ style: 'color: #2196F3;' }
                    = topic.replies.count
                  By
                  .landing-box-footer-author-name= link_to reply.user.username, member_path(reply.user.username)

      .center= link_to 'ASK A QUESTION', new_topic_path, class: 'link-white'
    .page-box-down-arrow
      = link_to "#survey-place", data: { object: 'scroll-anchor' }, class: 'orange' do
        %i.fa.fa-chevron-circle-down

  #survey-place
  .page-box.myapnea-orange-bg
    .container
      .myapnea-heading
        Surveys

      .landing-box-container
        .landing-box.dashboard-container
          %p
            %strong What is your sex?
          %p Members of either sex can develop sleep apnea. Men are 2-to-3 times more likely to have sleep apnea, but as women reach menopause their risk increases.
          %span{ style: 'font-style: italic; color: #bbb;' } Male: 57.5%
          %span{ style: 'font-style: italic; color: #bbb;' } Female: 42.5%
        .landing-box.dashboard-container
          %p
            %strong What is your racial background?
          %p Sleep apnea occurs in all races of people. Understanding associations between sleep apnea and race may help shed light on the genes and environmental risk factors that influence sleep apnea.
        .landing-box.dashboard-container
          %p
            %strong Are you of Hispanic, Latino, or Spanish origin or ancestry?
          %p Sleep apnea occurs among people of all ethnicities. Our culture can play an important role in determining where we live, what we eat and how we live our lives. Understanding associations between sleep apnea and one’s ethnicity or culture may help shed light on the genetic and environmental risk factors that influence sleep apnea.
          %span{ style: 'font-style: italic; color: #bbb;' } Yes: 2.1%
          %span{ style: 'font-style: italic; color: #bbb;' } No: 97.9%
      .center= link_to 'START A SURVEY', question_path, class: 'link-white'
      .center= link_to 'SURVEY With Progress', yoga_path(id: 1), class: 'link-white'


    .page-box-down-arrow
      = link_to "#third-place", data: { object: 'scroll-anchor' } do
        %i.fa.fa-chevron-circle-down

  #third-place
  .page-box.center-both.myapnea-blue-bg
    .container
      = image_tag 'logos/myapnea-logo-large-bluetext.png', style: 'height: auto; max-width: 100%;'
    .page-box-down-arrow
      = link_to "#fourth-place", data: { object: 'scroll-anchor' }, class: 'orange' do
        %i.fa.fa-chevron-circle-down

  #fourth-place
  .page-box.center-both.myapnea-orange-bg
    .container
      = image_tag 'logos/myapnea-logo-large-bluetext.png', style: 'height: auto; max-width: 100%;'
    .page-box-down-arrow
      = link_to "#fifth-place", data: { object: 'scroll-anchor' } do
        %i.fa.fa-chevron-circle-down

  #fifth-place
  .page-box.center-vertically.myapnea-white-bg
    .container
      .myapnea-heading
        - video = '3I8YbWRgkjw'
        - video_loop = '0'
        - autoplay = '0'
        = link_to '#video-place', data: { object: 'play-landing-video scroll-anchor', src: "//www.youtube.com/embed/#{video}?playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0", target_iframe: 'iframe' }, class: 'no-underline' do
          Play Video
          %i.fa.fa-play-circle
    .page-box-down-arrow
      = link_to "#video-place", data: { object: 'scroll-anchor' }, class: 'orange' do
        %i.fa.fa-chevron-circle-down

  #video-place
  #video-slide.page-box.myapnea-transparent-bg
    .container
    .page-box-down-arrow
      = link_to "#sixth-place", data: { object: 'scroll-anchor pause-landing-video' }, class: 'orange' do
        %i.fa.fa-chevron-circle-down

  #sixth-place
  .page-box.center-vertically.myapnea-orange-bg
    .container
      .myapnea-heading
        %i.fa.fa-search
      = form_tag search_path, method: :get do
        .form-group
          .input-group
            = text_field_tag 'search', params[:search], class: 'form-control', placeholder: "Search #{ENV['website_name']}"
            .input-group-btn
              = submit_tag 'Search', class: 'btn btn-primary', name: nil
        .text-muted.center{ style: 'color: #ededed;' }
          - suggestions = ['distilled water', 'seal cpap mask', 'high cpap pressure', 'didgeridoo']
          - suggestions.each_with_index do |suggestion, index|
            - if index == suggestions.size - 1
              = link_to suggestion, search_path(search: suggestion), class: 'link-white'
            - else
              = succeed ',' do
                = link_to suggestion, search_path(search: suggestion), class: 'link-white'
    .page-box-down-arrow
      = link_to "#bottom-place", data: { object: 'scroll-anchor' } do
        %i.fa.fa-chevron-circle-down

  #bottom-place
  .page-box.last-box.center-both.myapnea-sky-bg
    = render "decorations/sun"
    .container
      = image_tag 'logos/myapnea-logo-large-bluetext.png', style: 'height: auto; max-width: 100%;'
    .page-box-down-arrow
      = link_to "#top-place", data: { object: 'scroll-anchor' }, class: 'orange' do
        %i.fa.fa-chevron-circle-up

= render 'layouts/footer', footer: nil
