- if @menu
  #top-menu.top-menu= render 'layouts/menu', theme: @theme ? "menu-#{@theme}" : nil

.page-box.myapnea-green-bg
  = render 'blank/progress_bar', start: 100 / 6 * 1, percent: 100 / 6 * 2
  .container
    .dashboard-container
      %strong landing4.html.haml

.page-box.myapnea-sky-bg
  .container
    .dashboard-container
      %strong landing4.html.haml

.page-box.last-box.myapnea-blue-bg
  = render 'blank/progress_bar', start: 100 / 6 * 2, percent: 100 / 6 * 3
  .container
    .dashboard-container
      %strong landing4.html.haml

= render 'layouts/footer', theme: 'footer-grass'
