- @footer = "night"

- content_for :body_class do
  myapnea-light-bg

.background-fixed-image
  .d-flex.background-fixed-image-fixed-height.color-overlay.align-items-center
    .container.text-center
      %h1.landing-title.mb-3
        MyApnea.Org
      .landing-text
        Improving the lives of people with sleep apnea.

#top-menu.top-menu= render "layouts/menu"

= render "videos/full_frame_video"

.page-box.d-flex.justify-content-center.align-items-center.hide-me-video{ style: "min-height: 50vh;" }
  =# render "blank/sun"
  .text-center
    = image_tag "logos/myapnea-logo-large-bluetext.png", style: "height: auto; width: 300px; max-width: 100%;", class: "hide-me-video"
    .link-white
      - video = "3I8YbWRgkjw"
      - video_loop = "0"
      - autoplay = "1"
      = link_to "#", data: { object: "launch-full-page-video", video_src: "//www.youtube.com/embed/#{video}?playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0" }, class: "myapnea-lead-sentence no-underline" do
        %i.fa.fa-play-circle


.page-box.last-box.d-flex.align-items-center.myapnea-night-bg.text-white
  .container
    .landing-sentence.text-center.mb-5
      Join
      %span.text-accent thousands
      of people already making a difference on MyApnea.Org.

    .text-center
      - if current_user
        Thanks for being part of MyApnea!
      - else
        = link_to new_user_registration_path, class: "btn btn-lg btn-accent btn-shadow" do
          Join Today
          %i.fa.fa-caret-right

- if false
  .page-box.last-box.myapnea-sky-bg
    = render "blank/sun"
    .container
      .myapnea-heading
        Get started!
