.show-me-video
  .center.link-white{ style: 'position: fixed; left: 0; right: 0; bottom: 10px;z-index: 1;' }
    = link_to '#', data: { object: 'pause-landing-video2' }, class: 'no-underline myapnea-lead-sentence' do
      %i.fa.fa-pause-circle
  .page-box.page-box-no-padding.last-box.center-vertically.myapnea-sky-bg
    .embed-responsive.embed-responsive-16by9{ style: 'position: relative;pointer-events: none;' }
      #player

.page-box.page-box-no-padding.last-box.myapnea-sky-bg.vertical-flex-container.hide-me-video
  = render 'blank/sun'
  .vertical-flex.center-vertically
    .center
      = image_tag 'myapnea/logos/MyApneaLogo_border_bluetext.png', style: 'height: auto; width: 300px; max-width: 100%;', class: 'hide-me-video'
      .link-white
        - video = '3I8YbWRgkjw'
        - video_loop = '0'
        - autoplay = '0'
        = link_to '#', data: { object: 'play-landing-video2', src: "//www.youtube.com/embed/#{video}?playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0", target_iframe: 'iframe' }, class: 'no-underline myapnea-lead-sentence' do
          %i.fa.fa-play-circle
  .vertical-flex.horizontal-flex-container.hide-me-video{ style: 'margin-bottom: 0;' }
    .horizontal-flex.dashboard-container.overflow-hidden{ style: 'margin: 20px;' }
      .center{ style: 'font-size: 20px;margin-bottom: 10px;' }= link_to 'Forum', topics_path, class: 'link-blend'
      %div.overflow-hidden{ style: 'padding: 0 20px;' }
        - @topics = Topic.current.shadow_banned(current_user).reply_count.order(last_reply_at: :desc, id: :desc)
        %div
          %div.text-right
            = link_to 'Ask a question', new_topic_path
          - @topics.limit(9).each do |topic|
            .overflow-hidden.nowrap{ style: "padding: 5px 10px;background-color: #{cycle('#fff', '#ededed')};" }= link_to topic.title, topic
          %div.text-right
            = link_to topics_path do
              Visit forum &rarr;
    - if false
      .horizontal-flex.dashboard-container
        .center
          %div{ style: 'font-size: 20px;' }= link_to 'Surveys', surveys_path, class: 'link-blend'
          %p Complete surveys to further research.
          %p
            = link_to surveys_path do
              Participate
              &raquo;
        .landing-box-footer
          .landing-box-footer-content
            NEW!
            = link_to 'Mindfulness: Yoga Usefulness Scale', yoga_path(id: 1)
    .horizontal-flex.dashboard-container.overflow-hidden{ style: 'margin: 20px;' }
      .center{ style: 'font-size: 20px;margin-bottom: 10px;' }= link_to 'Blog', blog_path, class: 'link-blend'
      %div
        %div.text-right
          = link_to 'Learn', blog_path
        - @broadcasts = Broadcast.current.published.where(archived: false).order(pinned: :desc, publish_date: :desc)
        - @broadcasts.limit(9).each do |broadcast|
          .overflow-hidden.nowrap{ style: "padding: 5px 10px;background-color: #{cycle('#fffffff', '#ededed')};" }= link_to broadcast.title, blog_post_path(broadcast.url_hash)
        %div.text-right
          = link_to blog_path do
            Read blog &rarr;
  .vertical-flex.center-both.hide-me-video{ style: 'padding-bottom: 40px;' }
    = link_to 'Join us.', new_user_registration_path, class: 'btn btn-lg btn-accent'

= render 'layouts/footer', theme: 'footer-grass'
