- content_for :header do
  .first-box.myapnea-orange-bg
    .sun-container
      .landing-upper-right
        #sun
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-1x
            %i.fa.fa-sun-o.fa-stack-1x
    .container
      .first-box-slide.center-vertically.dashboard-container-full-page
        .dashboard-container
          .survey-question
            .survey-question-text
              What is your sex?
          .survey-choices
            - choices = ['Male', 'Female', 'Other', 'Prefer not to answer']
            - choices.each do |choice|
              = link_to '#', class: 'survey-choice box-shadow', data: { object: 'suppress-click' } do
                .fa-stack.fa-stack-inline
                  %i.fa.fa-circle.fa-stack-1x
                  %i.fa.fa-check-circle.fa-stack-1x
                = choice
          = render 'blank/next_question'
        = render 'blank/question_skip'
      .first-box-down-arrow
        = link_to question_path(id: @question_id + 1) do
          %i.fa.fa-chevron-circle-right
