.menu-bar.menu-bar-fixed
  .container
    About Me &middot; MyApnea Core

.survey-box-with-footer.myapnea-sky-bg
  = render 'blank/sun'
  = render 'blank/progress_bar', start: 0, percent: 20
  .container
    .survey-box-slide-with-menu-and-footer.center-vertically.dashboard-container-full-page
      .dashboard-container
        .survey-question
          .survey-question-text
            What is your sex?
        .survey-choices
          - choices = ['Male', 'Female', 'Other', 'Prefer not to answer']
          - choices.each do |choice|
            = link_to '#', class: 'survey-choice box-shadow', data: { object: 'suppress-click' } do
              .fa-stack.fa-stack-inline
                %i.fa.fa-circle.fa-stack-1x
                %i.fa.fa-check-circle.fa-stack-1x
              .survey-choice-text= choice
        = render 'blank/next_question'
      = render 'blank/question_skip'

= render 'layouts/footer', theme: 'footer-grass'
