.menu-bar.menu-bar-fixed
  .container
    About Me &middot; MyApnea Core

.survey-box-with-footer.myapnea-sky-bg
  .sun-container
    .landing-upper-right
      #sun
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-1x
          %i.fa.fa-sun-o.fa-stack-1x
  .container
    .survey-box-slide-with-menu-and-footer.center-vertically.dashboard-container-full-page
      .dashboard-container
        .survey-question
          .survey-question-text
            What year were you born?
        .survey-choices{ style: 'margin-bottom: 20px;' }
          .text-center
            = select_tag 'year', options_for_select((1900..Time.zone.today.year - 18).to_a.reverse, selected: Time.zone.today.year), include_blank: 'Year', class: 'input-lg form-control', style: 'display: inline-block; width: auto; vertical-align: middle;'
        = render 'blank/next_question'
      = render 'blank/question_skip'

- content_for :footer do
  .footer-container
    .container
      .footer
        .hidden-sm.hidden-md.hidden-lg.text-center
          &copy;
          = Date.today.year
          = ENV['website_name']
        .row.hidden-xs
          .col-xs-6.nowrap
            &copy;
            = Date.today.year
            = ENV['website_name']
            |
            = link_to 'About', about_path
          .col-xs-6.nowrap.text-right.hidden-xs
            .pull-right
              = link_to image_tag('myapnea/welcome/img-small/bwh_footer.png', style: 'margin-top: -20px;'), 'http://www.brighamandwomens.org/'
