- content_for :header do
  .first-box.myapnea-sky-bg
    .sun-container
      .landing-upper-right
        #sun
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-1x
            %i.fa.fa-sun-o.fa-stack-1x
    .container
      .last-box-slide.center-vertically.dashboard-container-full-page
        .dashboard-container
          .survey-question
            .survey-question-text
              What is the highest degree or level of school you have completed?
          .survey-choices
            - choices = ['8th grade or less', 'Some high school, but did not graduate', 'High school graduate or GED', 'Some college or 2-year degree', '4-year college graduate', 'More than 4-year college degree', 'Prefer not to answer']
            - choices.each do |choice|
              = link_to '#', class: 'survey-choice box-shadow', data: { object: 'suppress-click' } do
                .fa-stack.fa-stack-inline
                  %i.fa.fa-circle.fa-stack-1x
                  %i.fa.fa-check-circle.fa-stack-1x
                = choice
          = render 'blank/next_question'
        = render 'blank/question_skip'
      .first-box-down-arrow
        = link_to question_path(id: @question_id + 1) do
          %i.fa.fa-chevron-circle-right

- content_for :footer do
  .footer-container
    .container
      .footer
        .hidden-sm.hidden-md.hidden-lg.text-center
          &copy;
          = Date.today.year
          = ENV['website_name']
        .row.hidden-xs
          .col-xs-6.nowrap
            &copy;
            = Date.today.year
            = ENV['website_name']
            |
            = link_to 'About', about_path
          .col-xs-6.nowrap.text-right.hidden-xs
            .pull-right
              = link_to image_tag('myapnea/welcome/img-small/bwh_footer.png', style: 'margin-top: -20px;'), 'http://www.brighamandwomens.org/'
