.menu-bar.menu-bar-fixed
  .container
    About Me &middot; MyApnea Core

.page-box.last-slide.center-vertically.myapnea-sky-bg
  = render 'blank/sun'
  = render 'blank/progress_bar', start: 0, percent: 0
  .container
    .dashboard-container
      .survey-question
        .survey-question-text
          What year were you born?
      .survey-choices{ style: 'margin-bottom: 20px;' }
        .center
          = select_tag 'year', options_for_select((1900..Time.zone.today.year - 18).to_a.reverse, selected: Time.zone.today.year), include_blank: 'Year', class: 'input-lg form-control', style: 'display: inline-block; width: auto; vertical-align: middle;'
      = render 'blank/next_question'
    = render 'blank/question_skip'

= render 'layouts/footer', theme: 'footer-grass'
