.menu-bar.menu-bar-fixed
  .container
    About Me &middot; MyApnea Core

.page-box.last-slide.center-vertically.myapnea-sky-bg
  = render 'blank/sun'
  = render 'blank/progress_bar', start: 0, percent: 20
  .container
    .dashboard-container
      .survey-question
        .survey-question-lead
          Thinking about the last month...
        .survey-question-text
          What do you think about this template question?
        .survey-question-desc
          The degree of described in this question are selected from a short
          list of countries that are most likely going to be filling out
          surveys on this site based on our past experience.
      .survey-choices
        - choices = ['8th grade or less', 'Some high school, but did not graduate', 'High school graduate or GED', 'Some college or 2-year degree', '4-year college graduate', 'More than 4-year college degree', 'Prefer not to answer']
        - choices.each do |choice|
          = link_to '#', class: 'survey-choice box-shadow', data: { object: 'suppress-click' } do
            .fa-stack.fa-stack-inline
              %i.fa.fa-circle.fa-stack-1x
              %i.fa.fa-check-circle.fa-stack-1x
            .survey-choice-text= choice
      = render 'blank/next_question'
    = render 'blank/question_skip'

= render 'layouts/footer', theme: 'footer-grass'
