.menu-bar.menu-bar-fixed.menu-bar-green
  .container
    Mindfulness &middot; Yoga Usefulness Scale

.page-box.last-box.center-vertically.myapnea-green-bg
  = render 'blank/sun'
  = render 'blank/progress_bar', start: 60, percent: 80
  .container
    .dashboard-container
      .survey-question
        .survey-question-text
          Which poses did you find most helpful?
      .survey-choices{ style: 'margin-bottom: 20px;' }
        = text_area_tag 'yoga', '', rows: 8, class: 'form-control'
      = link_to yoga_path(id: @question_id + 1), class: 'survey-question-next' do
        Next
    .survey-question-skip
      = link_to yoga_path(id: @question_id + 1), data: { confirm: 'Are you sure you want to skip this question?' } do
        Skip this question

- content_for :footer do
  .footer-container
    .container
      .footer
        .hidden-sm.hidden-md.hidden-lg.center
          &copy;
          = Date.today.year
          = ENV['website_name']
        .row.hidden-xs
          .col-xs-6.nowrap
            &copy;
            = Date.today.year
            = ENV['website_name']
            |
            = link_to 'About', about_path
          .col-xs-6.nowrap.text-right.hidden-xs
            .float-right
              Mindfulness
