- @articles = Broadcast.current.published.where.not(category: Admin::Category.find_by(slug: "faqs")).order(publish_date: :desc, id: :desc).limit(3)

.logo-container
  .container.d-flex.flex-column.flex-lg-row.align-items-center.pb-3
    %div.mr-0.mr-lg-5.mb-3.mb-lg-0= image_tag "logos/myapnea-logo-large-whitetext.png", style: "height: auto; width: 320px;", class: "img-ignore-selection"

    .landing-about-slide-tagline
      MyApnea is a community of patients, doctors, and researchers
      trying to improve the diagnosis and treatment of sleep apnea.

.page-box.myapnea-dark-blue-light-center-bg.d-flex.flex-column
  .container.mb-5
    .d-flex.flex-column.flex-md-row.align-items-center.mb-3
      .mr-auto.d-flex.flex-column.justify-content-around
        .random-text.mb-5
          Complete surveys.

          .random-small-text
            Learn about yourself, contribute to sleep research, see how you
            compare to others.
            = link_to slice_research_path, class: "link-accent" do
              Get started
              %i.fa.fa-caret-right

        .random-text.mb-5
          Print personalized report.

          .random-small-text
            Receive a personalized report based on your survey responses that
            you can print and bring to your doctor.

      .random-hover-size.ml-0.ml-md-5.mb-3
        = link_to slice_research_path do
          = image_tag "research/sleep-report.png", class: "img-fluid img-ignore-selection"


    .d-flex.flex-column.flex-md-row
      .pr-0.pr-md-3.pt-3.flex-fill
        = render "landing/components/forum"

      .pl-0.pl-md-3.pt-3.mr-0.mr-md-3.d-flex.flex-column
        = render "landing/components/read_articles"


%div{ style: "position: relative;" }
  %div{ style: "position: relative;" }
    = link_to "#featured-article", data: { object: "scroll-anchor" }, class: "text-white scroll-down-arrow-visible link-unstyled" do
      %i.fa.fa-chevron-down
