.page-box.p-0.bg-black.overflow-hidden{ style: "position: relative;" }
  - video_path = "videos/research.mp4"
  - video_found = (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset(video_path)
  - if video_found
    %video.video-full-page-absolute{ autoplay: "true", loop: "false", muted: "true", plays_inline: "true" }
      %source{ src: asset_url(video_path), type: "video/mp4" }

  .page-box.p-0.d-flex.flex-column.justify-content-around{ class: "theme-#{@theme}-radial-bg" }
    .container
      = render "landing/orange_title", title: "Community Power", text_class: "text-white"

      .card-deck.flex-row
        -# .flex-column.flex-md-row
        .card.bg-transparent{ style: "border: 0;" }
          .card-body.d-flex.flex-column.justify-content-center.align-items-center
            .landing-blog-title.mb-0.text-white.text-center{ style: "border: 0;" }
              = number_with_delimiter 125_218
              .landing-blog-content{ style: "background-color: transparent;color: #bdbdbd;" }
                Surveys Completed

        .card.bg-transparent{ style: "border: 0;" }
          .card-body.d-flex.flex-column.justify-content-center.align-items-center
            .landing-blog-title.mb-0.text-white.text-center{ style: "border: 0;" }
              = number_with_delimiter User.current.no_spammer_or_shadow_banned.count
              .landing-blog-content{ style: "background-color: transparent;color: #bdbdbd;" }
                MyApnea Members

      - if false
        #landing-page-users-surveys-chart{ style: "position: relative;background-color: rgba(1, 1, 1, .75);" }

%div{ style: "position: relative;" }
  %div{ style: "position: relative;" }
    = link_to "#join", data: { object: "scroll-anchor" }, class: "text-white scroll-down-arrow-visible link-unstyled" do
      %i.fa.fa-chevron-down


- # 2,000,000 Apnea Events Treated
- # 2.5 hours per night gained
