= render "videos/full_frame_video"

.d-flex.justify-content-center.align-items-center{ class: landing ? "page-box" : "py-3", style: "position: relative;" }
  .container
    .bg-landing-video.rounded.mb-3
      - video = "hzl_4W0Vxds"
      - video_loop = "0"
      - autoplay = "1"
      .embed-responsive.embed-responsive-16by9.p-3.box-shadow.rounded{ style: "position: relative;", data: { object: "launch-full-page-video", video_src: "//www.youtube-nocookie.com/embed/#{video}?playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0" } }
        .d-flex.justify-content-center.align-items-center{ style: "position: absolute; top: 0; right: 0; left: 0; bottom: 0;" }
          = link_to icon("fas", "play-circle", class: "fa-2x"), "#", data: { object: "launch-full-page-video", video_src: "//www.youtube-nocookie.com/embed/#{video}?playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0" }, class: "link-blend myapnea-lead-sentence m-0"

    .landing-sentence-small.text-center.text-white.p-3.rounded
      Play video to learn more about MyApnea.

    - if landing
      = link_to icon("fas", "chevron-down"), "#research", data: { object: "scroll-anchor" }, class: "text-white scroll-down-arrow-visible link-unstyled"
