= render "videos/full_frame_video"

.page-box-padding.d-flex.justify-content-center.align-items-center.myapnea-blue-bg{ style: "position: relative;" }
  .container
    .background-questions-image.rounded.mb-3
      - video = "3I8YbWRgkjw"
      - video_loop = "0"
      - autoplay = "1"
      .embed-responsive.embed-responsive-16by9.p-3.box-shadow.rounded{ style: "position: relative;", data: { object: "launch-full-page-video", video_src: "//www.youtube.com/embed/#{video}?playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0" } }
        .d-flex.justify-content-center.align-items-center{ style: "position: absolute; top: 0; right: 0; left: 0; bottom: 0;" }
          = link_to "#", data: { object: "launch-full-page-video", video_src: "//www.youtube.com/embed/#{video}?playlist=#{video}&autoplay=#{autoplay}&loop=#{video_loop}&controls=0&rel=0&modestbranding=1&showinfo=0" }, class: "link-blend myapnea-lead-sentence m-0" do
            %i.fa.fa-play-circle.fa-2x

    .landing-sentence-small.text-center.text-white.p-3.rounded{ style: "background-color: rgba(0,0,0,.25);" }
      Play video to learn more about MyApnea.Org.

    - if false
      = link_to "#blog-0", data: { object: "scroll-anchor" }, class: "scroll-down-arrow-visible link-unstyled" do
        %i.fa.fa-chevron-down.text-white
