.page-box.myapnea-dark-blue-light-center-bg.d-flex.flex-column.justify-content-around
  .container{ style: "position: relative;" }

    %div
      .mb-5.d-flex.flex-column.justify-content-center
        .mb-5.text-center
          = image_tag "logos/myapnea-logo-large-whitetext.png", style: "height: auto; max-width: 540px; width: 100%;", class: "img-ignore-selection"

      .d-flex.flex-column.flex-md-row.mb-5
        .bg-white.mb-3.mb-md-0.p-3.rounded.btn-shadow.mx-1{ style: "flex: 1 0 0 !important"}
          %div.d-flex.align-items-center.mb-3{ style: "font-size: 2rem;" }
            %div.mr-auto= link_to "Forum", topics_path
            %div
              %i.fa.fa-comments-o{ style: "font-size: 2rem;" }
          - @topics.includes(countable_replies: :user).each do |topic|
            .landing-topic.d-flex.align-items-center.mb-1.pl-1{ style: "border-left: 2px solid #ffe0b2;" }
              %div.mr-auto.pr-3
                = link_to topic.title, topic, class: "link-blend-semi-muted", style: "font-weight: bold;"
              %div.nowrap
                - max_display = 4
                - display_count = 0
                - users = topic.countable_replies.collect { |r| r.user }.uniq
                - users_count = users.size
                - users.each do |user|
                  - if display_count >= max_display
                    - break
                  - if user.photo.present?
                    - display_count += 1
                    = profile_picture_tag user, size: 16, style: "border-radius: 50% !important;border: 1px solid #ffa726;"
                - if display_count < users_count
                  .d-inline-block{ style: "border: 1px solid #ffa726;border-radius: 50%;padding: 0 2px;font-size: .625rem;background-color: #ffcc80;" }
                    = "+#{users_count - display_count}"

        .bg-white.mb-3.mb-md-0.p-3.rounded.btn-shadow.mx-1{ style: "flex: 1 0 0 !important"}
          %div.d-flex.align-items-center.mb-3{ style: "font-size: 2rem;" }
            %div.mr-auto= link_to "Articles", blog_path
            %div
              %i.fa.fa-book{ style: "font-size: 2rem;" }

          - articles = Broadcast.current.published.where.not(category: Admin::Category.find_by(slug: "faqs")).order(publish_date: :desc, id: :desc).limit(3)
          - articles.each do |broadcast|
            .landing-topic.mb-1.pl-1{ style: "border-left: 2px solid #ffe0b2;font-weight: bold;border-bottom: 1px solid #fafafa;" }= link_to broadcast.title, "#", data: { object: "show-fullscreen-blog", broadcast_id: broadcast.id }, class: "link-blend-semi-muted"
            .blog-fullscreen-backdrop{ data: { broadcast_id: broadcast.id } }
              .blog-fullscreen-content.d-flex.flex-column.justify-content-around
                .background-blog-image-full.background-blur{ style: "background-image: url(#{first_image_url(broadcast)});", data: { object: "close-fullscreen-blog", broadcast_id: broadcast.id } }
                %div{ style: "position: absolute; top: 0; right: 1rem;font-size: 2rem;cursor: pointer;" }
                  = link_to "#", class: "link-white no-underline", data: { object: "close-fullscreen-blog", broadcast_id: broadcast.id } do
                    &times;
                .container
                  .landing-blog-info
                    .landing-blog-title= broadcast.title
                    .landing-blog-content{ style: "position: relative;" }
                      = strip_tags(simple_markdown(broadcast.description, target_blank: false)).gsub(/\r/, " ").gsub(/\n/, " ").truncate(500, separator: ".", omission: ".").html_safe

                      .d-none.d-sm-block{ style: "position: absolute;right: -1rem; bottom: -1rem;" }
                        = link_to blog_post_path(broadcast.url_hash), class: "btn btn-accent btn-lg" do
                          Read more
                          %i.fa.fa-caret-right

                      .d-block.d-sm-none{ style: "position: absolute;right: -.25rem; bottom: -.25rem;" }
                        = link_to blog_post_path(broadcast.url_hash), class: "btn btn-sm btn-accent" do
                          Read more
                          %i.fa.fa-caret-right


        .bg-white.mb-3.mb-md-0.p-3.rounded.btn-shadow.mx-1{ style: "flex: 1 0 0 !important"}
          - if false
            %div.text-center{ style: "font-size: 3.75rem;" }
              %i.fa.fa-flask

          %div.mb-2
            = link_to slice_research_path do
              Take surveys and create
              a personalized report to take to your doctor.
              %i.fa.fa-caret-right

      %div
        .landing-about-slide-tagline
          MyApnea is a community of patients, doctors, and researchers
          trying to improve the diagnosis and treatment of sleep apnea. You
          can engage in discussions with other members, read research articles,
          and participate in research studies.

%div{ style: "position: relative;" }
  %div{ style: "position: relative;" }
    = link_to "#research", data: { object: "scroll-anchor" }, class: "text-white scroll-down-arrow-visible link-unstyled" do
      %i.fa.fa-chevron-down

=# render "landing/featured_article_slide"
