.content-main-header
  %h1
    = link_to 'Surveys', builder_surveys_path
    &middot;
    = link_to @survey.name, builder_survey_path(@survey)
    &middot;
    = @question.slug

  - if @survey.editable_by?(current_user)
    = link_to 'Edit Question', edit_builder_survey_question_path(@survey, @question), class: 'btn btn-xs btn-default'
    = link_to 'Delete Question', builder_survey_question_path(@survey, @question), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Question #{@question.slug}?" }

.content-container
  .content-body

    %dl.dl-horizontal
      %dt
        %strong Text EN
      %dd= @question.text_en

      %dt
        %strong Slug
      %dd
        = @question.slug

      %dt
        %strong Display Type
      %dd
        = @question.display_type

      %dt
        %strong Answer Templates
      %dd
        %table.table.table-bordered.table-striped
          %thead
            %tr
              %th Name
              %th Data Type
              %th Allow Multiple
              %th Target Answer Option
              %th Actions
          - @question.answer_templates.each do |answer_template|
            %tr
              %td= link_to answer_template.name, builder_survey_question_answer_template_path(@survey, @question, answer_template)
              %td= answer_template.data_type
              %td= simple_check answer_template.allow_multiple
              %td= answer_template.target_answer_option

              %td= link_to 'Edit', edit_builder_survey_question_answer_template_path(@survey, @question, answer_template), class: 'btn btn-xs btn-default'
          %tr
            %td{ colspan: '5' }
              = link_to 'Add Another Answer Template', new_builder_survey_question_answer_template_path(@survey, @question), class: 'btn btn-xs btn-default'
