.content-container
  = form_for @topic, html: { class: 'form-vertical' } do |f|
    .form-group
      = f.label :title, class: 'control-label'
      = f.text_field :title, class: 'form-control', data: { object: (@topic.new_record? ? 'create-slug' : ''), target: '#topic_slug' }
      = render 'layouts/errors', object: @topic, key: :title

    .form-group{ style: "#{'display:none' if @topic.new_record? && !@topic.errors.key?(:slug)}"}
      = f.label :slug, class: 'control-label'
      = f.text_field :slug, class: 'form-control'
      = render 'layouts/errors', object: @topic, key: :slug
      .alert.alert-info{ style: 'margin-top: 10px' }
        %p
          The URL slug must start with a lowercase letter
          = succeed ',' do
            %code a-z
          and only contain lowercase
          letters
          = succeed ',' do
            %code a-z
          numbers
          = succeed ',' do
            %code 0-9
          or dashes
          = succeed ',' do
            %code -
        %p
          %code.text-muted= "#{ENV['website_url']}/forum/#{@topic.slug}"

    - if @topic.new_record?
      .form-group
        = f.label :description, class: 'control-label'
        .preview-container
          .preview-header
            .pull-right
              = render 'replies/rich_text_editor_buttons', target: "#topic_description"
            = link_to 'Write', '#', data: { object: 'view-content-markdown' }, class: 'preview-tab active', tabindex: '-1'
            = link_to 'Preview', '#', data: { object: 'view-content-preview', content: '#topic_description' }, class: 'preview-tab', tabindex: '-1'
          .preview-body
            #content_markdown
              = f.text_area :description, rows: [[15, @topic.description.to_s.count("\n") + 1].max, 25].min, class: 'preview-control filedrag-container', data: { object: 'expandable-text-area dropfile-image', default_rows: 15, upload_url: upload_images_path(update: '#topic_description', format: 'js'), fallback_url: new_image_path, log_id: '#log_new' }
              #log_new.filedrag
                Drag images above to insert into post.
            #content_preview.topic{ style: 'display:none' }
        = render 'layouts/errors', object: @topic, key: :description

    - if current_user.admin?
      .form-group
        .checkbox
          %label
            = f.check_box :pinned
            Pinned

    .form-group
      = f.submit (@topic.new_record? ? 'Create Topic' : 'Update Topic'), class: 'btn btn-primary'
      = link_to 'Cancel', (@topic.new_record? ? topics_path : @topic), class: 'btn btn-default'
