= link_to image_tag('myapnea/icons/facebook_icon.png', class: 'share-icons-sm'), "http://www.facebook.com/share.php?u=#{ENV['website_url'] + forum_topic_path(@forum, @topic)}"
= link_to image_tag('myapnea/icons/twitter_icon.png', class: 'share-icons-sm'), "http://twitter.com/home?status=#{truncate(@topic.name, length: 92)}%20#{ENV['website_url'] + forum_topic_path(@forum, @topic)}%20via%20%40MyApneaOrg%20%23myapnea"
= link_to image_tag('myapnea/icons/email_icon.png', class: 'share-icons-sm'), "mailto:?subject=Check%20out%20this%20conversation%20on%20MyApnea.Org&body=I%20think%20you%20will%20like%20this%20discussion%20happening%20on%20MyApnea.Org:%20#{@topic.name}%20%28#{forum_topic_path(@forum, @topic)}%29"
%br
%br
