.page-box.myapnea-blue-bg
  .container
    .myapnea-heading
      Forum

    .landing-box-container
      - @topics = Topic.current.shadow_banned(current_user).order(last_reply_at: :desc, id: :desc)
      - @topics.limit(9).each do |topic| # limit(99)
        - reply = topic.replies.current.first
        - if reply
          .landing-box.dashboard-container
            .landing-box-header
              = link_to topic.title, topic, class: 'link-blend'
            .landing-box-body
              = strip_tags(simple_markdown(reply.description)).gsub(/\r/, ' ').gsub(/\n/, ' ').truncate(250, separator: '.', omission: '...').html_safe
              = link_to reply, class: 'nowrap', data: { turbolinks: false } do
                Read more
                %i.fa.fa-arrow-right
            .landing-box-footer
              .landing-box-footer-content
                .float-right
                  &nbsp;
                  %i.fa.fa-comments{ style: 'color: #2196F3;' }
                  = topic.replies_count
                By
                .landing-box-footer-author-name= link_to reply.user.username, member_path(reply.user.username)
