- if topic.subscribed?(current_user)
  You may
  = succeed " " do
    = link_to subscription_topic_path(topic, notify: "0"), method: :post, remote: true, class: "btn btn-sm btn-outline-dark" do
      %i.fa.fa-volume-off
      unsubscribe
  to stop receiving updates for this topic.
- elsif !topic.auto_locked?
  You may
  = succeed " " do
    = link_to subscription_topic_path(topic, notify: "1"), method: :post, remote: true, class: "btn btn-sm btn-primary" do
      %i.fa.fa-envelope
      subscribe
  to receive updates for this topic.

= link_to "Change notifications", settings_notifications_path unless topic.auto_locked?
