.content-main-header2
  .pull-right
    = form_tag search_path, method: :get, id: 'search-form', style: 'margin-bottom:20px', class: 'form-inline' do
      .input-group
        = text_field_tag :search, params[:search], class: 'form-control', style: 'width:100%', placeholder: 'Search MyApnea', autocomplete: 'off'
        %span.input-group-btn
          = link_to '#', data: { object: 'submit', target: '#search-form' }, class: 'btn btn-primary', name: nil do
            %span.glyphicon.glyphicon-search

  %h1 Forum

= render 'layouts/per_page', per_page: 40, object_count: @topics.total_count
= link_to 'Start New Topic', new_topic_path, class: 'btn btn-primary'

- if @topics.count > 0 || (params[:s].blank? && params[:status].blank? && params[:a].blank?)
  - if @author
    .alert.alert-info
      Showing topics that include posts by
      %strong= @author.forum_name
  - elsif params[:a].present? && @author.blank?
    .alert.alert-warning
      There are no posts by
      = params[:a]
      in this forum.

%table.table.table-striped.table-hover
  %col.hidden-xs.hidden-sm{ width: '50px' }
  %col
  %col{ width: '50px' }
  %col.hidden-xs.hidden-sm{ width: '50px' }
  %col{ width: '100px' }
  %thead
    %tr.topic-row
      %th.hidden-xs.hidden-sm
      %th
      %th.small
        Posts
      %th.small.hidden-xs.hidden-sm
        Views
      %th.small
        Last Post
  %tbody
    - @topics.each do |topic|
      = render 'topics/summary_table_row', topic: topic

.centered= paginate @topics, theme: 'bootstrap-small'
