- @title = @topic.name

%div{ style: 'display:none' }
  Last Post At:
  = @topic.last_post_at.inspect

.content-main-header
  %h3
    = link_to 'Forums', forums_path
    %span.text-light7
      &middot;
      = link_to @forum.name, @forum
      &middot;
      %span.wrapword= @title
  - if current_user and @topic.editable_by?(current_user)
    = link_to 'Edit Topic', edit_forum_topic_path(@forum, @topic), class: 'btn btn-xs btn-primary'

- if current_user and current_user.has_role? :moderator and (@topic.hidden? or @topic.locked? or ['pending_review', 'spam'].include?(@topic.status))
  .panel.panel-primary
    .panel-heading
      %h4.f300 Moderator Information
    .panel-body
      - if @topic.status == 'pending_review'
        %i.fa.fa-eye-slash
        This topic is currently pending review. You can either
        = link_to 'approve', forum_topic_path(@forum, @topic, topic: { status: 'approved' }), method: :patch, class: 'btn btn-success btn-xs'
        this topic or
        = link_to 'mark the topic as spam', forum_topic_path(@forum, @topic, topic: { status: 'spam' }), method: :patch, class: 'btn btn-danger btn-xs'
        \.
      - if @topic.status == 'spam'
        %i.fa.fa-eye-slash
        This topic is marked as spam. If this was a mistake, you can
        = link_to 'undo', forum_topic_path(@forum, @topic, topic: { status: 'pending_review' }), method: :patch, class: 'btn btn-danger btn-xs'
        this and set the topic back to pending review.
      - if @topic.hidden?
        %i.fa.fa-eye-slash
        This topic has been hidden, and is not viewable to regular forum members. You can
        = link_to 'edit this topic', edit_forum_topic_path(@forum, @topic)
        to make it viewable again.
      - if @topic.hidden? and @topic.locked?
        %br
        %br
      - if @topic.locked?
        %span.glyphicon.glyphicon-lock
        This topic has been locked, and no longer allows users to edit or add new posts. You can
        = link_to 'edit this topic', edit_forum_topic_path(@forum, @topic)
        to unlock it.

- @posts = @topic.posts.page(params[:page]).per( Post::POSTS_PER_PAGE )

= render @posts

%div{ style: 'text-align:center' }= paginate @posts, theme: 'bootstrap-small'

- if @topic.locked?
  .text-muted{ style: 'text-align:center' }
    This topic is locked
    %span.glyphicon.glyphicon-lock
- elsif @topic.status == 'pending_review'
  .text-muted{ style: 'text-align:center' }
    This topic is currently under review.
    %i.fa.fa-eye
    - if current_user == @topic.user
      %br
      You will be notified by email when your topic has been approved.

- else
  - if current_user
    - @post = @topic.posts.new
    = form_for [@forum, @topic, @post], html: { class: 'form-horizontal' } do |f|
      - if @post.errors.any?
        #error_explanation.bs-callout.bs-callout-danger
          %h4
            = pluralize(@post.errors.count, "error")
            prohibited this comment from being saved
          %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg

      - if current_user.has_role? :moderator
        = f.hidden_field :status, value: 'approved'

      .row.reset-layout
        .col-xs-1.reset-layout
          = render partial: 'forums/user_image', locals: { user: current_user, size: 50 }

        .col-xs-11
          %ul.nav.nav-tabs
            %li.active
              %a{ href: '#write-new', data: { toggle: 'tab' } }
                Write
            %li
              %a{ href: '#preview-new', data: { toggle: 'tab', forum_id: "#{@forum.to_param}", topic_id: "#{@topic.to_param}", object: 'preview-post', post_id: 'new' } }
                Preview
            %li
              = link_to 'Markup', '#markup-new', data: { toggle: 'tab' }

          .tab-content
            #write-new.tab-pane.active{ style: 'padding-top:23px' }
              = f.text_area :description, rows: 7, class: 'form-control', id: 'post_description_new'
            #preview-new.tab-pane{ style: 'min-height:177px;padding-top:23px' }
              #preview-new.post-container
            #markup-new.tab-pane{ style: 'padding-top:23px' }
              = render partial: 'topics/markup'

      .row.reset-layout{ style: 'margin-top: 15px;'}
        .col-xs-1
        .col-md-11.col-xs-10.col-xs-offset-1.col-md-offset-0
          = f.submit "Comment", class: 'btn btn-primary'

    = render partial: 'topics/subscribe_unsubscribe', locals: { topic: @topic }
  - else
    .well{ style: 'text-align:center' }
      You may
      = link_to 'sign in'.html_safe, new_user_session_path, class: 'btn btn-xs btn-success'
      to join the discussion.


- if false
  %p{ id: "notice" }= notice

  %p
    %strong
      Forum:
      = @topic.forum_id

  %p
    %strong
      User:
      = @topic.user_id

  %p
    %strong
      Name:
      = @topic.name

  %p
    %strong
      Locked:
      = @topic.locked

  %p
    %strong
      Pinned:
      = @topic.pinned

  %p
    %strong
      Last post at:
      = @topic.last_post_at

  %p
    %strong
      Status:
      = @topic.status

  %p
    %strong
      Views count:
      = @topic.views_count

  %p
    %strong
      Slug:
      = @topic.slug
