.content-main-header
  .container
    %h1.wrapword= @topic.name
    %p.lead.light8{ style: 'margin-bottom: 0px;'}
      = link_to 'Forums', forums_path
      &middot;
      = link_to @forum.name, @forum

.container
  %br
  .row
    .col-sm-8
      - if @topic.posts.where(status: 'pending_review').count > 0
        .forum-post-content-container
          .post.post-muted
            %p
              This topic includes at least one post that has not been approved by a
              moderator. Please be advised that these posts may contain sensitive
              material or unsolicited medical advice. MyApnea does not endorse the
              content of these posts. The information provided on this site is not
              intended nor recommended as a substitute for advice from a health care
              professional who has evaluated you.
      - @posts = @topic.posts.includes(:user, topic: :forum).page(params[:page]).per( Topic::POSTS_PER_PAGE )
      = render @posts
      -# Display status of the topic to members
      - if @topic.locked?
        .text-muted{ style: 'text-align:center' }
          This topic is locked
          %span.glyphicon.glyphicon-lock

      - elsif @topic.status == 'pending_review'
        .text-muted{ style: 'text-align:center' }
          This topic is currently under review.
          %i.fa.fa-eye
          - if current_user == @topic.user
            %br
            You will be notified by email when your topic has been approved.

      - else
        - if current_user
          .inherit-background
            - @post = @topic.posts.new
            = form_for [@forum, @topic, @post], html: { class: 'form-horizontal' } do |f|
              - if @post.errors.any?
                #error_explanation.bs-callout.bs-callout-danger
                  %h4
                    = pluralize(@post.errors.count, "error")
                    prohibited this comment from being saved
                  %ul
                  - @post.errors.full_messages.each do |msg|
                    %li= msg

              - if current_user.moderator?
                = f.hidden_field :status, value: 'approved'

              .row
                .col-xs-11.col-xs-offset-1
                  %ul.nav.nav-tabs
                    %li.active
                      %a{ href: '#write-new', data: { toggle: 'tab' } }
                        Write
                    %li
                      %a{ href: '#preview-new', data: { toggle: 'tab', forum_id: "#{@forum.to_param}", topic_id: "#{@topic.to_param}", object: 'preview-post', post_id: 'new' } }
                        Preview
                    %li
                      = link_to 'Markup', '#markup-new', data: { toggle: 'tab' }

                  .tab-content
                    #write-new.tab-pane.active
                      = f.text_area :description, rows: 7, class: 'form-control', id: 'post_description_new', data: { object: 'text-area-autocomplete' }
                    #preview-new.tab-pane{ style: 'min-height:177px;padding-top:10px' }
                      #preview-new.post-container
                    #markup-new.tab-pane{ style: 'padding-top:15px' }
                      = render partial: 'topics/markup'
              %br
              .row.reset-layout
                .col-xs-11.col-xs-offset-1
                  = f.submit "Comment", class: 'btn btn-primary', data: { disable_with: "Posting comment..." }
              %br
              .text-right= paginate @posts, theme: 'bootstrap-small'
              %br
    .col-sm-4
      = paginate @posts, theme: 'bootstrap-small'
      = render 'topics/share_icons'
      - if current_user and (current_user.owner? or current_user.moderator?)
        = render 'topics/admin_info'
      - if current_user
        .well.well-sm= render 'topics/subscribe_unsubscribe', topic: @topic
      - else
        = render 'home/join_the_community', referrer: 'forums', message: 'Share stories directly with sleep researchers and others with sleep apnea'
