- @title = @topic.title

- @theme = "default"

- content_for :header do
  .float-right
    = link_to pencil_or("Write a reply"), page_topic_path(@topic, page: @topic.last_page(current_user), anchor: "write-a-reply"), method: :get, class: "btn btn-sm btn-accent btn-shadow" unless @topic.auto_locked?
    - if current_user && @topic.editable_by?(current_user)
      = render "layouts/edit_delete_dropdown_header", edit_url: edit_topic_path(@topic), delete_url: @topic, delete_confirmation: "Delete \"#{@topic.title}\"?"
  = @title

%div
  .float-right.d-none.d-md-block
    = paginate @replies, theme: "bootstrap-small"
  %ul.pagination.pagination-sm
    %li.page-item
      = link_to topics_path, class: "page-link" do
        = icon("fas", "angle-left")
        Back to forum

= render "replies/index", parent: @topic

- if @page == @topic.last_page(current_user)
  .mb-3
    - if @topic.auto_locked?
      .box-shadow.bg-light.p-3.rounded.text-center
        = icon("fas", "lock")
        Topic is locked.
        = link_to "Start a new topic", new_topic_path
    - else
      #comment_container_root_new{ style: "display:none" }
        - reply = @topic.replies.new
        = render "replies/form", reply: reply

      %a.anchor{ name: "write-a-reply" }
      #write_reply_root_new
        - async_write_a_reply_path = async_parent_reply_path(topic_id: @topic, parent_reply_id: "root", reply_id: "new")
        = link_to "Write a reply", async_write_a_reply_path, method: :post, remote: true, class: "btn btn-accent btn-shadow"

- unless @replies.first_page? && @replies.last_page?
  .center-horizontally= paginate @replies, theme: "bootstrap-small"

- if current_user
  #topic-subscription.mb-4.text-center= render "topics/subscribe_unsubscribe", topic: @topic

= render "topics/disclaimer"
