- @title = @topic.title

.content-main-header2
  %h1
    = link_to 'Forum', topics_path
    &middot;
    = @title

%div{ style: 'margin-bottom: 20px' }
  .pull-right.hidden-xs.hidden-sm{ style: 'margin-top: -20px' }
    = paginate @replies, theme: 'bootstrap-small'
  %span.nowrap
    = link_to 'Write a Reply', topic_path(@topic, page: @topic.last_page, anchor: 'write-a-reply'), method: :get, class: 'btn btn-primary'
    - if current_user && @topic.editable_by?(current_user)
      = link_to 'Edit Title', edit_topic_path(@topic), class: 'btn btn-default'
      = link_to 'Delete Topic', @topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

= render 'replies/index', parent: @topic

- if @page == @topic.last_page
  #comment_container_root_new{ style: 'display:none' }
    - reply = @topic.replies.new
    = render 'replies/form', reply: reply

  %a.anchor{ name: 'write-a-reply' }
  #write_reply_root_new{ style: 'margin-bottom: 20px' }
    = link_to 'Write a Reply', async_parent_reply_path(topic_id: @topic, parent_reply_id: 'root', reply_id: 'new'), method: :post, remote: true, class: 'btn btn-primary'

.centered= paginate @replies, theme: 'bootstrap-small'

= render 'topics/disclaimer'
