- @title = @topic.title

- @menu = "blue"
- @body = "grey"
- @footer = "grey"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to pencil_or("Write a Reply"), page_topic_path(@topic, page: @topic.last_page, anchor: "write-a-reply"), method: :get, class: "btn btn-sm btn-accent btn-shadow"
          - if current_user && @topic.editable_by?(current_user)
            = render "layouts/edit_delete_dropdown_header", edit_url: edit_topic_path(@topic), delete_url: @topic, delete_confirmation: "Delete \"#{@topic.title}\"?"
        = @title

.float-right.d-none.d-md-block{ style: "margin-top: -20px" }
  = paginate @replies, theme: "bootstrap-small"

.clearfix

= render "replies/index", parent: @topic

- if @page == @topic.last_page
  #comment_container_root_new{ style: "display:none" }
    - reply = @topic.replies.new
    = render "replies/form", reply: reply

  %a.anchor{ name: "write-a-reply" }
  #write_reply_root_new{ style: "margin-bottom: 20px" }
    - async_write_a_reply_path = async_parent_reply_path(topic_id: @topic, parent_reply_id: "root", reply_id: "new")
    = link_to "Write a Reply", async_write_a_reply_path, method: :post, remote: true, class: "btn btn-accent btn-shadow"

.center-horizontally= paginate @replies, theme: "bootstrap-small"

= render "topics/disclaimer"
