%table.table.table-striped
  %thead
    %tr
      %th
        New Users
      %th
        Adult Diagnosed
      %th
        Adult At-Risk
      %th
        Caregiver Adult
      %th
        Caregiven Child(ren)
      %th
        Provider
      %th
        Researcher
  %tbody
    %tr
      %td
        = users.count
      %td
        = users.where(adult_diagnosed: true).count
      %td
        = users.where(adult_at_risk: true).count
      %td
        = users.where(caregiver_adult: true).count
      %td
        = users.where(caregiver_child: true).count
      %td
        = users.where(provider: true).count
      %td
        = users.where(researcher: true).count
