- referrals = ["ASAA", "Internet", "Other"]
- @title = "Cross Tabs"
.content-main-header
  %h1= @title


-# Sex table
%table.table.table-striped
  %col{ width: "250px" }
  %thead
    %tr
      %th Sex
      %th ASAA
      %th Internet
      %th Other
      %th Total
  %tbody
    - sexes = ["Male", "Female"]
    - sexes.each do |sex|
      %tr
        %td= sex
        - referrals.each do |referral|
          %td= @user_values.select{ |key, h| h[:sex] == sex and h[:referral].include?(referral) }.count
        %td= @user_values.select{ |key, h| h[:sex] == sex and h[:referral].present? }.count
    %tr
      %td Total
      - referrals.each do |referral|
        %td= @user_values.select{ |key, h| h[:sex].present? and h[:referral].include?(referral) }.count
      %td= @user_values.select{ |key, h| h[:sex].present? and h[:referral].present? }.count
-# Race table
%table.table.table-striped
  %col{ width: "250px" }
  %thead
    %tr
      %th Race
      %th ASAA
      %th Internet
      %th Other
      %th Total
  %tbody
    - races = ["White", "Black", "Other"]
    - races.each do |race|
      %tr
        %td= race
        - referrals.each do |referral|
          %td= @user_values.select{ |key, h| h[:race].present? and h[:race].include?(race) and h[:referral].include?(referral) }.count
        %td= @user_values.select{ |key, h| h[:race].present? and h[:race].include?(race) and h[:referral].present? }.count
    %tr
      %td Total
      - referrals.each do |referral|
        %td= @user_values.select{ |key, h| h[:race].present? and h[:referral].include?(referral) }.count
      %td= @user_values.select{ |key, h| h[:race].present? and h[:referral].present? }.count
-# Providing basics table
%table.table.table-striped
  %col{ width: "250px" }
  %thead
    %tr
      %th Difficulty
      %th ASAA
      %th Internet
      %th Other
      %th Total
  %tbody
    - wealth_levels = ["Not very hard", "All other options"]
    - wealth_levels.each do |wealth_level|
      %tr
        %td= wealth_level
        - referrals.each do |referral|
          %td= @user_values.select{ |key, h| h[:wealth] == wealth_level and h[:referral].include?(referral) }.count
        %td= @user_values.select{ |key, h| h[:wealth] == wealth_level and h[:referral].present? }.count
    %tr
      %td Total
      - referrals.each do |referral|
        %td= @user_values.select{ |key, h| h[:wealth].present? and h[:referral].include?(referral) }.count
      %td= @user_values.select{ |key, h| h[:wealth].present? and h[:referral].present? }.count
-# Education table
%table.table.table-striped{style: 'table-layout:fixed' }
  %col{ width: "250px" }
  %thead
    %tr
      %th Education
      %th ASAA
      %th Internet
      %th Other
      %th Total
  %tbody
    - education_levels = ["High school or less", "Some college", "4-year college graduate", "More than 4-year college", "Other"]
    - education_levels.each do |education_level|
      %tr
        %td= education_level
        - referrals.each do |referral|
          %td= @user_values.select{ |key, h| h[:education] == education_level and h[:referral].include?(referral) }.count
        %td= @user_values.select{ |key, h| h[:education] == education_level and h[:referral].present? }.count
    %tr
      %td Total
      - referrals.each do |referral|
        %td= @user_values.select{ |key, h| h[:education].present? and h[:referral].include?(referral) }.count
      %td= @user_values.select{ |key, h| h[:education].present? and h[:referral].present? }.count
-# Age table
%table.table.table-striped{style: 'table-layout:fixed' }
  %col{ width: "250px" }
  %thead
    %tr
      %th Age
      %th ASAA
      %th Internet
      %th Other
      %th Total
  %tbody
    - @age_ranges.each do |age_display, age_range|
      %tr
        %td= age_display
        - referrals.each do |referral|
          %td= @user_values.select{ |key, h| h[:age] == age_display and h[:referral].include?(referral) }.count
        %td= @user_values.select{ |key, h| h[:age] == age_display and h[:referral].present? }.count
    %tr
      %td Total
      - referrals.each do |referral|
        %td= @user_values.select{ |key, h| h[:age].present? and h[:referral].include?(referral) }.count
      %td= @user_values.select{ |key, h| h[:age].present? and h[:referral].present? }.count
