- @title = 'Daily Engagement'
.content-main-header
  %h1
    = @title
  %p.lead.text-light8{ style: 'margin-bottom: 0px;'}
    = link_to 'Admin Dashboard', admin_path

.content-container
  #daily-engagement-week.daily-engagement-report

.content-container
  #daily-engagement-posts.daily-engagement-report

.content-container
  #daily-engagement-users.daily-engagement-report

.content-container
  #daily-engagement-surveys.daily-engagement-report

.content-container
  .content-header
    %h2 Demographics
    %br
    = form_tag daily_demographic_breakdown_path, remote: true do
      = date_select 'breakdown_date', nil, id: 'breakdown_date'
      = submit_tag "Calculate", class: 'btn btn-primary'
  #daily-demographic-breakdown.content-body
    %h3 Summary:
    #summary-breakdown.horizontal-inset
    %h3 Sex:
    #sex-breakdown.horizontal-inset
    %h3 Age:
    #age-breakdown.horizontal-inset
    %h3 Race:
    #racial-breakdown.horizontal-inset
    %h3 Ethnicity:
    #ethnicity-breakdown.horizontal-inset
    %h3 Location:
    #location-breakdown.horizontal-inset
