- @title = 'Daily Engagement'
.content-main-header
  .container
    %h1
      = @title
    %p.lead
      = link_to 'Admin Dashboard', admin_path

.container
  .content-container
    %h2 Demographics
    %br
    = form_tag admin_daily_engagement_path, method: :get do
      %label{ for: 'start_date' } Start date:
      = text_field_tag :start_date, @date1.strftime("%m/%d/%Y"), class: 'datepicker'
      &nbsp;
      &nbsp;
      %label{ for: 'breakdown_date_end' } End date:
      = text_field_tag :end_date, @date2.strftime("%m/%d/%Y"), class: 'datepicker'
      &nbsp;
      &nbsp;
      &nbsp;
      = submit_tag "Calculate", class: 'btn btn-primary'
    #daily-demographic-breakdown
      %h3 Summary:
      #summary-breakdown.horizontal-inset
        - if @date1.present? and @date2.present? and @date1!=@date2
          There were
          = @users_by_date.count
          new users between
          = @date1.inspect
          and
          = succeed '.' do
            = @date2.inspect
          Of these users,
          = @users_by_date.select{ |u| u.completed_demographic_survey? }.count
          completed the About Me survey.
        - elsif @date1.present?
          There were
          = @users_by_date.count
          new users on
          = succeed '.' do
            = @date1.inspect
          Of these users,
          = @users_by_date.select{ |u| u.completed_demographic_survey? }.count
          completed the About Me survey.
        - elsif @date2.present?
          There were
          = @users_by_date.count
          new users on
          = succeed '.' do
            = @date2.inspect
          Of these users,
          = @users_by_date.select{ |u| u.completed_demographic_survey? }.count
          completed the About Me survey.

        = render 'user_type_table', users: @users_by_date
      %h3 Sex:
      #sex-breakdown.horizontal-inset
        = render 'demographic_chart', question_slug: 'sex', range: 1..2
      %h3 Age:
      #age-breakdown.horizontal-inset
        - @ages.each do |data|
          %p
            %span.f500= "#{data[1][:text]}: "
            %span.primary-blue= data[1][:count]
      %h3 Race:
      #racial-breakdown.horizontal-inset
        = render 'demographic_chart', question_slug: 'race', range: 1..5
      %h3 Ethnicity:
      #ethnicity-breakdown.horizontal-inset
        = render 'demographic_chart', question_slug: 'ethnicity', range: 1..2
      %h3 Location:
      #location-breakdown.horizontal-inset
        = render 'location_list', users: @users_by_date, selector: 'state'
        = render 'location_list', users: @users_by_date, selector: 'country'

.content-container
  .container
    #daily-engagement-week.daily-engagement-report

.content-container
  .container
    #daily-engagement-posts.daily-engagement-report

.content-container
  .container
    #daily-engagement-users.daily-engagement-report

.content-container
  .container
    #daily-engagement-surveys.daily-engagement-report
