- @title = 'Daily Engagement'
.content-main-header
  %h1
    = @title
  %p.lead.text-light8{ style: 'margin-bottom: 0px;'}
    = link_to 'Admin Dashboard', admin_path

.content-container
  #daily-engagement-week.daily-engagement-report

.content-container
  #daily-engagement-posts.daily-engagement-report

.content-container
  #daily-engagement-users.daily-engagement-report

.content-container
  #daily-engagement-surveys.daily-engagement-report

.content-container
  .content-header
    %h2 Demographics
    %br
    = form_tag daily_demographic_breakdown_path, remote: true do
      %label{ for: 'breakdown_date_start' } Start date:
      = date_select 'breakdown_date_start', nil, order: [:month, :day, :year], id: 'breakdown_date_start'
      &nbsp;
      &nbsp;
      %label{ for: 'breakdown_date_end' } End date:
      = date_select 'breakdown_date_end', nil, order: [:month, :day, :year], id: 'breakdown_date_end'
      &nbsp;
      &nbsp;
      &nbsp;
      = submit_tag "Calculate", class: 'btn btn-primary'
  #daily-demographic-breakdown.content-body
    %h3 Summary:
    #summary-breakdown.horizontal-inset
      = "We had #{@users_by_date.count rescue 0 } new user(s) on #{@date.inspect}. Of these users, #{ @users_by_date.select{ |u| u.completed_demographic_survey? }.count rescue 0} completed the About Me survey."
      = render 'user_type_table', users: @users_by_date
    %h3 Sex:
    #sex-breakdown.horizontal-inset
      = render 'demographic_chart', demographic_data: Report.frequency_data('sex', 1..2, @users_by_date.pluck(:id)) rescue nil
    %h3 Age:
    #age-breakdown.horizontal-inset
      = render 'demographic_chart', demographic_data: @ages
    %h3 Race:
    #racial-breakdown.horizontal-inset
      = render 'demographic_chart', demographic_data: Report.frequency_data('race', 1..5, @users_by_date.pluck(:id)) rescue nil
    %h3 Ethnicity:
    #ethnicity-breakdown.horizontal-inset
      = render 'demographic_chart', demographic_data: Report.frequency_data('ethnicity', 1..2, @users_by_date.pluck(:id)) rescue nil
    %h3 Location:
    #location-breakdown.horizontal-inset
      = render 'location_list', users: @users_by_date, selector: 'state'
      = render 'location_list', users: @users_by_date, selector: 'country'
