- @title = 'Admin Dashboard'

.content-main-header2
  %h1= @title

%h3 Member Management
.row.center
  - if current_user.admin?
    .col-sm-3
      = link_to users_path, class: 'no-underline' do
        .blue-block-link
          Users

- if current_user.admin?
  %h3 Discussion
  .row.center
    .col-sm-3
      = link_to admin_replies_path, class: 'no-underline' do
        .blue-block-link
          Blog and Forum Replies

%h3 Survey Results
.row.center
  .col-sm-3
    = link_to admin_cross_tabs_path, class: 'no-underline' do
      .blue-block-link
        Cross Tabs
  - if current_user.admin?
    .col-sm-3
      = link_to admin_exports_path, class: 'no-underline' do
        .blue-block-link
          Exports
  .col-sm-3
    = link_to admin_surveys_path, class: 'no-underline' do
      .blue-block-link
        Surveys
.row.center
  .col-sm-3
    = link_to admin_progress_report_path, class: 'no-underline' do
      .blue-block-link
        Progress Report
  .col-sm-3
    = link_to admin_reports_timeline_path, class: 'no-underline' do
      .blue-block-link
        Timeline Report

- if current_user.admin?
  %h3 Features
  .row.center
    .col-sm-3
      = link_to admin_clinical_trials_path, class: 'no-underline' do
        .blue-block-link
          Clinical Trials
    .col-sm-3
      = link_to admin_partners_path, class: 'no-underline' do
        .blue-block-link
          Partners
    .col-sm-3
      = link_to admin_team_members_path, class: 'no-underline' do
        .blue-block-link
          Team Members
  .row.center
    .col-sm-3
      = link_to admin_social_media_path, class: 'no-underline' do
        .blue-block-link
          Social Media
