- @title = 'Admin Dashboard'
- @theme = 'sunset'

- content_for :body_class do
  myapnea-sunset-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

= render 'blank/sunset'

.row
  .col-sm-9.col-sm-push-3
    .dashboard-container
      .dashboard-title You can do things here!
      .dashboard-body
        %p
          We have
          = succeed '.' do
            = link_to 'news', blog_path

        %p And other stuff. Just for you, hurray!

        %p My Recent Topics I participated in

  .col-sm-3.col-sm-pull-9.col-sticky
    = render 'admin/menu'
