- @title = 'Engagement Report'
.content-main-header
  %h1
    = @title
  %p.lead.text-light8{ style: 'margin-bottom: 0px;'}
    = link_to 'Admin Dashboard', admin_path

.content-container
  .content-header
    %h3 Uploaded a photo
  .content-body
    %p.lead.centered{ style: 'margin-top: 20px' }
      = number_with_delimiter @uploaded_photo_count
      %span.text-muted
        = surround "(", ")" do
          = "#{(100.0 * @uploaded_photo_count / User.current.count).round(2)}%"

.content-container
  .content-header
    %h3 Introduced themselves
  .content-body
    %p.lead.centered{ style: 'margin-top: 20px' }
      = number_with_delimiter @introduced_count
      %span.text-muted
        = surround "(", ")" do
          = "#{(100.0 * @introduced_count / User.current.count).round(2)}%"

.content-container
  .content-header
    %h3 Joined the conversation
  .content-body
    %p.lead.centered{ style: 'margin-top: 20px' }
      = number_with_delimiter @discussed_count
      %span.text-muted
        = surround "(", ")" do
          = "#{(100.0 * @discussed_count / User.current.count).round(2)}%"

.content-container
  .content-header
    %h3 Completed a survey
  .content-body
    %p.lead.centered{ style: 'margin-top: 20px' }
      = number_with_delimiter @completing_surveys_count
      %span.text-muted
        = surround "(", ")" do
          = "#{(100.0 * @completing_surveys_count / User.current.count).round(2)}%"

.content-container
  .content-header
    %h3 Completed the research tutorial
  .content-body
    %p.lead.centered{ style: 'margin-top: 20px' }
      = number_with_delimiter @experienced_voter_count
      %span.text-muted
        = surround "(", ")" do
          = "#{(100.0 * @experienced_voter_count / User.current.count).round(2)}%"

.content-container
  .content-header
    %h3 Submitted a research question
  .content-body
    %p.lead.centered{ style: 'margin-top: 20px' }
      = number_with_delimiter @submitted_research_topic_count
      %span.text-muted
        = surround "(", ")" do
          = "#{(100.0 * @submitted_research_topic_count / User.current.count).round(2)}%"

.content-container
  .content-header
    %h3 Invited another member
  .content-body
    %p.lead.centered{ style: 'margin-top: 20px' }
      = number_with_delimiter @invited_members_count
      %span.text-muted
        = surround "(", ")" do
          = "#{(100.0 * @invited_members_count / User.current.count).round(2)}%"

.content-container
  .content-header
    %h3 Invited personal care provider
  .content-body
    %p.lead.centered{ style: 'margin-top: 20px' }
      = number_with_delimiter @invited_providers_count
      %span.text-muted
        = surround "(", ")" do
          = "#{(100.0 * @invited_providers_count / User.current.count).round(2)}%"
