- @title = 'Provider Report'
.content-main-header
  .container
    %h1= @title
    %p= link_to 'Admin Dashboard', admin_path

.well
  .container
    - max_members = @providers.sort{ |a,b| a.users.count <=> b.users.count }.last.users.count
    - providers = @providers.select{ |p| p.users.count == max_members }
    %h4.f300
      = "Provider".pluralize(providers.count)
      with most members:
    %ul
      - providers.each do |provider|
        %li
          = provider.slug.present? ? link_to(provider.name, (ENV['website_url'] + '/p/'+ provider.slug)) : ""
          &middot;
          = link_to "mailto:#{provider.email}" do
            %span.glyphicon.glyphicon-envelope
    %h4.f300
      Number of members:
      %span.f500.darkerer-blue= providers.first.users.count

.container
  .content-container
    %h3 Providers
    %table.table.table-striped
      %thead
        %tr
          %th Provider Name
          %th URL
          %th Date Joined
          %th Members
      %tbody
        - @providers.sort{ |a,b| a.last_name <=> b.last_name }.each do |provider|
          %tr
            %td= link_to (provider.last_name + ', ' + provider.first_name), "mailto:#{provider.email}"
            %td= provider.slug.present? ? link_to((ENV['website_url'] + '/p/' + provider.slug), (ENV['website_url'] + '/p/'+ provider.slug)) : ""
            %td= provider.created_at.strftime("%d-%m-%Y %l:%M%P")
            %td= provider.users.count
