- @title = 'Research Topics'
.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = @title

%p
  Number of research topics:
  %span.f500= @research_topics.count
%p
  Number of votes:
  %span.f500= Vote.current.count
%table.table.table-responsive.table-striped
  %thead
    %tr
      %th Endorsement
      %th Votes
      %th Text
      %th User
      %th Submitted
      %th Options
  %tbody
    - @research_topics.each do |research_topic|
      %tr

        %td
          - if research_topic.endorsement.present?
            = "#{(research_topic.endorsement * 100).round}%"
          - else
            0%
        %td= research_topic.votes.count
        %td= link_to research_topic.text, research_topic_path(research_topic)
        %td= link_to research_topic.user.forum_name, research_topic.user if research_topic.user
        %td= research_topic.created_at.strftime("%-m/%-d/%Y")
        %td
          .btn-group
            = link_to 'Edit Topic', edit_topic_path(research_topic.topic), class: 'btn btn-primary btn-xs'
            = link_to 'Edit Post', edit_topic_post_path(research_topic.topic, research_topic.topic.posts.first), class: 'btn btn-primary btn-xs'
            = link_to 'Moderate', edit_research_topic_path(research_topic), class: 'btn btn-success btn-xs'
            = link_to 'Delete', research_topic_path(research_topic), method: :delete, class: 'btn btn-danger btn-xs'
