- @title = "Spam Inbox"

- @body = "sky"
- @footer = "grass"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right= link_to "Empty Spam", admin_empty_spam_path, method: :post, data: { confirm: "DELETE all spammers?" }, class: "btn btn-xs btn-accent"
        = @title

= render "blank/sunset"

- if @spammers.present?
  %table.table
    %thead
      %tr
        %td Spammer
        %td Last Reply
        %td Actions
    - @spammers.each do |spammer|
      %tr
        %td
          = link_to spammer.name, spammer
          .small
            = spammer.email
          .small
            = spammer.forum_name
        %td.small
          - reply = Reply.where(user: spammer).last
          - if reply
            = link_to "view topic", reply
            = reply.description if reply
        %td
          = link_to "Not a spammer", admin_unspamban_path(spammer), method: :post, class: "btn btn-xs btn-default"

- else
  .jumbotron.jumbotron-action
    .lead.text-center{ style: "font-weight: 200;font-size: 24px;" }
      %i.fa.fa-fire-extinguisher.fa-2x.animate-wiggle.mr-3
      Hurray, no spammers!
