- @title = "Spam Inbox"

- @theme = "day"
- content_for :header do
  .float-right= link_to "Empty Spam", admin_empty_spam_path, method: :post, data: { confirm: "DELETE all spammers?" }, class: "btn btn-sm btn-accent"
  = @title
= render "admin/tabs"
- content_for :sidebar, render("admin/sidebar")
- content_for :footer, render("decorations/sunset")

- if @spammers.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover
      %col
      %col
      %col{ width: "1px" }
      %thead
        %tr
          %th Spammer
          %th Last Reply
          %th.text-center Actions
      - @spammers.each do |spammer|
        %tr{ id: "spammer-#{spammer.id}" }
          %td
            = link_to spammer.username, spammer
            .small
              = render "users/email", user: spammer
            .small
              = spammer.full_name
          %td.small
            - reply = Reply.where(user: spammer).last
            - if reply
              %p
                = link_to "#{reply.parent.class.to_s.downcase}", reply
                %strong= reply.parent.title
              = reply.description if reply
          %td.text-center.nowrap
            = link_to "Not a spammer", admin_unspamban_path(spammer), method: :post, class: "btn btn-sm btn-outline-dark"
            = link_to "Delete spammer", admin_destroy_spammer_path(spammer), method: :post, remote: true, class: "btn btn-sm btn-danger", data: { confirm: "DELETE #{spammer.email}?" }

- else
  .jumbotron.jumbotron-action.jumbotron-custom-text.jumbotron-shadow
    = icon("fas", "fire-extinguisher", class: "animate-wiggle mr-1")
    Hurray, no spammers!
