- @title = "Spam Inbox"

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"

- content_for :sidebar do
  = render "admin/sidebar"

- content_for :header do
  .float-right= link_to "Empty Spam", admin_empty_spam_path, method: :post, data: { confirm: "DELETE all spammers?" }, class: "btn btn-sm btn-accent"
  = @title

- content_for :footer do
  = render "decorations/sunset"

- if @spammers.present?
  %table.table
    %thead
      %tr
        %td Spammer
        %td Last Reply
        %td Actions
    - @spammers.each do |spammer|
      %tr
        %td
          = link_to spammer.full_name, spammer
          .small
            = spammer.email
          .small
            = spammer.forum_name
        %td.small
          - reply = Reply.where(user: spammer).last
          - if reply
            = link_to "view topic", reply
            = reply.description if reply
        %td
          = link_to "Not a spammer", admin_unspamban_path(spammer), method: :post, class: "btn btn-sm btn-light"

- else
  .jumbotron.jumbotron-action.jumbotron-shadow
    .lead.text-center{ style: "font-weight: 200;font-size: 24px;" }
      %i.fa.fa-fire-extinguisher.fa-2x.animate-wiggle.mr-3
      Hurray, no spammers!
