- @active_top_nav_link = :research

- @title = 'Surveys'
.content-main-header
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = @title

.content-container
  .content-header
    %h3 Surveys
    %p
      %span.f500 Total MyApnea.Org members:
      %span.text-info= User.current.count
    %p
      %span.f500 Members with signed consent:
      %span.text-info= User.current.where("accepted_consent_at is not null").count
  .content-body
    = render partial: "surveys/partials/list"
