- @active_top_nav_link = :research

- @title = 'Surveys'
.content-main-header
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = @title

.panel.panel-default
  .panel-heading
    .row
      .col-md-3
        %h3 Surveys
      .col-md-9
        .row
          .col-md-10
            .pull-right
              %strong Total MyApnea.Org members:
          .col-md-2
            .text-info= User.current.count
          .clearfix
        .row
          .col-md-10
            .pull-right
              %strong Members with signed consent:
          .col-md-2
            .text-info= User.current.where("accepted_consent_at is not null").count
          .clearfix
  .panel-body
    = render partial: "surveys/partials/list"
    = # link_to "+ Create New Survey"
