- @title = 'Version Stats'
.content-main-header
  %h1= @title


- @version_dates.each do |v|
  - release_users = User.current
  - release_users = release_users.where( "created_at >= ?", v[:release_date].at_noon ) if v[:release_date]
  - release_users = release_users.where( "created_at < ?", v[:next_release_date].at_noon ) if v[:next_release_date]

  %h2
    Version
    = v[:version]
    User Stats

  %dl.dl-horizontal
    %dt
      Release Date
    %dd
      = v[:release_date].strftime("%m/%d/%Y") if v[:release_date]

    - number_new_users = release_users.count
    %dt
      New Users
    %dd
      = number_new_users

    - number_consented = release_users.where.not(accepted_consent_at: nil)
    %dt
      Consented
    %dd
      = number_consented.count

      %span.text-muted
        = '(' + (number_consented.count * 100 / number_new_users).to_s + '%)' rescue '(0%)'

    - user_ids_with_completed_surveys = AnswerSession.current.where( locked: true ).pluck(:user_id).uniq
    - number_users_with_completed_surveys = number_consented.where(id: user_ids_with_completed_surveys)
    %dt
      Completing Surveys
    %dd
      = number_users_with_completed_surveys.count
      %span.text-muted
        = '(' + (number_users_with_completed_surveys.count * 100 / number_new_users).to_s + '%)' rescue '(0%)'

    - number_complete_surveys = AnswerSession.current.where( locked: true, user_id: user_ids_with_completed_surveys ).count
    %dt
      Avg # Complete
    %dd
      - if number_users_with_completed_surveys.count == 0
        0
      - else
        = "%0.2f" % (number_complete_surveys.to_f / number_users_with_completed_surveys.count)

    %dt
      Adult Diagnosed
    %dd
      = release_users.where(adult_diagnosed: true).count

    %dt
      Adult At-Risk
    %dd
      = release_users.where(adult_at_risk: true).count

    %dt
      Caregiver Adult
    %dd
      = release_users.where(caregiver_adult: true).count

    %dt
      Caregiven Child(ren)
    %dd
      = release_users.where(caregiver_child: true).count

    %dt
      Provider
    %dd
      = release_users.where(provider: true).count

    %dt
      Researcher
    %dd
      = release_users.where(researcher: true).count
