- if @encounter.new_record?
  - url = builder_survey_encounters_path(@survey)
  - method = :post
- else
  - url = builder_survey_encounter_path(@survey, @encounter.slug_was)
  - method = :patch
= form_for @encounter, url: url, method: method, html: { class: 'form-horizontal', multipart: true } do |f|
  - if @encounter.errors.any?
    .panel.panel-danger
      .panel-heading
        %strong
          = pluralize(@encounter.errors.count, "error")
          prohibited this encounter from being saved:

      .panel-body
        %ul
          - @encounter.errors.full_messages.each do |message|
            %li= message

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :slug, 'URL Slug', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :slug, class: 'form-control'
      .text-info
        Please only use lowercase letters, numbers, and dashes.

  .form-group
    = f.label :launch_days_after_sign_up, "Launched X Days After Sign Up", class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :launch_days_after_sign_up, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', url, class: 'btn btn-default'
