- @background_color = '#fff'
.content-main-header
  .container
    %h1
      Encounters
      = link_to 'New Encounter', new_builder_encounter_path, class: 'btn btn-xs btn-default'

.container
  %table.table.table-striped
    %thead
      %tr
        %th Encounter
        %th Slug
        %th Launch Days After Sign Up
        %th Creator
        %th Actions

    %tbody
      - if @encounters.count == 0
        %tr
          %td{ colspan: 5 }
            %p.centered.text-muted
              No encounters have been created. Get started
              = link_to 'and add your first encounter', new_builder_encounter_path
              today!
      - else
        - @encounters.each do |encounter|
          %tr
            %td= link_to encounter.name, builder_encounter_path(encounter)
            %td= encounter.slug
            %td= encounter.launch_days_after_sign_up
            %td= link_to_if current_user.owner?, encounter.user.name, encounter.user if encounter.user
            - if encounter.editable_by?(current_user)
              %td
                = link_to 'Edit', edit_builder_encounter_path(encounter), class: 'btn btn-xs btn-default'
                = link_to 'Destroy', builder_encounter_path(encounter), method: :delete, data: { confirm: "Are you sure you want to delete Encounter #{encounter.name}?" }, class: 'btn btn-xs btn-danger'
