- @background_color = '#fff'
.content-main-header
  .container
    %h1
      = link_to 'Encounters', builder_encounters_path
      &middot;
      = @encounter.slug

    - if @encounter.editable_by?(current_user)
      = link_to 'Edit Encounter', edit_builder_encounter_path(@encounter), class: 'btn btn-xs btn-default'
      = link_to 'Delete Encounter', builder_encounter_path(@encounter), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Encounter #{@encounter.slug}?" }

.container
  %dl.dl-horizontal
    %dt
      %strong Name
    %dd= @encounter.name

    %dt
      %strong Slug
    %dd
      = @encounter.slug

    %dt
      %strong Launched When
    %dd
      Launched
      - if @encounter.launch_days_after_sign_up == 0
        immediately
      - else
        = pluralize @encounter.launch_days_after_sign_up, 'day'
      after sign up.
