- percent = answer_session.percent_completed.round

.radial-progress.hidden-xs{ style: 'display:block; margin: 20px auto' }
  .circle{ data: { object: "circle_percentage", percent: "#{percent}", survey_id: answer_session.survey.id } }
    .mask.left
      .fill
    .mask.right
      .fill
      .fill.fix
    .shadow
  .inset
    .percentage
      .numbers
        %br
        .span{ data: { object: "circle_percentage_display", survey_id: answer_session.survey.id } }
          = succeed '%' do
            = percent
%h4.f300.centered-text
  = answer_session.survey.name
  %small.text-muted= answer_session.encounter.humanize unless answer_session.encounter == 'baseline'
// Mobile display for survey progress
%h5.f300.visible-xs.text-muted
  = succeed '% completed' do
    = percent
%h5.f300.primary-blue{ style: 'margin-bottom:30px;' }
  - if answer_session.completed? and answer_session.locked?
    = link_to 'View report', report_survey_path(answer_session.survey, answer_session.encounter)
  - elsif answer_session.survey.slug.present?
    - if answer_session.percent_completed == 100
      - link_text = 'Review and submit answers'
    - if answer_session.percent_completed > 0
      - link_text = 'Work on this survey now!'
    - else
      - link_text = 'Start this survey now!'

    = link_to link_text, show_survey_path(answer_session.survey.to_param, answer_session.encounter)
