= form_for notification do |f|
  = f.hidden_field :post_type
  .form-group
    = f.label :title, class: 'sr-only'
    = f.text_field :title, class: 'form-control input-lg', placeholder: "Title of Post", autocomplete: :off
  .form-group
    = f.label :author, class: 'sr-only'
    = f.text_area :author, placeholder: "Author", class: 'form-control input-lg'
  .form-group
    = f.label :tags, class: 'sr-only'
    = f.select :tags, notification.tag_list, {}, {multiple:true, placeholder: "Enter tags for this post...", data: {role: 'tagsinput'}, class: 'input-lg'}
  .form-group
    = f.label :state, class: 'sr-only'
    = f.select :state, ["accepted", "draft", "hidden"], {prompt: "-- select state --" }, { class: 'input-lg form-control' }
  .form-group
    = f.label :introduction, class: 'sr-only'
    = f.text_area :introduction, placeholder: "Introduction", class: 'form-control input-lg'
  .form-group
    = f.label :body, class: 'sr-only'
    = f.text_area :body, placeholder: "Body", class: 'form-control input-lg'
  = f.submit(nil, class: "btn btn-success pull-right")
