= form_for(@user, html: { class: 'form-horizontal' }) do |f|
  - if @user.errors.any?
    #error_explanation.bs-callout.bs-callout-danger
      %h4
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :first_name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :first_name, class: 'form-control'

  .form-group
    = f.label :last_name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :last_name, class: 'form-control'

  .form-group
    = f.label :forum_name, "Forum Username", class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :forum_name, class: 'form-control'

  .form-group
    = f.label :email, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :email, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :emails_enabled
          Emails Enabled

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :admin
          Admin

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :moderator
          Moderator

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :community_contributor
          Community Contributor
        .text-muted Can create and edit blog posts

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :can_build_surveys
          Can Build Surveys

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :include_in_exports
          Include in Exports and Reports

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :shadow_banned
          Shadow Banned

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', user_path(@user), class: 'btn btn-default'
