= form_with model: user, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: user, key: :full_name
  = render "forms/horizontal/text_field", form: form, object: user, key: :username
  = render "forms/horizontal/email_field", form: form, object: user, key: :email
  = render "forms/horizontal/check_box", form: form, object: user, key: :emails_enabled
  = render "forms/horizontal/check_box", form: form, object: user, key: :admin
  = render "forms/horizontal/check_box", form: form, object: user, key: :moderator
  = render "forms/horizontal/check_box", form: form, object: user, key: :content_manager, help_text: "Can create FAQs and articles."
  = render "forms/horizontal/check_box", form: form, object: user, key: :community_contributor, help_text: "Can create and edit blog posts."
  = render "forms/horizontal/check_box", form: form, object: user, key: :include_in_exports, key_name: "Include in exports and reports."
  = render "forms/horizontal/check_box", form: form, object: user, key: :shadow_banned
  = render "forms/horizontal/check_box", form: form, object: user, key: :spammer
  = render "forms/horizontal/submit", form: form, object: user
