#slide4.row.row-fullscreen
  .panel.signup-form.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
    #panel-sign-up.panel-body
      %h1.darker-blue
        Wake up to a better future!
      %h4
        By joining, you gain access to a unique group of resources and a growing research community. It's fast, simple, and completely free of cost to join and start making a difference!
        %br
        %br
        All of your information is completely protected.
        %span#privacy-policy.lighter-blue{ data: { toggle: 'modal', target: '#privacyModal' } } See our privacy policy.
      = form_for(resource, url: registration_path(resource), class: 'form-horizontal', method: :post) do |f|
        - if resource.errors.any?
          .bs-callout.bs-callout-danger#error_explanation
            %h4
              = pluralize(resource.errors.count, "error")
              prohibited this user from being saved
            %ul
              - resource.errors.messages.each do |key, msg|
                - if key == :over_eighteen
                  %li= msg.join(", ")
                - else
                  %li= "#{key.to_s.titleize} #{msg.join(", ")}"
        = f.hidden_field :beta_opt_in, value: true
        = f.hidden_field :provider_id
        .input-group
          = f.text_field :first_name, placeholder: 'First name', class: 'form-control'
          - if resource.errors.any? and resource.errors[:first_name].present?
            %span.input-group-addon.signup-error !
        .input-group
          = f.text_field :last_name, placeholder: 'Last name', class: 'form-control'
          - if resource.errors.any? and resource.errors[:last_name].present?
            %span.input-group-addon.signup-error !
        .input-group
          = f.email_field :email, placeholder: 'Email address', class: 'form-control'
          - if resource.errors.any? and resource.errors[:email].present?
            %span.input-group-addon.signup-error !
        .input-group
          = f.password_field :password, placeholder: 'Password', class: 'form-control'
          - if resource.errors.any? and resource.errors[:password].present?
            %span.input-group-addon.signup-error !
        #over18.input-group
          .checkbox
            = f.check_box :over_eighteen
            = f.label :over_eighteen, 'I am over the age of 18'
        .input-group
          = f.submit 'Sign up!', class: 'form-control', id: 'submit-join'

