%td.nowrap
  = profile_picture_tag user, size: 18, style: "min-width: 18px;"
  - if current_user.admin?
    .d-none.d-md-inline-block= link_to user.full_name.presence || user.username, user
  - else
    = link_to user.full_name.presence || user.username, posts_member_path(user.username)
- if current_user.admin?
  %td.small
    - if user.confirmed?
      %i.fa.fa-check-circle.text-success{ rel: "tooltip", data: { title: "Email confirmed", container: "body", placement: "top" } }
    - else
      %i.fa.fa-question-circle.text-muted{ rel: "tooltip", data: { title: "Unconfirmed email", container: "body", placement: "top" } }
    %span.d-none.d-md-inline.breakword
      = render "users/email", user: user
    %span.d-inline.d-md-none
      = link_to user, style: "word-break: break-word;" do
        = render "users/email", user: user
%td.d-none.d-sm-table-cell.nowrap
  %small= abbreviated_time(user.current_sign_in_at || user.created_at)
- if current_user.admin?
  %td.text-center
    - if user.shadow_banned?
      %i.fa.fa-eye-slash.text-muted
- if current_user.admin? && false
  %td.d-none.d-sm-table-cell.text-center
    \-1
%td.d-none.d-sm-table-cell.text-center
  %small= user.sign_in_count
%td.d-none.d-sm-table-cell.text-center
  %small= user.replies_count
- if current_user.admin?
  %td.text-center
    .dropdown
      = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
        .d-inline-block.d-sm-none
          = icon("fas", "cog")
        .d-none.d-sm-inline-block Actions
      .dropdown-menu.dropdown-menu-right
        = link_to edit_user_path(user), class: "dropdown-item" do
          = icon("fas", "pencil-alt")
          Edit
        - unless user == current_user
          .dropdown-divider
          - if !user.spammer? || !user.shadow_banned?
            = link_to spam_user_path(user), method: :post, remote: true, class: "dropdown-item text-danger" do
              %i.fa.fa-user-secret
              Spam
          = link_to user, method: :delete, data: { confirm: "Delete #{user.full_name}?" }, class: "dropdown-item text-danger" do
            = icon("fas", "trash-alt")
            Delete
