= render partial: 'layouts/partials/per_page', locals: { per_page: 40, object_count: @users.total_count }

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th{ style: "white-space:nowrap" } Recent Activity
      %th Owner
      %th Moderator
      %th{ style: "white-space:nowrap" } Surveys Completed
      %th
  - @users.each do |user|
    %tr
      %td{ style: 'white-space:nowrap' }
        = render partial: 'forums/user_image', locals: { user: user, size: 18 }
        = link_to user.name, user_path(user)
      %td= user.email
      %td
        - if user.current_sign_in_at
          = time_ago_in_words(user.current_sign_in_at)
          ago
      %td{ style: "text-align:center" }
        = simple_check user.has_role? :owner
      %td{ style: "text-align:center" }
        = simple_check user.has_role? :moderator
      %td
        = user.complete_surveys.count
      %td{ style: 'white-space:nowrap' }
        = link_to 'Edit', edit_user_path(user), class: 'btn btn-default btn-xs'
        - unless current_user == user
          = link_to 'Delete', user_path(user), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete User #{user.name}?" }

%div{ style: "text-align:center" }= paginate @users, theme: 'bootstrap'
