- @title = 'Users'

.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = @title

= form_tag users_path, method: :get, class: 'form-inline', style: 'margin-bottom: 20px' do
  = text_field_tag 'search', params[:search], class: 'form-control'
  = submit_tag 'Search', class: 'btn btn-primary', name: nil
  = link_to 'Reset', users_path, class: 'btn btn-default'
  = link_to export_users_path(format: 'csv'), class: 'btn btn-default' do
    Export CSV

= render 'users/users'
