- @title = "Users"

- @menu = "blue"
- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"

- content_for :sidebar, render("admin/sidebar")

- content_for :header do
  .float-right
    = link_to download_or("Export CSV"), export_users_path(format: "csv"), class: "btn btn-accent btn-shadow"
    = render "layouts/per_page", per_page: 40, object_count: @users.total_count
  = @title
  = render "search/toggle"

= render "search/simple", url: users_path

.dashboard-container
  %table.table.table-striped.table-borderless.table-hover
    %thead
      %tr
        %th Name
        - if current_user.admin?
          %th Email
        = th_sort_field @order, "users.current_sign_in_at", "Activity", extra_class: "d-none d-sm-table-cell"
        = th_sort_field @order, "users.shadow_banned", "Shadow Banned", extra_class: "text-center" if current_user.admin?
        - if current_user.admin? && false
          %th.d-none.d-sm-table-cell.text-center Surveys Completed
        = th_sort_field_rev @order, "users.sign_in_count", "Sign in Count", extra_class: "d-none d-sm-table-cell text-center"
        = th_sort_field_rev @order, "reply_count", "Posts", extra_class: "d-none d-sm-table-cell text-center"
        - if current_user.admin?
          %th.text-center Actions
    - @users.each do |user|
      %tr{ id: "user-#{user.id}-container", class: "#{"todays-users" if user.created_at.today?} #{"this-weeks-users" if user.created_at > Time.zone.now.beginning_of_week(start_day = :sunday)}"}
        %td.nowrap
          = profile_picture_tag user, size: 18, style: "min-width: 18px;"
          - if current_user.admin?
            .d-none.d-md-inline-block= link_to user.full_name.presence || user.username, user
          - else
            = link_to user.full_name.presence || user.username, posts_member_path(user.username)
        - if current_user.admin?
          %td.small
            %span.d-none.d-md-inline.breakword= user.email
            %span.d-inline.d-md-none= link_to user.email, user, style: "word-break: break-word;"
        %td.d-none.d-sm-table-cell.nowrap
          - if user.current_sign_in_at
            %small= abbreviated_time(user.current_sign_in_at)
        - if current_user.admin?
          %td.text-center
            - if user.shadow_banned?
              %i.fa.fa-eye-slash.text-muted
        - if current_user.admin? && false
          %td.d-none.d-sm-table-cell.text-center
            \-1
        %td.d-none.d-sm-table-cell.text-center
          %small= user.sign_in_count
        %td.d-none.d-sm-table-cell.text-center
          %small= user.replies.count
        - if current_user.admin?
          %td
            .dropdown
              = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
                .d-inline-block.d-sm-none
                  %i.fa.fa-cog
                .d-none.d-sm-inline-block Actions
                %strong.caret

              .dropdown-menu.dropdown-menu-right
                = link_to edit_user_path(user), class: "dropdown-item" do
                  %i.fa.fa-pencil
                  Edit
                - unless user == current_user
                  .dropdown-divider
                  = link_to user, method: :delete, data: { confirm: "Delete #{user.full_name}?" }, class: "dropdown-item text-danger" do
                    %i.fa.fa-trash
                    Delete

.center-horizontally= paginate @users, theme: "bootstrap"
