- @page_title = "MyApnea | Users"
.content-container
  .content-header
    %h1
      = @user.name
  - if @user.forum_name.present?
    .content-body
      %p.lead
        View this member's full social profile:
        %span.f500= link_to @user.forum_name, member_path(@user.forum_name), class: 'no-underline darkerer-blue'
  - if current_user.owner?
    .content-footer
      %h4 For admins:
      = render partial: 'users/admin_view', locals: { user: @user }

      - if current_user.owner?
        = link_to "Edit User", edit_user_path(@user), class: 'btn btn-primary btn-xs'
        = link_to 'Delete User', @user, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete User #{@user.name}?" } unless current_user == @user
