- @title = 'Users'

.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = link_to 'Users', users_path
    &middot;
    = @user.name

  = link_to 'Edit User', edit_user_path(@user), class: 'btn btn-xs btn-default'
  = link_to 'Delete User', @user, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete User #{@user.name}?" } unless current_user == @user

- if @user.shadow_banned?
  .jumbotron
    %p.lead.center{ style: 'margin-bottom: 0' }
      %span.glyphicon.glyphicon-eye-close
      This user has been shadow banned.

%table.table.table-hover.table-striped
  %col{ width: '30%' }
  %tr
    %td Forum Name
    %td= link_to @user.forum_name, member_path(@user.forum_name)

  %tr
    %td Email
    %td= @user.email

  %tr
    %td Emails Enabled
    %td= simple_check @user.emails_enabled

  %tr
    %td Number of Sessions
    %td= @user.sign_in_count if @user.sign_in_count.present?

  %tr
    %td Most Recent Session
    %td= @user.current_sign_in_at.strftime('%m/%d/%Y') if @user.current_sign_in_at.present?

  %tr
    %td Joined
    %td
      = @user.created_at.strftime('%m/%d/%Y') if @user.created_at.present?

  %tr
    %td Privacy Policy
    %td= @user.accepted_privacy_policy_at.strftime('%m/%d/%Y') if @user.accepted_privacy_policy_at.present?

  %tr
    %td Consent
    %td= @user.accepted_consent_at.strftime('%m/%d/%Y') if @user.accepted_consent_at.present?

  %tr
    %td Terms of Access
    %td= @user.accepted_terms_of_access_at.strftime('%m/%d/%Y') if @user.accepted_terms_of_access_at.present?

  %tr
    %td Completed Surveys
    %td= @user.completed_answer_sessions.count

  %tr
    %td Include in Data
    %td= simple_check @user.include_in_exports

  %tr
    %td Admin
    %td= simple_check @user.admin?

  %tr
    %td Moderator
    %td= simple_check @user.moderator?

  %tr
    %td Community Contributor
    %td= simple_check @user.community_contributor?

  %tr
    %td Can Build Surveys
    %td= simple_check @user.can_build_surveys?

  %tr
    %td Roles
    %td
      %ul.list-unstyled
        - @user.user_type_names.each do |ut|
          %li= ut

- if @user.answer_sessions.count > 0
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Assigned Survey
        %th Encounter
        %th Completion
        %th Locked
        %th Actions
    %tbody
      - @user.answer_sessions.includes(:survey).order('surveys.name_en', :encounter).each do |answer_session|
        %tr
          %td= answer_session.survey.name
          %td= answer_session.encounter
          %td= answer_session.percent_completed
          %td= simple_check answer_session.locked?
          %td
            - if answer_session.locked?
              = link_to 'Unlock Survey', admin_unlock_survey_path(user_id: @user.id, answer_session_id: answer_session.id), method: :post, class: 'btn btn-primary btn-xs'
- else
  .jumbotron
    %p.lead.center{ style: 'margin-bottom: 0' }
      No Assigned Surveys
