.rt-list-item
  = image_tag user_photo_url(rt.user), class: 'rt-user-img'
  .rt-content
    %p.f400
      = link_to rt.text, rt
    .pull-left

    .pull-right
      .rt-voters
        - rt.topic.posts.first(3).each do |comment|
          = link_to member_path(comment.user.forum_name), class: 'no-underline' do
            = image_tag user_photo_url(comment.user), class: 'commenter-thumbnail'
        - if rt.topic.posts.count > 3
          .commenter-thumbnail-more= "+#{rt.topic.posts.count - 3}"
    .clearfix
