.rt-list-item
  = image_tag user_photo_url(rt.user), class: 'rt-user-img'
  .rt-content
    %p.f400
      = link_to rt.text, rt
    .pull-left
      .rt-detail
        - if current_user and !current_user.cast_vote_for?(rt)
          %i.fa.fa-thumbs-up{ data: { object: 'rt-upvote', rt: rt.id, target: "#rt-vote-#{rt.id}"} }
          &nbsp;
          %i.fa.fa-thumbs-down{ data: { object: 'rt-downvote', rt: rt.id, target: "#rt-vote-#{rt.id}"} }
          &middot;
        - elsif current_user and current_user.endorsed?(rt)
          %i.fa.fa-thumbs-up.great{ data: { object: 'rt-already-voted', rt: rt.id, toggle: 'collapse', target: "#rt-vote-#{rt.id}"} }
          &middot;
        - elsif current_user
          %i.fa.fa-thumbs-down.danger{ data: { object: 'rt-already-voted', rt: rt.id, toggle: 'collapse', target: "#rt-vote-#{rt.id}"} }
          &middot;
        = time_ago_in_words(rt.created_at) + ' ago'

    .pull-right
      .rt-voters
        - rt.topic.posts.first(3).each do |comment|
          = link_to member_path(comment.user.forum_name), class: 'no-underline' do
            = image_tag user_photo_url(comment.user), class: 'commenter-thumbnail'
        - if rt.topic.posts.count > 3
          .commenter-thumbnail-more= "+#{rt.topic.posts.count - 3}"
    .clearfix
    - if current_user
      .inline-vote-container.collapse{ id: "rt-vote-#{rt.id}"}
        %hr
        - if !current_user.cast_vote_for?(rt)
          = render 'research_topics/voting_forms/inline', rt: rt
        - else
          = render 'research_topics/interactions/endorsement', research_topic: rt

