.research-topic-container
  .research-topic-header
    .research-topic-header-details
      = image_tag user_photo_url(research_topic.user), alt: '', class: 'img-responsive', style: 'width: 50px; height: 50px; float: left'
      %p.dark6.question-asked-by
        = render 'users/forum_name', user: research_topic.user
        proposed:
  .research-topic-body
    %h4= research_topic.text
    %hr
    - if research_topic.description.present?
      %h5.f300= "#{research_topic.description}"
