- @title = 'Welcome Health eHeart Members!'
.content-main-header2
  %h1=@title

.slide-signup-form
  .container
    .row
      .col-md-7.center
        %h1.white
          Improving the lives of
          %br.hidden-xs
          people with sleep apnea
        #landing-video-play.video-play-button{ data: { object: 'start-yt-video', toggle: 'modal', target: '#landingVideoModal', target_iframe: '#landingframe', src: '//www.youtube.com/embed/3I8YbWRgkjw?rel=0&modestbranding=1&autoplay=1&autohide=1&showinfo=0&wmode=opaque' } }
          %i.fa.fa-play-circle
          %p Learn more

      .simple-signup-form.col-md-4
        %p.f500
          It's within your power to have an impact on the future of sleep apnea
          \- connect with other people, doctors, and researchers and let your
          voice be heard!
        - resource = User.new
        = form_for(resource, url: registration_path(resource), method: :post) do |f|
          .input-group
            .col-sm-6
              = f.text_field :first_name, placeholder: 'First name', class: 'form-control'
            .col-sm-6
              = f.text_field :last_name, placeholder: 'Last name', class: 'form-control'
          .input-group
            .col-sm-12
              = f.email_field :email, placeholder: 'Email address', class: 'form-control'
          .input-group
            .col-sm-12
              = f.password_field :password, placeholder: 'Password', class: 'form-control'
          .input-group
            .col-sm-12
              = f.check_box :over_eighteen
              = f.label :over_eighteen, 'I am over the age of 18'
          .input-group.center
            = f.submit 'Join Today', class: "btn-join"
        %br
        .center
          Already have an account?
          = link_to 'Sign in now', new_user_session_path, class: 'no-underline darkerer-blue'

= render 'layouts/partials/landing_video_modal'
