- @title = 'Welcome Health eHeart Members!'
.content-main-header
  .container
    %h1=@title

.container
  .content-container
    #slide1
      #signup-form-above-fold.col-md-offset-4.col-md-4{ style: 'background-color: white' }
        %p.f500
          It's within your power to have an impact on the future of sleep apnea - connect with other people, doctors, and researchers and let your voice be heard!
        - resource = User.new
        = form_for(resource, url: registration_path(resource), method: :post) do |f|
          - if params[:invite_token].present?
            = f.hidden_field :invite_token, value: params[:invite_token]
          .input-group
            .col-sm-6
              = f.text_field :first_name, placeholder: 'First name', class: "form-control"
            .col-sm-6
              = f.text_field :last_name, placeholder: 'Last name', class: "form-control"
          .input-group
            .col-sm-12
              = f.email_field :email, placeholder: 'Email address', class: "form-control"
          .input-group
            .col-sm-12
              = f.password_field :password, placeholder: 'Password', class: "form-control"
          .input-group
            .col-sm-12
              = f.check_box :over_eighteen
              = f.label :over_eighteen, 'I am over the age of 18'
          .input-group.centered
            = f.submit 'Join Today', id: "btn-join"
        #risk-callout.centered
          Already have an account?
          = link_to 'Sign in now', new_user_session_path, class: 'no-underline darkerer-blue'
