- @title = "Exports"

- @body = "sky"
- @footer = "grass"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header do
  .float-right
    = link_to download_or("Export CSV"), admin_exports_path, method: :post, class: "btn btn-accent btn-shadow"
    = render "layouts/per_page", per_page: 20, object_count: @admin_exports.total_count
  = @title

- if @admin_exports.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-sticky
      %col
      %col
      %col{ width: "1px" }
      %thead
        %tr
          %th Name
          %th Status
          %th.text-center
            .d-none.d-sm-inline-block Actions

      %tbody
        - @admin_exports.each do |export|
          %tr
            %td= link_to export.name, export
            %td= export_status_helper(export)
            %td
              .dropdown
                = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
                  .d-inline-block.d-sm-none
                    %i.fa.fa-cog
                  .d-none.d-sm-inline-block Actions

                .dropdown-menu.dropdown-menu-right
                  = link_to [@project, export], method: :delete, data: { confirm: "Delete #{export.name}?" }, class: "dropdown-item text-danger" do
                    %i.fa.fa-trash
                    Delete

  .center-horizontally= paginate @admin_exports, theme: "bootstrap"
- else
  .jumbotron.jumbotron-action.jumbotron-custom-text.jumbotron-shadow
    No exports found.
