- @title = @admin_export.name


- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.drawer-and-shelf-container
  .drawer
    = render 'admin/menu'
  .shelf
    .dashboard-container
      #progress{ data: { object: "#{'ajax-timer' if @admin_export.status == 'started'}", path: progress_admin_export_path(@admin_export) } }
        = render 'admin/exports/progress'

      %p
        %strong Creator
        = @admin_export.user.name
