.pull-left
  - if current_user.reactions.current.where(post_id: post, form: Reaction::FORM_REQUEST).present?
    = link_to current_user.reactions.where(post_id: post).first, method: :delete, remote: :true, class: 'btn btn-blank btn-like liked' do
      %i.fa.fa-question
      Requested expert comment
  - else
    = form_for current_user.reactions.where(post_id: post.id).new, method: :post, remote: true do |f|
      = f.hidden_field :form, value: Reaction::FORM_REQUEST
      = f.hidden_field :post_id, value: post.id
      = f.button :submit, class: 'btn btn-blank btn-like' do
        %i.fa.fa-question
        Request expert comment
