.panel.panel-default
  .panel-heading
    .row
      - if short
        .col-lg-12
          .pull-right
            = link_to forum_path do
              .fa.fa-comments-o
          =link_to forem.forum_topic_path(post[:post].forum, post[:post]) do
            %h4.media-heading= post[:title]
          %p.caption= post["caption"]
          %small
            = link_to "Posted in the News Forum by #{post[:user]}", forem.forum_path(post[:post].forum)
          %br
          %small
            %strong= post[:created_at].strftime("%m/%d/%Y")
      - else
        .col-lg-1
          = image_tag post[:user_photo], :class => "img-responsive img-thumbnail"
        .col-lg-10
          =link_to forem.forum_topic_path(post[:post].forum, post[:post]) do
            %h4.media-heading= post[:title]
          %p.caption= post["caption"]
          %small
            = link_to "Posted in the News Forum by #{post[:user]}", forem.forum_path(post[:post].forum)
          %br
          %small
            %strong= post[:created_at].strftime("%m/%d/%Y")
        .col-lg-1
          = link_to forum_path do
            .fa.fa-comments-o

  .panel-body
    .row
      .col-md-12
        - if short
          %p= markdown truncate(post[:content], length: 100)
        - else
          %p= markdown post[:content]

    %p= link_to "Read more...", forem.forum_topic_path(post[:post].forum, post[:post]), target: '_blank'
