- if current_user.is_only_academic?
  .content-container
    - Survey.joins(:answer_sessions).group(:id).order('count(answer_sessions)').last(3).each do |survey|
      = link_to report_survey_path(survey) do
        = image_tag 'myapnea/icons/data_display'+rand(1..3).to_s+'.png', class: 'img-responsive', style: 'margin: 0 auto; width: 80%; max-width:250px; border-radius: 10px;'
        %p.f300.centered
          = survey.name
        %br
- elsif current_user.incomplete_answer_sessions.present?
  .content-container
    - answer_session = current_user.answer_sessions.no_child.joins(:survey).merge(Survey.current.viewable).order(:locked, 'surveys.name_en', :encounter).first
    = render 'surveys/answer_sessions/progress', answer_session: answer_session
- else
  .content-container.less-padding
    The fastest way to change the future of research is to get directly involved...
    = link_to 'Add your own research proposal!', new_topic_path
