%br
.container
  .row
    .col-sm-2
      .content-container
        = link_to (current_user.forum_name.present? ? member_path(current_user.forum_name) : account_path) do
          = image_tag user_photo_url(current_user), class: "img-responsive"
        %br
        %p.f500= "Welcome, #{current_user.first_name}!"
        - if current_user.incomplete_answer_sessions.present?
          %p.f500.small
            = link_to pluralize(current_user.incomplete_answer_sessions.count, 'incomplete survey'), surveys_path
        - if current_user.research_topics.approved.present?
          %p.f500.small
            = link_to pluralize(current_user.research_topics.approved.count, 'research proposal'), surveys_path
    .col-sm-7
      #recent-posts
        = render 'home/show_from_home'
      #read-more-recent-posts
        = render 'home/show_more_button'
    .col-sm-3
      - Highlight.current.where(displayed: true).sort{ |a,b| b.created_at <=> a.created_at }.first(5).each do |highlight|
        = render highlight
