- @page_title = 'Home'

.content-main-header
  %h1.f300
    = "Welcome #{current_user.first_name}!"

/ Survey widget
- if current_user.is_only_academic?
  .panel
    .panel-body
      .row
        - @surveys.each do |survey|
          .col-sm-4.centered-text
            = image_tag 'myapnea/icons/data_display'+rand(1..3).to_s+'.png', class: 'img-responsive', style: 'margin: 0 auto; width: 80%; max-width:250px; border-radius: 10px;'
            %h4.f300.centered-text
              = survey.name
            %h5.f300.primary-blue{ style: 'margin-bottom:30px;' }
              = link_to 'View Data', report_survey_path(survey)
- elsif current_user.assigned_surveys.count != current_user.completed_surveys.count
  .panel
    .panel-body
      .row
        - if !current_user.has_user_type?
          .centered-text{ style: 'display:block' }
            = image_tag 'myapnea/user_types/role_confused.png', class: 'img-responsive', style: 'margin: 0 auto; width: 150px;'
            %h4.f300{ style: 'margin: 0 10px;' }
              You have not listed your role in the sleep apnea community. In order to participate in this part of the research community, please
              = link_to 'select a role.', describe_yourself_path, style: 'text-decoration: none;'
        - else
          - @surveys.each do |survey|
            .col-sm-4.centered-text
              = render partial: 'surveys/partials/survey_progress', locals: { survey: survey }

/ Trending topic widget
/ .lighterer-blue-bcg{ style: 'padding: 20px; margin: 20px 0; border-radius: 20px;'}
/ %h1.text-white Trending Topic
= render partial: 'research_topics/voting_form', locals: { research_topic: current_user.highlighted_research_topic }

/ Highlights widget
.row{ style: 'margin-bottom:20px;' }
  - Highlight.current.where(displayed: true).sort{ |a,b| b.created_at <=> a.created_at }.first(3).each do |highlight|
    .col-sm-4
      = render partial: 'highlights/display', locals: { highlight: highlight }

/ Forums widget
#recent-posts
  = render 'home/show_from_home'
#read-more-recent-posts
  = render 'home/show_more_button'
