.content-main-header
  .container
    %h4.white.f300 Welcome, Kyle!
%br
.container
  .row
    .col-sm-2
      %br
      .user-profile-container.primary-blue-bcg.white
        = link_to (current_user.forum_name.present? ? member_path(current_user.forum_name) : account_path) do
          = image_tag user_photo_url(current_user), class: "img-responsive"
        /
          .user-profile-content
          %p.f500= "Welcome, #{current_user.first_name}!"
      %br
      = render 'home/research_highlight'
    .col-sm-7
      %p.f500.logo-color Recent Forum Activity
      / .content-container.primary-blue-bcg
      /   %h3.white
      /     Some callout!
      /     %span.primary-orange With a highlight
      #recent-posts
        = render 'home/show_from_home'
      #read-more-recent-posts
        = render 'home/show_more_button'
    .col-sm-3
      #research-topic-highlight
        = render 'home/voting_highlight'
      %p.f500.logo-color Research Highlights
      - Highlight.current.where(displayed: true).sort{ |a,b| b.created_at <=> a.created_at }.first(5).each do |highlight|
        = render highlight
