- @page_title = 'MyApnea | Focusing Sleep Apnea Research on Patient Outcomes'
/ WELCOME / JOIN
#slide1.row.row-fullscreen.reset-layout
  .col-md-6.col-md-offset-1
    %h1.text-white
      Improving the lives of people with sleep apnea
    %h3.f300.text-light9
      Awareness, community, research - together we're building it all.
    %br
    .centered-text
      = link_to 'Join Now', '#signup', class: 'btn btn-primary', id: 'btn-join'
  .col-md-3.col-md-offset-1.hidden-sm.hidden-xs
    .thumbnail#landing-video-play{ data: { object: 'start-yt-video', toggle:"modal", target:'#landingVideoModal', target_iframe: '#landingframe', src: '//www.youtube.com/embed/hzl_4W0Vxds?rel=0&autoplay=1&autohide=1&showinfo=0&wmode=opaque' } }
      %i.fa.fa-play-circle

  / COMMUNITY TRACKER
  #community-tracker.row.reset-layout
    .col-sm-8.col-sm-offset-2
      %h2.lighterer-blue
        Current community:
        = succeed " members" do
          %span.primary-blue= number_with_delimiter User.current.count
/ MISSION
#slide2.row.row-fullscreen.reset-layout
  .text-content-container
    %h1.darkerer-blue
      Get Involved!
    %p.lead
      The mission of MyApnea.Org is to improve the diagnosis and treatment of sleep apnea through the
      %span.lighter-orange active engagement of patients, families, researchers, and healthcare providers
      in a community that facilitates patient-centered research.
    %hr
    %p.lead
      We invite you to answer a series of questions about symptoms, treatment, and related health conditions.  Your answers will help the sleep apnea community better understand the disorder and where future research efforts should be directed.
    %p.lead
      Each completed survey earns you an entry into our monthly drawing for a
      %span.f500.lighter-orange $250 Visa Gift card.
    = link_to 'Get Started', '#signup', class: 'btn btn-primary btn-lg', id: 'get-started-button'
  %br
  .row
    #value1.col-sm-6
      = image_tag 'myapnea/icons/risk.png', class: 'img-responsive', style: 'max-width:150px; margin: auto;'
      %h3 Are You at Risk?
      %p.lead
        Over 80% of sleep apnea cases go undiagnosed. Take our quick test and see if you're at risk.
      = link_to 'Check Your Risk', get_bitly_link(:check_risk), class: 'btn btn-warning'
    #value2.col-sm-6
      = image_tag 'myapnea/icons/data_powerful.png', class: 'img-responsive', style: 'max-width:150px; margin: auto;'
      %h3 Your Data is Powerful
      %p.lead
        Research relies on people like you to help by sharing important data to find the best outcomes.
      = link_to 'Participate in Research', get_bitly_link(:surveys), class: 'btn btn-warning'
  .row
    #value3.col-sm-6
      = image_tag 'myapnea/icons/speech_bubbles.png', class: 'img-responsive', style: 'max-width:150px; margin: auto;'
      %h3 Join the Discussion!
      %p.lead
        Families, researchers, and care providers have all come together to help each other in amazing ways.
      = link_to 'See the Community', get_bitly_link(:forums), class: 'btn btn-warning'
    #value4.col-sm-6
      = image_tag 'myapnea/icons/did_you_know.png', class: 'img-responsive', style: 'max-width:150px; margin: auto;'
      %h3 Help Spread Awareness
      %p.lead
        By sharing our page and promoting sleep health, you can help others get the information they need!
      = link_to image_tag('myapnea/icons/facebook_icon.png', class: 'share-icons-animate share-icons-md'), get_bitly_link(:facebook)
      = link_to image_tag('myapnea/icons/twitter_icon.png', class: 'share-icons-animate share-icons-md'), 'http://ctt.ec/Qeg7f'
      = link_to image_tag('myapnea/icons/email_icon.png', class: 'share-icons-animate share-icons-md'), "mailto:?subject=Check%20out%20MyApnea.Org&body=This%20group%20is%20working%20to%20improve%20treatment%20and%20research%20of%20sleep%20apnea!%20You%20can%20learn%20more%20and%20join%20their%20community%20by%20visiting%20www.myapnea.org"

#slide3.row.reset-layout
  #testimonial.col-sm-8.col-sm-offset-1
    %p.lead
      As a new CPAP user, I was very happy to find the MyApnea.Org website. My immediate need has been trying to get ideas from experienced CPAP users about dealing with the nightly surprises that go along with adjusting to CPAP. It has been especially helpful to me hearing from people who have successfully used CPAP for 10, 20 and even 25 years. I have found that the experienced CPAP users have a wealth of practical knowledge about solutions as well as further resources.
    %h4
      \- Janet Barry
      %span.f300 (Florida, USA)
  #testimonial-giver.col-sm-2
    .img-centerer
    = image_tag 'myapnea/users/janet_barry.jpg', class: 'img-responsive', style: 'margin: auto'

#partners-banner.row.reset-layout
  .col-sm-12.col-md-4.col-lg-4.col-lg-offset-1
    = image_tag 'myapnea/welcome/img-small/asaa_logo.jpg', class: 'partners-img img-responsive', id: 'partner-AASA'
  .col-sm-12.col-md-4.col-lg-3
    = image_tag 'myapnea/welcome/img-small/pcornet_logo.jpg', class: 'partners-img img-responsive', id: 'partner-PCORnet'
  .col-sm-12.col-md-4.col-lg-3
    = image_tag 'myapnea/welcome/img-small/bwh_logo.jpg', class: 'partners-img img-responsive', id: 'partner-BWH'

%a{:name => "signup"}
= render 'users/signup_form', resource: User.new

.warning-bcg.text-dark7.centered-text{ style: 'padding: 10px;'}
  To enhance the user experience, this site enables the use of cookies and remarketing services to target ads to you based on your visit to MyApnea.Org.
  - if ENV['website_url'] == 'https://myapnea.org'
    %img{ src: "https://secure.fastclick.net/w/tre?ad_id=34691;evt=27663;cat1=36894;cat2=38051;rand=#{SecureRandom.hex(8)}", width: "1", height: "1", border: "0" }

= render partial: 'layouts/partials/landing_video_modal'
