- @title = 'Sleep Apnea Research and Community for Patient Outcomes'
- content_for :header do
  .slide-signup-form
    .container
      .row
        .col-md-7.centered
          %h1.white
            Improving the lives of
            %br.hidden-xs
            people with sleep apnea
          - if params[:v]=="b"
            %h3.light9
              Awareness, community, research -
              %br
              together, we're building it all.
          - else
            #landing-video-play.video-play-button{ onClick: "_gaq.push(['_trackEvent', 'Video', 'Play', 'Landing page video during A/B testing']);", data: { object: 'start-yt-video', toggle:"modal", target:'#landingVideoModal', target_iframe: '#landingframe', src: '//www.youtube.com/embed/3I8YbWRgkjw?rel=0&modestbranding=1&autoplay=1&autohide=1&showinfo=0&wmode=opaque' } }
              %i.fa.fa-play-circle
              %p Learn more

        .simple-signup-form.col-md-4
          %p.f500
            It's within your power to have an impact on the future of sleep apnea - connect with other people, doctors, and researchers and let your voice be heard!
          - resource = User.new
          = form_for(resource, url: registration_path(resource), method: :post) do |f|
            - if params[:invite_token].present?
              = f.hidden_field :invite_token, value: params[:invite_token]
            .input-group
              .col-sm-6
                = f.text_field :first_name, placeholder: 'First name', class: 'form-control'
              .col-sm-6
                = f.text_field :last_name, placeholder: 'Last name', class: 'form-control'
            .input-group
              .col-sm-12
                = f.email_field :email, placeholder: 'Email address', class: 'form-control'
            .input-group
              .col-sm-12
                = f.password_field :password, placeholder: 'Password', class: 'form-control'
            .input-group
              .col-sm-12
                = f.check_box :over_eighteen
                = f.label :over_eighteen, 'I am over the age of 18'
            .input-group.centered
              = f.submit 'Join Today', class: "btn-join"
          %br
          .centered
            Are you always tired?
            = link_to 'Check your risk now', sleep_apnea_risk_assessment_path, class: 'no-underline darkerer-blue'

  .slide-mission
    .container
      .row
        .col-md-9
          %h2.f300.myapnea-mission
            Our mission is to improve the diagnosis and treatment of sleep apnea through the
            %span.darkerer-blue active engagement
            of patients, families, researchers, and healthcare providers.
          %br
          .row
            .col-sm-offset-1.col-sm-4.col-sm-push-7
              = image_tag 'myapnea/icons/data_powerful.png', class: 'img-responsive', style: 'max-width:150px;'
            .col-sm-7.col-sm-pull-4
              %h3.f300 Your Data is Powerful
              %p.dark8
                Research relies on people like you to help by sharing important data to find the best outcomes.
              = link_to 'Participate in Research', surveys_path, class: 'btn btn-warning'
          %br
          %br
          .row
            .col-sm-offset-1.col-sm-4.col-sm-push-7
              = image_tag 'myapnea/icons/risk2.png', class: 'img-responsive', style: 'max-width:150px;'
            .col-sm-7.col-sm-pull-4
              %h3.f300 Are You at Risk?
              %p.dark8
                Over 80% of sleep apnea cases go undiagnosed. Take our quick test and see if you're at risk.
              = link_to 'Check Your Risk', sleep_apnea_risk_assessment_path, class: 'btn btn-warning'
          %br
          %br
          .row
            .col-sm-offset-1.col-sm-4.col-sm-push-7
              = image_tag 'myapnea/icons/speech_bubbles.png', class: 'img-responsive', style: 'max-width:150px; '
            .col-sm-7.col-sm-pull-4
              %h3.f300 Welcome to Our Community
              %p.dark8
                Families, researchers, and care providers have all come together to help each other in amazing ways.
              = link_to 'See the Community', chapters_path, class: 'btn btn-warning'
        .col-md-3.hidden-sm.hidden-xs
          = render 'home/blog', limit: 3

  .slide-highlights
    .container
      %h1.white.centered
        With a few minutes, you can:
      %br
      .row
        .col-md-4.no-padding
          .circle
            %span Join a dynamic, international research project
        .col-md-4.no-padding
          .circle
            %span Shape research to better benefit people like you
        .col-md-4.no-padding
          .circle
            %span Connect with thousands of supportive people

  .slide-testimonial
    .container
      .row
        .col-sm-3.testimonial-giver
          = image_tag 'myapnea/testimonials/KathyPage.jpg', class: 'img-responsive'
        .col-sm-9.testimonial
          %p.lead
            "It seems as if research is generally driven by funding organizations, which oftentimes is not reflective of the needs of patients. By having large amounts of data provided by and for us, we can now drive the research agenda. This is a way to democratize research—to generate understanding on the part of the researchers and patients together."
          %h4.centered
            \- Kathy Page
            %span.f300 (member with sleep apnea)

- content_for :footer do
  .slide-join
    .container
      %h1.white
        Join
        %span.primary-orange thousands
        of people already making a difference on MyApnea.Org.
      = link_to 'Join Today', new_user_registration_path, class: 'btn btn-join'

  .slide-full-video
    .full-screen-video
      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{ src: '//www.youtube.com/embed/3I8YbWRgkjw?rel=0&modestbranding=1&autohide=1&showinfo=0&wmode=opaque', allowFullScreen: 'true',  webkitallowfullscreen: 'true', mozallowfullscreen: 'true' }

  - if ENV['website_url'] == 'https://myapnea.org'
    %img{ src: "https://secure.fastclick.net/w/tre?ad_id=34691;evt=27663;cat1=36894;cat2=38051;rand=#{SecureRandom.hex(8)}", width: "1", height: "1", border: "0" }

  - unless params[:v]=="b"
    = render 'layouts/partials/landing_video_modal'
