= form_for @engagement, html: { class: 'form-horizontal' } do |f|
  - if @engagement.errors.any?
    #error_explanation.bs-callout.bs-callout-danger
      %h4
        = pluralize(@engagement.errors.count, "error")
        prohibited this engagement from being saved

      %ul
        - @engagement.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :text, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :text, class: 'form-control'
  .form-group
    = f.label :response_placeholder, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :response_placeholder, class: 'form-control'
  .form-group
    .checkbox.col-md-10.col-md-offset-2
      %label
        = f.check_box :adult_diagnosed
        Adult diagnosed
  .form-group
    .checkbox.col-md-10.col-md-offset-2
      %label
        = f.check_box :adult_at_risk
        Adult at risk
  .form-group
    .checkbox.col-md-10.col-md-offset-2
      %label
        = f.check_box :caregiver_adult
        Caregiver (adult)
  .form-group
    .checkbox.col-md-10.col-md-offset-2
      %label
        = f.check_box :caregiver_child
        Caregiver (child)
  .form-group
    .checkbox.col-md-10.col-md-offset-2
      %label
        = f.check_box :researcher
        Researcher
  .form-group
    .checkbox.col-md-10.col-md-offset-2
      %label
        = f.check_box :provider
        Provider
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit 'Save Engagement', class: 'btn btn-success'
