- @title = "Edit Engagement: #{@engagement.name}"
.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = link_to 'Engagements', engagements_path
    &middot;
    = link_to @engagement.name, @engagement
    &middot;
    Edit

= render 'form'
