- @title = "Engagement #{@engagement.name}"
.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = link_to 'Engagements', engagements_path
    &middot;
    = @engagement.name

= render @engagement
- this_weeks_data = @engagement.engagement_responses.current.where("updated_at > ? and updated_at < ?", Time.zone.now.beginning_of_week, Time.zone.now.end_of_week)
- engagement_response_data = engagement_data(this_weeks_data, Time.zone.now.beginning_of_week, Time.zone.now.end_of_week)
%h2
  This week
  = surround '(', ')' do
    = pluralize(this_weeks_data.count, 'response')
#engagement-response-heatmap.engagement-heatmap{ 'data-array' => engagement_response_data.to_json }
%br
%h2
  All time
  = surround '(', ')' do
    = pluralize(@engagement.engagement_responses.current.count, 'response')
.list-group
  - @engagement.engagement_responses.each do |response|
    .list-group-item
      = response.response
