- @title = "Email Settings"

- @theme = "night"
- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("settings/sidebar")
- content_for :footer, render("decorations/moon")

.card
  %h4.card-header
    %i.fa.fa-envelope
    Change email
  .card-body
    = form_with model: current_user, url: settings_update_email_path, method: :patch, local: true do |form|
      = render "forms/vertical/email_field", form: form, object: current_user, key: :email
      = render "forms/vertical/check_box", form: form, object: current_user, key: :emails_enabled, key_name: "Enable Emails", help_text: "Allow #{ENV["website_name"]} to send you emails. Unchecking this box will disable all emails except for password reset and account unlock emails."
      = render "forms/vertical/submit", form: form, object: current_user, submit_text: "Update email", cancel: false
