- @title = "Notification Settings"

- @theme = "default-dark"
- content_for :white_header, @title
= render "internal/tabs"
- content_for :sidebar, render("settings/sidebar")

.card
  %h4.card-header
    = icon("fas", "user-circle")
    Forum notifications
  .card-body
    = form_with model: current_user, url: settings_update_notifications_path, method: :patch, local: true do |form|
      = render "forms/vertical/check_box", form: form, object: current_user, key: :forum_auto_subscribe_on_reply, key_name: "Auto-subscribe when replying to a forum topic", help_text: "Check this to receive in-app notifications for new replies on a topic on which you left a reply."
      = render "forms/vertical/check_box", form: form, object: current_user, key: :forum_auto_subscribed, key_name: "Auto-subscribe to new forum topics", help_text: "Check this to receive in-app notifications for new forum topics."
      = render "forms/vertical/submit", form: form, object: current_user, submit_text: "Update settings", cancel: false
