- @title = "#{@json.dig("design", "name")} Report"

= render "projects/theme", project: @project

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")
- content_for :header, @title

- @json.fetch("design_options", []).each do |design_option|
  - case design_option.dig("variable_type") when "radio", "dropdown"
    .dashboard-container= render "slice/reports/radio", design_option: design_option
  - when "checkbox"
    .dashboard-container= render "slice/reports/checkbox", design_option: design_option
  - when "imperial_height"
    .dashboard-container= render "slice/reports/imperial_height", design_option: design_option
  - when "integer", "numeric"
    .dashboard-container= render "slice/reports/numeric", design_option: design_option
  - when "string"
  - else
    - if design_option.dig("variable_type").present?
      .dashboard-container= design_option.dig("variable_type")

.mb-5.text-center
  = link_to slice_surveys_path(@project), class: "btn btn-accent btn-lg btn-shadow" do
    %i.fa.fa-caret-left
    Back to Surveys
