- @title = "#{@json.dig("design", "name")} Report"

= render "projects/theme", project: @project
- content_for :header, @title
- content_for :sidebar, render("internal/sidebar")

- @design_report = YAML.load_file(Rails.root.join("lib", "data", "reports", "#{@project.slug}-#{params[:event]}-#{params[:design]}.yml")) rescue nil

- @json.fetch("design_options", []).each do |design_option|
  - case design_option.dig("variable_type") when "radio", "dropdown"
    .dashboard-container= render "slice/reports/radio", design_option: design_option
  - when "checkbox"
    .dashboard-container= render "slice/reports/checkbox", design_option: design_option
  - when "imperial_height"
    .dashboard-container= render "slice/reports/imperial_height", design_option: design_option
  - when "integer", "numeric"
    .dashboard-container= render "slice/reports/numeric", design_option: design_option
  - when "time_of_day"
    .dashboard-container= render "slice/reports/time_of_day", design_option: design_option
  - when "string"
  - else
    - if design_option.dig("variable_type").present?
      .dashboard-container= design_option.dig("variable_type")

.mb-5.text-center
  = link_to slice_overview_path(@project), class: "btn btn-primary btn-shadow" do
    = icon("fas", "caret-left")
    Back to overview
