- @title = "#{@json.dig("design", "name")} Report"

- @body = "light"
- @footer = "light"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.page-box.last-box
  .container
    - @json.fetch("design_options", []).each do |design_option|
      .card.mb-5
        .card-header= design_option.dig("display_name")
        .card-body
          - data = []
          - categories = []
          - design_option.fetch("domain_options", []).each do |domain_option|
            - next if domain_option.dig("count").zero?
            - data << domain_option.dig("count")
            - categories << domain_option.dig("name")
            .d-flex.flex-row.align-items-stretch
              .display-1{ class: domain_option.dig("count").zero? ? "text-muted" : "text-accent" }= domain_option.dig("count")
              .d-flex.align-items-center= domain_option.dig("name")
          = data if Rails.env.development?
          - series = [{ type: "column", showInLegend: false, name: "Percent", data: data }]
          - title = { text: design_option.dig("display_name"), align: "center" }
          - x_axis = { categories: categories, title: { text: nil } }
          - y_axis = { title: { text: "Count" } }
          %div{ data: { object: "survey-report-chart", series: series.to_json, title: title.to_json, x_axis: x_axis.to_json, y_axis: y_axis.to_json } }
          %div{ style: "position: relative;" }
            %canvas{ data: { object: "chartjs-report-chart" } }

    .mb-5.text-center
      = link_to slice_surveys_path(@project), class: "btn btn-accent btn-lg btn-shadow" do
        %i.fa.fa-caret-left
        Back to Surveys
