- @title = "Surveys"

= render "projects/theme", project: @project

- content_for :sidebar, render("internal/sidebar")
- content_for :header, @title

.dashboard-container
  - @subject.subject_events.reverse_each do |subject_event|
    .panel.panel-full-width
      %h1
        .float-right
          %small= @project.name
        = subject_event.name
      - if subject_event.complete?(@subject)
        .progress.progress-simple
          .progress-bar.progress-bar-striped.bg-success{ role: "progressbar", style: "width: 100%;", aria: { valuenow: "100", valuemin: "0", valuemax: "100" } }
      - elsif subject_event.percent.to_i.zero?
        .progress.progress-simple
          .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #ededed;", aria: { valuenow: "0", valuemin: "0", valuemax: "100" } }
      - else
        .progress.progress-simple
          .progress-bar.progress-bar-striped.bg-primary{ role: "progressbar", style: "width: #{subject_event.percent}%;", aria: { valuenow: "#{subject_event.percent}", valuemin: "0", valuemax: "100" } }
      .float-right
        %small.text-muted= "#{subject_event.percent}%"
      .clearfix
      .card-deck
        - subject_event.event_designs.each do |event_design|
          .card.mb-3{ style: "min-width: 250px;" }
            .card-body
              .small.card-title
                = event_design.design_name
              - if event_design.complete?(@subject)
                .progress.progress-simple
                  .progress-bar.progress-bar-striped.bg-success{ role: "progressbar", style: "width: 100%;", aria: { valuenow: "100", valuemin: "0", valuemax: "100" } }
              - elsif event_design.percent.to_i.zero?
                .progress.progress-simple
                  .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #ededed;", aria: { valuenow: "0", valuemin: "0", valuemax: "100" } }
              - else
                .progress.progress-simple
                  .progress-bar.progress-bar-striped.bg-primary{ role: "progressbar", style: "width: #{event_design.percent}%;", aria: { valuenow: "#{event_design.percent}", valuemin: "0", valuemax: "100" } }

            .card-footer
              .float-right
                %small.text-muted
                  - if event_design.complete?(@subject)
                    100%
                  - else
                    = "#{event_design.percent}%"
              - if event_design.valid? && event_design.incomplete?(@subject)
                - if event_design.percent.to_i.zero?
                  = link_to slice_surveys_start_path(@project, event_design.event_slug, event_design.design_slug) do
                    Start
                    = icon("fas", "caret-right")
                - else
                  = link_to slice_surveys_resume_path(@project, event_design.event_slug, event_design.design_slug) do
                    Resume
                    = icon("fas", "caret-right")
              - elsif event_design.valid? && event_design.complete?(@subject)
                %i.fa.fa-bar-chart.text-accent
                = link_to slice_surveys_report_path(@project, event_design.event_slug, event_design.design_slug), class: "small" do
                  View Report

              .clearfix

