= form_with model: project, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: project, key: :name, slug: "slug"
  = render "forms/horizontal/slug_field", form: form, object: project, key: :slug
  = render "forms/horizontal/text_area", form: form, object: project, key: :short_description
  = render "forms/horizontal/text_area", form: form, object: project, key: :consent
  = render "forms/horizontal/date_field", form: form, object: project, key: :launch_date
  = render "forms/horizontal/text_field", form: form, object: project, key: :access_token, help_text: "Located in project settings in #{link_to("Slice", ENV["slice_url"])}.".html_safe
  = render "forms/horizontal/text_field", form: form, object: project, key: :slice_site_id
  = render "forms/horizontal/text_field", form: form, object: project, key: :slice_baseline_event, placeholder: "baseline"
  = render "forms/horizontal/text_field", form: form, object: project, key: :code_prefix
  = render "forms/horizontal/check_box", form: form, object: project, key: :published
  = render "forms/horizontal/select", form: form, object: project, key: :theme, options: MyApnea::THEMES, include_blank: "Select a theme"
  = render "forms/horizontal/submit", form: form, object: project

- if false
  .form-group
    = f.label :consent, nil, class: "col-md-2 control-label"
    .col-md-10
      = f.text_area :consent, rows: [[15, project.consent.to_s.count("\n") + 1].max, 25].min, data: { object: "expandable-text-area", default_rows: 15 }, class: "form-control"
