= form_with model: project, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: project, key: :name, slug: "slug"
  = render "forms/horizontal/slug_field", form: form, object: project, key: :slug
  = render "forms/horizontal/text_area", form: form, object: project, key: :short_description
  = render "forms/horizontal/date_field", form: form, object: project, key: :launch_date
  = render "forms/horizontal/select", form: form, object: project, key: :theme, options: Project::THEMES, include_blank: true
  = render "forms/horizontal/submit", form: form, object: project


- if false

  = form_for project, html: { class: 'form-horizontal' } do |f|


    .form-group
      = f.label :short_description, nil, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :short_description, class: 'form-control', autocomplete: 'off'

    .form-group
      = f.label :consent, nil, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_area :consent, rows: [[15, project.consent.to_s.count("\n") + 1].max, 25].min, data: { object: 'expandable-text-area', default_rows: 15 }, class: 'form-control'

    .form-group
      = f.label :launch_date, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :launch_date, class: 'datepicker form-control', value: project.launch_date ? project.launch_date.strftime('%m/%d/%Y') : '', autocomplete: 'off'

    .form-group
      = f.label :theme, class: 'col-md-2 control-label'
      .col-md-10
        = f.select :theme, Project::THEMES, { include_blank: true }, class: 'form-control'

    .form-group
      .col-md-10.col-md-offset-2
        = f.submit nil, class: 'btn btn-primary'
        = link_to 'Cancel', project.new_record? ? projects_path : project, class: 'btn btn-link'
