- @title = "#{@project.name} Consent"

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = render 'layouts/edit_delete_dropdown_header', edit_url: edit_project_path(@project), delete_url: @project, delete_confirmation: "Delete #{@project.name}?"
        = link_to @project.name, @project
        Consent

.drawer-and-shelf-container
  .drawer
    = render 'admin/menu'
  .shelf
    .dashboard-container
      .brand-title Consent
      = simple_markdown_new @project.consent
