- @title = "#{@project.name} Consent"
- @menu_title = @project.name

- @theme = "night"
- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_header", edit_url: edit_project_path(@project), delete_url: @project, delete_confirmation: "Delete #{@project.name}?"
  = @menu_title
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "projects", projects_path
    %li= link_to @project.slug, @project
    %li.breadcrumb-muted consent
- content_for :sidebar, render("admin/sidebar")
- content_for :footer, render("decorations/moon")

.dashboard-container
  .brand-title Consent
  = simple_markdown @project.consent
