- @title = "#{@project.name} Consent"

- @menu = "night"
- @body = "night"
- @footer = "night"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("admin/sidebar")
- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_header", edit_url: edit_project_path(@project), delete_url: @project, delete_confirmation: "Delete #{@project.name}?"
  = link_to @project.name, @project
  Consent

- content_for :footer, render("blank/moon")

.dashboard-container
  .brand-title Consent
  = simple_markdown_new @project.consent
