- @title = "Edit Project - #{@project.name_was}"

- @theme = "night"
- content_for :header, @project.name_was
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "projects", projects_path
    %li= link_to @project.slug_was, @project
    %li.breadcrumb-muted edit
- content_for :sidebar, render("admin/sidebar")
- content_for :footer, render("decorations/moon")

.dashboard-container
  = render "form", project: @project
