- @title = 'Projects'

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to plus_or('New Project'), new_project_path, class: 'btn btn-accent btn-shadow'
          = render 'layouts/per_page', per_page: 40, object_count: @projects.total_count
        = @title

.drawer-and-shelf-container
  .drawer
    = render 'admin/menu'
  .shelf
    - if @projects.present?
      .dashboard-container
        %table.table.table-striped.table-borderless.table-hover
          %col
          %col
          %col{ width: '1px' }
          %thead
            %tr
              %th Name
              %th.center Launch Date
              %th.center Actions
              %th
          %tbody
            - @projects.each do |project|
              %tr
                %td= link_to project.name, project
                %td.center
                  %span.hidden-xs= project.launch_date ? project.launch_date.strftime('%a, %b %d, %Y') : nil
                  %span.hidden-sm.hidden-md.hidden-lg= project.launch_date ? project.launch_date.strftime('%b %d, %Y') : nil
                %td= render 'layouts/edit_delete_dropdown', edit_url: edit_project_path(project), delete_url: project, delete_confirmation: "Delete #{project.name}?"
      .center-horizontally= paginate@projects, theme: 'bootstrap'
    - else
      .jumbotron.jumbotron-action
        %p.center No projects found.

