- @title = "#{@project.name} - Projects"
- @menu_title = @project.name

- @theme = "night"
- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_header", edit_url: edit_project_path(@project), delete_url: @project, delete_confirmation: "Delete #{@project.name}?"
  = @menu_title
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "projects", projects_path
    %li.breadcrumb-muted= @project.slug
- content_for :sidebar, render("admin/sidebar")
- content_for :footer, render("decorations/moon")

.dashboard-container
  = render "forms/horizontal/show/text", object: @project, key: :name
  = render "forms/horizontal/show/markdown", object: @project, key: :short_description
  = render "forms/horizontal/show/check_box", object: @project, key: :published
  = render "forms/horizontal/show/text", object: @project, key: :launch_date
  = render "forms/horizontal/show/text", object: @project, key: :theme
  = render "forms/horizontal/show/generic", title: "Consent", content: link_to("View Consent", consent_project_path(@project)) if @project.consent.present?
  = render "forms/horizontal/show/generic", title: "Subjects", content: @project.remote_subjects
