- @title = 'Blog Comments'

.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = @title

%table.table.table-striped
  %thead
    %tr
      %th
      = th_sort_field @order, 'points', 'Points', extra_class: 'text-right'
      %th Blog Post
      %th Comment
      %th Author
      = th_sort_field @order, 'broadcast_comments.created_at', 'Date'

  %tbody
    - @broadcast_comments.each do |broadcast_comment|
      %tr
        %td.centered
          - if broadcast_comment.deleted?
            %span.glyphicon.glyphicon-eye-close{ data: { toggle: 'tooltip', title: 'Deleted', container: 'body', placement: 'left' } }
        %td.text-right
          - symbol = '+' if broadcast_comment.rank >= 0
          = "#{symbol}#{broadcast_comment.rank}"
        %td= link_to broadcast_comment.broadcast.title, blog_post_path(broadcast_comment.broadcast.url_hash.merge(anchor: 'comments'))
        %td{ class: broadcast_comment.deleted? ? 'text-muted' : '', style: broadcast_comment.deleted? ? 'text-decoration:line-through' : '' }
          .broadcast-comment-body{ style: 'font-size: 0.9em;padding:0;margin:0' }
            = simple_markdown(sanitize(broadcast_comment.description.gsub(/</, "&lt;")).gsub('&gt;', '>'), broadcast_comment.user.can_post_links?, true, 'table table-striped')
        %td= link_to broadcast_comment.user.forum_name, broadcast_comment.user
        %td= broadcast_comment.created_at.strftime('%a, %B %d, %Y at %-l:%M %p')

.centered= paginate @broadcast_comments, theme: 'bootstrap'
