.list-group
  %a.list-group-item{href: main_app.root_path, class: "#{"active" if action_name == "home"}"}
    .fa.fa-home
    &nbsp;
    Home
  %a.list-group-item{href: main_app.intro_path, class: "#{"active" if action_name == "intro"}"} About MyApnea.Org
  %a.list-group-item{href: main_app.learn_path, class: "#{"active" if action_name == "learn"}"} -&nbsp;&nbsp;Learn
  %a.list-group-item{href: main_app.share_path, class: "#{"active" if action_name == "share"}"} -&nbsp;&nbsp;Share
  %a.list-group-item{href: main_app.research_path, class: "#{"active" if action_name == "research"}"} -&nbsp;&nbsp;Participate in Research
  %a.list-group-item{href: main_app.team_path, class: "#{"active" if action_name == "team"}"} About Our Team
  %a.list-group-item{href: main_app.faqs_path, class: "#{"active" if action_name == "faqs"}"} FAQs

%h4 Our Partners

.list-group
  %a.list-group-item{href: "http://www.sleepapnea.org", target: "_blank"} ASAA
  %a.list-group-item{href: "http://www.pcornet.org/", target: "_blank"} PCORnet

-# Description of this section
%p.small All your questions about MyApnea.Org answered!


