
.list-group
  %a.list-group-item{href: main_app.root_path, class: "#{"active" if action_name == "home"}"}
    .fa.fa-home
    &nbsp;
    Home
  %a.list-group-item{href: account_path, class: "#{"active" if action_name == "account"}"} My Account Settings
  %a.list-group-item{href: social_profile_path, class: "#{"active" if action_name == "profile"}"} My Social Profile
  %a.list-group-item{href: consent_path, class: "#{"active" if action_name == "consent"}"} Research Consent
  %a.list-group-item{href: privacy_path, class: "#{"active" if action_name == "privacy_policy"}"} Privacy Policy
  %a.list-group-item{href: terms_and_conditions_path, class: "#{"active" if action_name == "terms_and_conditions"}"} Forum Terms & Conditions
  -# %a.list-group-item{href: account_export_path, class: "#{"active" if action_name == "account_export"}"} Export Account

-#-# Description of this section
-#%p.small Your account settings page enables you to control general settings on how you are involved in the site.
-#
-#%p.small
-#  = link_to "To update your social profile, click here.", social_profile_path
-#
