.list-group
  - if current_user.has_role? :owner
    %a.list-group-item{href: admin_users_path, class: "#{"active" if action_name == "users"}"} Members
  %a.list-group-item{href: admin_surveys_path, class: "#{"active" if action_name == "surveys"}"} Surveys
  %a.list-group-item{href: forums_path, class: "#{ 'active' if params[:controller] == 'forums' }"} Forums
  - if forum = Forum.find_by_name('News')
    %a.list-group-item{href: forum_path(forum), class: "#{"active" if action_name == "blog"}"} Blog Posts
  %a.list-group-item{href: admin_research_topics_path, class: "#{"active" if /research_topic/ =~ action_name }"} Research Topics


.list-group
  %a.list-group-item.list-group-item-warning{href: "https://myapnea1.uservoice.com/admin", :target => "_blank"} UserVoice
  %a.list-group-item.list-group-item-warning{href: "https://www.google.com/analytics/web/?hl=en#report/visitors-overview/#{ENV["google_analytics_report_id"]}/", :target => "_blank"} Google Analytics

-# Description of this section
%p.small This admin panel gives admins control over users and content on the site.


