.list-group
  %a.list-group-item{href: root_path, class: "#{"active" if current_page?(root_path)}"}
    .fa.fa-home
    Home
  %a.list-group-item{href: forums_path, class: "#{"active" if params[:controller] == 'forums'}"}
    .fa.fa-comments-o
    Forums
  %a.list-group-item{href: surveys_path, class: "#{"active" if action_name == "research_surveys"}" }
    .fa.fa-bar-chart
    Surveys
  - if false
    %a.list-group-item{href: blog_path, class: "#{"active" if action_name == "blog"}"} In The News
  %a.list-group-item{href: research_topics_path, class: "#{"active" if controller_path =~ /research_topics/}"}
    .fa.fa-check-square-o
    Research Questions
  %a.list-group-item{href: social_path, class: "#{"active" if action_name == "overview"}"}
    .fa.fa-map-marker
    Our Community

%hr/
= link_to blog_path do
  %h4 Recent News

= render partial: "shared/blog_posts", locals: { posts: Notification.all_posts(true) }
.text-muted.small
  = link_to blog_path do
    View more stories &nbsp;
    .fa.fa-arrow-right

%hr/

%h4 Coming Soon!
.list-group
  %a.list-group-item{href: research_today_path, class: "#{"active" if action_name == "research_today"}"}
    Daily Trends
  %a.list-group-item{href: data_connections_path, class: "#{"active" if action_name == "data_connections"}"} My Data Connections
  %a.list-group-item.disabled{href: '#', class: "#{"active" if action_name == "explore"}"} My Health Data
  / %a.list-group-item{href: main_app.data_reports_path, class: "#{"active" if action_name == "reports"}"} My Reports
  / %a.list-group-item{href: main_app.data_medications_path, class: "#{"active" if action_name == "medications"}"} My Medications
