%li{class: ("active" if action_name == 'home')}= link_to "Home", main_app.root_path
%li{class: ("active" if controller_name == 'forums')}= link_to "Forum", forem.root_path
%li{class: ("active" if action_name == 'intro')}= link_to "About", main_app.intro_path
%li{class: ("active" if action_name == 'faqs')}= link_to "Help", main_app.faqs_path


- if current_user
  - if current_user.can?(:view_admin_dashboard)
    %li
      %a{href: main_app.admin_path, :title => "Admin Panel"}
        %i.fa.fa-wrench
        &nbsp; Admin Panel
  %li.dropdown{class: ("active" if @active_top_nav_link == 'my_settings')}
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      My Settings
      %b.caret
    %ul.dropdown-menu
      %li
        %a{href: main_app.account_path}
          %i.fa.fa-user
          &nbsp; Account Settings
      %li
        = link_to main_app.destroy_user_session_path, :method => :delete do
          %i.fa.fa-sign-out
          &nbsp; Sign out
- else
  %li
    %a{:href => main_app.new_user_session_path}
      %i.fa.fa-sign-in
      &nbsp; Sign In