.form-group.row
  .col-md-2
  .col-md-10
    .form-check
      = form.label key, class: "custom-control custom-checkbox" do
        = form.check_box key, class: "custom-control-input#{" is-invalid" if object.errors[key].present?}", id: "#{object.class.table_name.singularize}_#{key}"
        %span.custom-control-indicator
        %span.custom-control-description= defined?(key_name) ? key_name : key.to_s.humanize
      = render "forms/help_text", help_text: help_text if defined?(help_text)
