- @active_top_nav_link = :about
.content-main-header
  %h1 About Us

.content-container
  = image_tag 'myapnea/welcome/img-small/finding_answers_together.png', class: 'img-responsive', style: 'margin: auto;'
  .content-header
    %h2.f300.centered
      MyApnea.Org is all about improving sleep apnea through
      %br
      %span.darker-blue information, support, and research
  .content-body
    %p.lead
      Join a new patient-led community created to fight sleep apnea. MyApnea.Org is a network created by people with sleep apnea to empower others and to help get needed answers.
    %p
      We are inviting thousands of people with sleep apnea and their caregivers to come together at MyApnea.Org to learn more about symptoms and treatment, to share their experiences with others within the community, and to become part of a national research network to improve lives. It’s a whole new way of finding help—for you and for millions of people with sleep apnea.
    %p
      MyApnea.Org is what’s called patient-powered research. Together, members share health information, discuss experiences regarding treatment, and express views directly to researchers and sleep experts on future research projects that can make a difference. In return, you will get easy-to-use tools to track your health and will be able to learn from others about treatments, symptoms, and coping with sleep apnea to take control of your life. And we will report back on all interesting research findings, in language you don’t have to be a scientist to understand.

.content-container
  .content-header
    %h3.f300.centered Help us spread the word!
  .content-body
    %p
      Collaboration is key to defeating sleep apnea. We have a few ways you can help us spread the word in order to get more people involved. Whether it's a quick tweet or telling a friend over coffee, we appreciate your help immensely -
      %span.f500 we can't do this without you!
    %ul
      %li
        = link_to 'Print one of our flyers', "#{ENV['website_url']}/pdfs/myapnea_flyer.pdf", class: 'open-tab'
        and post it at work or school, or ask your care provider if they will hang it in their offices - let's get more public exposure on sleep apnea!
      %li
        Share our pages using one of the
        %span.f500 social media buttons below
        \- it's quick, easy, and one of the best ways to get more people involved!
      %li
        Email your peers, professional networks, and alumni groups. We've made it easy by drafting an email -
        = link_to 'click here to quickly send it!', "mailto:?subject=Check out MyApnea.Org&body=This group is working to improve treatment and research of sleep apnea! You can learn more and join their community by visiting www.myapnea.org"
    %br
    .row
      .col-xs-2.col-xs-offset-2
        = link_to image_tag('myapnea/icons/facebook_icon.png', class: 'img-responsive share-icons-lg share-icons-animate'), "http://www.facebook.com/share.php?u=#{ENV['website_url']}"
      .col-xs-2
        = link_to image_tag('myapnea/icons/twitter_icon.png', class: 'img-responsive share-icons-lg share-icons-animate'), 'http://ctt.ec/Qeg7f'
      .col-xs-2
        = link_to image_tag('myapnea/icons/gplus_icon.png', class: 'img-responsive share-icons-lg share-icons-animate'), "https://plusone.google.com/_/+1/confirm?hl=en&url=http%3A%2F%2F%20#{ENV['website_url']}"
      .col-xs-2
        = link_to image_tag('myapnea/icons/email_icon.png', class: 'img-responsive share-icons-lg share-icons-animate'), "mailto:?subject=Check out MyApnea.Org&body=This group is working to improve treatment and research of sleep apnea! You can learn more and join their community by visiting www.myapnea.org"
