.content-main-header2
  %h1 Clinical Trials

.content-container
  %p
    There are a number of active research studies enrolling patients with sleep
    apnea across the U.S. A full list of studies can be found in
    = link_to 'clinicaltrials.gov', 'http://clinicaltrials.gov/'
    searching for
    = succeed '.' do
      = link_to 'sleep apnea', 'http://clinicaltrials.gov/ct2/results?term=sleep+apnea&Search=Search'
    On this page are several studies members have brought to our attention which
    may be of interest. Please contact us at
    = link_to 'support@myapnea.org', 'mailto:support@myapnea.org'
    if you are aware of other studies you feel MyApnea.Org members would be
    interested in learning about. We list these studies to increase awareness of
    current research, without any intention to endorse any specific research
    study.

- @clinical_trials.each do |ct|
  = render ct
  %br
