- if beta_enabled?(current_user, params)
  = render partial: 'static/beta/home'
- else
  #home
    .panel.panel-success#surveys
      .panel-heading
        Surveys - Participate in Research

      .panel-body
        - if current_user
          - if current_user.complete_surveys.select{|s| s.status == 'show'}.count == Survey.viewable.count
            - # All Done
            = render partial: 'surveys/partials/drawings_text_all_completed'
          - else
            - # Surveys in Progress
            = render partial: 'surveys/partials/drawings_text'
          = render partial: 'surveys/partials/viewable_surveys_widget'
        - else
          - # Not Signed In
          = render partial: 'surveys/partials/drawings_text'
          %div{ style: 'text-align:center' }
            = link_to new_user_registration_path, class: 'btn btn-lg btn-success' do
              Sign Up and Get Started
              .fa.fa-arrow-right

  #forums_container
    .panel.panel-primary
      .panel-heading
        Forums - Share with the Community
      .panel-body
        - if Forum.current.count > 0
          - forum = Forum.current.order(:position).first
          = render partial: 'forums/show', locals: { forum: forum, topic_limit: 10 }
          %h3= link_to 'More Forums', forums_path
          .row
          - Forum.current.order(:position).each_with_index do |forum, index|
            - unless index == 0
              .col-sm-4
                .panel.panel-primary
                  .panel-heading
                    = link_to forum.name, forum, style: 'color:white'
                  .panel-body
                    %strong= link_to pluralize(forum.topics.where(status: 'approved').count, 'topic'), forum
                    %p= forum.description
        - else
          The forums are currently unavailable.
          - if current_user and current_user.has_role? :owner
            As an owner, you may
            = link_to "Create a New Forum", new_forum_path, class: 'btn btn-primary btn-xs'
            \.

  .panel.panel-default
    .panel-heading
      Research Questions - Vote on the Future of Sleep Apnea Research
    .panel-body
      %p.lead
        Help direct the future of sleep apnea research. Below are questions
        important to network members. Every month, you can cast up to five
        votes. Top rated questions will be explored within the Forum. If
        data is lacking, the topic will be endorsed as an important
        direction for future research. Let your voice be heard, vote now!
    = render partial: "research_topics/research_topics", locals: { research_topics: ResearchTopic.popular.take(5), editable: false, disabled: true }
    .list-group
      %a.list-group-item.text-right{ href: research_topics_path }
        View and vote on all submitted questions and pose your own
        .fa.fa-arrow-right

  .panel.panel-warning
    .panel-heading
      The MyApnea.Org Community
    #user_map{ data: { path: locations_path } }

  = javascript_include_tag "//maps.googleapis.com/maps/api/js?key=AIzaSyBB91qMUvtmPzct9z7slTqm-lTUEVuYjKo"
  = javascript_include_tag 'social/maps'
