<!-- WELCOME / JOIN -->

  <!-- <div class="row-fullscreen" style="" id="slide-1"> -->
<div class="row row-fullscreen" style="" id="slide-1">
  <div class="col-md-8 col-md-offset-1">
    <h2 class="text-white">Finding answers...together!</h2>
    <h3 class="lighter-orange">Sleep apnea affects over 25 million Americans.  We are working together to improve the health and wellbeing of people with sleep apnea through information sharing, support, and research.</h3>
    <h4 class="text-white">Wake up to a better future - join now!</h4>
    <%= link_to 'Join the Community', '#signup', class: 'btn btn-primary', id: 'btn-join', style: 'font-weight: bold; border-radius:100px;'  %>
  </div>
  <div class='col-md-1'>
  </div>
  <!-- COMMUNITY TRACKER -->
  <div class="row" id="community-tracker">
    <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
      <h2 class="lighterer-blue">Current community:</br>
        <span class="primary-blue"><%= number_with_delimiter User.current.count %> </span>members
      </h2>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= image_tag 'myapnea/team/redline_200x200.jpg', class: 'round-img round-img-orange hidden-xs' %>
      <%= image_tag 'myapnea/testimonials/larry-testimonial-cropped.png', class: 'round-img round-img-blue hidden-xs' %>
      <%= image_tag 'myapnea/testimonials/justine-testimonial-cropped.jpeg', class: 'round-img round-img-orange hidden-xs' %>
      <%= image_tag 'myapnea/testimonials/steve-testimonial-cropped.jpeg', class: 'round-img round-img-blue hidden-xs' %>
    </div>
  </div>
</div>

<!-- MISSION -->
<div class="row row-fullscreen" id="slide-2">

  <div class="col-md-6 col-md-offset-1">
    <h1 class="primary-blue"><strong>Our Mission</strong></h1>
    <!-- <h3 class="lighter-blue">We plan to improve sleep apnea through information, support, and research</h3> -->
    <h3>The mission of MyApnea.Org is to improve the diagnosis and treatment of sleep apnea through the <span class="lighter-blue">active engagement</span> of patients, families, researchers, and healthcare providers in a community that facilitates patient-centered research.</h3>
  </div>
  <div class="col-md-4">
    <%= image_tag 'myapnea/welcome/img-small/team-hands-cropped.jpg', class: 'hidden-sm hidden-xs' %>
  </div>
</div><!-- END ROW -->

<!-- PLATFORM -->
<div class="row row-fullscreen" id="slide-3">
  <div class="col-md-3 col-md-offset-1 col-sm-12">
    <%= image_tag 'myapnea/welcome/img-large/unsplash-dont-stand-there.jpg', class: 'hidden-sm hidden-xs' %>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h1 class="primary-blue"><strong>Our Goal</strong></h1>
    <!-- <h3 class="lighter-orange">We plan to improve sleep apnea through information, support, and research</h3> -->
    <h3>MyApnea.Org is what’s called <span class="lighter-blue">patient-powered research</span>.  We are inviting thousands of people with (or at-risk of) sleep apnea and their caregivers to come together at MyApnea.Org to learn more about symptoms and treatment, to share their experiences, and to become part of a national research network to improve lives.  It’s a whole new way of finding help—for you and for millions of people with sleep apnea.</h3>
  </div>
</div><!-- END ROW -->



<!-- COMMUNITY -->

<div class="row row-fullscreen centered-text" id="slide-4">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="primary-blue"><strong>Our Community</strong></h1>
    <h2>MyApnea.Org is a community built by people with sleep apnea, family members, providers and researchers to share and learn from one another.</h2>
  </div><!-- END COL-10 -->
  <div class="col-md-1">
    <!-- PSEUDO-END ROW -->
  </div>
  <%= link_to forums_path, class: 'community-highlight-links ' do %>
    <div class='col-md-3 col-md-offset-1 col-xs-12 col-button community-highlight' id='community-highlight-1'>
      <h3 class="text-white">Active Forums</h3>
      <p class='lead'>Discuss with others about living with sleep apnea and what is important to you.  Share ideas on how to promote the website to others.  The more members we have, the more we can learn from each other and contribute to future research.</p>
    </div>
  <% end %>
  <%= link_to surveys_path, class: 'community-highlight-links' do %>
    <div class="col-md-3 col-xs-12 col-button community-highlight" id='community-highlight-2'>
      <h3 class="text-white">Research Surveys</h3>
      <p class='lead'>Answer a series of questions about symptoms, treatment, and related health conditions.  Your answers will help the sleep apnea community better understand the disorder and where future research efforts should be directed.</p>
      <p class='lead'>Each completed survey earns you an entry into our monthly drawing for a <span id='visa-gift-card' class='text-white'>$250 Visa Gift card.</span></p>
    </div>
  <% end %>
  <%= link_to research_topics_path, class: 'community-highlight-links' do %>
    <div class="col-md-3 col-xs-12 col-button community-highlight" id='community-highlight-3'>
      <h3 class="text-white">Impact Questions</h3>
      <p class='lead'>Cast your vote on which research questions matter to you most. Providers and researchers will share what is known about the highest ranked topics and if data is lacking they will endorse the topic as an important direction for future research.</p>
    </div>
  <% end %>
</div><!-- END ROW -->

<div class="row" id="partners-banner">
  <div class="col-sm-12 col-md-4 col-lg-4 col-lg-offset-1">
    <%= image_tag 'myapnea/welcome/img-small/asaa_logo.jpg', class: 'partners-img img-responsive', id: 'partner-AASA' %>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-3 ">
    <%= image_tag 'myapnea/welcome/img-small/pcornet_logo.jpg', class: 'partners-img img-responsive', id: 'partner-PCORnet' %>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-3 ">
    <%= image_tag 'myapnea/welcome/img-small/bwh_logo.jpg', class: 'partners-img img-responsive', id: 'partner-BWH'%>
  </div>
</div>

<!-- JOIN US -->
<a name="signup"></a>
<div class="row row-fullscreen" id="slide-5">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 panel panel-signup">
    <div class="panel-body" id="panel-sign-up">
    <h1 class="darker-blue">Wake up to a better future!</h1>
    <h4>By joining, you gain access to a unique group of resources and a growing research community. It's fast, simple, and completely free of cost to join and start making a difference!</br></br>
    And, of course, all of your information is completely protected!
    <% if true %>
      <span id='privacy-policy' class='lighter-blue' data-toggle="modal" data-target="#privacyModal">See our privacy policy.</span>
    <% else %>
      <%= link_to 'See our privacy policy.', privacy_path, target: '_blank' %>
    <% end %>
    </h4>

    <%= form_tag user_registration_path, method: :post do %>
      <!-- <div class='input-group'> -->
        <!-- <span class="input-group-addon" id="in1">First name</span> -->
        <%= text_field_tag 'user[first_name]', nil, placeholder: 'First name', class: 'form-control', aria: { describedby: 'in1' } %>
      <!-- </div> -->
      <!-- <div class='input-group'> -->
        <!-- <span class="input-group-addon" id="in2">Last name</span> -->
        <%= text_field_tag 'user[last_name]', nil, placeholder: 'Last name', class: 'form-control', aria: { describedby: 'in2' } %>
      <!-- </div> -->
      <!-- <span class="input-group-addon" id="in3">Birth year:</span> -->
      <%= select_tag 'user[year_of_birth]', options_for_select([['- Select your birth year -', nil]] + (1900..Date.today.year).to_a.reverse.collect{|i| [i,i]}), class: 'form-control', aria: { describedby: 'in3' } %>
      <%= text_field_tag 'user[email]', nil, placeholder: 'Email address', class: 'form-control' %>
      <%= password_field_tag 'user[password]', nil, placeholder: 'Password', class: 'form-control' %>
      <%= submit_tag 'Sign up!', class: 'form-control', id: 'submit-join' %>
    <% end %>

    </div>
  </div> <!-- END COL-10 PANEL-->

</div><!-- END ROW -->



<script>
  $('input, textarea').placeholder();
</script>
