- @active_top_nav_link = :learn
- @page_title = 'Learn About Sleep Apnea Symptoms, Sleep Apnea Treatments, and Why We Care'
.content-main-header
  %h1 Learn more about sleep apnea!

.content-container
  .full-screen-video
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{ src: '//www.youtube.com/embed/4JkiWvWn2aU?rel=0&modestbranding=1&autohide=1&showinfo=0&wmode=opaque', allowFullScreen: 'true',  webkitallowfullscreen: 'true', mozallowfullscreen: 'true' }

.content-container
  .content-body
    %p.lead= @pc['content']
    - @pc['questions'].each do |question|
      %h2.f300= question['question']
      %p.f300.spaced= question['answer']
    %ul
      - @pc['resources'].each do |resource|
        %li= markdown resource['description']
    %br

.content-container
  .full-screen-video
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{ src: '//www.youtube.com/embed/7CcP7MrzJWw?rel=0&modestbranding=1&autohide=1&showinfo=0&wmode=opaque', allowFullScreen: 'true',  webkitallowfullscreen: 'true', mozallowfullscreen: 'true' }

.content-container
  .content-header
    %h2.f300.centered Additional Resources
  .content-body
    %p.lead
      The following professional and non-profit organizations provide educational resources and are working with MyApnea.Org to promote the Network and sleep apnea research.
    %ul
      %li
        = link_to "International Surgical Sleep Society (ISSS)", 'http://surgicalsleep.org/'
        is a non-profit organization dedicated to fostering health worldwide by improving the care of people with sleep disorders. Formed in 2006, the society has members from around the globe.
      %li
        If you are interested in partnering with MyApnea.Org and would like your organization listed, please contact
        = link_to "darrel@myapnea.org", "mailto:darrel@myapnea.org?subject=I would like to partner with MyApnea.Org!"

- unless current_user
  = render 'home/join_the_community', referrer: 'learn'
