.content-main-header
  %h1
    PAP Devices

= link_to 'About PAP Therapy', learn_pap_about_PAP_therapy_path
= link_to 'PAP Care and Maintenance', learn_pap_PAP_care_and_maintenance_path
= link_to 'PAP Masks and Equipment', learn_pap_PAP_masks_and_equipment_path
= link_to 'PAP Quick Setup Guide', learn_pap_PAP_setup_guide_path
= link_to 'PAP Troubleshooting Guide', learn_pap_PAP_troubleshooting_guide_path
= link_to 'Side Effects of PAP Devices', learn_pap_side_effects_of_PAP_path
= link_to 'Traveling with PAP Devices', learn_pap_traveling_with_PAP_path
