.content-main-header
  .container
    %h1 PAP Devices

.container
  .content-container
    %p.lead
      Positive Airway Pressure (PAP) therapy is the most common treatment for sleep apnea. When using PAP, you wear a small mask that is attached to a lightweight hose. The hose attaches to a small machine responsible for creating air pressure. This machine is the PAP device.
    %p
      Learn more about these devices by visiting the informational pages below.
    %p.small.italic
      *This information is provided for informational purposes and as general guidance only.  Patients should refer to the cleaning and maintenance instructions provided with your specific equipment.  If you did not receive maintenance and cleaning instructions with your equipment, please contact your equipment provider to obtain instructions.
    .list-group-item
      = link_to 'About PAP Therapy', pap_about_pap_therapy_path
    .list-group-item
      = link_to 'PAP Care and Maintenance', pap_pap_care_and_maintenance_path
    .list-group-item
      = link_to 'PAP Masks and Equipment', pap_pap_masks_and_equipment_path
    .list-group-item
      = link_to 'PAP Quick Setup Guide', pap_pap_setup_guide_path
    .list-group-item
      = link_to 'PAP Troubleshooting Guide', pap_pap_troubleshooting_guide_path
    .list-group-item
      = link_to 'Side Effects of PAP Devices', pap_side_effects_of_pap_path
    .list-group-item
      = link_to 'Traveling with PAP Devices', pap_traveling_with_pap_path
