.content-main-header
  %h1
    PAP Devices

.panel
  .panel-body
    %p.lead
      Positive Airway Pressure (PAP) therapy is the most common treatment for sleep apnea. When using PAP, you wear a small mask that is attached to a lightweight hose. The hose attaches to a small machine responsible for creating air pressure. This machine is the PAP device.
    %p.lead
      Learn more about these devices by visiting the informational pages below.
    .list-group-item
      %br
      %p.lead= link_to 'About PAP Therapy', learn_pap_about_PAP_therapy_path
    .list-group-item
      %br
      %p.lead= link_to 'PAP Care and Maintenance', learn_pap_PAP_care_and_maintenance_path
    .list-group-item
      %br
      %p.lead= link_to 'PAP Masks and Equipment', learn_pap_PAP_masks_and_equipment_path
    .list-group-item
      %br
      %p.lead= link_to 'PAP Quick Setup Guide', learn_pap_PAP_setup_guide_path
    .list-group-item
      %br
      %p.lead= link_to 'PAP Troubleshooting Guide', learn_pap_PAP_troubleshooting_guide_path
    .list-group-item
      %br
      %p.lead= link_to 'Side Effects of PAP Devices', learn_pap_side_effects_of_PAP_path
    .list-group-item
      %br
      %p.lead= link_to 'Traveling with PAP Devices', learn_pap_traveling_with_PAP_path
