.content-main-header
  %h1 Our Partners

.content-container.partners-content
  .content-body
    .row
      .col-md-8
        %h2.f300.darker-blue
          = link_to 'Division of Sleep and Circadian Disorders, Brigham and Women\'s Hospital', 'http://www.brighamandwomens.org/Departments_and_Services/medicine/services/sleepmedicine/default.aspx', class: 'no-underline'
        %p
          Boston's Brigham and Women's Hospital (BWH) is an international leader in virtually every area of medicine and has been the site of pioneering breakthroughs that have improved lives around the world. A major teaching hospital of Harvard Medical School, BWH has a legacy of excellence that continues to grow year after year.
          The Division of Sleep and Circadian Disorders was formed in 2013 by the Departments of Medicine and Neurology to unify the delivery of clinical care, increase educational opportunities, and promote interdisciplinary research in the fields of sleep and circadian biology. Its mission is to forge a path of discovery in sleep medicine while providing the highest standard of clinical care for patients with sleep disorders and training the next generation of leaders in sleep and circadian biology.
      .col-md-4.right.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/bwh_logo_square.jpg', class: 'partners-logo-square'
    .row
      .col-md-4.left.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/sleepepi_logo.jpg', class: 'partners-logo-square img-rounded'
      .col-md-8.pull-right
        %h2.f300.darker-blue
          = link_to 'Brigham and Women’s Hospital Sleep Medicine Epidemiology Program', 'http://sleepepi.partners.org/about/', class: 'no-underline'
        %p
          Brigham and Women’s Hospital Sleep Medicine Epidemiology Program (SMEP) is an integrated research and clinical program that aims to improve the care of patients with sleep disorders through clinical trials and comparative effectiveness research. SMEP also is a leader in data management for sleep disorders research. It has served as the data coordinating center for comparative effectiveness studies and clinical trials that evaluate sleep apnea interventions. SMEP also has pioneered a novel informatics platform to support sleep research through initiatives supported by the National Institutes of Health (NIH).
    .row
      .col-md-8
        %h2.f300.darker-blue
          = link_to 'Sleep Research Network', 'http://www.sleepresearchnetwork.org/', class: 'no-underline'
        %p
          The Sleep Research Network (SRN) promotes sustainable, multi-institutional collaborations in clinical and translational research that address significant public health questions related to sleep medicine and circadian biology. SRN also supports the training of the next generation of sleep medicine investigators and is currently comprised of researchers representing 40 institutions that participate in the Clinical and Translational Science Award program across the nation.
      .col-md-4.right.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/srn_logo.png', class: 'partners-logo-square'
    .row
      .col-md-4.left.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/shrine_logo.png', class: 'partners-logo-square'
      .col-md-8.pull-right
        %h2.f300.darker-blue
          = link_to 'Shared Health Research Information Network', 'http://catalyst.harvard.edu/services/shrine/', class: 'no-underline'
        %p
          The Shared Health Research Information Network (SHRINE) helps researchers overcome one of the greatest problems in population-based research: compiling large groups of well-characterized patients. Eligible investigators may use the SHRINE web-based query tool to determine the aggregate total number of patients at participating hospitals who meet a given set of inclusion and exclusion criteria (currently demographics, diagnoses, medications, and selected laboratory values).
    .row
      .col-md-8
        %h2.f300.darker-blue
          = link_to 'Informatics for Integrating Biology and the Bedside', 'http://www.i2b2.org/', class: 'no-underline'
        %p
          Informatics for Integrating Biology and the Bedside (i2b2) is a National Institute of Health-funded National Center for Biomedical Computing based at Partners HealthCare System in Boston. Established in 2004, the i2b2 Center is led by Director Isaac Kohane, M.D., Ph.D., professor of pediatrics at Harvard Medical School at Children's Hospital Boston. The center is developing a computational framework to disseminate tools, methodologies, biomedical data sets, and educational materials widely within the biomedical and computational research communities to improve public health.
      .col-md-4.right.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/i2b2_logo.jpg', class: 'partners-logo-square'
    .row
      .col-md-4.left.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/nsf_logo.png', class: 'partners-logo-square'
      .col-md-8.pull-right
        %h2.f300.darker-blue
          = link_to 'National Sleep Foundation', 'http://www.sleepfoundation.org', class: 'no-underline'
        %p
          The National Sleep Foundation is dedicated to improving health and well-being through sleep education and advocacy. It is well known for its annual Sleep in America® Poll. The Foundation is a charitable, educational and scientific not-for-profit organization located in Washington, D.C. Its membership includes researchers and clinicians focused on sleep medicine, health professionals, patients, families affected by drowsy driving and more than 900 healthcare facilities

.content-container
  .content-header
    %h3
      Promotional Partners
  .content-body
    %p.lead
      The following companies and organizations share our mission and goals to improve research and the treatment of sleep apnea and are working with us to promote the MyApnea.Org Network to patients and health care professionals.*  We greatly appreciate their assistance.
    .row
      - [['asa_logo.png', 'https://www.sleepassociation.org/'],['cmb_solutions_crop.jpg', 'http://www.cmbsolutionsinc.com/'], ['rt_sleepworld.jpg', 'https://www.rtsleepworld.com'], ['health-eheart.png', 'http://hehstdy.org/139gKdA'], ['surgicalsleep.png', 'http://surgicalsleep.org/']].sort.each do |image, url|
        .col-sm-6.centered-text{ style: 'margin-bottom:20px'}
          .img-centerer
          = link_to image_tag("myapnea/partners/#{image}", class: 'partners-logo-square', style: 'max-height:75px'), url
  .content-footer
    %p.small
      *Our promotional and other partners DO NOT have access to your contact or health information.  Per our
      = link_to('privacy policy', privacy_path) + ','
      MyApnea.Org will never share your contact or identifiable health information with any partners or other organizations without your express consent.  All members of the network DO have access to de-identified aggregate data.
