- @page_title = 'Our Partners are Dedicated to Improving Sleep Apnea Research'
.content-main-header
  %h1.f300 Our Partners

.panel.panel-partners
  .panel-body
    .row
      .col-md-8
        %h4.darker-blue American Sleep Association
        %h5.f300
          The American Sleep Association (ASA) is an organization dedicated to improving public awareness about sleep disorders and sleep health, promoting sleep medicine research, and providing a portal for communication between patients, physicians, healthcare professionals, corporations, and scientists. The ASA is a member-driven public service organization.
      .col-md-4.right.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/asa_logo.png', class: 'partners-logo-square'
    .row
      .col-md-4.left.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/asaa_logo_square_copy.jpg', class: 'partners-logo-square'
      .col-md-8.pull-right
        %h5.darker-blue American Sleep Apnea Association
        %h5.f300
          The American Sleep Apnea Association (ASAA), founded in 1990, is a 501(c)(3) nonprofit organization that promotes awareness of sleep apnea, works for continuing improvements in treatments for this serious disease, and advocates for the interests of sleep apnea patients. Its mission is to reduce injury, disability, and death from sleep apnea and to enhance the wellbeing of those affected by this common disorder. The ASAA promotes education and awareness, coordinates the A.W.A.K.E. Network of voluntary support groups, and promotes research and continuous improvement of care.
    .row
      .col-md-8
        %h5.darker-blue Sleep Research Network
        %h5.f300
          The Sleep Research Network (SRN) promotes sustainable, multi-institutional collaborations in clinical and translational research that address significant public health questions related to sleep medicine and circadian biology. SRN also supports the training of the next generation of sleep medicine investigators and is currently comprised of researchers representing 40 institutions that participate in the Clinical and Translational Science Award program across the nation.
      .col-md-4.right.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/srn_logo.png', class: 'partners-logo-square'
    .row
      .col-md-4.left.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/sleepepi_logo.jpg', class: 'partners-logo-square img-rounded'
      .col-md-8.pull-right
        %h5.darker-blue Brigham and Women’s Hospital Sleep Medicine Epidemiology Program
        %h5.f300
          Brigham and Women’s Hospital Sleep Medicine Epidemiology Program (SMEP) is an integrated research and clinical program that aims to improve the care of patients with sleep disorders through clinical trials and comparative effectiveness research. SMEP also is a leader in data management for sleep disorders research. It has served as the data coordinating center for comparative effectiveness studies and clinical trials that evaluate sleep apnea interventions. SMEP also has pioneered a novel informatics platform to support sleep research through initiatives supported by the National Institutes of Health (NIH).
    .row
      .col-md-8
        %h5.darker-blue Division of Sleep and Circadian Disorders, Brigham and Women's Hospital
        %h5.f300
          Boston's Brigham and Women's Hospital (BWH) is an international leader in virtually every area of medicine and has been the site of pioneering breakthroughs that have improved lives around the world. A major teaching hospital of Harvard Medical School, BWH has a legacy of excellence that continues to grow year after year.
          The Division of Sleep and Circadian Disorders was formed in 2013 by the Departments of Medicine and Neurology to unify the delivery of clinical care, increase educational opportunities, and promote interdisciplinary research in the fields of sleep and circadian biology. Its mission is to forge a path of discovery in sleep medicine while providing the highest standard of clinical care for patients with sleep disorders and training the next generation of leaders in sleep and circadian biology.
      .col-md-4.right.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/bwh_logo_square.jpg', class: 'partners-logo-square'
    .row
      .col-md-4.left.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/shrine_logo.png', class: 'partners-logo-square'
      .col-md-8.pull-right
        %h5.darker-blue Shared Health Research Information Network
        %h5.f300
          The Shared Health Research Information Network (SHRINE) helps researchers overcome one of the greatest problems in population-based research: compiling large groups of well-characterized patients. Eligible investigators may use the SHRINE web-based query tool to determine the aggregate total number of patients at participating hospitals who meet a given set of inclusion and exclusion criteria (currently demographics, diagnoses, medications, and selected laboratory values).
    .row
      .col-md-8
        %h5.darker-blue Informatics for Integrating Biology and the Bedside
        %h5.f300
          Informatics for Integrating Biology and the Bedside (i2b2) is a National Institute of Health-funded National Center for Biomedical Computing based at Partners HealthCare System in Boston. Established in 2004, the i2b2 Center is led by Director Isaac Kohane, M.D., Ph.D., professor of pediatrics at Harvard Medical School at Children's Hospital Boston. The center is developing a computational framework to disseminate tools, methodologies, biomedical data sets, and educational materials widely within the biomedical and computational research communities to improve public health.
      .col-md-4.right.hidden-sm.hidden-xs
        .img-centerer
        = image_tag 'myapnea/partners/i2b2_logo.jpg', class: 'partners-logo-square'

.panel
  .panel-heading{ style: 'background-color: white;'}
    %h3.f300.darker-blue.centered-text
      Promotional Partners
    %p.lead
      The following companies and organizations share our mission and goals to improve research and the treatment of sleep apnea and are working with us to promote the MyApnea.Org Network to patients and health care professionals.*  We greatly appreciate their assistance.
  .panel-body
    .row
      .col-sm-6.centered-text{ style: 'margin-bottom:20px' }
        .img-centerer
        = link_to image_tag('myapnea/partners/cmb_solutions_crop.jpg', class: 'partners-logo-square', style: 'max-height:75px'), 'http://www.cmbsolutionsinc.com/'
      .col-sm-6.centered-text{ style: 'margin-bottom:20px' }
        .img-centerer
        = link_to image_tag('myapnea/partners/vgm_group.jpg', class: 'partners-logo-square', style: 'max-height:75px'), 'http://www.vgm.com'
    .row
      .col-sm-6.centered-text{ style: 'margin-bottom:20px' }
        .img-centerer
        = link_to image_tag('myapnea/partners/rt_sleepworld.jpg', class: 'partners-logo-square', style: 'max-height:75px'), 'https://www.rtsleepworld.com'
      .col-sm-6.centered-text{ style: 'margin-bottom:20px' }
        .img-centerer
        = link_to image_tag('myapnea/partners/health-eheart.png', class: 'partners-logo-square', style: 'max-height:75px'), 'http://hehstdy.org/139gKdA'
  .panel-footer
    %p.small
      *Our promotional and other partners DO NOT have access to your contact or health information.  Per our
      = link_to 'privacy policy', privacy_path
      , MyApnea.Org will never share your contact or identifiable health information with any partners or other organizations without your expressed consent.  All members of the network DO have access to de-identified aggregate data as a whole.
