- if true
  = render partial: 'static/beta/share'
-else
  - @title = ""

  = render partial: 'layouts/page_header_image', locals: { image: 'myapnea/headers/share.jpg', signup_id: "innerSignup" }

  #share.row

    .col-md-12
      %h1
        %h1
          = @pc['main_header']
          = image_tag 'myapnea/icons/communityIcon.png', class: 'community-img'
      %p= @pc['content']

      %h2= @pc['ways_to_share_title']

      %p= markdown @pc['ways_to_share_description']

      %hr.divider-md

      %h2= @pc['getting_started_title']
      .instructions
        %h3
          = image_tag 'myapnea/icons/myapnea-logo-transparent.png', size: '28x28', style: 'vertical-align: text-bottom'
          = link_to "Visit the forums", forums_path
        %h3
          = image_tag 'myapnea/icons/myapnea-logo-transparent.png', size: '28x28', style: 'vertical-align: text-bottom'
          = link_to "Submit and vote on research questions", research_topics_path
        %h3
          = image_tag 'myapnea/icons/myapnea-logo-transparent.png', size: '28x28', style: 'vertical-align: text-bottom'
          Join MyApnea.Org on social media
        %p Follow and interact with the MyApnea.Org community on social media by following the MyApnea.Org Twitter page, Facebook page, and YouTube page. Just click on the icons below.

    -#.col-md-4
    -#  .fb-like-box{"data-colorscheme" => "light", "data-header" => "false", "data-href" => "https://www.facebook.com/sleepapneaassn", "data-show-border" => "false", "data-show-faces" => "false", "data-stream" => "true", "data-height" => "750"}
    .clearfix
    .row
      .col-xs-4
        %a{href: 'https://www.facebook.com/sleepapneaassn'}
          %h1{:style => "text-align:center"}
            %i.fa.fa-facebook
      .col-xs-4
        %a{href: 'https://www.youtube.com/user/sleepapneaed'}
          %h1{:style => "text-align:center"}
            %i.fa.fa-youtube
      .col-xs-4
        %a{href: 'https://twitter.com/sleepapnea_ed'}
          %h1{:style => "text-align:center"}
            %i.fa.fa-twitter

    %br/
    %br/
  %br/
  %br/

  .text-center
    = link_to new_user_registration_path do
      = image_tag 'myapnea/icons/joinNow.png'

    %br/
    %br/
