- @title = 'Sitemap'
.content-main-header2
  %h1 Sitemap

%ul
  %li= link_to 'Learn', learn_path
  %li= link_to 'Community', community_path
  %li= link_to 'Forum', topics_path
  %li= link_to 'Research', blog_category_path(category: 'research')
  %li= link_to 'Surveys', surveys_path
  %li= link_to 'Team', team_path
  %li= link_to 'Partners', partners_path
  %li= link_to 'Privacy Policy', privacy_path
  %li= link_to 'Terms of Access', terms_and_conditions_path
  %li= link_to 'FAQs', faqs_path

