.content-main-header
  %h1 Meet the Team

.content-container
  .content-body.carousel.slide#carousel-steering-committee
    .carousel-inner{role: "listbox"}
      -# 1
      .item.active
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/redline_200x200.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Susan Redline
            %h3.text-dark7 MD, MPH, Principal Investigator and MyApnea.Org Steering Committee Co-chair
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Susan Redline is the Peter C. Farrell Professor of Sleep Medicine at Harvard Medical School and Director
              of the Programs in Sleep and Cardiovascular Medicine and Sleep Medicine Epidemiology at Brigham and
              Women's Hospital and Beth Israel Deaconess Medical Center. She is a sleep medicine physician and has led
              many national research projects aiming to understand the causes and consequences of sleep apnea, as well
              as clinical trials addressing the role of sleep apnea interventions in improving health, cognition and
              behavior in children and adults. She believes that patient-centered research has promise to make
              research more responsive to patient needs, while improving the likelihood of generating data that makes
              a difference for patients, their families and health care systems.
      -# 2
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/owens_200x200.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Judith Owens
            %h3.text-dark7 MD, MPH, MyApnea.Org Steering Committee Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Judith Owens is the Director of the Center for Pediatric Sleep Disorders at Boston Children's at Waltham
              and an Associate Professor of Neurology. She is an internationally recognized authority on pediatric
              sleep and the author of more than 100 original research and peer-reviewed journals, chapters, and books.
              Before taking her present position, she was associate professor of pediatrics at Brown
              University Medical School and director of pediatric sleep disorders at Hasbro Hospital in Providence, RI.
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/headapohl_200x200.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Will Headapohl
            %h3.text-dark7 MyApnea.Org Steering Committee Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Will Headapohl is chairman of the board of directors for the American Sleep Apnea Association. He is a
              patient advocate, writer, and consultant focused on the challenges of getting all undiagnosed apnea
              sufferers into treatment. He is the co-author of the book, Sleep or Die: Overcome Apnea Before It
              Overcomes You. His work is aimed at mobilizing all those touched by the disease, including partners,
              association members, loved ones, medical care providers, and victims. Will's resume includes executive
              vice president, chief information officer, and chief operating officer roles in the internet,
              information technology, and wireless industries.
      -# 3
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/kapur_200x200.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Vishesh Kapur
            %h3.text-dark7 MD, MPH, MyApnea.Org Steering Committee Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Dr. Kapur, University of Washington Professor of Medicine, is the founder of the UW Medicine Sleep
              Center and an active educator and researcher. He directs the UW Medicine Sleep Laboratory and the UW
              Sleep Medicine Fellowship. Dr. Kapur is a fellow of the American Academy of Sleep Medicine and has board
              certifications in sleep medicine and pulmonary medicine. He lectures nationally on a variety of topics
              related to sleep disordered breathing and is an associate editor for the Journal of Clinical Sleep
              Medicine and the journal SLEEP.
      -# 4
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/rothstein_200x200.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Nancy Rothstein, MBA
            %h3.text-dark7
        .row
          .col-xs-10.col-xs-offset-1
            %p
              As The Sleep Ambassador®, Nancy inspires a new respect for sleep and its impact on all aspects of work,
              life and well-being. Through public speaking, media engagements and other venues, she presents strategic
              solutions selected to empower people to make lasting shifts to optimize their sleep quality and
              quantity. Nancy consults and lectures on Sleep Wellness to Fortune 500 corporations, the travel
              industry, universities/schools and to organizations, reflecting her dedication to educating and raising
              awareness about the importance of sleep to live at your best.
      -# 5
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'default-user.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Darrel Drobnich
            %h3.text-dark7
        .row
          .col-xs-10.col-xs-offset-1
            %p
      -# 6
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/internal/ekontos.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Emily Kontos
            %h3.text-dark7 ScD, ScM, Product Manager
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Emily Z. Kontos is an Associate Scientist at Brigham and Women's Hospital within the Division of Sleep
              and Circadian Disorders and faculty at Harvard Medical School. She is a social epidemiologist whose work
              focuses on interdisciplinary and patient-centered research that seeks to assess and intervene on social
              contextual barriers to health promotion and disease prevention among racial/ethnic minorities and lower
              socioeconomic status populations.
      -# 7
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/internal/rueschman.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Michael Rueschman
            %h3.text-dark7 MPH, Data Manager, Product Manager
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Michael Rueschman is a clinical data manager at Brigham and Women's Hospital. He oversees data collection
              and data exports from MyApnea.Org. In his spare time, he enjoys reading and playing video games.
      -# 8
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/internal/remo.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Remo Mueller
            %h3.text-dark7 PhD, Director of Informatics
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Dr. Mueller leads the MyApnea.Org informatics team in designing an engaging, safe, and secure web site
              experience of MyApnea.Org members.
      -# 9
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/internal/kyle.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Kyle Rand
            %h3.text-dark7 Developer
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Kyle Rand is the main developer on MyApnea.Org, who brings to the table backgrounds in neuroscience,
              engineering and academic publishing. He is continuously iterating on both the web and mobile
              applications to make them more engaging and beneficial to the health of community members.
      -# 10
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/internal/cailler.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Michael Cailler
            %h3.text-dark7 Community Manager
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Michael Cailler is a sleep researcher in the Division of Sleep and Circadian Disorders at Brigham &
              Women's Hospital. He is responsible for user feedback and community engagement on the site. He enjoys
              working closely with members to ensure that their views are included in the development of the site.
      -# 11
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/internal/dan.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Dan Mobley
            %h3.text-dark7
              RPSGT, CCSH
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Dan Mobley is a Registered Polysomnographic Technologist and holds the Credential in Clinical Sleep
              Health. He serves as Senior Project Manager and Chief Polysomnologist for the Sleep Reading Center
              within the Program in Sleep and Cardiovascular Medicine and Sleep Medicine Epidemiology at Brigham and
              Women's Hospital in Boston. Dan also serves on the Board of Directors for the Board of Registered
              Polysomnographic Technologists (BRPT) and on the Board of Directors for the Massachusetts Sleep Society.
              He assists with content development and moderates the Forums on MyApnea.Org.
      -# 12
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/PEP/si_baker-goodwin.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Si Baker-Goodwin
            %h3.text-dark7 EdD, MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Formerly a psychologist and a book publishing professional. Si is recovering from long-undiagnosed
              sleep disorders, including sleep apnea. While she is regaining her health she is active on social media in
              areas of patient activism; using her expertise in differential diagnosis to urge physicians to listen
              more closely to the patients and ask about their sleep and dietary habits. She hopes MyApnea.Org will
              help more physicians to save the lives of more patients.
      -# 13
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/PEP/matt_epstein.png', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Matt Epstein
            %h3.text-dark7 MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Matt Epstein is an attorney and entrepreneur who earned degrees from Yale University, the University of
              New Hampshire School of Law, and Boston University. He has had multiple careers including practicing
              law, serving as legal counsel to a state mental health agency, serving as executive director of numerous
              organizations and president of several businesses. Matt has dedicated himself to community service;
              having taught high school, college, and law school and working with delinquent youth, prisoners and drug
              addicts as well as serving as a State Representative in the State of New Hampshire. Matt is currently a
              principle in both a consulting company and a not for profit service organization.
      -# 14
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/PEP/sarah_gorman.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Sarah Gorman
            %h3.text-dark7 JD, MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Ms. Gorman is an attorney and former senior labor and employment law counsel at GE Commercial Finance
              with extensive experience on cutting edge employment law legal issues. Sarah is also the former chair
              of the Board of Directors for the American Sleep Apnea Association. She earned her law degree from
              Cornell Law School.
      -# 15
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/PEP/sherry_hanes.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Sherry Hanes
            %h3.text-dark7 MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Sherry Hanes is a Senior Sales Director at Mary Kay Cosmetics, Inc. in North Carolina. She has
              extensive experience in training, mentoring and coaching individuals in how to build successful
              businesses and has personal interest in helping women succeed both personally and professionally.
      -# 16
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/PEP/jim_johnston.png', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue James Johnston
            %h3.text-dark7 PhD, MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              James Johnston is dedicated to practicing data-driven design thinking software development and
              evaluation, at Microsoft, for large scale, high complexity enterprises, has contributed recently to
              numerous innovation products and holds 5 software patents. Jim was trained initially at New York
              University as an Indo-European Philologist and later earned a Ph.D. at the University of Washington in
              Cognitive-Developmental Psychology and Statistics. He has practiced clinical counseling with children
              and adolescents and taught in numerous academic settings. Jim is devoted to his family, bicycling,
              reading, and travel when possible.
      -# 17
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/PEP/david_keepnews.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue David Keepnews
            %h3.text-dark7 PhD, JD, RN, MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              David M. Keepnews, PhD, JD, RN, NEA-BC, FAAN, is Professor and Director of Graduate Programs at the
              Hunter-Bellevue School of Nursing at Hunter College of the City University of New York (CUNY).  Prior to
              joining the Hunter faculty in 2009, David held faculty positions at Adelphi University, the University
              of Washington and the University of Massachusetts Lowell. He currently holds adjunct faculty positions
              at New York University and in the Program in Epidemiology and Health Services Research at the Weill
              Graduate School of Medical Sciences, Cornell University.
      -# 18
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/PEP/andy_lowe.png', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue William "Andy" Lowe
            %h3.text-dark7 MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Andy Lowe is a junior on the honor roll at Colonial Forge High School in Stafford, VA. He enjoys playing
              varsity football and was captain of his high school lacrosse team. He was diagnosed with sleep apnea at
              the age of 13 and has used his CPAP ever since. Andy credits his sleep apnea treatment with improving
              his academic and athletic performance. Like many adolescents, his primary symptom was loud snoring.  As
              a result of his diagnosis, many other family members have had their sleep apnea treated. Andy hopes that
              MyApnea.Org will help to spread awareness of sleep apnea to other students and promote patient-centered
              research.
      -# 19
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'default-user.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Ed McCarthy
            %h3.text-dark7 MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Ed McCarthy received his undergraduate degree from the University of San Diego and his graduate degree
              in Economics from Brooklyn College. After completing four years of active duty in the United States Navy, Ed
              worked for numerous companies in senior financial positions. He was diagnosed with sleep apnea in 1987
              and diabetes in 2001. Ed has served as a coordinator for several sleep apnea support groups since 2004.
      -# 20
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'default-user.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Arlene Oskarsdottir
            %h3.text-dark7 MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Arlene Oskarsdottir has an extensive background in Software/Website Usability as a Human Factors
              Engineer. Her sleep disorders were diagnosed while doctors were diagnosing a very rare blood cancer,
              JAK2-PV. A central component of PV is fatigue. Sleep is a challenge from both disorders. Arlene would
              like to focus on providing clear cut definitions of the term Apnea—a term the average person finds
              vague. After all, how could shallow breathing or breathing pauses be a problem?
      -# 21
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/PEP/kathy_page.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Kathy Page
            %h3.text-dark7 MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Kathy Page is currently the purchasing agent and member service representative for Central Missouri
              Electric Cooperative. She served two terms on the board of the Restless Legs Syndrome Foundation and
              continues to be a support group leader and advocate for RLS and sleep apnea. Kathy has also been on the
              Sleep Disorders Research Advisory Board for the past three years.
      -# 22
      .item
        .row.team-header
          .col-sm-3.col-md-offset-2.col-xs-4.col-sm-offset-1.col-xs-offset-4
            = image_tag 'myapnea/team/PEP/dan_peroney.jpg', class: 'img-responsive team-member-picture-large'
          .col-md-5.col-sm-6.col-xs-10.col-xs-offset-1
            %h2.primary-blue Dan Peroney
            %h3.text-dark7 CRT, MyApnea.Org Patient Engagement Panel Member
        .row
          .col-xs-10.col-xs-offset-1
            %p
              Daniel Peroney has 15 years of respiratory care experience working in hospitals, sleep labs and in home
              care. He has instructed and managed over 7,000, and counting, CPAP users to help better their lives.
              He is a graduate of the University of Pittsburgh at Johnstown. He has sleep apnea and has been an
              active CPAP user for over 15 years.
  .content-footer
    %ul.team-list#steering-committee-list
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "0"}}}
        = image_tag 'myapnea/team/redline_200x200.jpg', class: 'team-member-picture img-bw img-color'
      %li{data: {target: "#carousel-steering-committee", slide: {to: "1"}}}
        = image_tag 'myapnea/team/owens_200x200.jpg', class: 'team-member-picture img-bw'
      %li{data: {target: "#carousel-steering-committee", slide: {to: "2"}}}
        = image_tag 'myapnea/team/headapohl_200x200.jpg', class: 'team-member-picture img-bw'
      %li{data: {target: "#carousel-steering-committee", slide: {to: "3"}}}
        = image_tag 'myapnea/team/kapur_200x200.jpg', class: 'team-member-picture img-bw'
      %li{data: {target: "#carousel-steering-committee", slide: {to: "4"}}}
        = image_tag 'myapnea/team/rothstein_200x200.jpg', class: 'team-member-picture img-bw'
      /* Darrel */
      / %li{data: {target: "#carousel-steering-committee", slide: {to: "5"}}}
      /   = image_tag 'myapnea/team/kapur_200x200.jpg', class: 'team-member-picture img-bw'
    %p.centered
      = link_to 'Learn more about the steering committee', governance_policy_path, class: 'no-underline'
    %br
    %br
    %ul.team-list#internal-list
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "6"}}}
        = image_tag 'myapnea/team/internal/ekontos.jpg', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "7"}}}
        = image_tag 'myapnea/team/internal/rueschman.jpg', class: 'team-member-picture img-bw'
      %li{data: {target: "#carousel-steering-committee", slide: {to: "8"}}}
        = image_tag 'myapnea/team/internal/remo.jpg', class: 'team-member-picture img-bw'
      %br
      %li{data: {target: "#carousel-steering-committee", slide: {to: "9"}}}
        = image_tag 'myapnea/team/internal/kyle.jpg', class: 'team-member-picture img-bw'
      %li{data: {target: "#carousel-steering-committee", slide: {to: "10"}}}
        = image_tag 'myapnea/team/internal/cailler.jpg', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "11"}}}
        = image_tag 'myapnea/team/internal/dan.jpg', class: 'team-member-picture img-bw'
    %p.centered
      = link_to 'Learn more about our team', 'https://bostonsleep.org/staff', class: 'no-underline'
    %br
    %br
    %ul.team-list#pep-list
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "12"}}}
        = image_tag 'myapnea/team/PEP/si_baker-goodwin.jpg', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "13"}}}
        = image_tag 'myapnea/team/PEP/matt_epstein.png', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "14"}}}
        = image_tag 'myapnea/team/PEP/sarah_gorman.jpg', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "15"}}}
        = image_tag 'myapnea/team/PEP/sherry_hanes.jpg', class: 'team-member-picture img-bw'
      %br
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "16"}}}
        = image_tag 'myapnea/team/PEP/jim_johnston.png', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "17"}}}
        = image_tag 'myapnea/team/PEP/david_keepnews.jpg', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "18"}}}
        = image_tag 'myapnea/team/PEP/andy_lowe.png', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "19"}}}
        = image_tag 'default-user.jpg', class: 'team-member-picture img-bw'
      %br
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "20"}}}
        = image_tag 'default-user.jpg', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "21"}}}
        = image_tag 'myapnea/team/PEP/kathy_page.jpg', class: 'team-member-picture img-bw'
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "22"}}}
        = image_tag 'myapnea/team/PEP/dan_peroney.jpg', class: 'team-member-picture img-bw'

    %p.centered
      = link_to 'Learn more about the patient engagement panel', pep_charter_path, class: 'no-underline'
