- @title = 'Team'

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        Meet the Team

.dashboard-container
  - lowest_position = @team_members.pluck(:position).min
  .carousel.slide#carousel-team
    .carousel-inner{role: "listbox"}
      - @team_members.each do |team_member|
        .item{ class: "#{'active' if team_member.position == lowest_position }"}
          = render team_member
  %div
    %ul.team-list
      .brand-title.text-left Steering Committee
      - @team_members.where(group: 'steering').each do |team_member|
        %li.active{data: {target: "#carousel-team", slide: {to: "#{team_member.position}"}}}
          = image_tag team_member_photo_url(team_member), alt: '', class: 'team-member-picture img-bw img-color'
      %p.center
        = link_to 'Learn more about the steering committee', governance_policy_path, class: 'no-underline'
      .brand-title.text-left Our Team
      - @team_members.where(group: 'internal').each do |team_member|
        %li.active{data: {target: "#carousel-team", slide: {to: "#{team_member.position}"}}}
          = image_tag team_member_photo_url(team_member), alt: '', class: 'team-member-picture img-bw img-color'
      .brand-title.text-left Patient Engagement Panel
      - @team_members.where(group: 'patient').each do |team_member|
        %li.active{data: {target: "#carousel-team", slide: {to: "#{team_member.position}"}}}
          = image_tag team_member_photo_url(team_member), alt: '', class: 'team-member-picture img-bw img-color'
