- @active_top_nav_link = :about
- @page_title = 'Our Team'
/ HEADER BAR
.content-main-header
  %h1 Meet the Team

/ STEERING COMMITTEE PANEL
.panel
  .panel-body.carousel.slide#carousel-steering-committee
    .carousel-inner{role: "listbox"}
      .item.active
        .row
          .col-md-3.col-md-offset-2.col-xs-12
            = image_tag 'myapnea/team/redline_400x400.jpg', class: 'team-member-picture-large'
          .col-md-5.col-xs-10.col-xs-offset-1
            %h2.primary-blue Susan Redline
            %h3 M.D., M.P.H., Principal Investigator and MyApnea.Org Steering Committee Co-chair
          .col-xs-1
          .col-xs-10.col-xs-offset-1
            %h5.spaced{style: 'clear:both'}
              Susan Redline is the Peter C. Farrell Professor of Sleep Medicine at Harvard Medical School and Director of the Programs in Sleep and Cardiovascular Medicine and Sleep Medicine Epidemiology at Brigham and Women’s Hospital and Beth Israel Deaconess Medical Center. She is an internationally recognized researcher focusing on understanding the risk factors and treatment outcomes of sleep disorders. She has published more than 200 scientific articles and participates in many national organizations involved in setting policies for sleep medicine practice and research.
      .item
        .row
          .col-md-3.col-md-offset-2.col-xs-12
            = image_tag 'myapnea/team/owens_315x315.jpg', class: 'team-member-picture-large'
          .col-md-5.col-xs-10.col-xs-offset-1
            %h2.primary-blue Judith Owens
            %h3 M.D., M.P.H., MyApnea.Org Steering Committee Member
          .col-xs-1
          .col-xs-10.col-xs-offset-1
            %h5.spaced{style: 'clear:both'}
              Judith Owens is president and chief medical officer of the American Sleep Apnea Association. She is also the director of sleep medicine at Children’s National Medical Center and a professor at George Washington University School of Medicine and Health Sciences. She is an internationally recognized authority on pediatric sleep and the author of more than 100 original research and peer-reviewed journals, chapters, and books. Before taking her present position in 2010, she was associate professor of pediatrics at Brown University Medical School and director of pediatric sleep disorders at Hasbro Hospital in Providence, RI.
      .item
        .row
          .col-md-3.col-md-offset-2.col-xs-12
            = image_tag 'myapnea/team/headapohl_400x400.jpeg', class: 'team-member-picture-large'
          .col-md-5.col-xs-10.col-xs-offset-1
            %h2.primary-blue Will Headapohl
            %h3 MyApnea.Org Steering Committee Member
          .col-xs-1
          .col-xs-10.col-xs-offset-1
            %h5.spaced{style: 'clear:both'}
              Will Headapohl is chairman of the board of directors for the American Sleep Apnea Association. He is a patient advocate, writer, and consultant focused on the challenges of getting all undiagnosed apnea sufferers into treatment. He is the co-author of the book, Sleep or Die: Overcome Apnea Before It Overcomes You. His work is aimed at mobilizing all those touched by the disease, including partners, association members, loved ones, medical care providers, and victims. Will’s resume includes executive vice president, chief information officer, and chief operating officer roles in the internet, information technology, and wireless industries.
      .item
        .row
          .col-md-3.col-md-offset-2.col-xs-12
            = image_tag 'myapnea/team/kapur_400x400.jpg', class: 'team-member-picture-large'
          .col-md-5.col-xs-10.col-xs-offset-1
            %h2.primary-blue Vishesh Kapur
            %h3 M.D., M.P.H., MyApnea.Org Steering Committee Member
          .col-xs-1
          .col-xs-10.col-xs-offset-1
            %h5.spaced{style: 'clear:both'}
              Dr. Kapur, University of Washington Professor of Medicine, is the founder of the UW Medicine Sleep Center and an active educator and researcher. He directs the UW Medicine Sleep Laboratory and the UW Sleep Medicine Fellowship. Dr. Kapur is a fellow of the American Academy of Sleep Medicine and has board certifications in sleep medicine and pulmonary medicine. He lectures nationally on a variety of topics related to sleep disordered breathing and is an associate editor for the Journal of Clinical Sleep Medicine and the journal SLEEP.
  .panel-footer
    %ul#steering-committee-list
      %li.active{data: {target: "#carousel-steering-committee", slide: {to: "0"}}}
        = image_tag 'myapnea/team/redline_400x400.jpg', class: 'team-member-picture img-bw img-color'
      %li{data: {target: "#carousel-steering-committee", slide: {to: "1"}}}
        = image_tag 'myapnea/team/owens_315x315.jpg', class: 'team-member-picture img-bw'
      %li{data: {target: "#carousel-steering-committee", slide: {to: "2"}}}
        = image_tag 'myapnea/team/headapohl_400x400.jpeg', class: 'team-member-picture img-bw'
      %li{data: {target: "#carousel-steering-committee", slide: {to: "3"}}}
        = image_tag 'myapnea/team/kapur_400x400.jpg', class: 'team-member-picture img-bw'
    %p.small.centered-text{ style: 'margin-top:30px; ' }
      = link_to 'Learn more about the steering committee', governance_policy_path

