%p
  - percent_completed = answer_session.percent_completed
  - completed_path_length = answer_session.completed_path_length
  - total_path_length = answer_session.total_path_length
  - if answer.present?
    - if answer.question.part_of_group?
      You're currently working on questions
      = "#{completed_path_length} to #{completed_path_length + answer.question.group.questions.length - 1}"
    - else
      You're currently working on question
      = completed_path_length
    of
    = total_path_length
    \.
  - else
    You've completed
    = completed_path_length
    of
    = total_path_length
    questions.
.progress
  .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => percent_completed, :role => "progressbar", :style => "width: #{percent_completed}%"}
    %span.sr-only
      = percent_completed
      \% Complete



