-# Set up survey indicators
.survey-indicator
  %span#title Progress
  %ul
    - @survey.questions.each_with_index do |question, index|
      - answer = @answer_session.answers.where(question_id: question.id).first_or_initialize
      - if answer.locked?
        %li.locked{ data: { object: 'survey-indicator', target: "#{index}" } }
          %span.glyphicon.glyphicon-lock{ 'aria-hidden'=>'true' }
      - elsif answer.complete?
        %li.complete{ data: { object: 'survey-indicator', target: "#{index}" } } &#10003;
      - else
        %li.incomplete{ data: { object: 'survey-indicator', target: "#{index}" } }= index + 1

.full-survey-container{ data: { object: 'full-survey-container' } }
  .survey-container.active.survey-intro{ data: { object: 'survey-introduction' } }
    .panel.centered-text{ style: "padding: 20px;" }
      .question-container{ style: 'margin-bottom: 50px;' }
        %h2.f300
          Welcome to the
          %span.darker-blue
            = @survey.name
          survey!
        %p.lead
          = @survey.description.html_safe if @survey.description.present?
        %p.f300
          You may answer the following questions using your mouse or your keyboard, whichever you prefer! The
          %span.lighter-orange orange progress sidebar
          on the left side of the screen will show you how you are advancing, and easily let you jump to questions that you may have missed. Remember, you are allowed to navigate away at any time and your answers will automatically be saved, but
          %span.f500 you must provide an answer to each question before a survey is considered complete.
          The survey must be completed to earn an entry into the lottery.
      .button-container
        .btn.btn-primary.next-question
          Begin Survey
        %p.text-muted.or-press-enter
          Or press ENTER
      %br
      -# Allow users to toggle off custom survey display
      #simple-survey-toggle-container
        %p#make-it-simple.small If you're having technical problems while completing a survey (often due to your browser version), we suggest you switch to the simple version.
        %p#make-it-exciting.small If you'd like to see the new, custom survey display, we suggest you switch to the new version.
        .btn-small.btn-warning{ style: 'display:inline-block; margin: 0px auto; padding: 2px 5px;', data: { object: 'simple-survey-toggle'} }
          %p.small.reset-layout Switch


  -# Expects a @survey and @answer_session variable
  -# Dynamically Loaded:
  - @survey.questions.each_with_index do |question, index|
    - answer = @answer_session.answers.where(question_id: question.id).first_or_initialize
    - if question.answer_templates.count > 0
      = render "surveys/question_templates/#{question.display_type}", question: question, answer_session: @answer_session, answer: answer, question_number: index
    - else
      = render 'surveys/question_templates/no_answer_templates', question: question, answer_session: @answer_session, answer: answer, question_number: index


  -# End of Survey
  .survey-container{ data: { object: 'survey-submit' } }
    .panel.centered-text{ style: "padding: 20px;"}
      - if @answer_session.locked?
        %p.lead You've already submitted this survey. You can compare your answers to others in the community by viewing the survey report!
        - if @answer_session.child
          = link_to "View Report", child_survey_report_path(@answer_session.child.id, @survey, @answer_session.encounter), class: "btn btn-success btn-lg"
        - else
          = link_to "View Report", report_survey_path(@survey, @answer_session.encounter), class: "btn btn-success btn-lg"
      - else
        .panel-heading{ style: 'background-color: transparent;', data: { object: 'survey-submit-btn-container' } }
          .btn.btn-primary.btn-lg{ style: 'width:100%', data: { object: 'survey-submit-btn', path: submit_surveys_path, answer_session_id: @answer_session.id } } Submit Answers
        .panel-body.hidden{ data: { object: 'survey-submit-congratulations-container' } }
          = image_tag 'myapnea/surveys/survey_congratulations.png', class: 'img-responsive', style: 'margin: auto'
          .well.centered-text
            %h4
              Share the good news:
              = link_to image_tag('myapnea/icons/facebook_icon.png', class: 'share-icons-sm'), "http://www.facebook.com/share.php?u=#{ENV['website_url'] + survey_path(@survey)}"
              = link_to image_tag('myapnea/icons/twitter_icon.png', class: 'share-icons-sm'), "http://twitter.com/home?status=I%20just%20completed%20a%20survey%20about%20%23sleepapnea%20and%20helped%20advance%20research%21%20Will%20you%20do%20your%20part?%20MyApnea.Org%20via%20%40MyApneaOrg"
              = link_to image_tag('myapnea/icons/email_icon.png', class: 'share-icons-sm'), "mailto:?subject=Check%20out%20the%20surveys%20on%20MyApnea.Org&body=I%20just%20completed%20a%20survey%20on%20MyApnea.Org%20and%20you%20should%20join!%20You%20can%20earn%20%24%32%35%30%20for%20your%20help%20advancing%20sleep%20research!"
          %p.lead You've reached the end of the survey, and are already on your way to making an impact on sleep apnea research. You've also gained one entry into our monthly prize drawing!
          %br
          %p.lead From here, we highly recommend you continue and answer a few more questions to help us learn more about you and your experience with sleep apnea.
          .row{ style: 'margin-bottom:20px; text-align: center;' }
            - if @answer_session.child
              = link_to "View Report", child_survey_report_path(@answer_session.child.id, @survey, @answer_session.encounter), class: "btn btn-success btn-lg"
            - else
              = link_to "View Report", report_survey_path(@survey, @answer_session.encounter), class: "btn btn-success btn-lg"
            = link_to "Continue", next_survey_path(@survey), class: "btn btn-primary btn-lg"
          %p.lead{ style: 'font-size: 16px;'}
            We also have an active community that you can
            = link_to 'join', account_path, class: 'lighter-blue', style: 'text-underline: none;'
            and begin participating in the
            = link_to 'forums.', forums_path, class: 'lighter-blue', style: 'text-underline: none;'
