- percent = 0

.radial-progress.hidden-xs{ style: 'display:block; margin: 20px auto' }
  .circle{ data: { object: "circle_percentage", percent: "#{percent}", survey_id: survey.id } }
    .mask.left
      .fill
    .mask.right
      .fill
      .fill.fix
    .shadow
  .inset
    .percentage
      .numbers
        %br
        .span{ data: { object: "circle_percentage_display", survey_id: survey.id } }
          = percent.to_s + '%'
%h4.f300.centered
  = survey.name
// Mobile display for survey progress
%h5.f300.visible-xs.text-muted
  = percent.to_s + '% completed'
%h5.f300.primary-blue{ style: 'margin-bottom:30px;' }
  - if current_user
    = link_to 'View report', report_survey_path(survey)
  - else
    = link_to 'Start this survey now!', survey
