= form_for current_user.social_profile, html: {role: "form", class: 'form-horizontal'}, url: social_profile_path do |f|
  .panel
    .panel-body.text-dark8
      %h3.f300.centered-text.text-dark9
        My Social Profile
      %br

      .row{ style: 'margin-bottom:20px;' }
        .social-image-container.col-sm-3.col-sm-offset-3
          - # Allow removal of social profile
          .social-image-container-left-after
            = link_to update_social_profile_path(current_user.social_profile, social_profile: { remove_photo: true }), method: :post do
              %button.btn.btn-sm.btn-default X
          = image_tag current_user.photo_url, class: 'img-responsive img-thumbnail'
        .social-image-updater.col-sm-6
          %h4.f300
            Change Photo
          %br
          .centered-text
            =f.file_field :photo

      .form-group.row
        %label.control-label.col-sm-3 Nickname
        .col-sm-6
          =f.text_field(:name, class: 'form-control' )

      .form-group.row
        %label.control-label.col-sm-3
          Age
        .col-sm-6
          =f.number_field(:age, class: 'form-control')

      .form-group.row
        %label.control-label.col-sm-3
          Gender
        .col-sm-6
          = f.text_field(:gender, autocomplete: "off", data: { object: 'typeahead', local: ["Male", "Female", "Genderqueer", "Androgynous", "Intersex", "Transgender", "Transsexual", "Cross-dresser", "Male-to-female (MTF)", "Female-to-male (FTM)"].to_json }, class: 'form-control')

    .panel-footer.text-dark9.centered-text{ style: 'margin:10px 0;'}
      %h4
        This is how you will appear to other members of MyApnea.Org
      %p.lead
        If you would prefer to be shown anonymously, you can leave these fields blank. You can change this any time by visiting your settings!
      .row
        = f.submit "Save Changes", class: 'btn btn-primary col-xs-4 col-xs-offset-4 centered-text'

      - if current_user.social_profile.errors.any?
        .alert.alert-danger.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          %strong Profile Errors
          %ul
            - current_user.social_profile.errors.full_messages.each do |msg|
              %li= msg.html_safe
