= form_for current_user, html: { role: "form", class: 'form-horizontal' }, url: update_account_path, method: :patch do |f|
  .content-container
    .content-header
      %h3.f300.centered
        My Social Profile
    .content-body
      .form-group
        .col-sm-3.col-sm-offset-3
          #profile-image-container
            = render 'account/profile_photo'
        .col-sm-3
          .social-image-updater
            %h4.f300
              Change Photo
            %br
            .centered
              =f.file_field :photo
            %br
            #filedrag{ data: { object: 'dropfile' } }
              or drop photo here
      %br
      .form-group
        %label.control-label.col-sm-3
          Forum Name
        .col-sm-6
          .input-group
            = f.text_field :forum_name, class: 'form-control'
            %span.input-group-btn
              = link_to suggest_random_forum_name_path, method: :post, remote: true, data: { toggle: 'tooltip', container: 'body' }, title: 'Generate Random Nickname', class: 'btn btn-default' do
                %span.glyphicon.glyphicon-random
          - if errors = current_user.errors[:forum_name] and errors.present?
            .bs-callout.bs-callout-danger
              - if 'is invalid'.in?(errors)
                Please enter a valid forum name that consists of letters
                %code a-z
                and
                numbers
                %code 0-9
                only.
              - if 'has already been taken'.in?(errors)
                This forum name has already been taken. Please choose another forum name.
              You may click the
              %span.glyphicon.glyphicon-random
              for a suggestion.

      .form-group
        %label.control-label.col-sm-3
          Age
        .col-sm-6
          = f.number_field :age, class: 'form-control', min: 1

      .form-group
        %label.control-label.col-sm-3
          Gender
        .col-sm-6
          = f.text_field :gender, autocomplete: "off", data: { object: 'typeahead', local: ["Male", "Female", "Genderqueer", "Androgynous", "Intersex", "Transgender", "Transsexual", "Cross-dresser", "Male-to-female (MTF)", "Female-to-male (FTM)"].to_json }, class: 'form-control'

    .content-footer.centered
      %p.lead
        This is how you will appear to other members of MyApnea.Org
      .row
        = f.submit "Save Changes", class: 'btn btn-primary-custom col-xs-4 col-xs-offset-4 centered'
