.panel.panel-default{ style: 'margin:40px auto;max-width: 500px' }
  .panel-heading
    %p.pull-right
      Not yet a Member?
      = link_to 'Join', new_user_registration_path, class: 'content-link'
    %h4 Sign In

  .panel-body
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f|
      .form-group
        = f.label :email, :class => "sr-only"
        = f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Email"
      .form-group
        = f.label :password, :class => "sr-only"
        = f.password_field :password, class: "form-control input-lg", placeholder: "Password"
      .form-group
        - if devise_mapping.recoverable?
          %small.forgot
            = link_to "Forgot Password?", new_user_password_path, class: 'content-link'
        - if devise_mapping.rememberable?
          .pull-right
            = f.check_box :remember_me
            = f.label :remember_me
      .form-group
        = submit_tag 'Sign In', :class => "btn btn-primary btn-block btn-lg"
