- @background_color = '#f9f9f9'

.row
  .col-sm-6.col-sm-offset-3
    %h1.centered.f300{ style: 'font-size: 24px;margin-bottom: 40px' } Sign in to MyApnea
    .content-container
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-vertical' }) do |f|
        .form-group{ class: flash[:alert].present? ? 'has-error' : '' }
          = f.label :email, class: 'control-label'
          = f.email_field :email, class: 'form-control'

        .form-group{ class: flash[:alert].present? ? 'has-error' : '' }
          = f.label :password, class: 'control-label'
          = link_to '(Forgot password?)', new_password_path(resource_name), tabindex: '-1'
          = f.password_field :password, class: 'form-control', autocomplete: 'off'

        .form-group
          - if flash[:alert].present?
            .alert.alert-warning= flash[:alert].html_safe
          = f.submit 'Sign in', class: 'btn btn-primary btn-block'

    .content-container.centered{ style: 'background-color: transparent' }
      New to MyApnea?
      = link_to 'Create an account.', new_user_registration_path
