.form-group.string-container
  .input-group
    = render "slice/surveys/decoration/addon", addon: @variable.prepend
    = form.number_field "response", class: "form-control #{"is-invalid" if @json.dig("errors", @variable.name).present?}", value: response, autocomplete: "off"
    = render "slice/surveys/decoration/addon", addon: @variable.units
    = render "slice/surveys/decoration/addon", addon: @variable.append
  = render "slice/surveys/decoration/errors"
  = render "slice/surveys/decoration/field_note"
