- @title = @broadcast.title

- @theme = "blue-sky"

- content_for :header_simple do
  .float-right
    = render "layouts/edit_delete_dropdown", edit_url: edit_broadcast_path(@broadcast), delete_url: @broadcast, delete_confirmation: "Delete #{@broadcast.title}?"
  = @title
= render "broadcasts/tabs"

- content_for :breadcrumbs do
  %ol
    %li.breadcrumb-muted= @broadcast.slug

-# content_for :sidebar, render("broadcasts/sidebar")

.row
  .col-md-3.order-1.order-md-2
    .dashboard-container
      - if @broadcast.published?
        - if @broadcast.publish_date <= Time.zone.today
          %p
            %strong Published
            %br
            = @broadcast.publish_date.strftime("%a, %B %-d, %Y")
            %br
            = link_to "View post", blog_post_path(@broadcast.url_hash)
        - else
          %p
            %strong Will publish
            %br
            = @broadcast.publish_date.strftime("%a, %B %-d, %Y")
      - else
        %p
          %strong Status
          %br
          %span.badge.badge-warning DRAFT

      %p
        %strong Short description
        %br
        = @broadcast.short_description

      %p
        %strong Keywords
        %br
        = @broadcast.keywords

      %p
        %strong Creator
        %br
        = @broadcast.user.username

      %p
        %strong Publish date
        %br
        = @broadcast.publish_date

      %p
        %strong Pinned
        %br
        = simple_check @broadcast.pinned

      %p
        %strong Archived
        %br
        = simple_check @broadcast.archived
  .col-md-9.order-2.order-md-1
    .dashboard-container
      .broadcast= simple_markdown(@broadcast.description, target_blank: false, table_class: "table table-striped table-borderless")
