/ Expects a @survey and @answer_session variable
%h1= @answer_session.id
/ Dynamically Loaded:
- @survey.all_questions_descendants.each do |question|
  %h2= "#{Answer.first_or_new(question, @answer_session).id} #{Answer.first_or_new(question, @answer_session).show_value}"
  = render partial: "surveys/question_templates/#{question.display_type}", locals: { question: question, answer_session: @answer_session, answer: Answer.first_or_new(question, @answer_session) }

/ End of Survey
.survey-container
  .panel
    .question-container
      %h3.f300 Congratulations! You've reached the end of the survey, and will gain an entry into our monthly prize drawing!
    .button-container
      .btn.btn-primary.next-question
        Submit
      %p.text-muted Or press ENTER


-#/ Date input
-#.panel.survey-container.progress-w-enter.active
-#  .question-container
-#    %h3.f300 What is your date of birth?
-#  .input-container
-#    = date_field_tag 'dob', nil, class: 'survey-date survey-first-question'
-#  .button-container
-#    .btn.btn-primary.next-question
-#      Go to next question
-#    %p.text-muted Or press ENTER
-#
-#/ Multiple Options
-#.panel.survey-container.progress-w-enter.progress-w-letter
-#  .question-container
-#    %h3.f300 What is your sex?
-#  .input-container
-#    - input_name = 'sex'
-#    = radio_button_tag input_name, 'M'
-#    %label.label-med.survey-multiple-input-button{ for: "#{input_name+'_M'}" }
-#      %p Male
-#      %span M
-#    = radio_button_tag input_name, 'F'
-#    %label.label-med.survey-multiple-input-button{ for: "#{input_name+'_F'}" }
-#      %p Female
-#      %span F
-#    = radio_button_tag input_name, 'O'
-#    %label.label-med.survey-multiple-input-button{ for: "#{input_name+'_O'}" }
-#      %p Other
-#      %span O
-#    = radio_button_tag input_name, 'P'
-#    %label.label-med.survey-multiple-input-button{ for: "#{input_name+'_P'}" }
-#      %p Prefer not to answer
-#      %span P
-#
-#/ Multiple Checks
-#.panel.survey-container.progress-w-enter.check-w-letter
-#  .question-container
-#    %h3.f300 What is your race?
-#    %h5.f300.reset-layout (Check all that apply)
-#  .input-container
-#    - input_name = 'race'
-#    .check-box-container
-#      = check_box_tag input_name, 'A', nil, id: 'A'
-#      %label{ for: 'A' }
-#        %span A
-#        %p Asian (i.e. Asian Indian, Chinese, Filipino, Japanese, Korean, Vietnamese, Hmong, Laotian, Thai, Pakistani, Cambodian, etc.)
-#    .check-box-container
-#      = check_box_tag input_name, 'B', nil, id: 'B'
-#      %label{ for: 'B' }
-#        %span B
-#        %p Black, African American, African, or Afro-Caribbean (i.e. African American, Haitian, Nigerian, etc.)
-#    .check-box-container
-#      = check_box_tag input_name, 'C', nil, id: 'C'
-#      %label{ for: 'C' }
-#        %span C
-#        %p Hispanic, Latino, or Spanish origin (i.e. Mexican, Mexican American, Puerto Rican, Cuban, Argentinian, Colombian, Dominican, Nicaraguan, Salvadorian, Spaniard, etc.)
-#    .check-box-container
-#      = check_box_tag input_name, 'D', nil, id: 'D'
-#      %label{ for: 'D' }
-#        %span D
-#        %p Middle Eastern/North African
-#    .check-box-container
-#      = check_box_tag input_name, 'E', nil, id: 'E'
-#      %label{ for: 'E' }
-#        %span E
-#        %p Native American, American Indian or Alaskan Native (i.e. Navajo, Mayan, Tingt, etc.)
-#    .check-box-container
-#      = check_box_tag input_name, 'F', nil, id: 'F'
-#      %label{ for: 'F' }
-#        %span F
-#        %p Native Hawaiian or Other Pacific Islander (i.e. Native Hawaiian, Guamanian or Chamorro, Samoan, Fijian, Tongan, etc.)
-#    .check-box-container
-#      = check_box_tag input_name, 'G', nil, id: 'G'
-#      %label{ for: 'G' }
-#        %span G
-#        %p White (i.e. German, Irish, Lebanese, Egyptian etc.)
-#    .check-box-container
-#      = check_box_tag input_name, 'H', nil, id: 'H', class: 'reveal-next-input'
-#      %label{ for: 'H' }
-#        %span H
-#        %p Some other race or origin (please specify)
-#      = text_field_tag 'hours', nil, class: 'survey-short-text survey-text-small hidden-input', style: 'margin-bottom:20px;'
-#    .check-box-container
-#      = check_box_tag input_name, 'I', nil, id: 'I'
-#      %label{ for: 'I' }
-#        %span I
-#        %p Prefer not to answer
-#  .button-container
-#    .btn.btn-primary.next-question
-#      Go to next question
-#    %p.text-muted Or press ENTER
-#
-#/ Multiple Options
-#.panel.survey-container.progress-w-enter.progress-w-letter
-#  .question-container
-#    %h3.f300 What is the highest degree or level of school you have completed?
-#  .input-container
-#    - input_name = 'education'
-#    = radio_button_tag input_name, 'A'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_A'}" }
-#      %p 8th grade or less
-#      %span A
-#    = radio_button_tag input_name, 'B'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_B'}" }
-#      %p Some high school, but did not graduate
-#      %span B
-#    = radio_button_tag input_name, 'C'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_C'}" }
-#      %p High school graduate or GED
-#      %span C
-#    = radio_button_tag input_name, 'D'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_D'}" }
-#      %p Some college or 2-year degree
-#      %span D
-#    = radio_button_tag input_name, 'E'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_E'}" }
-#      %p 4-year college graduate
-#      %span E
-#    = radio_button_tag input_name, 'F'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_F'}" }
-#      %p More than 4-year college degree
-#      %span F
-#    = radio_button_tag input_name, 'G'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_G'}" }
-#      %p Prefer not to answer
-#      %span G
-#
-#/ Multiple Options
-#.panel.survey-container.progress-w-enter.progress-w-letter
-#  .question-container
-#    %h3.f300 Last year, what was your total household income from all sources, before taxes?
-#  .input-container
-#    - input_name = 'income'
-#    = radio_button_tag input_name, 'A'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_A'}" }
-#      %p Less than $10,000 (USD)
-#      %span A
-#    = radio_button_tag input_name, 'B'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_B'}" }
-#      %p $10,000 - $49,999
-#      %span B
-#    = radio_button_tag input_name, 'C'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_C'}" }
-#      %p $50,000 - $99,999
-#      %span C
-#    = radio_button_tag input_name, 'D'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_D'}" }
-#      %p $100,000 - $149,999
-#      %span D
-#    = radio_button_tag input_name, 'E'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_E'}" }
-#      %p $150,000 - $199,999
-#      %span E
-#    = radio_button_tag input_name, 'F'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_F'}" }
-#      %p $200,000 - $249,999
-#      %span F
-#    = radio_button_tag input_name, 'G'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_G'}" }
-#      %p $250,000 and above
-#      %span G
-#    = radio_button_tag input_name, 'H'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_H'}" }
-#      %p Unknown
-#      %span H
-#    = radio_button_tag input_name, 'I'
-#    %label.label-large.survey-multiple-input-button{ for: "#{input_name+'_I'}" }
-#      %p Prefer not to answer
-#      %span I
-#
