- survey_name = @answer_session ? @answer_session.survey.name : @survey.name

.content-main-header2
  %h1
    - if @encounter && @encounter.slug != 'baseline'
      = "#{survey_name} - #{@encounter.name}"
    - else
      = survey_name

- if @answer_session
  .jumbotron.jumbotron-action
    %p
      Thank you for completing the survey!
- elsif current_user.is_only_researcher?
  .jumbotron.jumbotron-action
    %p
      Welcome to the data viewer for the survey!
    %p
      Please only use this data in accordance with our
      = succeed '.' do
        = link_to 'Terms of Access', terms_of_access_path, class: 'white', style: 'text-decoration: underline'
