/ Short input text
.panel.survey-container.progress-w-enter.active
  .question-container
    %h3.f300 How many hours of sleep did you get last night?
  .input-container
    = text_field_tag 'hours', nil, maxlength: 2, class: 'survey-short-text survey-short-number survey-first-question'
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER

/ Multiple Checks
.panel.survey-container.progress-w-enter.check-w-letter
  .question-container
    %h3.f300 What is your race?
    %h5.f300.reset-layout (Check all that apply)
  .input-container
    - input_name = 'race'
    .check-box-container
      = check_box_tag input_name, 'A', nil, id: 'A'
      %label{ for: 'A' }
        %span A
        %p Asian (i.e. Asian Indian, Chinese, Filipino, Japanese, Korean, Vietnamese, Hmong, Laotian, Thai, Pakistani, Cambodian, etc.)
    .check-box-container
      = check_box_tag input_name, 'B', nil, id: 'B'
      %label{ for: 'B' }
        %span B
        %p Black, African American, African, or Afro-Caribbean (i.e. African American, Haitian, Nigerian, etc.)
    .check-box-container
      = check_box_tag input_name, 'C', nil, id: 'C'
      %label{ for: 'C' }
        %span C
        %p Hispanic, Latino, or Spanish origin (i.e. Mexican, Mexican American, Puerto Rican, Cuban, Argentinian, Colombian, Dominican, Nicaraguan, Salvadorian, Spaniard, etc.)
    .check-box-container
      = check_box_tag input_name, 'D', nil, id: 'D'
      %label{ for: 'D' }
        %span D
        %p Middle Eastern/North African
    .check-box-container
      = check_box_tag input_name, 'E', nil, id: 'E'
      %label{ for: 'E' }
        %span E
        %p Native American, American Indian or Alaskan Native (i.e. Navajo, Mayan, Tingt, etc.)
    .check-box-container
      = check_box_tag input_name, 'F', nil, id: 'F'
      %label{ for: 'F' }
        %span F
        %p Native Hawaiian or Other Pacific Islander (i.e. Native Hawaiian, Guamanian or Chamorro, Samoan, Fijian, Tongan, etc.)
    .check-box-container
      = check_box_tag input_name, 'G', nil, id: 'G'
      %label{ for: 'G' }
        %span G
        %p White (i.e. German, Irish, Lebanese, Egyptian etc.)
    .check-box-container
      = check_box_tag input_name, 'H', nil, id: 'H', class: 'reveal-next-input'
      %label{ for: 'H' }
        %span H
        %p Some other race or origin (please specify)
      = text_field_tag 'hours', nil, class: 'survey-short-text survey-text-small hidden-input', style: 'margin-bottom:20px;'
    .check-box-container
      = check_box_tag input_name, 'I', nil, id: 'I'
      %label{ for: 'I' }
        %span I
        %p Prefer not to answer
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER

/ Question Scale
.panel.survey-container.progress-w-enter
  .question-container
    %h3.f300 In the past 7 days, how was your sleep quality?
  .input-container
    = range_field_tag 'quality', nil, in: 1...10, step: '0.1'
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER


/ Multiple Options
.panel.survey-container.progress-w-enter.progress-w-letter
  .question-container
    %h3.f300 When would you prefer to wake up?
  .input-container
    - input_name = 'wakeup'
    = radio_button_tag input_name, 'A'
    %label.survey-multiple-input-button{ for: "#{input_name+'_A'}" }
      %p 5 - 6:30am
      %span A
    = radio_button_tag input_name, 'B'
    %label.survey-multiple-input-button{ for: "#{input_name+'_B'}" }
      %p 6:30 - 8am
      %span B
    = radio_button_tag input_name, 'C'
    %label.survey-multiple-input-button{ for: "#{input_name+'_C'}" }
      %p 8 - 10am
      %span C
    = radio_button_tag input_name, 'D'
    %label.survey-multiple-input-button{ for: "#{input_name+'_D'}" }
      %p After 10am
      %span D


/ Multiple Options, Multiple Questions
.panel.survey-container.progress-w-enter.progress-w-number
  .question-container
    %h3.f300 How likely are you to fall asleep during the following activities?
  .input-container
    .row.multiple-question-container.current
      - input_name = 'likelihood1'
      .col-sm-3
        %h4.f300 Reading
      .col-sm-2
        = radio_button_tag input_name, '1'
        %label.survey-scale.survey-scale-great{ for: "#{input_name+'_1'}" }
          %p Never
          %span 1
      .col-sm-2
        = radio_button_tag input_name, '2'
        %label.survey-scale.survey-scale-good{ for: "#{input_name+'_2'}" }
          %p Slight
          %span 2
      .col-sm-2
        = radio_button_tag input_name, '3'
        %label.survey-scale.survey-scale-warning{ for: "#{input_name+'_3'}" }
          %p Moderate
          %span 3
      .col-sm-2
        = radio_button_tag input_name, '4'
        %label.survey-scale.survey-scale-danger{ for: "#{input_name+'_4'}" }
          %p High
          %span 4
    .row.multiple-question-container
      - input_name = 'likelihood2'
      .col-sm-3
        %h4.f300 Watching TV
      .col-sm-2
        = radio_button_tag input_name, '1'
        %label.survey-scale.survey-scale-great{ for: "#{input_name+'_1'}" }
          %p Never
          %span 1
      .col-sm-2
        = radio_button_tag input_name, '2'
        %label.survey-scale.survey-scale-good{ for: "#{input_name+'_2'}" }
          %p Slight
          %span 2
      .col-sm-2
        = radio_button_tag input_name, '3'
        %label.survey-scale.survey-scale-warning{ for: "#{input_name+'_3'}" }
          %p Moderate
          %span 3
      .col-sm-2
        = radio_button_tag input_name, '4'
        %label.survey-scale.survey-scale-danger{ for: "#{input_name+'_4'}" }
          %p High
          %span 4
    .row.multiple-question-container
      - input_name = 'likelihood3'
      .col-sm-3
        %h4.f300 Sitting in a public place
      .col-sm-2
        = radio_button_tag input_name, '1'
        %label.survey-scale.survey-scale-great{ for: "#{input_name+'_1'}" }
          %p Never
          %span 1
      .col-sm-2
        = radio_button_tag input_name, '2'
        %label.survey-scale.survey-scale-good{ for: "#{input_name+'_2'}" }
          %p Slight
          %span 2
      .col-sm-2
        = radio_button_tag input_name, '3'
        %label.survey-scale.survey-scale-warning{ for: "#{input_name+'_3'}" }
          %p Moderate
          %span 3
      .col-sm-2
        = radio_button_tag input_name, '4'
        %label.survey-scale.survey-scale-danger{ for: "#{input_name+'_4'}" }
          %p High
          %span 4
    .row.multiple-question-container
      - input_name = 'likelihood4'
      .col-sm-3
        %h4.f300 Watching TV
      .col-sm-2
        = radio_button_tag input_name, '1'
        %label.survey-scale.survey-scale-great{ for: "#{input_name+'_1'}" }
          %p Never
          %span 1
      .col-sm-2
        = radio_button_tag input_name, '2'
        %label.survey-scale.survey-scale-good{ for: "#{input_name+'_2'}" }
          %p Slight
          %span 2
      .col-sm-2
        = radio_button_tag input_name, '3'
        %label.survey-scale.survey-scale-warning{ for: "#{input_name+'_3'}" }
          %p Moderate
          %span 3
      .col-sm-2
        = radio_button_tag input_name, '4'
        %label.survey-scale.survey-scale-danger{ for: "#{input_name+'_4'}" }
          %p High
          %span 4


/ Blank questions
.panel.survey-container
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER
.panel.survey-container
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER
.panel.survey-container
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER
.panel.survey-container
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER
.panel.survey-container
  .button-container
    .btn.btn-primary.next-question
      Go to next question
    %p.text-muted Or press ENTER
