- @active_top_nav_link = :research

.content-main-header
  %h1 Research Surveys

.content-container
  .content-body
    %p
      MyApnea.Org is part of a growing national network of patients, health care providers and researchers. This partnership is built upon the open exchange of information about sleep apnea. Here we provide a series of questions to help the sleep apnea community better understand the symptoms found in patients with sleep apnea or at risk for sleep apnea, their experiences with getting diagnosed, and their health conditions.

.content-container
  .content-body
    - if current_user and current_user.is_only_academic?
      %h2.f300.centered
        You may view aggregate data for these surveys.
      %h3.f300.centered
        All information is reported from community members, and should be used in accordance with our
        = link_to('Terms of Access', terms_of_access_path) + '.'
    - else
      %h2.f300.centered
        Each completed survey earns you an entry into our monthly drawing for a chance to win a $250
        %i.fa.fa-cc-visa
        Visa Gift card*!
      %h3.f300.centered
        The more surveys you complete the more chances to win!
      %br
      %p
        You may navigate away from the surveys at any time and your answers will be
        saved for you to complete upon your return.
      %p
        Some of you will have answered some of these questions before but it is important for us to ask them again so that we have an understanding of the MyApnea community now and over time. After you complete each survey, you will see how your answers compare to others within the network.

      %p.italic
        *Must be a United States resident to be eligible to win. Proof of eligibility required upon notification of award. Drawings are held the last day of each month.

.content-container
  .content-body
    .row
      - if current_user and current_user.is_only_academic?
        - @surveys.each_with_index do |survey, index|
          - if (index)%3==0
            .clearfix{ style: 'margin-bottom: 30px;'}
          .col-sm-4.centered
            = image_tag 'myapnea/icons/data_display'+rand(1..3).to_s+'.png', class: 'img-responsive', style: 'margin: 0 auto; width: 80%; max-width:250px; border-radius: 10px;'
            %h5.f300
              = survey.name
            %p= link_to 'View Data', report_survey_path(survey)
      - elsif current_user and !current_user.has_user_type?
        .centered-text
          = image_tag 'myapnea/user_types/role_confused.png', class: 'img-responsive', style: 'margin: 0 auto; width: 150px;'
          %p
            You have not listed your role in the sleep apnea community. In order to participate in this part of the research community, please
            = succeed '.' do
              = link_to 'select a role', describe_yourself_path
      - else
        - if current_user and current_user.completed_assigned_surveys?
          %h2.f300
            Congratulations! You have completed all of your surveys!
          %p
            Since you're doing such a great job, why don't you
            = link_to 'submit a research question', research_topics_path, class: 'no-underline'
            to be discussed by the community?
        - @surveys.each_with_index do |survey, index|
          - if (index)%3==0
            .clearfix{ style: 'margin-bottom: 30px;'}
          .col-sm-4.centered
            = render 'surveys/partials/survey_progress', survey: survey

