-# @background_color = '#5999de'

.content-main-header2
  %h1 Research Surveys

- if current_user && current_user.is_only_academic?
  .content-container
    %h2.f300.centered
      You may view aggregate data for these surveys.
    %h3.f300.centered
      All information is reported from community members, and should be used in accordance with our
      = succeed '.' do
        = link_to 'Terms of Access', terms_of_access_path

- if current_user && current_user.caregiver_child?
  - @child = current_user.children.first
  #children-index
    = render 'children/index'
  #child-surveys.child-survey-container
    - if @child
      = render 'children/show'
    - else
      = render 'children/new'

- unless current_user && current_user.caregiver_child? && current_user.children.count == 0
  - if current_user && current_user.is_only_academic?
    - @surveys.in_groups_of(3, false) do |survey_group|
      .row
        - survey_group.each do |survey|
          .col-sm-4.centered{ style: 'margin-bottom:30px' }
            = image_tag 'myapnea/icons/data_display'+rand(1..3).to_s+'.png', class: 'img-responsive', style: 'margin: 0 auto; width: 80%; max-width:250px; border-radius: 10px;'
            %h5.f300
              = survey.name
            %p= link_to 'View Data', report_survey_path(survey)
  - elsif current_user && !current_user.has_user_type?
    .centered
      = image_tag 'myapnea/user_types/role_confused.png', class: 'img-responsive', style: 'margin: 0 auto; width: 150px;'
      %p
        You have not listed your role in the sleep apnea community. In order to participate in this part of the research community, please
        = succeed '.' do
          = link_to 'select a role', describe_yourself_path
  - elsif current_user
    - if current_user.caregiver_child?
      .content-main-header2
        %h1 My Surveys
    - if current_user.completed_assigned_answer_sessions?
      .jumbotron.primary-blue-bcg
        %p.f300.text-center
          Congratulations! You have completed all of your surveys!
    - @answer_sessions.in_groups_of(3, false) do |answer_session_group|
      .row
        - answer_session_group.each do |answer_session|
          .col-sm-4.centered{ style: 'margin-bottom:30px' }
            = render 'surveys/answer_sessions/progress', answer_session: answer_session
  - else
    - if current_user && current_user.caregiver_child?
      .content-main-header2
        %h1 My Surveys
    - @surveys.in_groups_of(3, false) do |survey_group|
      .row
        - survey_group.each do |survey|
          .col-sm-4.centered{ style: 'margin-bottom:30px' }
            = render 'surveys/partials/survey_progress', survey: survey



- content_for :footer do
  .jumbotron.primary-blue-bcg
    .container
      %p.f300
        MyApnea.Org is part of a growing international network of patients, health
        care providers and researchers. This partnership is built upon the open
        exchange of information about sleep apnea. Here we provide a series of
        questions to help the sleep apnea community better understand the symptoms
        found in patients with sleep apnea or at risk for sleep apnea, their
        experiences with getting diagnosed, and their health conditions.
      - unless current_user
        .text-center
          = link_to new_user_registration_path, class: 'btn btn-lg btn-warning-custom' do
            Join Today
            %i.fa.fa-arrow-right
