.content-main-header
  %h1 Research Surveys
= render 'surveys/report_intro'

= render "surveys/reports/#{@survey.slug.underscore}" rescue render 'surveys/reports/default'

.content-container
  .content-footer
    %p.no-margin.centered
      %span.f500 Note:
      You can view the full-detailed version of the survey report by clicking
      = succeed '.' do
        = link_to 'here', report_detail_survey_path

= render 'surveys/report_outro'
