= render partial: 'surveys/report_intro'

= render partial: 'surveys/reports/default'

.content-container
  .content-footer
    %p.no-margin.centered
      %span.f500 Note:
      This is the detailed version of the report.
      %br
      You can view the summary reports that members normally see by clicking
      = succeed '.' do
        = link_to 'here', report_survey_path

= render partial: 'surveys/report_outro'
