= render 'surveys/report_intro'

- @survey.questions.unarchived.joins(:answer_templates).where(answer_templates: { template_name: ['radio', 'checkbox'] }).to_a.uniq.each do |question|
  = render 'surveys/reports/question_text', question: question
  - question.answer_templates.unarchived.where(template_name: ['radio', 'checkbox']).each_with_index do |answer_template, index|
    = render 'surveys/reports/question_and_answer', survey: @survey, question: question, answer_template: answer_template, answer_template_index: index

- if @survey.has_custom_report?
  .content-container
    %p.no-margin.center
      %i.fa.fa-info-circle.primary-blue
      This is the detailed version of the report. See the summary report
      = succeed '.' do
        - if @answer_session and @answer_session.child
          = link_to 'here', child_survey_report_path(@answer_session.child.id, @answer_session.survey, @answer_session.encounter)
        - elsif @answer_session
          = link_to 'here', report_survey_path(@answer_session.survey, @answer_session.encounter)
        - else
          = link_to 'here', report_survey_path(@survey, @encounter)

= render 'surveys/report_outro'
