.content-main-header
  %h1.f300 Advisory Council

.panel{ style: 'margin-bottom: 30px' }
  .panel-body
    %p.lead
      The MyApnea.Org Advisory Council brings together a range of professionals and researchers to help us develop our platform. Each member has been active in the field of sleep research and treatment.

- group1 = []; group2 = []; group3 = []
- @pc["members"].each_with_index do |member, index|
  - if index % 3 == 0
    - group1.push(member)
  - elsif index % 2 == 0
    - group3.push(member)
  - else
    - group2.push(member)
.row
  .col-sm-4
    -group1.each_with_index do |member, index|
      .panel.advisory-small{ data: { toggle: 'collapse', target: "#collapse#{member['name'].gsub(/\s+/, '')}" } }
        %h5
          = member["name"]
          - if member["title"]
            %span= member["title"]
        %h6= member["loc"]
        %p.long.collapse{ id: "collapse#{member['name'].gsub(/\s+/, '')}"}= member["bio"]
  .col-sm-4
    -group2.each_with_index do |member, index|
      .panel.advisory-small{ data: { toggle: 'collapse', target: "#collapse#{member['name'].gsub(/\s+/, '')}" } }
        %h5
          = member["name"]
          - if member["title"]
            %span= member["title"]
        %h6= member["loc"]
        %p.long.collapse{ id: "collapse#{member['name'].gsub(/\s+/, '')}"}= member["bio"]
  .col-sm-4
    -group3.each_with_index do |member, index|
      .panel.advisory-small{ data: { toggle: 'collapse', target: "#collapse#{member['name'].gsub(/\s+/, '')}" } }
        %h5
          = member["name"]
          - if member["title"]
            %span= member["title"]
        %h6= member["loc"]
        %p.long.collapse{ id: "collapse#{member['name'].gsub(/\s+/, '')}"}= member["bio"]
