- @title = "MyApnea.Org"

= render partial: 'layouts/page_header_image', locals: { image: 'myapnea/headers/home.jpg', signup_id: "signup" }

#about-page
  .row
    .col-md-12
      %h1= @pc['main_header']
      %p.sub-header= @pc['sub_header']
    .col-md-10
      = markdown @pc['content']
  %br/
  %br/

  %div{style: 'text-align:center'}
    = link_to "Join Us on MyApnea.Org <i class='fa fa-arrow-right'></i>".html_safe, root_path, class: 'btn btn-primary btn-lg'
  %br/
  %br/

  .row
    - ['learn', 'share', 'research'].each do |topic|
      .col-md-4
        .well.text-center.topic
          %h3= link_to @pc[topic]['title'], send(@pc[topic]['path'])
          %p
            %i= @pc[topic]['content']
  %br/
  %br/

=# javascript_include_tag 'home'
