<!-- Turn off UserVoice -->
<div style="display:none" data-object="no-user-voice"></div>

<div class='row'>
<!-- SIDE NAVBAR -->
  <div id='container-left' class='primary-blue-bcg'>
    <!-- PSEUDO-ROW -->
      <!-- USER IMAGE -->
      <div class='col-lg-5 col-md-6 col-sm-8'>
        <%= image_tag 'myapnea/testimonials/sRedline-cropped.png', class: 'user-picture' %>
      </div>
      <!-- USER NAME -->
      <div class='col-md-6 col-sm-8'>
        <h4 class='user-name text-white'>Susan Redline</h4>
      </div>
    <!-- PSEUDO ROW -->
      <div class='col-xs-12 reset-layout' style='margin-top:30px;'>
        <ul class="list-group">
          <li class="list-group-item">Community Profile</li>
          <li class="list-group-item">Forums</li>
          <li class="list-group-item">Research Surveys</li>
          <li class="list-group-item">Research Questions</li>
        </ul>
      </div>
  </div>

<!-- MAIN CONTENT -->
  <div id='container-right'>
    <!-- HEADER BAR -->
    <div class='col-xs-10 col-xs-offset-1 primary-orange-bcg content-main-header'>
    <!-- http://www.clker.com/cliparts/o/T/f/Y/i/z/people-standing-hi.png -->
      <%= image_tag 'myapnea/welcome/people-standing-hi.png', class: 'img-responsive hidden-sm hidden-xs', style: 'float:right; max-width:400px; padding:30px 0;'%>
      <h1 class='content-main-title'>Meet the Team!</h1>
    </div>

<!-- STEERING COMMITTEE PANEL -->
    <div class="panel col-sm-10 col-sm-offset-1">
      <div class="panel-body carousel slide" id="carousel-steering-committee">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class='row'>
              <div class='col-md-3 col-md-offset-2 col-xs-12'>
                <%= image_tag 'myapnea/team/redline_crop_color.jpg', class: 'team-member-picture-large' %>
              </div>
              <div class='col-md-5 col-xs-10 col-xs-offset-1'>
                <h2><span class='primary-blue'>Susan Redline</span></h2>
                <h3>M.D., M.P.H., Principal Investigator and MyApnea.Org Steering Committee Co-chair</h3>
              </div>
              <div class='col-xs-1'>
              </div>
              <div class='col-xs-10 col-xs-offset-1'>
                <h5 class='spaced' style='clear:both'>Susan Redline is the Peter C. Farrell Professor of Sleep Medicine at Harvard Medical School and Director of the Programs in Sleep and Cardiovascular Medicine and Sleep Medicine Epidemiology at Brigham and Women’s Hospital and Beth Israel Deaconess Medical Center. She is an internationally recognized researcher focusing on understanding the risk factors and treatment outcomes of sleep disorders. She has published more than 200 scientific articles and participates in many national organizations involved in setting policies for sleep medicine practice and research.</h5>
              </div>
            </div> <!-- END ROW -->
          </div> <!-- END ITEM -->
          <div class="item">
            <div class='row'>
              <div class='col-md-3 col-md-offset-2 col-xs-12'>
                <%= image_tag 'myapnea/team/amdur_crop.jpg', class: 'team-member-picture-large' %>
              </div>
              <div class='col-md-5 col-xs-10 col-xs-offset-1'>
                <h2><span class='primary-blue'>Adam Amdur</span></h2>
                <h3>MyApnea.Org Steering Committee Co-chair</h3>
              </div>
              <div class='col-xs-1'>
              </div>
              <div class='col-xs-10 col-xs-offset-1'>
                <h5 class='spaced' style='clear:both'>Adam Asmur is the chief operating officer and immediate past-chair of the American Sleep Apnea Association, the nation’s leading patient-led organization dedicated to reducing injury and disability from sleep apnea and to enhancing the well-being of those affected by this common disorder. Adam was diagnosed with severe obstructive sleep apnea (OSA) in 2008. As he struggled to manage his OSA, it wasn't until he found his way to the sleep center at Stanford University that he received the support to adequately control his overall medical condition. Since then, Adam has been passionate about assisting others in understanding this disease and in getting the help they need. He is currently writing a memoir, **Asleep at the Wheel, Living with Sleep Apnea**, in the hope of educating the public about apnea and its effects on adults and children.</h5>
              </div>
            </div> <!-- END ROW -->
          </div> <!-- END ITEM -->
          <div class="item">
            <div class='row'>
              <div class='col-md-3 col-md-offset-2 col-xs-12'>
                <%= image_tag 'myapnea/team/owens_crop.jpg', class: 'team-member-picture-large' %>
              </div>
              <div class='col-md-5 col-xs-10 col-xs-offset-1'>
                <h2 ><span class='primary-blue'>Judith Owens</span></h2>
                <h3>M.D., M.P.H., MyApnea.Org Steering Committee Member</h3>
              </div>
              <div class='col-xs-1'>
              </div>
              <div class='col-xs-10 col-xs-offset-1'>
                <h5 class='spaced' style='clear:both'>Judith Owens is president and chief medical officer of the American Sleep Apnea Association. She is also the director of sleep medicine at Children’s National Medical Center and a professor at George Washington University School of Medicine and Health Sciences. She is an internationally recognized authority on pediatric sleep and the author of more than 100 original research and peer-reviewed journals, chapters, and books. Before taking her present position in 2010, she was associate professor of pediatrics at Brown University Medical School and director of pediatric sleep disorders at Hasbro Hospital in Providence, RI.</h5>
              </div>
            </div> <!-- END ROW -->
          </div> <!-- END ITEM -->
          <div class="item">
            <div class='row'>
              <div class='col-md-3 col-md-offset-2 col-xs-12'>
                <%= image_tag 'myapnea/team/headapohl.jpg', class: 'team-member-picture-large' %>
              </div>
              <div class='col-md-5 col-xs-10 col-xs-offset-1'>
                <h2><span class='primary-blue'>Will Headapohl</span></h2>
                <h3>MyApnea.Org Steering Committee Member</h3>
              </div>
              <div class='col-xs-1'>
              </div>
              <div class='col-xs-10 col-xs-offset-1'>
                <h5 class='spaced' style='clear:both'>Will Headapohl is chairman of the board of directors for the American Sleep Apnea Association. He is a patient advocate, writer, and consultant focused on the challenges of getting all undiagnosed apnea sufferers into treatment. He is the co-author of the book, Sleep or Die: Overcome Apnea Before It Overcomes You. His work is aimed at mobilizing all those touched by the disease, including partners, association members, loved ones, medical care providers, and victims. Will’s resume includes executive vice president, chief information officer, and chief operating officer roles in the internet, information technology, and wireless industries.</h5>
              </div>
            </div> <!-- END ROW -->
          </div> <!-- END ITEM -->
          <div class="item">
            <div class='row'>
              <div class='col-md-3 col-md-offset-2 col-xs-12'>
                <%= image_tag 'myapnea/team/kapur_crop.jpg', class: 'team-member-picture-large' %>
              </div>
              <div class='col-md-5 col-xs-10 col-xs-offset-1'>
                <h2 ><span class='primary-blue'>Vishesh Kapur</span></h2>
                <h3>M.D., M.P.H., MyApnea.Org Steering Committee Member</h3>
              </div>
              <div class='col-xs-1'>
              </div>
              <div class='col-xs-10 col-xs-offset-1'>
                <h5 class='spaced' style='clear:both'>Dr. Kapur, University of Washington Professor of Medicine, is the founder of the UW Medicine Sleep Center and an active educator and researcher. He directs the UW Medicine Sleep Laboratory and the UW Sleep Medicine Fellowship. Dr. Kapur is a fellow of the American Academy of Sleep Medicine and has board certifications in sleep medicine and pulmonary medicine. He lectures nationally on a variety of topics related to sleep disordered breathing and is an associate editor for the Journal of Clinical Sleep Medicine and the journal SLEEP.</h5>
              </div>
            </div> <!-- END ROW -->
          </div> <!-- END ITEM -->
        </div> <!-- END CAROUSEL INNER -->
      </div> <!-- END PANEL CONTENT -->
      <div class="panel-footer">
        <!-- Indicators -->
        <div class='col-xs-10 col-xs-offset-1'>
          <ol id='steering-committee-list'>
            <li data-target="#carousel-steering-committee" data-slide-to="0" class="active">
              <%= image_tag 'myapnea/team/redline_crop_color.jpg', class: 'team-member-picture img-bw img-color' %>
            </li>
            <li data-target="#carousel-steering-committee" data-slide-to="1">
              <%= image_tag 'myapnea/team/amdur_crop.jpg', class: 'team-member-picture img-bw' %>
            </li>
            <li data-target="#carousel-steering-committee" data-slide-to="2">
              <%= image_tag 'myapnea/team/owens_crop.jpg', class: 'team-member-picture img-bw' %>
            </li>
            <li data-target="#carousel-steering-committee" data-slide-to="3">
              <%= image_tag 'myapnea/team/headapohl.jpg', class: 'team-member-picture img-bw' %>
            </li>
            <li data-target="#carousel-steering-committee" data-slide-to="4">
              <%= image_tag 'myapnea/team/kapur_crop.jpg', class: 'team-member-picture img-bw' %>
            </li>
          </ol>
        </div> <!-- END COL-10 INDICATORS -->
      </div>
    </div>




  </div>
</div> <!-- END ROW -->

<script>
  // Mouse-over effects for small images
  $('.team-member-picture').hover(function() {
    $(this).toggleClass('img-bw');
    $(this).toggleClass('img-bw');$(this).toggleClass('img-bw-partial');
  });

  $('.team-member-picture').click(function() {
    $('.team-member-picture').removeClass('img-color');
    $(this).toggleClass('img-color');
  })

</script>

