.row.row-fullscreen#provider-header
  .col-md-7.col-md-offset-5.darker-blue-bcg{ style: 'border-radius: 30px 0 0 30px; margin-top:50px; padding:25px; background-color: #387FCF; background-color: rgba(56, 127, 207, 0.7)' }
    %h1.centered-text.text-white Wake up to a better future
  .col-md-7.col-md-offset-5.darker-blue-bcg{ style: 'border-radius: 30px 0 0 30px; margin-top:20px; padding:25px; background-color: #387FCF; background-color: rgba(56, 127, 207, 0.7)' }
    %h3.text-light9.f600.spaced Let's work together to find a cure for sleep apnea
    %h4.text-light7 Join my network of care providers, researchers, and people with sleep apnea to work together and help us improve treament outcomes, etc.
  .col-md-7.col-md-offset-5{ style: 'margin-top:70px' }
    .col-sm-4.col-xs-7.pull-right
      = image_tag "myapnea/welcome/img-small/asaa-logo_3x1.png", class: 'partners-img img-responsive', id: 'partner-AASA'
    .col-sm-4.col-xs-7.pull-right
      = image_tag "myapnea/welcome/img-small/pcornet_logo_3x1.png", class: "partners-img img-responsive", id: "partner-PCORnet"
    .col-sm-4.col-xs-7.pull-right
      = image_tag "myapnea/welcome/img-small/bwh-logo_3x1.png", class: "partners-img img-responsive", id: "partner-BWH"
.row.row-fullscreen#provider-banner
  .col-lg-2.col-lg-offset-1.col-md-3.col-md-offset-1.col-xs-4
    = image_tag 'myapnea/team/redline_200x200.jpg', class: 'team-member-picture-md', style: 'float: right;'
  .col-lg-8.col-md-7.col-xs-7{ style: 'padding-left:20px;' }
    %h4.text-dark7
      "I think this is a really good idea and I want you to join my network because I am a provider who cares about you!!! Let's do this!!!!!!! Down with sleep apnea! Up with sleep!! Down with sleep apnea! Up with sleep!! Down with sleep apnea! Up with sleep!! Down with sleep apnea! Up with sleep!! Down with sleep apnea! Up with sleep!!"
    %h4.primary-orange
      \- Michael Rueschman
.row.row-fullscreen#community-tracker-provider
  .col-xs-8.col-xs-offset-2
    %h2.lighterer-blue{ style: 'margin-top:5px;' }
      Current Community:
      %span.primary-blue
        = number_with_delimiter User.all.count
      members
.row.row-fullscreen#slide-2p
  .col-md-6.col-md-offset-1
    %h1.primary-blue{style: 'margin-top:150px; '} Our Mission
    %h3{style: 'color:rgba(0,0,0,.7);' }
      The mission of MyApnea.Org is to improve the diagnosis and treatment of sleep apnea through the
      %span.lighter-blue active engagement
      of patients, families, researchers, and healthcare providers in a community that facilitates patient-centered research.
  .col-md-4
    = image_tag 'myapnea/welcome/img-small/team-hands-cropped.jpg', class: 'hidden-sm hidden-xs'
.row.row-fullscreen#slide-3
  .col-md-3.col-md-offset-1
    = image_tag 'myapnea/welcome/img-large/unsplash-dont-stand-there.jpg', class: 'hidden-sm hidden-xs'
  .col-md-6.col-md-offset-1
    %h1.primary-blue Our Goal
    %h3{style: 'color:rgba(0,0,0,.7)' }
      By offering this network to your patients, and engaging with them actively outside of the office, they begin to feel a uniquely incredible quality of care. This community easily shows people with sleep apnea the amount of support they have from an international group of researchers, care providers, and fellow patients.
.row.row-fullscreen#slide-4
  .col-md-10.col-md-offset-1
    %h1.primary-blue.f500.centered-text Our Community
    %h3 MyApnea.org is a community built by people with sleep apnea, family members, providers, and researchers to share and learn from one another.
  .col-md-1
  = link_to forem.forums_path, class: 'community-highlight-links ' do
    .col-md-3.col-md-offset-1.col-xs-12.col-button.community-highlight.centered-text#community-highlight-1
      %h3.text-white Active Forums
      %p.lead Discuss with others about living with sleep apnea and what is important to you.  Share ideas on how to promote the website to others.  The more members we have, the more we can learn from each other and contribute to future research.
  = link_to surveys_path, class: 'community-highlight-links' do
    .col-md-3.col-xs-12.col-button.community.highlight.centered-text#community-highlight-2
      %h3.text-white Research Surveys
      %p.lead Answer a series of questions about symptoms, treatment, and related health conditions.  Your answers will help the sleep apnea community better understand the disorder and where future research efforts should be directed.
      %p.lead
        Each completed survey earns you an entry into our monthly drawing for a
        %span.text-white#visa-gift-card $250 Visa Gift card.
  = link_to research_topics_path, class: 'community-highlight-links' do
    .col-md-3.col-xs-12.col-button.community.highlight.centered-text#community-highlight-2
      %h3.text-white Impact Questions
      %p.lead Cast your vote on which research questions matter to you most. Providers and researchers will share what is known about the highest ranked topics and if data is lacking they will endorse the topic as an important direction for future research.
.row#partners-banner
  .col-sm-12.col-md-4.col-lg-4.col-lg-offset-1
    = image_tag 'myapnea/welcome/img-small/asaa_logo.jpg', class: "partners-img img-responsive", id: "partner-AASA"
  .col-sm-12.col-md-4.col-lg-3
    = image_tag 'myapnea/welcome/img-small/pcornet_logo.jpg', class: "partners-img img-responsive", id: "partner-PCORnet"
  .col-sm-12.col-md-4.col-lg-3
    = image_tag 'myapnea/welcome/img-small/bwh_logo.jpg', class: "partners-img img-responsive", id: "partner-BWH"
/ Signup sheet
%a{:name=>'signup'}
.row.row-fullscreen{id: "slide-5"}
  .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.panel.panel-signup
    .panel-body#panel-sign-up
      %h1.darker-blue.centered-text Wake up to a better future!
      %h4 By joining, you gain access to a unique group of resources and a growing research community. It's fast, simple, and completely free of cost to join and start making a difference!
      %h4
        And, of course, all of your information is completely protected!
        - if false
          %span.lighter-blue#privacy-policy{ data:{ toggle: 'modal', target:'#myModal'} }
        - else
          = link_to 'See our privacy policy.', privacy_path, target: '_blank'
      = form_tag user_registration_path, method: :post do
        = text_field_tag 'user[first_name]', nil, placeholder: 'First name', class: "form-control"
        = text_field_tag 'user[last_name]', nil, placeholder: 'Last name', class: "form-control"
        = select_tag 'user[year_of_birth]', options_for_select([['- Select your birth year -', nil]] + (1900..Date.today.year).to_a.reverse.collect{|i| [i,i]}), class: "form-control"
        = text_field_tag 'user[email]', nil, placeholder: 'Email address', class: "form-control"
        = password_field_tag 'user[password]', nil, placeholder: 'Password', class: "form-control"
        = submit_tag 'Sign up!', class: "form-control", id: "submit-join"

