<!-- Turn off UserVoice -->
<div style="display:none" data-object="no-user-voice"></div>

<div class='row'>
<!-- SIDE NAVBAR -->
  <div id='container-left' class='primary-blue-bcg'>
    <!-- PSEUDO-ROW -->
      <!-- USER IMAGE -->
      <div class='col-lg-5 col-md-6 col-sm-8'>
        <%= image_tag 'myapnea/testimonials/sRedline-cropped.png', class: 'user-picture' %>
      </div>
      <!-- USER NAME -->
      <div class='col-md-6 col-sm-8'>
        <h4 class='user-name text-white'>Susan Redline</h4>
      </div>
    <!-- PSEUDO ROW -->
      <div class='col-xs-12 reset-layout' style='margin-top:30px;'>
        <ul class="list-group">
          <li class="list-group-item">Community Profile</li>
          <li class="list-group-item">Forums</li>
          <li class="list-group-item">Research Surveys</li>
          <li class="list-group-item">Research Questions</li>
        </ul>
      </div>
  </div>

<!-- MAIN CONTENT -->
  <div id='container-right'>
    <!-- HEADER BAR -->
    <div class='col-sm-10 col-sm-offset-1 primary-orange-bcg content-main-header'>
      <h1 class='content-main-title'>Welcome to the Forums!</h1>
    </div>

    <div class="col-sm-10 col-sm-offset-1 panel panel-forums">
      <div class="panel-heading" style='background-color:rgba(240,240,240,.7)'>
        <h3 class='panel-title' style="color:rgba(0,0,0,.7)">Introductions</h3>
        <h4 class='lighter-blue' >Share your apnea story</h4>
      </div>
      <table class="table">
        <tr>
          <td>This is a forum post about sleep apnea that will be formatted</td>
        </tr>
        <tr>
          <td>This is a forum post about sleep apnea that will be formatted</td>
        </tr>
        <tr>
          <td>This is a forum post about sleep apnea that will be formatted</td>
        </tr>
        <tr>
          <td>This is a forum post about sleep apnea that will be formatted</td>
        </tr>
        <tr>
          <td>This is a forum post about sleep apnea that will be formatted</td>
        </tr>
      </table>
    </div>

    <div class="col-sm-10 col-sm-offset-1 panel panel-forums">
      <div class="panel-heading" style='border-bottom:1px solid rgba(0,0,0,.3)'>
        <h3 class='panel-title'>Daytime Sleepiness and Performance Outcomes</h3>
        <h4 style="color:rgba(0,0,0,.6)">Share how sleep apnea impacts your daily performance</h4>
      </div>
      <table class="table">
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:7%; margin:10px; margin-right:15px; display:block;" %>
            <p class='lead' style='width:90%; float:right;'>This is a forum post about sleep apnea that will be formatted and I'm going to go ahead and make this one a little longer to reflect the length of actual forum posts. Merry Christmas and Happy Hanukkah and Happy Kwanzaa and most importantly Happy Boxing Day, eh?</p>
            <p style='width:90%; float:right;'>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-sm-10 col-sm-offset-1 panel panel-forums">
      <div class="panel-heading">
        <h3 class='panel-title'>News</h3>
        <h4 style="color:rgba(0,0,0,.6)">Share sleep in the news</h4>
      </div>
      <table class="table">
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-sm-10 col-sm-offset-1 panel panel-forums">
      <div class="panel-heading">
        <h3 class='panel-title'>Building MyApnea.Org</h3>
        <h4 style="color:rgba(0,0,0,.6)">Share your ideas for the site</h4>
      </div>
      <table class="table">
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag '//myapnea.org/uploads/social_profile/photo/13/IMG_3119__2_.jpg', class: 'img-rounded pull-left', style: "width:50px; margin:10px; margin-right:15px" %>
            <p class='lead'>This is a forum post about sleep apnea that will be formatted</p>
            <p>Posted on 25 Dec 2014 at 3:11pm</p>
          </td>
        </tr>
      </table>
    </div>

  </div> <!-- END CONTAINTER RIGHT -->
</div> <!-- END ROW -->
