= render partial: 'static/beta/providers'


= form_for(resource, as: resource_name, url: provider_registration_path(resource_name), class: "form-horizontal", method: :post) do |f|
  = f.text_field :first_name, placeholder: 'First name', class: "form-control"
  = f.text_field :last_name, placeholder: 'Last name', class: "form-control"
  = f.text_field :address_1, placeholder: 'Address line 1', class: "form-control"
  = f.text_field :address_1, placeholder: 'Address line 2', class: "form-control"
  = f.text_field :address_1, placeholder: 'City', class: "form-control"
  = f.text_field :address_1, placeholder: 'State', class: "form-control"
  = f.text_field :address_1, placeholder: 'Zip code', class: "form-control"
  = f.text_field :address_1, options_for_select([['- Select your birth year -', nil]] + (1900..Date.today.year).to_a.reverse.collect{|i| [i,i]}), class: "form-control"
  = f.email_field :email, placeholder: 'Email address', class: "form-control"
  = f.password_field :password, nil, placeholder: 'Password', class: "form-control"
  = f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: "form-control"
  = f.submit 'Sign up!', class: "form-control", id: "submit-join"
