<!-- HEADER BAR -->
<div class='col-sm-10 col-sm-offset-1 primary-orange-bcg content-main-header'>
  <h1 class='content-main-title'>Welcome to the Forums!</h1>
</div>

<% @forums = Forem::Forum.all %>

<% @forums.each do |forum| %>
<div class="col-sm-10 col-sm-offset-1 panel panel-forums panel-hover">
  <div class="panel-heading">
    <h3 class='panel-title' style="color:rgba(0,0,0,.7)"><%= forum.name %></h3>
    <h4 class='lighter-blue' ><%= forum.description %></h4>
  </div>
  <table class="table">
    <% forum.topics.order(pinned: :desc).limit(4).each do |topic| %>
      <% if post = topic.posts.first %>
        <tr>
          <td>
            <%= image_tag topic.user.photo_url, size: '75x75', class: 'img-rounded pull-left', style: 'width:7%; margin:10px; margin-right:15px; display:block;', title: topic.user.forem_name, data: { toggle: 'tooltip', container: 'body', placement: 'top' } if post.user and not post.user.is_a?(Forem::NilUser) %>

            <!-- <p class='lead' style='width:90%; float:right;'> -->
              <%= forem_emojify(simple_markdown(post.text, post.user.can_post_links?)) if post.user %>
            <!-- </p> -->
            <p style='width:90%; float:right;'>
              <%= post.created_at.strftime("%-d %B %Y, %-l:%M %p") %>
            </p>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<% end %>



