.content-main-header
  .container
    %h1 Complex Sleep Apnea
.article-topic-relation-container
  .container
    This is a simplified presentation of a topic more thoroughly
    = succeed '.' do
      %strong= link_to 'discussed by Dr. Robert Thomas here', 'https://myapnea.org/research-topics/accepted/complex-sleep-apnea'
    Dr. Robert Thomas discusses his professional experiences treating
    this condition and provides a discussion of the pathophysiology of this
    disorder.

.content-container
  .container
    %p
      %h4
        %strong What is Complex Sleep Apnea?
      %p.centered Upper Airway Obstruction + "Central" Events &#8776; Complex Sleep Apnea
      This means that Complex Sleep Apnea is a unique breathing pattern characterized by (1) an upper-airway obstruction (that is, a blockage of the throat) plus "central" events (that is, events not associated with apparent airway obstruction).

    %p
      %strong When do these unique complex apnea breathing patterns occur?

    %p
      Complex sleep apnea breathing disturbances were most frequently observed during non-rapid eye movement (NREM) sleep rather than during rapid eye movement (REM) sleep typical of obstructive sleep apnea (OSA).

    %p
      Central apneas often occurred during CPAP titration or with early administration of CPAP. This entity also has been referred to as "Treatment-Emergent Central Sleep Apnea."

    %p
      %strong Diagnosis

    %p
      According to published criteria, the diagnosis of complex sleep apnea required evidence that (1) central apneas and (2) hypopneas make up more than 50% of all breathing disturbances and the obstructive events occur at a frequency of less than 5/hour of sleep. It is important to recognize the complex sleep apnea may be missed during routine sleep studies due to the challenges in accurately scoring central hypopneas.

    %p
      %strong How common is complex sleep apnea?

    %p
      Because the exact criteria for scoring and diagnosis remain unsettled, the prevalence of complex sleep apnea reported in the literature and anecdotally is variable. Reports suggest that between 5% to 15% of patients with sleep apnea have this subtype (that is, complex sleep apnea). However, there are larger numbers of people who have an abnormally large drive to breathe who may have features of complex sleep apnea. It is possible that many patients who try hard but fail to get benefit from CPAP have complex sleep apnea.

    %p
      %strong Are there risk factors for complex sleep apnea?

    %p
      The following have been suggested as risk factors associated with complex sleep apnea: Male sex; heart failure; family history of complex/central sleep apnea; stroke; renal failure; and atrial fibrillation. Patients with complex apnea patients may have a genetic risk, perhaps similar to the genetic predisposition to develop high altitude sleep apnea.

    %p
      How might genes contribute to an increased risk of complex sleep apnea? Our breathing control system is very elaborate, including tiny sensors in the middle of the neck next to the carotid arteries called the "carotid bodies. " The genes controlling sensing of oxygen and CO2 could alter the control pathways at many sites.

    %p
      %strong How might a patient partner with a sleep specialist to identify complex sleep apnea?

    %p
      The outcome of a person's sleep study may have features of an abnormal breathing rhythm and include reports of events termed "central apnea", "mixed apnea", "periodic breathing", and/or "ataxic breathing". The breathing experience may feel that like "fighting the air pressure" or a person might even "rip the mask off frequently, get no benefit, or even feel worse when using CPAP."

    %p
      Newer CPAP devices can track use and breathing over time. A persistently high apnea-hypopnea index (AHI) during CPAP, especially if greater than 5/hour of sleep, suggests a leaking mask, or complex sleep apnea. The AHI detected from a  CPAP device, however, may not be very accurate.  Clinicians and patients may also directly view graphic representations of breathing patterns during CPAP use.  There are software and Internet based systems in which CPAP users can also directly view their own breathing patterns using a freeware called SleepyHead, written by a programmer in Australia. MyApnea.Org will soon have a "How to use SleepyHead" document that will help patients recognize the breathing patterns typical of Complex Sleep Apnea. This of course isn't a substitute for more formal assessments, but can provide powerful, empowering tools to assist in the collaboration toward the most effective and satisfying treatment. You can always ask your sleep medicine physician how to use it SleepyHead.

    %p
      %strong Are There Currently Available Treatments for Complex Sleep Apnea?

    %p
      The only currently FDA-approved treatment is adaptive ventilation (ASV). ResMed and Philips-Respironics manufacture these devices which are approved world-wide as does Weinmann which are approved in Europe. These medically-approved devices are able to track breathing rhythm and generate air-pressure rhythms equal and opposite to the patient's. Creating these equal and opposite rhythms can, at times, very useful and effective: however, at times the rhythm does not properly match and the pressure fluctuations may become difficult to tolerate.

    %p
      These medical devices and specific treatments must be used with prudent, professional judgment and commitment to maintaining excellent communication between patients and clinicians. An important example of this is that the ResMed device was recently shown to worsen outcomes in patients with heart failure. Using such powerful devices necessitates collaborative patient-centered judgment and caution. Additional reading can be found at:
      = link_to 'http://www.resmed.com/us/en/serve-hf.html', 'http://www.resmed.com/us/en/serve-hf.html'

    %p
      Other treatment options (EERS, acetazolamide, oxygen, and sedative drugs) are off-label (not FDA approved) and must be used only by very experienced sleep physicians in meaningful discussion of the real and potential risks/benefits with the patient.

    %p
      %strong Are There Long-term Risks Associated with Complex Sleep Apnea?

    %p
      The risk of atrial fibrillation may be higher among those diagnosed with Complex Sleep Apnea. A further risk, and common problem, is a poor response to, and difficulty tolerating, CPAP. If, a patient with apparent Obstructive Sleep Apnea gets minimal benefit from CPAP, or even feels worse with treatment, Complex Sleep Apnea should be considered.

    = render 'learn/links', previous_article: { link: central_sleep_apnea_path, name: 'Central Sleep Apnea' }, next_article: { link: causes_of_sleep_apnea_path, name: 'Causes of Sleep Apnea' }, number: 4

.container
  %h4.f300 References

  %ol
    %li
      %p
        Stanchina M, Robinson K, Corrao W, Donat W, Sands S, Malhotra A. Clinical Use
        of Loop Gain Measures to Determine Continuous Positive Airway Pressure Efficacy in Patients with Complex Sleep Apnea. A Pilot Study. Ann Am Thorac Soc 2015;12:1351-7.

    %li
      %p
        Neu D, Balkissou AD, Mairesse O, Pefura-Yone EW, Noseda A. Complex sleep apnea
        at auto-titrating CPAP initiation: prevalence, significance and predictive factors. Clin Respir J. 2015 [Epub ahead of print] PMID: 26072986.

    %li
      %p
        Bazurto Zapata MA, Martinez-Guzman W, Vargas-Ramirez L, Herrera K, Gonzalez-Garcia M. Prevalence of central sleep apnea during continuous positive airway pressure (CPAP) titration in subjects with obstructive sleep apnea syndrome at an altitude of 2640 m. Sleep Med. 2015;16:343-6.

    %li
      %p
        Gilmartin G, McGeehan B, Vigneault K, Daly RW, Manento M, Weiss JW, Thomas RJ.
        Treatment of positive airway pressure treatment-associated respiratory instability with enhanced expiratory rebreathing space (EERS). J Clin Sleep Med 2010;6:529-38.

    %li
      %p
        Thomas RJ, Daly RW, Weiss JW. Low-concentration carbon dioxide is an effective
        adjunct to positive airway pressure in the treatment of refractory mixed central  and obstructive sleep-disordered breathing. Sleep 2005;28:69-77.

    %li
      %p
        Gilmartin GS, Daly RW, Thomas RJ. Recognition and management of complex
        sleep-disordered breathing. Curr Opin Pulm Med 2005;11:485-93.
  %br

= render 'learn/learn_callout'
