.content-main-header2
  %h1
    Side Effects of PAP

.content-container
  %p.lead
    Jump to a specific question by clicking the links below.
  .list-group-item
    = link_to 'What if I have a head cold or another illness?', '#q1'
  .list-group-item
    = link_to 'Why is my scalp itching and irritated?', '#q2'
  .list-group-item
    = link_to 'Why do I have a runny nose?', '#q3'
  .list-group-item
    = link_to 'Why am I waking up with a really cold nose?', '#q4'
  .list-group-item
    = link_to 'Why am I waking up with a dry mouth and nose?', '#q5'
  .list-group-item
    = link_to 'Why am I waking up feeling like I am choking?', '#q6'
  .list-group-item
    = link_to 'Why have I started coughing since using my PAP?', '#q7'
  .list-group-item
    = link_to 'Why do I have sinus and ear pain?', '#q8'
  .list-group-item
    = link_to 'Why do I have stomach bloating, discomfort, and belching?', '#q9'
  .list-group-item
    = link_to 'Why are my ribs sore in the morning?', '#q10'

  %br

  = link_to pap_path, class: 'btn btn-primary' do
    &larr;
    Return to PAP Devices main page

%a.anchor#q1
.content-container
  .content-header
    %h2.f300.center
      What if I have a head cold or another illness?
  .content-body
    %p
      Illnesses vary, so tolerating PAP pressure while you are sick will vary too. For many patients, increasing the humidification temperature will decrease nasal congestion. If you increase the heater temperature while sick, this may create "rain out" or condensation in your tubing or mask.
    %p
      If you discontinue using the PAP device during your illness, it is important to resume your PAP treatment as quickly as possible. The longer you are off PAP, the more likely you are to have difficulty when you start again. If that is the case, reacquaint yourself to your device just as you did when you first began.
    %p.italic
      NOTE: You should clean your equipment before using PAP again following an illness.
    %p
      Remember, untreated sleep apnea has a negative effect on your immune system. If you can tolerate the mask while ill, it might benefit you to do so. If you have chronic lung disease, such as COPD, please consult your physician before continuing PAP therapy.

%a.anchor#q2
.content-container
  .content-header
    %h2.f300.center
      Why is my scalp itching and irritated?
  .content-body
    %p
      Scalp itch and irritation is not common and it is easily resolved by repositioning the headgear. Improperly placed or over-tightened straps along with movement in sleep may cause rubbing and irritation of the scalp, upper neck, and around the ears.
    %p
      On rare occasions, someone may actually be allergic to the material from which the headgear is made. In these situations, it is best to try another mask.
    %p
      Take care that your headgear is completely dry before wearing it again. When following the weekly cleaning protocol, make sure you allow enough time for the headgear to dry. Most headgear can be placed in a clothes dryer, without the clips, on a low setting.

%a.anchor#q3
.content-container
  .content-header
    %h2.f300.center
      Why do I have a runny nose?
  .content-body
    %p
      You may experience a runny nose during the first few weeks of PAP therapy, a common reaction to the newness of the pressure applied to your upper airway. Usually the body will adjust fairly quickly and there is no need to be alarmed.
    %p
      Nasal saline gels may reduce the irritation and calm the natural body response.

%a.anchor#q4
.content-container
  .content-header
    %h2.f300.center
      Why am I waking up with a really cold nose?
  .content-body
    %p
      Some PAP users experience a "cold nose" that wakes them during the night. When the pressurized air enters the nasal cavity or mouth, the air dries and cools quickly. The drop in temperature may make your nose feel cold. To alleviate this discomfort, try increasing the heated humidification of your unit.

%a.anchor#q5
.content-container
  .content-header
    %h2.f300.center
      Why am I waking up with a dry mouth and nose?
  .content-body
    %p
      You may have some dryness in your nose and throat. Typically, the higher the PAP pressure, the more likely you are to experience dryness. Increasing the temperature on your humidifier may resolve this problem. Make adjustments slowly, one degree at a time. Be patient with this process - it may take several nights befor eyou find the most comfortable humidification level. The important thing to remember is that your airway requires proper moisture and you should not discontinue using the humidifier system. Saline nasal spray, such as Ocean, may also be helpful in resolving nasal dryness. It can be used just before bedtime and again in the morning.
    %p
      Dry mouth could be a side effect of medication that you may be taking. The addition of PAP may make dryness more pronounced and intolerable. Talk to your physician or pharmacist to determine if your medications are contributing to your dryness.
    %p.italic
      NOTE: Never put hard candy in your mouth to reduce dry mouth while using PAP.
    %p
      If you open your mouth during the night, you may also experience dryness. You may want to use a chin strap to help you keep your mouth closed. Occasionally, nasal mask wearers experiencing dryness from opening their mouths may have to switch to a full face mask. It's worth noting, though, that oral dryness in general is more common when wearing a full face mask, so switching may not resolve the issue. Be sure to discuss this with your PAP specialist to decide which option is best for you. Increasing humidification along with a change in mask might be the best combination if opening your mouth is persistent.
    %p
      Maintaining proper hydration is important and may be useful in reducing dryness. If you are on fluid restrictions, discuss the amount appropriate for you with your doctor. Otherwise, try to avoid caffeine, sugary juice drinks, and soda which may decrease body hydration. Replacing these fluids with water may help combat dryness and improve sleep onset.

%a.anchor#q6
.content-container
  .content-header
    %h2.f300.center
      Why am I waking up feeling like I am choking?
  .content-body
    %p
      If you use a nasal mask, you may discover that you are opening your mouth during the night. When this occurs, air escapes from the mouth. Often patients will describe this feelings as choking. A chinstrap or refit to a full face mask usually resolves this discomfort. Your respiratory therapist can guide you on which option might be best for you.

%a.anchor#q7
.content-container
  .content-header
    %h2.f300.center
      Why have I started coughing since using my PAP?
  .content-body
    %p
      A nagging morning cough immediately after waking up may be a problem for some new PAP users. Generally, this is the result of dryness in the throat or irritation from the pressure being applied to the upper airway. The best way to alleviate excessive dryness is humidification.

%a.anchor#q8
.content-container
  .content-header
    %h2.f300.center
      Why do I have sinus and ear pain?
  .content-body
    %p
      Sinus and ear pain may sometimes occur. Patients on higher pressures are more likely to experience this. Pre-existing inflammation or infection may make you more likely to suffer from sinus or ear pain during or after using PAP. Treating any infection will most likely resolve the discomfort. However, if an infection is not the culprit, it may be necessary to temporarily reduce the pressure. You can discuss this option with your healthcare provider.

%a.anchor#q9
.content-container
  .content-header
    %h2.f300.center
      Why do I have stomach bloating, discomfort, and belching?
  .content-body
    %p
      Stomach bloating occurs rarely. This is a painful condition due to air passing the trachea and traveling down the esophagus into the stomach. Higher PAP pressures are more likely to lead to this condition than lower ones. Reducing pressure may be an option, but often simply changing sleeping positions will resolve the discomfort. Most often patients who experience this condition sleep on their backs (supine position).

%a.anchor#q10
.content-container
  .content-header
    %h2.f300.center
      Why are my ribs sore in the morning?
  .content-body
    %p
      Having sore ribs is similarly related to higher pressures. If high enough, the pressure can sometimes be transmitted into your lungs and chest cavity. The higher the pressure, the more likely this is to occur. Much like stomach bloating, the soreness in your ribs usually dissipates within the first few weeks or with positional change while sleeping. If time or changing sleeping positions does not resolve your discomfort, speak with your sleep physician.
