.content-main-header
  %h1
    About PAP Therapy

.panel
  .panel-body
    %p.lead
      Jump to a specific question by clicking the links below.
    .list-group-item
      = link_to "What is PAP therapy?", '#q1'
    .list-group-item
      = link_to "When should I use my PAP device?", '#q2'
    .list-group-item
      = link_to "What happens after I start my PAP therapy?", '#q3'
    .list-group-item
      = link_to "How do I know my PAP therapy is working?", '#q4'
    .list-group-item
      = link_to "What can I expect from PAP therapy?", '#q5'
    .list-group-item
      = link_to "How long will I need PAP therapy? Is it something I will need for the rest of my life?", '#q6'
    .list-group-item
      = link_to "Are there other treatment options for sleep apnea?", '#q7'
    .list-group-item
      = link_to "How can I adjust to PAP therapy?", '#q8'
    .list-group-item
      = link_to "What do I tell my friends and family?", '#q9'
  .panel-footer
    %p
      Return to
      = link_to 'PAP Devices', learn_pap_path
      main page.

%a.anchor#q1
.panel
  .panel-body
    %h4.f500
      What is PAP therapy?
    %p.lead
      Continous Positive Airway Pressure (CPAP) is the most widely recommended treatment for sleep apnea. CPAP therapy entails wearing a mask-like device which blows a constant stream of air into your nose or mouth while you sleep to prevent the airway from closing or collapsing. Different types of masks are available and may make using the device more comfortable. When used correctly, CPAP is very effective in treating obstructive sleep apnea.
%a.anchor#q2
.panel
  .panel-body
    %h4.f500
      When should I use my PAP device?
    %p.lead
      You should use your PAP device every time you sleep, even when napping. We hope that you feel less daytime sleepiness and no longer need to nap! However, an occasional nap is fine; just limit it to a 20-minute 'power nap.'
%a.anchor#q3
.panel
  .panel-body
    %h4.f500
      What happens after I start my PAP therapy?
    %p.lead
      You should start to see measurable improvements in your sleep quality, as well as improved daytime mood and decreased daytime sleepiness. Follow-up visits with your PAP specialist give you the opportunity to discuss any issues that may prevent successful PAP treatment. Additionally, if you have questions between visits, we encourage you to discuss them with other community members on the forums here at MyApnea.Org.
%a.anchor#q4
.panel
  .panel-body
    %h4.f500
      How do I know my PAP therapy is working?
    %p.lead
      If you use PAP nightly, it is working. It's that simple! PAP therapy is the most effective treatment, but it does not cure sleep apnea. If you discontinue using PAP, your apnea will likely reoccur. Sometimes you may need to have your pressure setting adjusted; it may be too low or too high. If you have concerns about this or find that you continue to snore while using PAP, be sure to discuss this at your next follow-up appointment or call your PAP specialist.
%a.anchor#q5
.panel
  .panel-body
    %h4.f500
      What can I expect from PAP therapy?
    %p.lead
      In the short term, treating your sleep apnea provides relief from snoring and daily exhaustion, and improves concentration and memory. But you should also consider the long-term benefits of PAP therapy! Research has indicated a direct relationship between sleep apnea and an increased risk of cardiovascular disease, stroke, high blood pressure and diabetes. If you already have these conditions, treating your sleep apnea may improve them. If you don't have these conditions, treating your sleep apnea may largely lower your risk of developing them.
      %br
      Many patients also experience other positive life changes. PAP users often report improvement in their family lives. Bed partners return to the same bedroom. relationships with children and spouses improve because exhaustion is no longer a factor in family interactions. Some patients feel energetic enough to resume and enjoy activities they have not been able to do for many years. Still others report improvement in their jobs because they are more focused and no longer fall asleep at meetings or at their desks.
%a.anchor#q6
.panel
  .panel-body
    %h4.f500
      How long will I need PAP therapy? Is it something I will need for the rest of my life?
    %p.lead
      Sleep apnea is not necessarily a lifetime diagnosis; better sleep promotes better overall health. Individuals who suffer from chronic sleepiness tend to exercise less and eat poorly, which may cause weight gain. These things may result in increased risk or severity of sleep apnea.
      %br
      PAP therapy may help you stop the cycle. Once healthy sleep is restored, the desired secondary effect is better health through healthier food choices, exercise, and a more active life style. Some patients have been able to reduce their PAP settings or even eliminate PAP therapy by achieving significant weight loss. Once you feel less sleep-deprived, the rest seems to fall into place.
      %br
      Not everyone with sleep apnea is overweight. Age, a family history of snoring, and anatomical structure may all contribute to sleep apnea. Regardless of why you have sleep apnea, the first step is to focus on using your PAP machine every night, all night.
%a.anchor#q7
.panel
  .panel-body
    %h4.f500
      Are there other treatment options for sleep apnea?
    %p.lead
      For most patients, PAP therapy is the most effective treatment and should be considered a tool for achieving a healthier lifestyle. Surgical streatment or the use of an oral device may be beneficial for some patients. We suggest that you discuss this with your sleep physician to determine if other options are appropriate for you.
%a.anchor#q8
.panel
  .panel-body
    %h4.f500
      How can I adjust to PAP therapy?
    %p.lead
      Each person adjusts to PAP therapy differently. Some people put the mask on for the first time, wear it the entire night and wake up feeling great. Others may only tolerate it for a few hours. The process of tolerating a full night of PAP or feeling the physical improvements may take up to several months. Try to look at PAP therapy as an integral part of improving the quality of your life. Continued effort to make it work for you is what's most important.
      %ul
        %li Be patient with yourself and the machine if you have trouble adjusting
        %li Put your mask on every night and try to wear it a bit longer each time
        %li Make PAP part of your routine, like putting on your pajamas and brushing your teeth
        %li Contact your PAP specialist right away if you are having any difficulties
%a.anchor#q9
.panel
  .panel-body
    %h4.f500
      What do I tell my friends and family?
    %p.lead
      You have already demonstrated great courage in addressing your sleep apnea - don't allow anyone to discourage you! Your compassionate understanding of your own condition may assist others in seeking help. Sleep apnea is a growing epidemic in our society. You might be surprised by how many of your friends and family members use PAP secretly, or should be using PAP. It's up to you whether you want to share your experience with others. However, by sharing your story, you may encourage a friend or family member to seek medical help.
      %br
      Many PAP users discover they have friends and relatives using PAP who are eager to talk about their experiences. Remember each person's experience is unique. Don't be discouraged if someone you know adjusted to PAP therapy more quickly than you do. This is your experience - the most important thing you can do is take advantage of every resource that you have available to you!
