.content-main-header
  %h1
    About PAP Therapy

.content-container
  .content-body
    %p.lead
      Jump to a specific question by clicking the links below.
    .list-group-item
      = link_to "What is PAP therapy?", '#q1'
    .list-group-item
      = link_to "When should I use my PAP device?", '#q2'
    .list-group-item
      = link_to "What happens after I start my PAP therapy?", '#q3'
    .list-group-item
      = link_to "How do I know if my PAP therapy is working?", '#q4'
    .list-group-item
      = link_to "What can I expect from PAP therapy?", '#q5'
    .list-group-item
      = link_to "Is PAP therapy something I will need for the rest of my life? Are there other treatment options for sleep apnea?", '#q6'
    .list-group-item
      = link_to "How can I adjust to PAP therapy?", '#q7'
    .list-group-item
      = link_to "What do I tell my friends and family?", '#q8'
  .content-footer
    %p
      Return to
      = link_to 'PAP Devices', pap_path
      main page.

%a.anchor#q1
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      What is PAP therapy?
  .content-body
    %p
      Positive Airway Pressure (PAP) therapy is the most widely recommended treatment for sleep apnea. PAP therapy involves wearing a mask connected to a small machine that continuously blows a stream of air into your nose or mouth while you sleep. This prevents the airway from narrowing too much or completely closing. The air is usually humidified to prevent your mouth and nose from becoming too dry. There are many kinds of masks available, and having a mask that fits correctly and comfortably can make the experience of using PAP therapy much easier. When used correctly, PAP is very effective in treating obstructive sleep apnea.

%a.anchor#q2
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      When should I use my PAP device?
  .content-body
    %p
      Your PAP device should be used every time you sleep, including when napping. Hopefully, using PAP at night will allow you to feel less sleepy during the day so you do not need to nap. However, an occasional nap is fine. Generally, naps should be limited to 20 to 30 minutes.

%a.anchor#q3
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      What happens after I start my PAP therapy?
  .content-body
    %p
      You should start to notice improvements in your sleep quality as well as decreased daytime sleepiness. You might also notice increased energy levels and improvements in your mood.  Follow-up visits with your PAP specialist give you the opportunity to discuss issues that may prevent successful PAP treatment. If you experience problems with your PAP device or mask, you should immediately contact your equipment provider. Additionally, if you have questions about your treatment between visits, we encourage you to discuss them with other community members on the forums here at MyApnea.Org.

%a.anchor#q4
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      How do I know if my PAP therapy is working?
  .content-body
    %p
      If you use PAP nightly with a mask that fits properly and a machine that is functioning correctly at the prescribed settings, it is working. PAP therapy is considered the “gold standard” for treatment of sleep apnea, but it does not cure sleep apnea.  If you stop using PAP, your apnea will likely reoccur. Sometimes the air pressure settings need to be adjusted for treatment to remain effective. Two of the biggest reasons for pressure changes are significant weight loss or weight gain, but there are other reasons. If you find that you continue to snore while using PAP, you have increased daytime sleepiness, or have any other concerns that lead you to believe your PAP therapy is not working for you, be sure to discuss the concerns with your sleep physician or with your PAP specialist. 

%a.anchor#q5
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      What can I expect from PAP therapy?
  .content-body
    %p
      Many people notice relief from snoring and excessive daytime fatigue soon after starting treatment. PAP therapy might also help improve concentration and memory. The long-term benefits of PAP therapy should also be considered! Research has indicated a direct relationship between sleep apnea and an increased risk of cardiovascular disease, stroke, high blood pressure and diabetes. If you already have any of these conditions, treating your sleep apnea may improve them. If you do not have any of these conditions, treating your sleep apnea may lower your risk of developing them. Many patients also experience other positive life changes. PAP users often report improvement in their family lives, and bed partners who sleep in separate rooms because of snoring or other symptoms of sleep apnea sometimes return to the same bedroom. Relationships can also improve because fatigue is less of an issue in daily interactions. Some patients report feeling energetic enough to resume and enjoy activities they have not been able to do for many years. Other patients report improvement in their jobs because they are more focused and are able to fight the urge to nap or fall asleep at meetings.
   
%a.anchor#q6
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      Is PAP therapy something I will need for the rest of my life? Are there other treatment options for sleep apnea?
  .content-body
    %p
      Sleep apnea is not necessarily a lifetime diagnosis, and some patients can use treatments other than PAP therapy. Depending on the severity of your sleep apnea, your physician might recommend oral appliance therapy, positional therapy, or some of the newer treatments for sleep apnea like Winx therapy or upper airway stimulation. There are also surgical options that may be considered. Some patients have been able to reduce their PAP settings or even eliminate the need for therapy by achieving significant weight loss. 
    %p
      It is important to remember that not everyone with sleep apnea is overweight. Age, a family history of snoring, and anatomical structure may all contribute to sleep apnea. Regardless of the type of treatment you have for sleep apnea, the most important thing is to focus on using your therapy every night, all night. If you want to explore options other than PAP for sleep apnea, we encourage you to discuss the options with your physician to determine if any of them are appropriate for you.

%a.anchor#q7
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      How can I adjust to PAP therapy?
  .content-body
    %p
      Each person adjusts to PAP therapy differently. Some people put the mask on for the first time, wear it the entire night and wake up feeling great. Others may only tolerate it for a few hours. The process of tolerating a full night of PAP or feeling the physical improvements may take up to several months. Try to look at PAP therapy as an integral part of improving the quality of your life. Continued effort to make it work for you is what's most important.
    %ul
      %li Be patient with yourself and the machine if you have trouble adjusting
      %li Put your mask on every night and try to wear it a bit longer each time
      %li Make PAP part of your routine, like putting on your pajamas and brushing your teeth
      %li Contact your PAP specialist right away if you are having any difficulties

%a.anchor#q8
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      What do I tell my friends and family?
  .content-body
    %p
      You have already demonstrated great courage in addressing your sleep apnea - don't allow anyone to discourage you! Your compassionate understanding of your own condition may assist others in seeking help. Sleep apnea is a growing epidemic in our society. You might be surprised by how many of your friends and family members use PAP secretly, or should be using PAP. It's up to you whether you want to share your experience with others. However, by sharing your story, you may encourage a friend or family member to seek medical help.
    %p
      Many PAP users discover they have friends and relatives using PAP who are eager to talk about their experiences. Remember each person's experience is unique. Don't be discouraged if someone you know adjusted to PAP therapy more quickly than you do. This is your experience - the most important thing you can do is take advantage of every resource that you have available to you!
