.content-main-header
  %h1
    PAP Troubleshooting Guide

.content-container
  .content-body
    %p.lead
      Jump to a specific topic by clicking the links below.
    .list-group-item
      = link_to "Equipment Noise", '#q1'
    .list-group-item
      = link_to "Mask Leaks", '#q2'
    .list-group-item
      = link_to "Dryness", '#q3'
    .list-group-item
      = link_to "Runny Nose", '#q4'
    .list-group-item
      = link_to "Nasal Congestion", '#q5'
    .list-group-item
      = link_to "Allergies", '#q6'
    .list-group-item
      = link_to "Water Collecting in Hose and Mask", '#q7'
  .content-footer
    %p
      Return to
      = link_to 'PAP Devices', pap_path
      main page.

%a.anchor#q1
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      Equipment Noise
  .content-body
    %p
      Modern PAP devices are very quiet, but if you are especially sensitive to noise when you sleep, you can try the following:
    %ul
      %li
        Add an extra length of tubing and place the machine futher from the bedside
      %ul
        %li
          The machine may be placed outside the bedroom with the door partially closed, as long as the tubing does not become crimped
        %li
          Do not place the device in a closet, as it will prohibit good circulation
      %li
        Keep the machine off the floor to prevent clogging from pet hair or dust
      %li
        Follow good maintenance practices to keep the machine running quietly

%a.anchor#q2
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      Mask Leaks
  .content-body
    %p
      Air leaks may cause sore, dry, or swollen eyes, so it is important to try to eliminate all leaks. Try the following to eliminate leaks:
    %ul
      %li
        While fitting the mask, set the machine to the maximum pressure (not on ramp)
      %li
        While lying on your back with the machine on, try re-seating the mask to close leaks
      %li
        Keep the straps as loose as possible while still creating a seal - do not over tighten
      %li
        Minimal leaks around the mouth are normal as the mask shifts during sleep. This type of leak will not affect the benefits of PAP therapy.
    %p
      If you cannot find a comfortable fit without significant leaks or discomfort, you may benefit from a different size or style of mask. The masks are interchangeable with all PAP devices and you may be covered by insurance depending on how long you have had your current mask. Contact your PAP specialist for assistance.

%a.anchor#q3
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      Dryness
  .content-body
    %p
      Dryness may result from a variety of causes. Try some of the following solutions at home or contact your PAP specialist for help:
    %ul
      %li
        Dry mouth (cottonmouth feeling)
      %ul
        %li
          Use a chinstrap to keep your mouth closed during sleep
        %li
          Sleep with a soft foam cervical collar
      %li
        Dry nasal passages or back of throat
      %ul
        %li
          Increase the temperature on your humidifier
        %li
          Use a nasal saline spray (not decongestant) before and after sleep

%a.anchor#q4
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      Runny Nose
  .content-body
    %p
      Runny nose may result from nasal irritation during the first few weeks of therapy. If you are sure it is not the result of a cold, try the following:
    %ul
      %li
        Use a nasal saline spray (not a nasal decongestant) before and after sleep
      %li
        If runny nose persists, consult your physician

%a.anchor#q5
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      Nasal Congestion
  .content-body
    %p
      Nasal congestion may be the result of a cold. If you do not have a cold and still experience congestion, try the following:
    %ul
      %li
        Add humidification (contact your PAP specialist for assistance)
      %li
        If still congested, consult your physician

%a.anchor#q6
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      Allergies
  .content-body
    %p
      If you suffer from nasal allergies, try the following:
    %ul
      %li
        Use a fine particle filter on your PAP device (optional on some models)
      %li
        Use only the filters specified for your machine
      %li
        Add humidification (contact your PAP specialist for assistance)
      %li
        Place the device on a nightstand or table to reduce dust and pet hair in the machine

%a.anchor#q7
.content-container.horizontal-inset
  .content-header
    %h2.f300.centered
      Water Collecting in Hose and Mask
  .content-body
    %p
      Referred to as "rain out," this occurs when the temperature differs significantly between the humidifier and room. Try decreasing the humidifier temperature by 1 degree. You may want to purchase a hose cover or try putting the hose under the covers to help insulate it.
