.content-main-header
  %h1
    PAP Masks and Equipment

.panel
  .panel-body
    %p.lead
      Jump to a specific question by clicking the links below.
    .list-group-item
      = link_to "What exactly is a 'ramp feature' and do I have to use it?", '#q1'
    .list-group-item
      = link_to "What happens if I can't fall asleep with the mask on?", '#q2'
    .list-group-item
      = link_to "Initially, I went right to sleep with my mask. Now I can't. Why?", '#q3'
    .list-group-item
      = link_to "What if my mask is leaking or irritating my face?", '#q4'
    .list-group-item
      = link_to "Why is air blowing from or near the mask inlet port?", '#q5'
    .list-group-item
      = link_to "If my mask is not comfortable, what should I do?", '#q6'
    .list-group-item
      = link_to "What if I feel claustrophobic wearing my mask?", '#q7'
    .list-group-item
      = link_to "Why is my mask falling off when I sleep?", '#q8'
    .list-group-item
      = link_to "Why do I have water in my mask and tubing?", '#q9'
    .list-group-item
      = link_to "What if my bed partner's sleep is disturbed by the nosie from my unit?", '#q10'
  .panel-footer
    %p
      Return to
      = link_to 'PAP Devices', learn_pap_path
      main page.

%a.anchor#q1
.panel
  .panel-body
    %h3
      What exactly is a "ramp feature" and do I have to use it?
    %p.lead
      The ramp feature gradually increases the pressure of your device from 4cm to the level prescribed to eliminate your sleep apnea. This feature may help you adjust to your machine when you begin PAP therapy. Over time, you may no longer need or like the gradual pressure increase. There is no therapeutic reason to use it. If you like it, use it; if you don't, don't use it. Some patients use it initially, some use it throughout their treatment program, and some never use it at all. Do what works best for you.
      %br
      A maximum ramp time of 20 minutes is usually long enough for most patients to fall asleep comfortably. If your PAP pressure is 10cm or more, your PAP specialist may set your ramp to a maximum of 45 minutes. While using a longer ramp time, some patients with higher pressures may fall into a light sleep and wake quickly without realizing they slept at all. For these patients, shortening the ramp time to 20 minutes may lessen the probability of waking from a light sleep caused by apnea events.
      %br
      Lengthening or shortening the ramp time for maximum benefit is a matter of trial and error. What works best for you is specific to your individual needs. Be patient and persistent.

%a.anchor#q2
.panel
  .panel-body
    %h3
      What happens if I can't fall asleep with the mask on?
    %p.lead
      Falling asleep wearing a PAP mask may take time initially. Don't be discouraged; this is normal. Fortunately, for most patients this adjustment period is short. Your sleep specialists have prescribed three major changes in your sleep routine: wear a mask, adjust to the pressure, and go to sleep!
      %br
      Practice with your device during the day when you don't intend to sleep. Wearing the mask while awake may help you become more familiar with the sensation and sounds of the device BEFORE you try to sleep. You can restart the ramp feature as often as you like while practicing with your device.
      %br
      Visualization techniques may help alleviate your anxiety as you fall asleep. Close your eyes and imagine you're walking on the beach or driving along a scenic route without a care in the world. A peaceful, restful image may distract you from thinking about the mask and pressure. Some patients find listening to nature music or relaxation CDs helpful.
      %br
      On some occasions, temporary sleep aids may help you through the transition phase.
      %span.f500 Do not use over-the-counter sleep aids without consulting your physician.
      Some sleep aids may increase sleep apnea and should not be used.

%a.anchor#q3
.panel
  .panel-body
    %h3
      Initially, I went right to sleep with my mask. Now I can't. Why?
    %p.lead
      Occasionally, a patient who had no problem initially using PAP and wearing a mask suddenly cannot tolerate it. Don't be discouraged if this happens to you. This is a strange "rebound" effect that may result once sleep has been restored.
      %br
      Often, sleep apnea patients who have suffered a long time with chronic sleep deprivation do very well acclimating initially because it's such a relief to finally get some sleep. But, once they catch up on their sleep, the begin to notice for the first time the feel of the mask and the pressure. Review the beginning steps in the material provided for you regarding the adjustment period. Your PAP specialist is a source of encouragement and further suggestions.

%a.anchor#q4
.panel
  .panel-body
    %h3
      What if my mask is leaking or irritating my face?
    %p.lead
      Adjusting the headgear on the mask is the most common solution for eliminating irritation and leaks. Do not pull the top straps of the headgear down too far. You should be able to feel the top of the top strap on the crown of your hread. Be careful not to tighten it down too tight. For masks with forehead cushions, the pad should gently rest against your forehead. Adjust for leaks using the bottom straps only, loosening the Velcro and tightening equally on both sides.
      %br
      Make sure you center the headgear correctly. On traditional nasal and full masks, the headgear has a triangle design which should be centered on the back of your head. A slight skewing to one side is enough to cause the mask to leak and rub, causing discomfort and irritation.
      %br
      If you have removed your headgear, make sure that you have put it back with the right side up. Use the manufacturer's label on the back to guide you. The label should be closest to your neck and readable to someone standing behind you. If you have thick or long hair, you may pull your hair over the headgear to prevent it from slipping during the night.
      %br
      For nasal pillow style masks, such as the Swift LT, you should be able to touch the top center of your head and the back center and feel the buckles. The buckles should not be off to one side.
      %br
      It is not uncommon to have slight redness or an imprint on your face when you first remove your mask. This will usually disappear within 20 to 30 minutes. For patients with rosacea, heated humidification may irritate the condition. You may need to reduce the heater temperature and contact your dermatologist for additional suggestions.
      %br
      If you develop a sore on the bridge of your nose, cover it with a small bandage to protect it from further irritation while it heals. A nose shield or guard can sometimes be custom-made if irritation persists. Be sure to bring your mask and tubing with you to your next follow up appointment if these suggestions do not resolve the issue.

%a.anchor#q5
.panel
  .panel-body
    %h3
      Why is air blowing from or near the mask inlet port?
    %p.lead
      This is the exhalation port and is designed so you do not re-breath your exhaled ventilation.
      %span.f500 Do not block this port.

%a.anchor#q6
.panel
  .panel-body
    %h3
      If my mask is not comfortable, what should I do?
    %p.lead
      There are many mask options available through your PAP specialist. But, not all masks are suitable for your needs or unique facial structure. Be sure to discuss options with your PAP specialist, especially if you have concerns about claustrophobia. Your therapist can assist you in choosing an option that best meets your needs.
      %br
      Masks are considered a hygiene item and may not always be returnable. Your PAP specialist can discuss this in detail with you. Keep in mind that it takes time to adjust to wearing a mask while sleeping. Changing from one mask to another may complicate your adjustment period. However, there are times when doing so is appropriate. Your PAP specialist can help you with that decision.

%a.anchor#q7
.panel
  .panel-body
    %h3
      What if I feel claustrophobic wearing my mask?
    %p.lead
      Many patients with sleep apnea are claustrophobic and are still successful at using their PAP therapy. Many masks today are smaller and lighter than even 5 years ago. Nasal pillow masks have evolved over the past few years to be quite small and comfortable. Your therapist will help you decide which mask option is best for you and give you strategies to overcome the anxiety of wearing a mask.

%a.anchor#q8
.panel
  .panel-body
    %h3
      Why is my mask falling off when I sleep?
    %p.lead
      If you wake during the night and discover that your mask is off, put the mask back on right away, even if you only have a short time before your alarm sounds. You are "training" your body to accept the mask and pressure. Inconsistency during this process will delay your progress in successful compliance. You may benefit by "practicing" with your PAP during the day, when you are not intending to sleep.

%a.anchor#q9
.panel
  .panel-body
    %h3
      Why do I have water in my mask and tubing?
    %p.lead
      You may discover water in your tubing in the morning or be awakened by a gurglin sound during the night. It is not a malfunction of your unit, nor is it uncommon. This is sometimes referred to as "rain out." Rain out is the result of condensation created by a significant temperature gradient between the room air and the heat from your humidifier. It is most common in the summer when running your air conditioner or in the winter when turning heat down overnight, but it may happen at any time.
      %br
      To resolve this, pull the tubing under the blanket with you, reduce the humidification temperature by one degree or insulate the tubing. If you reduce the temperature to 1 degree and still have rainout but no dryness, you may turn the heater off, but
      %span.f500 do not stop using distilled water.
      You will continue to benefit from cool "passover" humidification.
      %br
      If you use cool rather than heated humidification, you may put less water in the chamber. Remember, don't reduce the humidifier temperature to the point that you wake with a dry mouth or nose.
      %br
      You can purchase tubing wrap from several internet CPAP supply sites or you may choose to make your own. Some patients have cut the toes off tube socks and fed the tubing through the socks, securing it with light string. Others have sewn wraps that match their bedroom decor. Be creative!

%a.anchor#q10
.panel
  .panel-body
    %h3
      What if my bed partner's sleep is disturbed by the nosie from my unit?
    %p.lead
      Today's modern units are fairly quiet, but there are some things you can do to reduce the noise your partner is noticing. Reassure your bed partner that the unit is less noisy than snoring. Most often, the noise is generated from a leak in the mask, the exhalation port, or sometimes fmor the variation in pressure on units with expiratory flex features, rather than from the unit itself. Turning the flex feature off provides a more consistent "white noise" that may be more comforting. Check your owner's manual to see if you have this feature and if you can turn it off through the patient menu. You may also contact your PAP specialist for assistance.
