- @active_top_nav_link = :research

.content-main-header
  %h1 Research Highlights

.content-container
  .content-header
    %h2 Does treatment of sleep apnea influence body weight?
  .content-body.horizontal-inset
    %p.lead
      By conducting more research on how sleep apnea treatments influence body weight and one’s quality of life, researchers hope to provide the tools necessary for treatment providers to deliver the best possible care to their patients. You can get involved in this research by completing our surveys within the research portal of MyApnea.Org.
      &nbsp;
      = link_to 'Read more', sleep_apnea_body_weight_path
  .content-footer
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/research/kevin_gleason.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h4.f300
          Kevin Gleason
        %h5.f300.text-dark7
          Sleep Researcher, Brigham and Women's Hospital Division of Sleep and Circadian Disorders

.content-container
  .content-header
    %h2 Does sleep influence memory and “brain plasticity”?
  .content-body.horizontal-inset
    %p.lead
      Sleep is important to strengthen memories created during the day. Sleep is also important to help the brain get rid of toxins that may impair the brain circuits needed for memory. Poor sleep can negatively impact memory and brain plasticity. There are well-described effects of sleep deprivation, sleep disruption and low levels of oxygen on brain function. Poor sleep negatively affects the brain’s memory center (hippocampus) and also impairs processes associated with “brain plasticity.”
      &nbsp;
      = link_to 'Read more', sleep_apnea_brain_plasticity_path
  .content-footer
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/research/Ina_Djonlagic.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h4.f300
          Ina Djonlagic, MD
        %h5.f300.text-dark7
          Instructor in Medicine, Harvard Medical School
          %br
          Associate Physician, Division of Sleep and Circadian Disorders, Departments of Medicine and Neurology, Brigham and Women's Hospital

.content-container
  .content-header
    %h2 Obstructive Sleep Apnea and Adenotonsillectomy in Children
  .content-body.horizontal-inset
    %p.lead
      While adenotonsillectomy for sleep apnea in children is generally safe, there may be specific groups that have an increased risk of complications related to surgery, including very young and African-American children. In these groups, more intensive monitoring in the post-surgery period may be warranted. The association between severity of sleep apnea and complications points out the importance of obtaining a sleep study before surgery to determine relative risk.
      &nbsp;
      = link_to 'Read more', sleep_apnea_adenotonsillectomy_children_path
  .content-footer
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/team/owens_200x200.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h4.f300
          Judith Owens, MD, MPH
        %h5.f300.text-dark7
          Director of Sleep Medicine at Children's National Medical Center
          %br
          MyApnea.Org Steering Committee Member.
