- @active_top_nav_link = :research

.content-main-header
  %h1 Research Highlights

.content-container
  .content-header
    = link_to sleep_apnea_body_weight_path, class: 'no-underline text-dark8' do
      %h2 Does treatment of sleep apnea influence body weight?
  .content-body.horizontal-inset
    %p.lead
      By conducting more research on how sleep apnea treatments influence body weight and one’s quality of life, researchers hope to provide the tools necessary for treatment providers to deliver the best possible care to their patients. You can get involved in this research by completing our surveys within the research portal of MyApnea.Org.
      &nbsp;
      = link_to 'Read more', sleep_apnea_body_weight_path
  .content-footer
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/research/kevin_gleason.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h3.f300
          Kevin Gleason
        %p.text-dark7
          Sleep Researcher, Brigham and Women's Hospital Division of Sleep and Circadian Disorders

.content-container
  .content-header
    = link_to sleep_apnea_brain_plasticity_path, class: 'no-underline text-dark8' do
      %h2 Does sleep influence memory and “brain plasticity”?
  .content-body.horizontal-inset
    %p.lead
      Sleep is important to strengthen memories created during the day. Sleep is also important to help the brain get rid of toxins that may impair the brain circuits needed for memory. Poor sleep can negatively impact memory and brain plasticity. There are well-described effects of sleep deprivation, sleep disruption and low levels of oxygen on brain function. Poor sleep negatively affects the brain’s memory center (hippocampus) and also impairs processes associated with “brain plasticity.”
      &nbsp;
      = link_to 'Read more', sleep_apnea_brain_plasticity_path
  .content-footer
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/research/Ina_Djonlagic.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h3.f300
          Ina Djonlagic, MD
        %p.text-dark7
          Instructor of Medicine, Harvard Medical School
          %br
          Associate Physician, Division of Sleep and Circadian Disorders, Departments of Medicine and Neurology, Brigham and Women's Hospital

.content-container
  .content-header
    = link_to sleep_apnea_adenotonsillectomy_children_path, class: 'no-underline text-dark8' do
      %h2 Obstructive Sleep Apnea and Adenotonsillectomy in Children
  .content-body.horizontal-inset
    %p.lead
      While adenotonsillectomy for sleep apnea in children is generally safe, there may be specific groups that have an increased risk of complications related to surgery, including very young and African-American children. In these groups, more intensive monitoring in the post-surgery period may be warranted. The association between severity of sleep apnea and complications points out the importance of obtaining a sleep study before surgery to determine relative risk.
      &nbsp;
      = link_to 'Read more', sleep_apnea_adenotonsillectomy_children_path
  .content-footer
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/team/owens_200x200.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h3.f300
          Judith Owens, MD, MPH
        %p.text-dark7
          Director of Sleep Medicine at Children's National Medical Center
          %br
          MyApnea.Org Steering Committee Member

.content-container
  .content-header
    = link_to sleep_apnea_diabetes_path, class: 'no-underline text-dark8' do
      %h2 What is the link between type 2 diabetes and obstructive sleep apnea?
  .content-body.horizontal-inset
    %p.lead
      Type 2 diabetes mellitus (T2DM) and obstructive sleep apnea (OSA) are both very common, each affecting around 10% of adults in the United States.  Unfortunately, T2DM and OSA often go hand-in-hand.  It has been known for some time that there are a large number of people who have both conditions, although there is evidence that OSA is often undiagnosed.
      &nbsp;
      = link_to 'Read more', sleep_apnea_diabetes_path
  .content-footer
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/research/jessie_bakker.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h3.f300
          Jessie Bakker, PhD
        %p.text-dark7
          Instructor of Medicine, Harvard Medical School

.content-container
  .content-header
    = link_to sleep_apnea_nighttime_oxygen_use_path, class: 'no-underline text-dark8' do
      %h2 Can Nighttime Oxygen Use Replace CPAP for Treatment of Sleep Apnea?
  .content-body.horizontal-inset
    %p.lead
      Over the years, my colleagues and I have had requests to prescribe oxygen for treating sleep apnea in patients who do not tolerate CPAP. This made some sense since some of the complications of sleep apnea are driven by a lack of oxygen during periods of apnea. However, there has been little research addressing the role of oxygen as a sleep apnea treatment. We therefore designed the Heart Biomarker Evaluation in Apnea Treatment (HeartBEAT) study.
      &nbsp;
      = link_to 'Read more', sleep_apnea_nighttime_oxygen_use_path
  .content-footer
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/team/redline_200x200.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h3.f300
          Susan Redline, MD, MPH
        %p.text-dark7
          Instructor of Medicine, Harvard Medical School
          %br
          MyApnea.Org Principal Investigator and Steering Committee Co-chair


-# Template
/ .content-container
/   .content-header
/     = link_to '', class: 'no-underline text-dark8' do
/       %h2 What is the link between type 2 diabetes and obstructive sleep apnea?
/   .content-body.horizontal-inset
/     %p.lead
/   .content-footer
/     .row
/       .col-sm-2.col-xs-4
/       .col-sm-10.col-xs-8
/         %h3.f300
/         %p.text-dark7
