.content-main-header
  .container
    %h1 What is the link between type 2 diabetes and obstructive sleep apnea?

.well
  .container
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/research/jessie_bakker.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h2.f300
          Jessie Bakker, PhD
        %p.dark7
          Instructor of Medicine, Harvard Medical School

.content-container
  .container
    %h3
      Type 2 diabetes and sleep apnea tend to go hand-in-hand
    %p
      Type 2 diabetes mellitus (T2DM) and obstructive sleep apnea (OSA) are both very common, each affecting around 10% of adults in the United States.  Unfortunately, T2DM and OSA often go hand-in-hand.  It has been known for some time that there are a large number of people who have both conditions, although there is evidence that OSA is often undiagnosed.  For example, a recent research study performed sleep tests in 306 obese people with T2DM, and found that 86% had OSA that was previously undiagnosed.
      %sup 1
      This pattern seems to occur the other way around as well – in a very large study, people with moderate/severe OSA were 2.3 times more likely to have T2DM compared to those without OSA.
      %sup 2
      A recent study from our group found that the association between T2DM and OSA was stronger in African-American and Caucasian individuals, compared with Hispanic or Chinese individuals in the United States (results not yet published – watch this space).  In addition to these studies that have looked at T2DM and OSA at a single time point, many studies have been performed over long time periods - in some cases, more than 15 years - and found that people with T2DM are much more likely to develop OSA in the future, compared to people without T2DM.
      %sup 3-8
    %br
    %h3
      Is the link between diabetes and sleep apnea just due to weight gain, or is there something more?
    %p
      If T2DM and OSA were completely unrelated to each other, we would not expect such a high number of people with both diseases.  Whenever we see two diseases existing together, we start to think about the four reasons this might happen:
    %ul
      %li
        Disease A causes Disease B
      %li
        Disease B causes Disease A
      %li
        Disease A and Disease B both cause each other
      %li
        There is a common underlying cause of both Disease A and Disease B
        = surround "(known as a ", ")" do
          %i confounder
    %br
    %p
      In the case of T2DM and OSA, the most obvious confounder is being overweight or obese.  Being overweight or obese is a known contributor to both OSA and T2DM, so it is not surprising that people who gain weight are at risk of developing both conditions.  In very large research studies (including those mentioned above), it is possible to control for weight and body size, as well as other confounders such as age and gender, using statistics.  Overall, the research to date suggests that T2DM and OSA are independently linked; that is, the association cannot be explained simply by factors such as weight, age, and/or gender.  This means that the relationship between T2DM and OSA might be causal, with OSA causing T2DM and/or vice versa.  Of these options, it seems more likely that OSA is a cause or significant contributor to the development of T2DM.
    %br
    %p
      Although the means by which OSA contributes to T2DM are not completely clear, there is some evidence to indicate that the stresses associated with not breathing at night - drops in oxygen levels and sleep disruption - may lead to abnormalities in both the release of insulin from the pancreas as well as increased resistance to the actions of insulin.
      %sup 5,9,10
      Together, these problems with insulin secretion and insulin sensitivity can lead to abnormalities in levels of glucose (blood sugar) and to other related problems.  OSA also causes an increased release of free fatty acids into the blood, as well as abnormalities in the lining of the blood vessels.
      %sup 11,12
      These changes can make diabetes control more difficult and contribute to diabetes complications, such as eye disease, nerve damage, or kidney problems.  Furthermore, a study of children ages 13 to 16 years old showed that even mild levels of OSA were associated with an increased prevalence of “metabolic syndrome” (which refers to problems with insulin, glucose, lipids and blood pressure), suggesting that abnormalities in metabolism can occur early in the course of OSA and even in people with relatively mild OSA.
      %sup 13
      Finally, studies show that women with OSA have high rates of diabetes during pregnancy.  This is important since diabetes during pregnancy is a risk factor for pregnancy complications as well as a risk factor for T2DM and heart disease later in life.
    %br
    %h3
      What happens to T2DM with CPAP treatment?
    %p
      One way to figure out if OSA can cause T2DM is to treat the OSA using CPAP therapy, and look at what happens to blood sugar and other measures of T2DM.  Only a few studies have done this, and the results are mixed.  One notable study reported that hemoglobin A1C levels (a measurement of how well blood glucose is controlled) were improved more in people with OSA treated with CPAP compared to people not treated with CPAP.
      %sup 14
      However, although some studies have shown improvements in glucose metabolism with CPAP, others have not,
      %sup 15
      and there is not a current strong level of evidence to guide the treatment of OSA in people with T2DM.
    %br
    %p
      Of course, if we see no major changes in T2DM measurements after CPAP treatment, it doesn’t necessarily mean that OSA is not a contributor to T2DM.  It might simply mean that the effect of OSA on T2DM is not reversible, and therefore perhaps we should be studying the impact of CPAP in people before they develop overt diabetes, for example, during the period known as “pre-diabetes”, which is when blood sugar levels are higher than normal but not high enough to be classified as T2DM.  Without treatment, people with pre-diabetes are likely to develop T2DM within a decade; however, lifestyle changes including diet and exercise can bring blood glucose back to normal in people with pre-diabetes.
    %br
    %p
      A study led by Professor Redline published in 2012 studied the impact of CPAP in 50 people with OSA and pre-diabetes.  Overall, CPAP did not lead to major improvements in glucose metabolism; however, in the people with pre-diabetes and severe OSA, there were substantial improvements in insulin sensitivity with CPAP.
      %sup 16
      This suggests that perhaps people with pre-diabetes and severe OSA have the most to gain from CPAP therapy, in terms of metabolic outcomes.  In agreement with this conclusion, a very recent study performed in Chicago found that in a group of people who had pre-diabetes and severe OSA on average, large improvements in glucose metabolism and other measures of T2DM occurred with just two weeks of CPAP used eight hours per night.
      %sup 17
    %br
    %h3
      What next?
    %p
      Although the evidence that OSA causes T2DM is not conclusive, it is clear that people with T2DM are at high risk of developing OSA, and many of these people might benefit from OSA treatment.  So, what next?  There are several key questions on this topic that still need to be addressed:
    %ol
      %li
        Is there a critical time (for example in childhood, during pregnancy, after menopause) when treating OSA is particularly effective in preventing or improving T2DM?
      %li
        How can we identify which people with T2DM and OSA are most likely to see improvements in glucose metabolism with OSA treatment?  Research to date suggests that the combination of
        %i severe OSA and pre-diabetes
        is most amenable to treatment; however, this needs to be confirmed in larger studies.
      %li
        If we find that OSA treatment really can improve glucose control in people with T2DM and OSA, what does this mean in the long term?  We need to know whether improvements in glucose and insulin translate to improvements in the way that people feel during the day, as well as reductions in cardiovascular disease (e.g. heart attack, stroke, heart failure) in the future.
      %li
        Are there “best” combinations of treatments for people with both OSA and T2DM? We know that lifestyle improvements (physical activity, weight loss) are effective in improving T2DM, as are some medications. How do we best combine these approaches with treatments for improving OSA, which include CPAP but might include other therapies such as oral appliances?
      %li
        How do we ensure that people with T2DM have access to sleep studies, and CPAP treatment if they need it?  One study reported that less than 5% of the people with T2DM who were diagnosed with OSA had started treatment one year after both they and their doctors were told about their diagnosis.
        %sup 18
        Clearly, we need to raise awareness of the importance of OSA amongst people with T2DM and their doctors.  The best way to do this is by performing large, high-quality research studies showing improved quality of life and reduced cardiovascular disease in people with T2DM and OSA treated with CPAP, while continuing to look for even better treatments for OSA.
  .content-footer
    %h4
      Help us work with people with diabetes, diabetes associations, and others to move this field forward.
    %p.lead
      We are currently working on a study in Boston looking at whether CPAP treatment can reduce cardiovascular risk in people with OSA and T2DM.  We are looking for people aged 18-70 with T2DM who are interested in having a home-based sleep test to find out if they have OSA:
    %ul
      %li
        ‘Vascular Impairment in Type 2 Diabetes Mellitus with Co-Morbid Obstructive Sleep Apnea’
        = surround "(", ")." do
          = link_to "https://clinicaltrials.gov/ct2/show/NCT01629862", "https://clinicaltrials.gov/ct2/show/NCT01629862"
      %li
        Please contact Dr. Jessie Bakker
        = precede '(' do
          = mail_to 'jpbakker@partners.org'
        or 617-732-5987) for information about this study.
    %br
    %h5
      Here is a list of some other ongoing research studies investigating the link between T2DM and OSA that you may be interested in:
    %ul
      %li
        ‘Diabetes-Obstructive Sleep Apnea Treatment Trial (DOTT)’ – University of Pittsburgh
        = surround "(", ")." do
          = link_to "https://clinicaltrials.gov/ct2/show/NCT01901055", "https://clinicaltrials.gov/ct2/show/NCT01901055"
      %li
        ‘Effects of Continuous Positive Airway Pressure on Glucose Metabolism (SOMNOS)’ – Johns Hopkins University
        = surround "(", ")." do
          = link_to "https://clinicaltrials.gov/ct2/show/NCT01503164", "https://clinicaltrials.gov/ct2/show/NCT01503164"
      %li
        ‘Effect of CPAP Treatment on Glycemic Control in Gestational Diabetes: A Pilot Randomized Controlled Trial’ – McGill University Health Center
        = surround "(", ")." do
          = link_to "https://clinicaltrials.gov/ct2/show/NCT02245659", "https://clinicaltrials.gov/ct2/show/NCT02245659"

.container
  %h4.f300 References
  %ol
    %li
      Foster, G.D., Sanders, M.H., Millman, R., Zammit, G., Borradaile, K.E., Newman, A.B., Wadden, T.A., Kelley, D., Wing, R.R., Sunyer, F.X., Darcey, V. & Kuna, S.T. Obstructive sleep apnea among obese patients with type 2 diabetes. Diabetes Care 32, 1017-9 (2009).
    %li
      Reichmuth, K.J., Austin, D., Skatrud, J.B. & Young, T. Association of sleep apnea and type II diabetes: a population-based study. American Journal of Respiratory & Critical Care Medicine 172, 1590-5 (2005).
    %li
      Marshall, N.S., Wong, K.K., Phillips, C.L., Liu, P.Y., Knuiman, M.W. & Grunstein, R.R. Is sleep apnea an independent risk factor for prevalent and incident diabetes in the Busselton Health Study? Journal of Clinical Sleep Medicine 5, 15-20 (2009).
    %li
      Kendzerska, T., Gershon, A.S., Hawker, G., Tomlinson, G. & Leung, R.S. Obstructive sleep apnea and incident diabetes. A historical cohort study. Am J Respir Crit Care Med 190, 218-25 (2014).
    %li
      Botros, N., Concato, J., Mohsenin, V., Selim, B., Doctor, K. & Yaggi, H.K. Obstructive sleep apnea as a risk factor for type 2 diabetes. American Journal of Medicine 122, 1122-7 (2009).
    %li
      Celen, Y.T., Hedner, J., Carlson, J. & Peker, Y. Impact of gender on incident diabetes mellitus in obstructive sleep apnea: a 16-year follow-up. J Clin Sleep Med 6, 244-50 (2010).
    %li
      Lindberg, E., Berne, C., Franklin, K.A., Svensson, M. & Janson, C. Snoring and daytime sleepiness as risk factors for hypertension and diabetes in women--a population-based study. Respiratory Medicine 101, 1283-90 (2007).
    %li
      Muraki, I., Tanigawa, T., Yamagishi, K., Sakurai, S., Ohira, T., Imano, H., Kitamura, A., Kiyama, M., Sato, S., Shimamoto, T., Konishi, M. & Iso, H. Nocturnal intermittent hypoxia and the development of type 2 diabetes: the Circulatory Risk in Communities Study (CIRCS). Diabetologia 53, 481-8 (2010).
    %li
      Punjabi, N.M., Shahar, E., Redline, S., Gottlieb, D.J., Givelber, R. & Resnick, H.E. Sleep-disordered breathing, glucose intolerance, and insulin resistance: the Sleep Heart Health Study. American Journal of Epidemiology 160, 521-30 (2004).
    %li
      Sulit, L., Storfer-Isser, A., Kirchner, H.L. & Redline, S. Differences in polysomnography predictors for hypertension and impaired glucose tolerance. Sleep 29, 777-83 (2006).
    %li
      Barcelo, A., Pierola, J., de la Pena, M., Esquinas, C., Fuster, A., Sanchez-de-la-Torre, M., Carrera, M., Alonso-Fernandez, A., Ladaria, A., Bosch, M. & Barbe, F. Free fatty acids and the metabolic syndrome in patients with obstructive sleep apnoea. Eur Respir J 37, 1418-23 (2011).
    %li
      Azuma, M., Chihara, Y., Yoshimura, C., Murase, K., Hamada, S., Tachikawa, R., Matsumoto, T., Inouchi, M., Tanizawa, K., Handa, T., Oga, T., Mishima, M. & Chin, K. Association between endothelial function (assessed on reactive hyperemia peripheral arterial tonometry) and obstructive sleep apnea, visceral fat accumulation, and serum adiponectin. Circ J 79, 1381-9 (2015).
    %li
      Javaheri, S., Storfer-Isser, A., Rosen, C.L. & Redline, S. Sleep quality and elevated blood pressure in adolescents. Circulation 118, 1034-40 (2008).
    %li
      Hassaballa, H.A., Tulaimat, A., Herdegen, J.J. & Mokhlesi, B. The effect of continuous positive airway pressure on glucose control in diabetic patients with severe obstructive sleep apnea. Sleep Breath 9, 176-80 (2005).
    %li
      West, S.D., Nicoll, D.J., Wallace, T.M., Matthews, D.R. & Stradling, J.R. Effect of CPAP on insulin resistance and HbA1c in men with obstructive sleep apnoea and type 2 diabetes. Thorax 62, 969-74 (2007).
    %li
      Weinstock, T.G., Wang, X., Rueschman, M., Ismail-Beigi, F., Aylor, J., Babineau, D.C., Mehra, R. & Redline, S. A controlled trial of CPAP therapy on metabolic control in individuals with impaired glucose tolerance and sleep apnea. Sleep 35, 617-625B (2012).
    %li
      Pamidi, S., Wroblewski, K., Stepien, M., Sharif-Sidi, K., Kilkus, J., Whitmore, H. & Tasali, E. Eight Hours of Nightly CPAP Treatment of Obstructive Sleep Apnea Improves Glucose Metabolism in Prediabetes: A Randomized Controlled Trial. Am J Respir Crit Care Med (2015).
    %li
      Foster, G.D., Borradaile, K.E., Sanders, M.H., Millman, R., Zammit, G., Newman, A.B., Wadden, T.A., Kelley, D., Wing, R.R., Pi-Sunyer, F.X., Reboussin, D. & Kuna, S.T. A randomized study on the effect of weight loss on obstructive sleep apnea among obese patients with type 2 diabetes: the Sleep AHEAD study. Archives of Internal Medicine 169, 1619-26 (2009).

- unless current_user
  = render 'home/join_the_community', referrer: 'research', message: 'Make a direct impact on the future of sleep apnea research'
