.content-main-header
  .container
    %h1 Can Nighttime Oxygen Use Replace CPAP for Treatment of Sleep Apnea?

.well
  .container
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/team/redline_200x200.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h2.f300
          Susan Redline, MD, MPH
        %p.text-dark7
          Professor of Sleep Medicine, Harvard Medical School
          %br
          MyApnea.Org Principal Investigator and Steering Committee Co-chair

.content-container
  .container
    %p
      Over the years, my colleagues and I have had requests to prescribe oxygen for treating sleep apnea in patients who do not tolerate CPAP. This made some sense since some of the complications of sleep apnea are driven by a lack of oxygen during periods of apnea. However, there has been little research addressing the role of oxygen as a sleep apnea treatment. We therefore designed the Heart Biomarker Evaluation in Apnea Treatment (HeartBEAT) study. With funding from the American Recovery and Reinvestment Act, we conducted a clinical trial at four U.S. medical centers comparing the health outcomes of patients randomized to receive either healthy lifestyle and sleep education alone (the control group), or that in addition to either CPAP or nocturnal supplemental oxygen. The main study outcome was 24 hour blood pressure level, measured using a cuff that records blood pressure during the day and night. (24 hour blood pressure is often elevated in patients with sleep apnea and contributes to risk of stroke and heart attack.)
    %br
    %p
      The results of the trial were published in the New England Journal of Medicine in June, 2014
      = surround "(", ")." do
        = link_to "N Engl J Med. 2014 Jun 12;370(24):2276-85.PMID:24918372", "http://www.ncbi.nlm.nih.gov/pubmed/24918372"
      A total of 318 patients with sleep apnea and risk factors for heart disease were enrolled in the study and followed for 3 months. CPAP performed significantly better than either control or supplemental oxygen in terms of reducing blood pressure levels. The effect of CPAP on blood pressure was greatest at night, the time when sleep apnea often prevents the expected fall in blood pressure. Moreover, the decrease in blood pressure was seen despite generally well-controlled blood pressure measured during routine clinic visits.
    %br
    %p
      What does this research mean to you? The study was designed to most directly address the role of oxygen and CPAP as a means for reducing heart disease risk factors, such as improving blood pressure control. It focused on patients who had risk factors for heart disease, had moderate or more severe sleep apnea, and were not very sleepy. The study supports a beneficial effect of CPAP on blood pressure and does not support supplemental oxygen for helping with blood pressure control. The average improvement in blood pressure levels- by 2 to 4 mm mercury- is small, but occurred over and beyond the effects of routine hypertension medications. The improvement in blood pressure is estimated to reduce, on average, the risk of death from stroke by 10%. Because sleep apnea commonly elevates nighttime blood pressure levels, and many people are unaware of this, the findings suggest that CPAP may benefit many patients with sleep apnea.
    %br
    %p
      More about the study's background can be found
      = succeed '.' do
        = link_to "here", "http://tune.pk/video/5868591/sleep-apnea-research-the-heartbeat-study-susan-redline"
    %br
    %p
      We are still analyzing data from this study and also examining whether oxygen helps with fatigue, mood and quality of life. It would be of interest to better understand our members experience with oxygen and whether we should think about new questions to ask of the data in this trial.

- unless current_user
  = render 'home/join_the_community', referrer: 'research', message: 'Make a direct impact on the future of sleep apnea research'
