.content-main-header
  .container
    %h1 Atrial fibrillation and its links to sleep apnea

.well
  .container
    .row
      .col-sm-2.col-xs-4
        = image_tag 'myapnea/research/sbert.jpg', class: 'img-responsive pull-right', style: 'width: 100px'
      .col-sm-10.col-xs-8
        %h2.f300
          Suzie Bertisch, MD, MPH
          %br
          Reena Mehra, MD MS
          %br
          Patty Tung, MD
        %p.text-dark7
          Beth Israel Deaconess Medical Center, Cleveland Clinic Foundation

.content-container
  .container
    %h3 What is atrial fibrillation?
    %p
      Atrial fibrillation is an abnormal heart rhythm that causes the heart to beat in an “irregularly irregular”
      pattern. Electrical impulses do not follow the usual orderly movement from the heart’s upper chambers (atria) to
      its lower chambers (ventricles). The ventricles are the chambers that push blood to the rest of the body. When
      the upper chambers and lower chambers do not beat in a coordinated way, there can be too little blood that is
      “pushed”, which can lead to a drop in blood pressure. This can cause feelings of faintness (when too little
      blood is pushed to the brain), racing of the heart (or palpitations), or chest discomfort (when too little blood
      is sent to the heart), and other problems. In many situations, an individual may be asymptomatic, i.e. not aware
      that atrial fibrillation is occurring.
    %h3 How common is atrial fibrillation and who is at risk?
    %p
      Atrial fibrillation is the most common heart rhythm disorder. The likelihood of getting atrial fibrillation
      increases with older age and in people with diabetes, high blood pressure, coronary artery disease, heart
      failure, heart valve problems, thyroid disease and lung disease. Obesity, caffeine and heavy alcohol use also
      are associated with atrial fibrillation.  As described below, atrial fibrillation is particularly prevalent in
      people with sleep apnea.
    %p
      Symptoms of atrial fibrillation include a sensation that your heartbeat (or pulse) is slower, faster or more
      irregular compared to usual. It may also cause symptoms of  lightheadedness, shortness of breath and feeling too
      tired or lacking energy to do your daily activities or exercise.
    %h3
      What are the complications of atrial fibrillation?
    %p
      Because of the irregular flow of blood, there is an increased chance of developing blood clots. These can travel
      to the brain and cause strokes. Although atrial fibrillation is more common in men, women with atrial
      fibrillation are more likely to have stroke, stroke-related disability and lower quality of life compared to men.
    %h3 What is the link with sleep apnea?
    %p
      Atrial fibrillation is more common in patients with both obstructive and central sleep apnea. In fact, it is
      estimated that nearly 50% of patients with atrial fibrillation have sleep apnea.
    %p
      Sleep apnea can cause drops in blood levels of oxygen and abnormalities in the balance between the
      parasympathetic and sympathetic nervous system (the latter is the “fight or flight” response). These stresses
      can causes problems with the electrical firing within the heart that can lead to atrial fibrillation.  These
      stresses can also cause the heart muscle to enlarge or change shape, which can cause electrical pulses to be
      conducted abnormally, also possibly leading to atrial fibrillation.
    %p
      Research indicates that patients with atrial fibrillation who undergo cardioversion or catheter
      ablation—procedures to change the heart’s rhythm from the irregular patterns of atrial fibrillation to a normal,
      more regular heart rhythm, are more likely to stay in a normal rhythm if they are treated with CPAP (continuous
      positive airway pressure) therapy. Other research studies suggest that sleep apnea may cause intermittently
      occurring atrial fibrillation to progress to a more severe disorder, with the abnormal rhythm occurring more
      frequently or even persist.
    %h3 What does this mean?
    %p
      Given the close links between sleep apnea and atrial fibrillation, many doctors now consider sleep apnea in
      patients who have atrial fibrillation.  Some cardiologists now even routinely screen their patients for sleep
      apnea. Patients with atrial fibrillation may want to talk to their doctors about sleep apnea and find out if
      they may benefit from evaluation and treatment.
    %h3 What do we need to know?
    %p
      Although there are compelling links between sleep apnea and atrial fibrillation, there are very few studies that
      have rigorously compared outcomes in patients treated with CPAP with those who have not. Therefore, we cannot
      yet conclusively state that CPAP (vs other factors) is what keeps the heart in normal rhythm in patients treated
      with CPAP. We also do not know if treatment of sleep apnea prevents the onset of atrial fibrillation. Although
      there may be great value in screening patients at high risk for both conditions, the overall benefit of such
      routine screening is not known. Further clarification is also needed to identify the specific aspects of sleep
      apnea (e.g. low oxygen levels, high carbon dioxide levels, inflammation, autonomic nervous system fluctuations
      or pressure changes within the chest directly affecting the heart) may lead to atrial fibrillation so that
      therapies can be tailored accordingly.

.content-container
  .container
    %h3
      Here are some ongoing studies examining sleep apnea and atrial fibrillation
      = surround '(from ', ')' do
        = link_to 'clinicaltrials.gov', 'http://clinicaltrials.gov/'
    %ul
      %li
        = link_to 'http://clinicaltrials.gov/ct2/show/NCT01058551' do
          Incidence of Atrial Fibrillation in Patients With Severe Obstructive Sleep Apnea: The Reveal XT-SA Study – Queens University
      %li
        = link_to 'http://clinicaltrials.gov/ct2/show/NCT02269774' do
          Origin of Premature Atrial Beats Induced by Simulated Obstructive Sleep Apnea – University of Zurich
      %li
        = link_to 'http://clinicaltrials.gov/ct2/show/NCT02332096' do
          Screening for Sleep Apnea in Patients Undergoing Atrial Fibrillation Ablation – Beth Israel Deaconess Medical Center (Not yet recruiting)
      %li
        = link_to 'http://clinicaltrials.gov/ct2/show/NCT01922726' do
          Registry of Sleep Apnea Monitoring and Atrial Fibrillation in Pacemaker Patients (RESPIRE) – Sorin Group
      %li
        = link_to 'http://clinicaltrials.gov/ct2/show/NCT02064114' do
          SORT – AF Supervised Obesity Reduction Trial for AF Ablation Patients (SORT-AF) - Universitätsklinikum Hamburg-Eppendorf
      %li
        The Sleep Apnea and Atrial Fibrillation Electrophysiology: Biomarkers and Evaluating Atrial Triggers (SAFEBEAT) study; Cleveland Clinic Foundation. (Contact: Joan Aylor: 216-445-1698)



- unless current_user
  = render 'home/join_the_community', referrer: 'research', message: 'Make a direct impact on the future of sleep apnea research'
