- @title = "Edit Category - #{@admin_category.name_was}"

- @theme = "day"
- content_for :header, @admin_category.name_was
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "categories", admin_categories_path
    %li= link_to @admin_category.slug_was, @admin_category
    %li.breadcrumb-muted edit
- content_for :sidebar, render("admin/sidebar")

.dashboard-container
  = render "form", admin_category: @admin_category
