- @title = "Edit Broadcast: #{@admin_category.name_was}"

.content-main-header2
  %h1
    = link_to 'Admin Dashboard', admin_path
    &middot;
    = link_to 'Categories', admin_categories_path
    &middot;
    = link_to @admin_category.name_was, @admin_category
    &middot;
    Edit

= render 'form'
