= form_for @chapter, html: { class: 'form-horizontal' } do |f|
  - if @chapter.errors.any?
    .panel.panel-danger
      .panel-heading
        %strong
          = pluralize @chapter.errors.count, 'error'
          prohibited this topic from being saved
      .panel-body
        %ul
          - @chapter.errors.full_messages.each do |message|
            %li= message

  .form-group
    = f.label :title, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :title, class: 'form-control', data: { object: (@chapter.new_record? ? 'create-slug' : ''), target: '#chapter_slug' }

  .form-group{ style: "#{'display:none' if @chapter.new_record? && !@chapter.errors.key?(:slug)}"}
    = f.label :slug, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :slug, class: 'form-control'
      %code.text-muted= "#{ENV['website_url']}/forum/#{@chapter.slug}"

  .form-group
    = f.label :description, class: 'col-md-2 control-label'
    .col-md-10
      .preview-container
        .preview-header
          = link_to 'Write', '#', data: { object: 'view-content-markdown' }, class: 'preview-tab active', tabindex: '-1'
          = link_to 'Preview', '#', data: { object: 'view-content-preview', content: '#chapter_description' }, class: 'preview-tab', tabindex: '-1'
        .preview-body
          #content_markdown
            = f.text_area :description, rows: [[15, @chapter.description.to_s.count("\n") + 1].max, 25].min, class: 'preview-control filedrag-container', data: { object: 'expandable-text-area dropfile-image', default_rows: 15, upload_url: upload_images_path(update: '#chapter_description', format: 'js'), fallback_url: new_image_path, log_id: '#log_new' }
            #log_new.filedrag
              Drag images above to insert into post.
          #content_preview.chapter{ style: 'display:none' }

  - if false && current_user.owner?
    .form-group
      .col-md-offset-2.col-md-10
        .checkbox
          %label
            = f.check_box :pinned
            Pinned

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit (@chapter.new_record? ? 'Create Topic' : 'Update Topic'), class: 'btn btn-primary'
      = link_to 'Cancel', (@chapter.new_record? ? chapters_path : @chapter), class: 'btn btn-default'
