- @title = 'Forum'
.content-main-header2
  %h1= @title

#forum-top-container
  = render 'layouts/per_page', per_page: 40, object_count: @chapters.total_count
  = link_to 'Start New Topic', async_forum_new_topic_path, method: :post, remote: true, class: 'btn btn-primary'

#new-topic-container{ style: 'display:none;' }

%table.table.table-hover
  %col
  %col
  %col.hidden-xs{ width: '50px' }
  %col.hidden-xs.hidden-sm{ width: '50px' }
  %col.hidden-xs.hidden-sm{ width: '150px' }
  %thead
    %tr
      %th.small= link_to 'Topics', chapters_path
      %th
      = th_sort_field_rev @order, 'reply_count', 'Replies', extra_class: 'small hidden-xs hidden-sm'
      = th_sort_field_rev @order, 'chapters.view_count', 'Views', extra_class: 'small hidden-xs hidden-sm'
      = th_sort_field_rev @order, 'chapters.last_reply_at', 'Last Post', extra_class: 'small hidden-xs hidden-sm'
  %tbody
    - @chapters.each do |chapter|
      %tr{ class: chapter.started_reading?(current_user) ? 'chapter-read' : '' }
        %td
          .wrapword
            - if chapter.pinned?
              %span.glyphicon.glyphicon-star.primary-orange
            = link_to chapter.title, chapter
          %small.f300
            by
            = image_tag user_photo_url(chapter.user), alt: '', style: "max-height:#{16+3}px;border-radius:4px", title: chapter.user.forum_name, data: { toggle: 'tooltip', container: 'body', placement: 'top' }
            = chapter.user.forum_name
        %td.nowrap.small.text-right
          - if chapter.last_page > 1
            %i.fa.fa-comments-o
            = link_to '1', chapter, class: 'btn btn-xs btn-default'
            \...
            = link_to chapter.last_page, page_chapter_path(chapter, page: chapter.last_page), class: 'btn btn-xs btn-default'
          - unread_replies = chapter.unread_replies(current_user)
          - next_unread_reply = chapter.next_unread_reply(current_user)
          - if next_unread_reply
            %br
            = link_to next_unread_reply do
              = surround '(', ')' do
                %b.primary-orange= pluralize unread_replies, 'unread reply'
        %td.text-muted.hidden-xs.f300
          %span.small= number_with_delimiter chapter.reply_count - 1
        %td.text-muted.hidden-xs.hidden-sm.f300
          %span.small= number_to_human chapter.view_count, precision: 2
        %td.text-muted.hidden-xs.hidden-sm.f300
          %span.small= time_ago_in_words(chapter.last_reply_at) + ' ago'


.centered= paginate @chapters, theme: 'bootstrap-small'
