= form_for [@topic, @post], html: { class: 'form-horizontal' } do |f|
  - if @post.errors.any?
    #error_explanation.bs-callout.bs-callout-danger
      %h4
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :description, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 14, class: 'form-control'

  - if current_user.moderator?
    .form-group
      = f.label :status, nil, class: 'col-md-2 control-label'
      .col-md-10
        = f.select :status, [['---', nil]] + Post::STATUS, {}, class: 'form-control'

    .form-group
      .col-md-10.col-md-offset-2
        .checkbox
          %label
            = f.check_box :links_enabled
            Allow Links in Post

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', (@post.new_record? ? @topic : [@topic, @post]), class: 'btn btn-default'
