- current_index = post.number
%a.anchor-top{ name: "post-#{post.id}" }
%a.anchor-top{ name: "c#{current_index}" }

.horizontal-inset
  .row.reset-layout
    - if post.deleted? or post.user.deleted?
      .col-xs-1.reset-layout
      .col-xs-11
        .post-container.post-deleted
          .post-container-right-middle-after
            = "##{current_index}"
          %i.text-muted
            Post Deleted
    - elsif (post.hidden? or post.spam?) and not (current_user and current_user.has_role? :moderator)
      .col-xs-12{ style: 'display:none' }
        .post-container.post-deleted
          .post-container-right-middle-after
            = "##{current_index}"
          %i.text-muted
            = post.spam? ? "Post Marked as Spam" : "Post Hidden"
    - elsif post.hidden? and current_user and current_user.has_role? :moderator
      .col-xs-12
        .post-container.post-deleted
          .post-container-right-middle-after
            = render 'posts/actions/edit', post: post
            = "##{current_index}"
          %i.text-muted
            Post Hidden
    - elsif post.spam? and current_user and current_user.has_role? :moderator
      .col-xs-1.reset-layout
        = render 'forums/user_image', user: post.user, size: 50
      .col-xs-11
        .post-container.post-spam
          .post-container-right-after
            Marked as Spam
            - if current_user.has_role? :moderator
              = link_to forum_topic_post_path(post.forum, post.topic, post, post: { status: 'pending_review' }), method: :patch, class: 'btn btn-xs btn-default' do
                %i.fa.fa-undo
                Undo
              = render 'posts/actions/edit', post: post
            = "##{current_index}"
          - if post.topic.user == post.user
            .post-container-right-bottom-after.original-poster-badge
              Original Poster
          %div{ id: "post_#{post.id}_container" }
            .post-user-name-container
              = render 'users/forum_name', user: post.user
            %p.italic
              %i.fa.fa-eye-slash
              Post Is Hidden
            .text-muted{ style: 'text-decoration:line-through' }
              = simple_markdown(post.description, false)
            .small.text-muted.f300
              = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
    - elsif post.pending_review?
      .col-xs-1.reset-layout
        = render 'forums/user_image', user: post.user, size: 50
      .col-xs-11
        .post-container.post-under-review
          .post-container-right-after
            %span.f400
              Under Review
            - if current_user and current_user.moderator?
              = render 'posts/actions/pending_review_as_moderator', post: post
            - if current_user and current_user == post.user
              = render 'posts/actions/edit', post: post
            %a{ href: "#c#{current_index}" }
              = "##{current_index}"
          - if post.topic.user == post.user
            .post-container-right-bottom-after.original-poster-badge
              Original Poster
          %div{ id: "post_#{post.id}_container" }
            .post-user-name-container
              = render 'users/forum_name', user: post.user
            = render 'posts/formatted', post: post
            .small.text-muted{ style: 'font-weight: 300' }
              = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
    - else
      .col-xs-1.reset-layout
        = render 'forums/user_image', user: post.user, size: 50
      .col-xs-11
        .post-container
          .post-container-right-after
            - if current_user and post.editable_by?(current_user)
              = render 'posts/actions/edit', post: post
            - if current_user and post.deletable_by?(current_user)
              = link_to forum_topic_post_path(post.forum, post.topic, post), method: :delete, data: { confirm: "Are you sure?", toggle: 'tooltip', container: 'body' }, class: 'btn btn-xs btn-danger', title: 'Delete Post' do
                %i.fa.fa-trash
            %a{ href: "#c#{current_index}" }
              = "##{current_index}"
          - if post.topic.user == post.user
            .post-container-right-bottom-after.original-poster-badge
              Original Poster
          %div{ id: "post_#{post.id}_container" }
          .post-user-name-container
            = render 'users/forum_name', user: post.user
          = render 'posts/formatted', post: post
          .small.text-muted{ style: 'font-weight: 300' }
            = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
