- current_index = post_counter + 1
%a{ name: "post-#{post.id}" }
%a{ name: "c#{current_index}" }

.row
  - if post.deleted? or post.user.deleted?
    .col-xs-1
    .col-md-11.col-xs-10.col-xs-offset-1.col-md-offset-0
      .post-container.post-deleted
        .post-container-right-middle-after
          = "##{current_index}"
        %i.text-muted
          Post Deleted
  - elsif post.hidden? or (post.spam? and not (current_user and current_user.has_role? :moderator))
    .col-xs-12{ style: 'display:none' }
      .post-container.post-deleted
        .post-container-right-middle-after
          = "##{current_index}"
        %i.text-muted
          Post
          - if post.hidden?
            Hidden
          - elsif post.spam?
            Marked as Spam
  - elsif post.spam? and current_user and current_user.has_role? :moderator
    .col-xs-1
      = render partial: 'forums/user_image', locals: { user: post.user, size: 50 }
    .col-md-11.col-xs-10.col-xs-offset-1.col-md-offset-0
      .post-container.post-spam
        .post-container-right-after
          Marked as Spam
          - if current_user.has_role? :moderator
            = link_to forum_topic_post_path(post.forum, post.topic, post, post: { status: 'pending_review' }), method: :patch, class: 'btn btn-xs btn-default' do
              %i.fa.fa-undo
              Undo
          = "##{current_index}"
        - if post.topic.user == post.user
          .post-container-right-bottom-after.original-poster-badge
            Original Poster
        %div{ id: "post_#{post.id}_container" }
          .post-user-name-container
            = post.user.forum_name
          %p{ style: 'font-style:italic' }
            %i.fa.fa-eye-slash
            Post Is Hidden
          .text-muted{ style: 'text-decoration:line-through' }
            = simple_markdown(post.description, false)
          .small.text-muted{ style: 'font-weight: 300' }
            = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
  - elsif post.pending_review?
    - if current_user == post.user or (current_user and current_user.has_role? :moderator)
      .col-xs-1
        = render partial: 'forums/user_image', locals: { user: post.user, size: 50 }
      .col-md-11.col-xs-10.col-xs-offset-1.col-md-offset-0
        .post-container.post-under-review
          .post-container-right-after
            Under Review
            - if current_user.has_role? :moderator
              = link_to forum_topic_post_path(post.forum, post.topic, post, post: { status: 'approved' }), method: :patch, class: 'btn btn-xs btn-default' do
                %i.fa.fa-thumbs-up
                Approve
              = link_to forum_topic_post_path(post.forum, post.topic, post, post: { status: 'spam' }), method: :patch, class: 'btn btn-xs btn-default' do
                %i.fa.fa-thumbs-down
                Mark As Spam
            = "##{current_index}"
          - if post.topic.user == post.user
            .post-container-right-bottom-after.original-poster-badge
              Original Poster
          %div{ id: "post_#{post.id}_container" }
            .post-user-name-container
              = post.user.forum_name
            %p{ style: 'font-style:italic' }
              %i.fa.fa-eye
              = 'Your' if current_user == post.user
              Post Is Under Review
            = simple_markdown(post.description, post.user.can_post_links?)
            .small.text-muted{ style: 'font-weight: 300' }
              = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
  - else
    .col-xs-1
      = render partial: 'forums/user_image', locals: { user: post.user, size: 50 }

    .col-md-11.col-xs-10.col-xs-offset-1.col-md-offset-0
      .post-container
        .post-container-right-after
          - if current_user and post.editable_by?(current_user)
            = link_to edit_forum_topic_post_path(post.forum, post.topic, post), data: { toggle: 'tooltip', container: 'body' }, title: 'Edit Post', class: 'btn btn-xs btn-default' do
              %i.fa.fa-pencil
          - if current_user and post.deletable_by?(current_user)
            = link_to forum_topic_post_path(post.forum, post.topic, post), method: :delete, data: { confirm: "Are you sure?", toggle: 'tooltip', container: 'body' }, class: 'btn btn-xs btn-danger', title: 'Delete Post' do
              %i.fa.fa-trash
          %a{ href: "#c#{current_index}" }
            = "##{current_index}"
        - if post.topic.user == post.user
          .post-container-right-bottom-after.original-poster-badge
            Original Poster
        %div{ id: "post_#{post.id}_container" }
          .post-user-name-container
            = post.user.forum_name
          = simple_markdown(post.description, post.user.can_post_links?)
          .small.text-muted{ style: 'font-weight: 300' }
            = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
