- current_index = post.number
%a.anchor-top{ name: "post-#{post.id}" }
%a.anchor-top{ name: "c#{current_index}" }

.forum-post-content-container
  - if post.deleted? or post.user.deleted?
    = render 'posts/deleted', post: post
  - elsif post.hidden? or post.spam?
    = render 'posts/hidden_spam', post: post
  - else
    .poster
      = render 'forums/user_image_link', user: post.user, size: 50
    .post
      .post-details
        .pull-right
          - if post.pending_review?
            %span.pending-review-warning.small Pending Review
          - if current_user and (current_user==post.user or current_user.moderator?)
            .dropdown.inline-block
              %button.post-actions-btn#dLabel{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', type: 'button' }
                %span.caret
              %ul.dropdown-menu.dropdown-menu-right{ 'aria-labelledby' => 'dLabel'}
                - if post.pending_review? and current_user.moderator?
                  %li= link_to 'Approve', forum_topic_post_path(post.forum, post.topic, post, post: { status: 'approved' }), method: :patch
                  %li= link_to 'Mark as Spam', forum_topic_post_path(post.forum, post.topic, post, post: { status: 'spam' }), method: :patch
                  %li= link_to 'Hide', forum_topic_post_path(post.forum, post.topic, post, post: { status: 'hidden' }), method: :patch
                %li= link_to 'Link to this post', forum_topic_post_path(post.forum, post.topic, post)
                %li= link_to 'Edit', edit_forum_topic_post_path(post.forum, post.topic, post)
                %li= link_to 'Delete', forum_topic_post_path(post.forum, post.topic, post), method: :delete, data: { confirm: "Are you sure?" }
        %p.f500
          = link_to post.user.forum_name, member_path(post.user.forum_name), class: 'no-underline darkerer-blue'
        %p.small
          %span.post-time= time_ago_in_words(post.created_at) + ' ago'
      .post-content.wrapword
        = render 'posts/formatted', post: post
        - if current_user
          %div{ id: "reaction-container-#{post.id}"}
            = render 'posts/reactions_and_comments', post: post
