- current_index = post.number
%a.anchor-top{ name: "post-#{post.id}" }
%a.anchor-top{ name: "c#{current_index}" }

.horizontal-inset
  .row.reset-layout
    - if post.deleted? or post.user.deleted?
      .col-xs-1.reset-layout{ style: "display:none" }
      .col-xs-11{ style: 'display:none' }
        .post-container.wrapword.post-deleted
          .post-container-right-middle-after
            = "##{current_index}"
          %i.text-muted
            Post Deleted
    - elsif (post.hidden? or post.spam?) and not (current_user and (current_user.moderator? or current_user.owner?))
      .col-xs-1.reset-layout{ style: 'display:none' }
      .col-xs-11{ style: 'display:none' }
        .post-container.wrapword.post-deleted
          .post-container-right-middle-after
            = "##{current_index}"
          %i.text-muted
            = post.spam? ? "Post is Spam" : "Post is Hidden"
    - elsif (post.hidden? or post.spam?) and current_user and (current_user.moderator? or current_user.owner?)
      .col-xs-1.reset-layout.text-right
        = render 'forums/user_image', user: post.user, size: 50
      .col-xs-11
        .post-container.wrapword{ class: "#{post.spam? ? 'post-spam' : 'post-hidden'}" }
          .post-container-right-after
            = post.spam? ? 'Post is Spam' : 'Post is Hidden'
            - if current_user.moderator?
              = succeed ' ' do
                = link_to forum_topic_post_path(post.forum, post.topic, post, post: { status: 'pending_review' }), method: :patch, class: 'btn btn-xs btn-default' do
                  %i.fa.fa-undo
                  Undo
              = render 'posts/actions/edit', post: post
            %a{ href: "#c#{current_index}" }
              = "##{current_index}"
          - if post.topic.user == post.user
            .post-container-right-bottom-after.original-poster-badge
              Original Poster
          %div{ id: "post_#{post.id}_container" }
            .post-user-name-container
              = render 'users/forum_name', user: post.user
            %p.italic
              %i.fa.fa-eye-slash
              = link_to '#', data: { object: 'toggle-post', post_id: post.id } do
                Click to View Original Post
            .text-muted{ style: 'text-decoration:line-through;display:none', id: "post_contents_#{post.id}" }
              = simple_markdown(sanitize(post.description).gsub('&gt;', '>'), false)
            .small.text-muted.f300
              = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
    - elsif post.pending_review?
      .col-xs-1.reset-layout.text-right
        = render 'forums/user_image', user: post.user, size: 50
      .col-xs-11
        .post-container.wrapword.post-under-review
          .post-container-right-after
            %span.f400
              Under Review
            - if current_user and current_user.moderator?
              = render 'posts/actions/pending_review_as_moderator', post: post
            = render 'posts/actions/edit', post: post
            %a{ href: "#c#{current_index}" }
              = "##{current_index}"
          - if post.topic.user == post.user
            .post-container-right-bottom-after.original-poster-badge
              Original Poster
          %div{ id: "post_#{post.id}_container" }
            .post-user-name-container
              = render 'users/forum_name', user: post.user
            = render 'posts/formatted', post: post
            .small.text-muted{ style: 'font-weight: 300' }
              = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
    - else
      .col-xs-1.reset-layout.text-right
        = render 'forums/user_image', user: post.user, size: 50
      .col-xs-11
        .post-container.wrapword
          .post-container-right-after
            = render 'posts/actions/edit', post: post
            %a{ href: "#c#{current_index}" }
              = "##{current_index}"
          - if post.topic.user == post.user
            .post-container-right-bottom-after.original-poster-badge
              Original Poster
          %div{ id: "post_#{post.id}_container" }
          .post-user-name-container
            = render 'users/forum_name', user: post.user
          = render 'posts/formatted', post: post
          .small.text-muted{ style: 'font-weight: 300' }
            = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
