= render 'reactions/like_form', post: post
= render 'reactions/request_form', post: post
.clearfix
.comment-group
  = render 'reactions/summary', post: post
  = render 'comments/previous_comments', post: post
  = render 'comments/comment_form', post: post
