.recent-post-container
  .poster-image
    = render 'forums/user_image_link', user: post.user, size: 50
  .post.wrapword
    .post-header
      %h5.f300.poster-details
        %span.f500
          - if post.user == current_user
            - if current_user.forum_name.present?
              = link_to "You", member_path(current_user.forum_name), class: 'no-underline darkerer-blue'
            - else
              You
          - elsif post.user.forum_name.present?
            = link_to post.user.forum_name, member_path(post.user.forum_name), class: 'no-underline darkerer-blue'
          - else
            Anonymous
        = post.is_first_post? ? "started the topic" : "replied to"
        %br.visible-xs
        = link_to post.topic.name, forum_topic_post_path(post.topic.forum, post.topic, post), class: 'no-underline'
      %p.small.post-time
        = post.created_at.strftime("%-d %B %Y, %-l:%M %p")
    .post-content
      = render 'posts/formatted', post: post
    - if current_user and not post.topic.locked?
      .reply-container
        - new_post = post.topic.posts.new
        = form_for [post.topic.forum, post.topic, new_post], html: { class: 'form-horizontal' } do |f|

          - if current_user.moderator?
            = f.hidden_field :status, value: 'approved'

          .reply
            .reply-user
              = image_tag current_user.photo_url, class: 'reply-user-image'
            .reply-field
              = f.text_area :description, rows: 1, style: 'resize: none;', class: 'reply-text-area', data: { object: 'text-area-autocomplete' }
            .reply-submit
              = f.submit "Reply", class: 'btn btn-primary reply-button', data: { disable_with: "Posting" }
