.post-content-container
  .post-header
    .poster-image
      = render 'forums/user_image_link', user: post.user, size: 50
    .poster-details
      %p
        - if post.user == current_user
          = link_to "You", member_path(current_user.forum_name), class: 'no-underline darkerer-blue'
        - else
          = link_to post.user.forum_name, member_path(post.user.forum_name), class: 'no-underline darkerer-blue'
      %p.small
        = post.is_first_post? ? 'started the topic' : 'replied to'
        = link_to post.topic.name, [post.topic, post]
        &middot;
        %span.post-time= time_ago_in_words(post.created_at) + ' ago'
  .post.wrapword
    .post-content
      = render 'posts/formatted', post: post
      - if current_user
        %div{ id: "reaction-container-#{post.id}"}
          = render 'posts/reactions_and_comments', post: post
