%a.settings-anchor#coenrollment-status
.content-container.center
  .content-header
    %h3.f300
      Co-Enrollment Status
  .content-body

    - if current_user.incoming_heh_token.present?
      -# Has signed in or joined from Health eHeart
      %p.lead
        Congratulations! You have successfully linked your Health eHeart and
        MyApnea.Org accounts.
      %p.lead
        If you no longer wish for the accounts be linked click the following link:
        = link_to 'Unlink My Health eHeart account', remove_health_eheart_path, method: :patch, data: { confirm: 'Are you sure you want to remove the link to your Health eHeart account?' }, class: 'btn btn-warning btn-xs'
    - elsif current_user.outgoing_heh_at.present?
      -# Has visited Health eHeart and don't have an incoming token
      You already visited Health eHeart on
      = succeed ',' do
        = current_user.outgoing_heh_at.strftime '%a, %-d %b %Y'
      but if you would like to visit again,
      = succeed '!' do
        = link_to 'click here', join_health_eheart_path
    - else
      -# Has not visited Health eHeart and doesn't have a incoming token
      Hey do you want to link up with Health eHeart?
      = link_to 'Click here to learn more!', join_health_eheart_path
