- consent_page_content = page_content('consent')
- part_of_registration = false unless defined?(part_of_registration)

.content-container{ style: 'margin-bottom: 0px;'}
  .content-header{ style: 'background-color: #f3f3f3;' }
    - if current_user and !part_of_registration
      .before.lead.f500= consent_page_content['before']['head']
    %p
      = consent_page_content['before']['content']['text_1']
      = link_to "privacy policy", privacy_path, target: '_blank'
      = consent_page_content['before']['content']['text_2']
    %br
  .content-body
    .row
      .col-md-12
        #print-area
          = markdown consent_page_content['consent']
          - if current_user.present? and !current_user.accepted_consent_at.present?
            = markdown "If you wish to be in this study, please click the button that says **“I agree and accept”**"
        %br/
        = link_to "#", id: "print-link", class: 'print-link pull-right btn btn-xs btn-primary' do
          %i.fa.fa-print
          Print Consent
  - if current_user and !part_of_registration
    .content-footer.centered
      - if current_user.ready_for_research?
        = link_to :back, class: 'btn btn-lg btn-default' do
          .fa.fa-arrow-left
          &nbsp;
          Go Back
        = link_to "Leave Research Study", revoke_consent_path, method: :post, class: 'btn btn-warning btn-lg'
      - elsif current_user.accepted_consent?
        - continue_path = part_of_registration ? get_started_step_one_path : privacy_path
        = link_to "Continue to review privacy policy", continue_path, class: 'btn btn-primary btn-lg'
      - else
        - cancel_path = part_of_registration ? get_started_step_three_path : :back
        = link_to "I agree and accept", accepts_consent_path(get_started: part_of_registration), method: :post, class: 'btn btn-primary btn-lg'
        = link_to "I decline", cancel_path, class: 'btn btn-danger btn-lg'
