- progress1 = false unless defined?(progress1)
- progress2 = false unless defined?(progress2)
- progress3 = false unless defined?(progress3)

#registration-progress
  = link_to get_started_step_one_path do
    .circle-progress{ class: "#{'viewed' if progress1} clickable" }
      %h3 1
  .track-progress{ class: "#{'viewed' if progress2}" }
  = link_to get_started_step_two_path do
    .circle-progress{ class: "#{'viewed' if progress2} #{'clickable' if @step2_clickable}" }
      %h3 2
  .track-progress{ class: "#{'viewed' if progress3}" }
  = link_to get_started_step_three_path do
    .circle-progress{ class: "#{'viewed' if progress3} #{'clickable' if @step3_clickable}" }
      %h3 3
