- privacy_page_content = page_content('privacy_policy')
- part_of_registration = false unless defined?(part_of_registration)

.content-container
  .content-body
    #print-area
      %h1.f300= privacy_page_content['title']
      - privacy_page_content = page_content('privacy_policy')
      = markdown privacy_page_content['privacy_policy']
      - if current_user and current_user.accepted_privacy_policy_at.blank?
        = markdown 'If you wish to be in this study please click the button that says **"I have read the privacy policy"**'
    %br/
    = link_to "#", id: "print-link", class: 'print-link pull-right btn btn-xs btn-primary' do
      %i.fa.fa-print
      Print Privacy Policy
  - if current_user
    .content-footer.centered
      - if current_user.ready_for_research?
        = succeed ' ' do
          = link_to :back, class: 'btn btn-lg btn-default-custom' do
            .fa.fa-arrow-left
            &nbsp;
            Go Back
        = link_to "Leave Research Study", revoke_consent_path, method: :post, class: 'btn btn-warning-custom btn-lg'
      - elsif current_user.accepted_privacy_policy?
        - if current_user.is_only_academic?
          = link_to "Continue to review terms of access", terms_of_access_path, class: 'btn btn-primary-custom btn-lg'
        - else
          - continue_path = part_of_registration ? get_started_step_two_path : consent_path
          = link_to "Continue to review consent", continue_path, class: 'btn btn-primary-custom btn-lg'
      - else
        - continue_path = accepts_privacy_path(get_started: part_of_registration)
        - cancel_path = part_of_registration ? get_started_step_two_path : :back
        = link_to "I have read the privacy policy", continue_path, method: :post, class: 'btn btn-primary-custom btn-lg'
        = link_to "I decline", cancel_path, class: 'btn btn-default-custom btn-lg'
