.container{ style: 'position: relative' }
  .row
    .col-sm-4.col-sm-push-8
      #account-link-container
        .content-container
          .content-body
            %p.lead
              What do you need help with?
            = link_to '#change-picture' do
              Changing my picture
            = link_to '#change-information' do
              Changing my basic info (name, email, etc)
            = link_to '#change-member-type' do
              Changing my role (patient, caregiver, etc)
            = link_to '#change-password' do
              Changing my password
            = link_to '#select-provider' do
              Linking with my care provider
            = link_to '#notification-preferences' do
              Receiving email notifications
            = link_to '#coenrollment-status' do
              Co-enrolling with Health eHeart
            - if current_user.ready_for_research?
              = link_to '#leave-study' do
                I want to leave the research study
    .col-sm-8.col-sm-pull-4
      #account-section-container
        - unless current_user.ready_for_research?
          = render 'account/join_leave_research_study'

        %a.settings-anchor#change-picture
        - if current_user.provider?
          = render 'providers/providers_profile'
        - else
          = render 'social/social_profile'


        %a.settings-anchor#change-information
        .content-container
          .content-header
            %h3.f300.centered
              Basic Information
          .content-body
            = form_for current_user, url: update_account_path, html: { class: 'form-horizontal' } do |f|
              .form-group
                = f.label :first_name, class: 'col-sm-3 control-label'
                .col-sm-6
                  = f.text_field :first_name, class: 'form-control', placeholder: User.human_attribute_name(:first_name), autocomplete: :off
              .form-group
                = f.label :last_name, class: 'col-sm-3 control-label'
                .col-sm-6
                  = f.text_field :last_name, class: 'form-control', placeholder: User.human_attribute_name(:last_name), autocomplete: :off
              .form-group
                = f.label :email, class: 'col-sm-3 control-label'
                .col-sm-6
                  = f.email_field :email, class: 'form-control', placeholder: User.human_attribute_name(:email), autocomplete: :off
              .form-group
                = f.label :address_1, 'Address', class: 'col-sm-3 control-label'
                .col-sm-6
                  = f.text_field :address_1, class: 'form-control', placeholder: 'Street address', autocomplete: :off
              .form-group
                .col-sm-3
                .col-sm-6
                  = f.text_field :address_2, class: 'form-control', placeholder: 'Apt, suite, unit, etc.', autocomplete: :off
              .form-group
                = f.label :city, class: 'col-sm-3 control-label'
                .col-sm-6
                  = f.text_field :city, class: 'form-control', placeholder: User.human_attribute_name(:city), autocomplete: :off
              .form-group
                = f.label :zip_code, class: 'col-sm-3 control-label'
                .col-sm-6
                  = f.text_field :zip_code, class: 'form-control', placeholder: User.human_attribute_name(:zip_code), autocomplete: :off
              .form-group
                = f.submit "Save Changes", class: 'btn btn-primary-custom col-xs-4 col-xs-offset-4'

        %a.settings-anchor#change-member-type
        .content-container
          .content-header
            %h3.f300.centered
              Your Role
          .content-body.centered
            - if current_user.has_user_type?
              .horizontal-inset
                - current_user.user_type_names.each do |type|
                  %h5.f300= type
              %br
              %p.lead
                If this is incorrect, please
                = link_to 'change your user type.', describe_yourself_path, class: 'no-underline'


        %a.settings-anchor#change-password
        .content-container
          .content-header
            %h3.f300.centered
              Change Your Password
          .content-body
            = form_for current_user, url: change_password_path, html: { class: 'form-horizontal' } do |f|
              .form-group
                = f.label :current_password, class: 'col-sm-3 control-label'
                .col-sm-6
                  = f.password_field :current_password, class: 'form-control', placeholder: 'Current password'
                  - if errors = current_user.errors[:current_password] and errors.present?
                    .bs-callout.bs-callout-danger
                      Please enter your
                      %strong current
                      password in order to set a new password.
              .form-group
                = f.label :password, class: 'col-sm-3 control-label'
                .col-sm-6
                  = f.password_field :password, class: 'form-control', placeholder: "New password"
                  - if errors = current_user.errors[:password] and errors.present?
                    .bs-callout.bs-callout-danger
                      Please enter a new password that is at least 8 characters long.
              .row
                = f.submit "Change Password", class: 'btn btn-primary-custom col-xs-4 col-xs-offset-4'


        %a.settings-anchor#select-provider
        .content-container.centered
          .content-header
            %h3.f300
              Your Provider
          .content-body
            - if current_user.my_provider.present?
              %p.lead
                You have listed
                %strong= current_user.my_provider.provider_name
                as your preferred provider.
                If you wish, you may
                = link_to 'unlist', update_account_path(user: { provider_id: nil }), method: :patch, class: 'btn btn-warning btn-xs'
                yourself from this provider's network.
            - else
              %p.lead
                You have not listed a provider. You can search through the registered providers
                = link_to 'here', providers_path
                and see if your provider has registered. If they haven't you should
                = link_to 'invite them!', "mailto:?subject=Join MyApnea.Org"

        %a.settings-anchor#notification-preferences
        .content-container.centered
          .content-header
            %h3.f300
              Notification Preferences
          .content-body
            - if current_user.emails_enabled?
              %p.lead
                You are currently set to receive emails from
                = ENV['pprn_title']
                %br
                If you prefer, you can
                = link_to 'unsubscribe', update_account_path(user: { emails_enabled: '0' }), method: :patch, class: 'btn btn-warning btn-xs'
                from emails.
            - else
              %p.lead
                You are currently unsubscribed from emails from
                = ENV['pprn_title']
                %br
                If you prefer, you can
                = link_to 'enable', update_account_path(user: { emails_enabled: '1' }), method: :patch, class: 'btn btn-primary-custom btn-xs'
                emails.

  = render 'account/coenrollment'

  - if current_user.ready_for_research?
    %a.settings-anchor#leave-study
    = render 'account/join_leave_research_study'
