- @page_title = "Account"
.content-main-header
  %h1 Account Settings
- unless current_user.ready_for_research?
  = render partial: 'account/join_leave_research_study'
- if current_user.is_provider?
  = render partial: 'providers/providers_profile'
-else
  = render partial: 'social/social_profile'
.panel
  .panel-heading
    %h4.f300 Basic Information
  .panel-body
    = form_for current_user, url: update_account_path, html: { class: 'form-horizontal' } do |f|
      .form-group
        = f.label :first_name, class: 'col-sm-2 control-label input-lg'
        .col-sm-10
          = f.text_field :first_name, class: 'form-control input-lg', placeholder: User.human_attribute_name(:first_name), autocomplete: :off
      .form-group
        = f.label :last_name, class: 'col-sm-2 control-label input-lg'
        .col-sm-10
          = f.text_field :last_name, class: 'form-control input-lg', placeholder: User.human_attribute_name(:last_name), autocomplete: :off
      .form-group
        = f.label :email, class: 'col-sm-2 control-label input-lg'
        .col-sm-10
          = f.email_field :email, class: 'form-control input-lg', placeholder: User.human_attribute_name(:email), autocomplete: :off
      .form-group{ style: 'clear:both;' }
        = f.label :country_code, 'Country', class: 'col-sm-2 control-label input-lg'
        .col-sm-10
          = f.select :country_code, [['---', nil]] + Map::MAP_COUNTRIES_AND_CODES, {}, class: 'form-control input-lg'
      .form-group
        = f.label :state_code, 'State', class: 'col-sm-2 control-label input-lg'
        .col-sm-10
          = f.select :state_code, [['---', nil]] + Map::MAP_STATES_AND_CODES, {}, class: 'form-control input-lg'
      = f.submit "Save Changes", class: 'btn btn-primary pull-right'
  .panel-footer.text-dark9{ style: 'margin:10px 0;'}
    - if current_user.has_user_type?
      %h4.f500.centered-text You describe yourself as:
      .centered-text{ style: 'margin: 20px;' }
        - current_user.user_types.each do |type|
          %p= type
      %h5.f300.centered-text
        If this is incorrect, please
        = link_to 'change your user type.', describe_yourself_path
.panel
  .panel-heading
    %h4.f300 Change Password
  .panel-body
    = form_for current_user, url: change_password_path do |f|
      .form-group
        = f.label :current_password, class: "sr-only"
        = f.password_field :current_password, class: 'form-control input-lg', placeholder: 'Current Password'
      .form-group
        = f.label :password, class: 'sr-only'
        = f.password_field :password, class: 'form-control input-lg', placeholder: "New Password"
      = f.submit "Change My Password", class: 'btn btn-primary pull-right'
- if current_user.my_provider
  .panel
    .panel-heading
      %h4.f300 My Listed Provider
    .panel-body
      You have listed
      %strong= current_user.my_provider.provider_name
      as your preferred provider.
      If you wish, you may
      = link_to 'unlist', update_account_path(user: { provider_id: nil }), method: :patch, class: 'btn btn-warning btn-xs'
      yourself from this provider's network.
.panel
  .panel-heading
    %h4.f300 Notification Preferences
  .panel-body
    - if current_user.emails_enabled?
      You are currently set to receive emails from
      = ENV['pprn_title']
      %br
      If you prefer, you can
      = link_to 'unsubscribe', update_account_path(user: { emails_enabled: '0' }), method: :patch, class: 'btn btn-warning btn-xs'
      from emails.
    - else
      You are currently unsubscribed from emails from
      = ENV['pprn_title']
      %br
      If you prefer, you can
      = link_to 'enable', update_account_path(user: { emails_enabled: '1' }), method: :patch, class: 'btn btn-primary btn-xs'
      emails.
- if current_user.ready_for_research?
  = render partial: 'account/join_leave_research_study'
