- @page_title = "Account"
#account-link-container.well
  %h2.f300
    Welcome to your settings.
  %p.lead
    Need help with a specific topic? Click on one of these links to get there quickly.
  = link_to '#q1' do
    .list-group-item
      I want to change my picture that appears on the forums
  = link_to '#q2' do
    .list-group-item
      I want to change my basic information (name, email, etc)
  = link_to '#q3' do
    .list-group-item
      I want to change my member description (at-risk patient, diagnosed, care provider, etc.)
  = link_to '#q4' do
    .list-group-item
      I want to change my password
  = link_to '#q5' do
    .list-group-item
      I want to link with my care provider
  = link_to '#q6' do
    .list-group-item
      I want to change how I receive notifications
  - if current_user.ready_for_research?
    = link_to '#q7' do
      .list-group-item
        I want to leave the research study

- unless current_user.ready_for_research?
  = render partial: 'account/join_leave_research_study'

%hr

%a.anchor#q1
- if current_user.is_provider?
  = render partial: 'providers/providers_profile'
- else
  = render partial: 'social/social_profile'

%hr

%a.anchor#q2
.panel
  .panel-body
    %h3.f300.centered-text
      Basic Information
    %br
    = form_for current_user, url: update_account_path, html: { class: 'form-horizontal' } do |f|
      .form-group.row
        = f.label :first_name, class: 'col-sm-3 control-label'
        .col-sm-6
          = f.text_field :first_name, class: 'form-control', placeholder: User.human_attribute_name(:first_name), autocomplete: :off
      .form-group.row
        = f.label :last_name, class: 'col-sm-3 control-label'
        .col-sm-6
          = f.text_field :last_name, class: 'form-control', placeholder: User.human_attribute_name(:last_name), autocomplete: :off
      .form-group.row
        = f.label :email, class: 'col-sm-3 control-label'
        .col-sm-6
          = f.email_field :email, class: 'form-control', placeholder: User.human_attribute_name(:email), autocomplete: :off
      .form-group.row
        = f.label :country_code, 'Country', class: 'col-sm-3 control-label'
        .col-sm-6
          = f.select :country_code, [['---', nil]] + Map::MAP_COUNTRIES_AND_CODES, {}, class: 'form-control'
      .form-group.row
        = f.label :state_code, 'State', class: 'col-sm-3 control-label'
        .col-sm-6
          = f.select :state_code, [['---', nil]] + Map::MAP_STATES_AND_CODES, {}, class: 'form-control'
      .row
        = f.submit "Save Changes", class: 'btn btn-primary col-xs-4 col-xs-offset-4 centered-text'
  .panel-footer.text-dark9{ style: 'margin:10px 0;'}
    %a.anchor#q3
    - if current_user.has_user_type?
      %h4.f500.centered-text You describe yourself as:
      .centered-text{ style: 'margin: 20px;' }
        - current_user.user_types.each do |type|
          %p.lead= type
      %h5.f300.centered-text
        If this is incorrect, please
        = link_to 'change your user type.', describe_yourself_path

%hr

%a.anchor#q4
.panel
  .panel-body
    %h3.f300.centered-text
      Change Your Password
    %br
    = form_for current_user, url: change_password_path do |f|
      .form-group
        = f.label :current_password, class: "sr-only"
        = f.password_field :current_password, class: 'form-control input-lg', placeholder: 'Current Password'
      .form-group
        = f.label :password, class: 'sr-only'
        = f.password_field :password, class: 'form-control input-lg', placeholder: "New Password"
      .row
        = f.submit "Change Password", class: 'btn btn-primary col-xs-4 col-xs-offset-4 centered-text'

%hr

%a.anchor#q5
.panel
  .panel-body
    %h3.f300.centered-text
      Your Provider
    %br
    - if current_user.my_provider.present?
      %p.lead
        You have listed
        %strong= current_user.my_provider.provider_name
        as your preferred provider.
        If you wish, you may
        = link_to 'unlist', update_account_path(user: { provider_id: nil }), method: :patch, class: 'btn btn-warning btn-xs'
        yourself from this provider's network.
    - else
      %p.lead
        You have not listed a provider. You can search through the registered providers
        = link_to 'here', providers_path
        and see if your provider has registered. If they haven't you should
        = link_to 'invite them!', "mailto:?subject=Join MyApnea.Org"

%hr

%a.anchor#q6
.panel
  .panel-body
    %h3.f300.centered-text
      Notification Preferences
    %br
    - if current_user.emails_enabled?
      %p.lead
        You are currently set to receive emails from
        = ENV['pprn_title']
        %br
        If you prefer, you can
        = link_to 'unsubscribe', update_account_path(user: { emails_enabled: '0' }), method: :patch, class: 'btn btn-warning btn-xs'
        from emails.
    - else
      %p.lead
        You are currently unsubscribed from emails from
        = ENV['pprn_title']
        %br
        If you prefer, you can
        = link_to 'enable', update_account_path(user: { emails_enabled: '1' }), method: :patch, class: 'btn btn-primary btn-xs'
        emails.

%hr

- if current_user.ready_for_research?
  %a.anchor#q7
  = render partial: 'account/join_leave_research_study'
