.broadcast-info
  - if broadcast.category&.show_on_blog_roll
    .float-right
      &nbsp;
      = link_to blog_post_path(broadcast.url_hash.merge(anchor: "comments")), class: "no-underline", data: { turbolinks: false } do
        %i.fa.fa-comments
        = broadcast.replies.count
  By
  = link_to broadcast.user.username, posts_member_path(broadcast.user.username)
  - if broadcast.category&.show_on_blog_roll
    on
    %i.d-none.d-md-inline= broadcast.publish_date.strftime "%B %-d, %Y"
    %i.d-inline.d-md-none= broadcast.publish_date.strftime "%b %-d, %Y"
  - if broadcast.category
    in
    = link_to broadcast.category.name, blog_category_path(category: broadcast.category)
