= render 'blog/author_and_category', broadcast: broadcast

.broadcast
  = first_image(broadcast)
  %p
    = strip_tags(simple_markdown broadcast.description, true, false).gsub(/\r/, ' ').gsub(/\n/, ' ').truncate(500, separator: '.', omission: '.').html_safe
    = link_to 'Keep reading', blog_post_path(broadcast.url_hash), class: 'nowrap'
    %i.fa.fa-arrow-right.primary-blue
  %p
    = link_to blog_post_path(broadcast.url_hash.merge(anchor: 'comments')), class: 'comments-link' do
      Comments
      = surround '(', ')' do
        = broadcast.broadcast_comments.count
