- @title = 'Blog'

- content_for :banner do
  .content-main-header
    .container
      %h1
        = ENV['website_name']
        Blog
        - if current_user && current_user.community_contributor?
          = link_to new_broadcast_path, class: 'btn btn-xs btn-default' do
            %span.glyphicon.glyphicon-plus
            New Blog Post

- @background_color = '#fff'
.container
  .row
    .col-sm-9
      - @broadcasts.each do |broadcast|
        %div{ style: 'margin-bottom: 80px;' }
          %h2.broadcast-title= link_to broadcast.title, blog_post_path(broadcast.url_hash)
          = render 'blog/show', broadcast: broadcast
          = link_to blog_post_path(broadcast.url_hash.merge(anchor: 'comments')), class: 'btn btn-xs btn-default' do
            Comments
            = surround '(', ')' do
              = broadcast.broadcast_comments.count
            %span.glyphicon.glyphicon-arrow-right
      .center= paginate @broadcasts, theme: 'bootstrap'
    .col-sm-3.col-buffer
      = render 'blog/menu'
