- @title = ['Blog', @category ? @category.name : nil, @author ? @author.forum_name : nil].compact.join(' | ')

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title
        = render 'search/toggle'

= render 'search/simple', url: search_path

.row
  .col-sm-9
    - @broadcasts.each do |broadcast|
      .dashboard-container.broadcast-container
        %h2.broadcast-title{ style: 'margin-top: 0;border-bottom: 0;' }= link_to broadcast.title, blog_post_path(broadcast.url_hash)
        = render 'blog/extract', broadcast: broadcast
    .center= paginate @broadcasts, theme: 'bootstrap'
  .col-sm-3.col-sticky
    .dashboard-container
      = render 'blog/menu'
