- @title = ["Blog", @category ? @category.name : nil, @author ? @author.username : nil].compact.join(" | ")

- @menu = "blue"
- @body = "grey"
- @footer = "grey"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.row
  .col-lg-9
    - @broadcasts.each do |broadcast|
      .dashboard-container.broadcast-container
        %h2.broadcast-title.mt-0{ style: "border-bottom: 0;" }= link_to broadcast.title, blog_post_path(broadcast.url_hash)
        = render "blog/extract", broadcast: broadcast
    .center-horizontally= paginate @broadcasts, theme: "bootstrap"
  .col-lg-3
    .dashboard-container.col-sticky
      = render "blog/menu"
