- @title = @broadcast.title
- @keywords = @broadcast.keywords

- content_for :body_class do
  myapnea-light-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        - if current_user && current_user.community_contributor? && @broadcast.editable_by?(current_user)
          .float-right
            = link_to pencil_or("Edit Blog Post"), edit_broadcast_path(@broadcast), class: "btn btn-accent btn-shadow"
        = @title

.row
  .col-md-9
    .dashboard-container.broadcast-container
      = render "blog/show", broadcast: @broadcast
  .col-md-3
    .dashboard-container.col-sticky
      = render "blog/menu"

.broadcast-discussion
  .broadcast-discussion-header
    - if @broadcast.replies.count > 0
      all
      = pluralize(@broadcast.replies.count, "comment")
    - else
      no comments
    %div{ style: "display: inline-block" }
      &middot; sorted by
    .dropdown{ style: "display: inline-block"}
      = link_to "#", data: { target: "#", toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }, id: "sort-by-dropdown", class: "text-muted" do
        - case params[:order] when "replies.created_at desc"
          new
        - else
          best
        %span.caret
      %ul.dropdown-menu{ aria: { labelledby: "status-dropdown" } }
        %li= link_to "best", blog_post_path(@broadcast.url_hash.merge(order: "points desc", anchor: "comments")), style: (params[:order].blank? || params[:order] == "points desc") ? "font-weight:bold;" : "", data: { turbolinks: false }
        %li= link_to "new", blog_post_path(@broadcast.url_hash.merge(order: "replies.created_at desc", anchor: "comments")), style: (params[:order] == "replies.created_at desc") ? "font-weight:bold;" : "", data: { turbolinks: false }

    %span#write_reply_root_new{ style: "overflow:hidden" }
      = link_to "Write a Reply", async_parent_reply_path(broadcast_id: @broadcast, parent_reply_id: "root", reply_id: "new"), method: :post, remote: true

  #comment_container_root_new{ style: "display:none" }
    - reply = @broadcast.replies.new
    = render "replies/form", reply: reply

  %a.anchor-top{ name: "comments" }
  = render "replies/index", parent: @broadcast

  .center-horizontally= paginate@replies, theme: "bootstrap-small"
