- @title = @broadcast.title
- @keywords = @broadcast.keywords

- @theme = "default"

- cover_present = @broadcast.cover.present?
.page-box.p-0.last-box{ class: "footer-#{@theme.presence || "default"}-bg" }
  - if cover_present
    .background-blog-image.d-flex.flex-column.justify-content-end{ style: "background-image: url(#{blog_cover_url(@broadcast)});" }
      .blog-cover-overlay
      .blog-title
        .pt-5.pb-1.text-center
          %h1.broadcast-title.mt-0{ style: "border-bottom: 0;" }
            .container= @broadcast.title

  .py-3{ class: "theme-#{@theme.presence || "default"}-bg" }
    .container.remove-last-margin
      .row
        .col-lg-9
          .dashboard-container.mb-4.mb-lg-0.broadcast-container
            - unless cover_present
              %h1.broadcast-title.mt-0{ style: "border-bottom: 0;" }= @broadcast.title
            = render "blog/show", broadcast: @broadcast
        .col-lg-3
          .dashboard-container.mb-0.col-sticky
            = render "blog/menu"
            - if current_user && current_user.community_contributor? && @broadcast.editable_by?(current_user)
              .mt-5= link_to pencil_or("Edit Blog Post"), edit_broadcast_path(@broadcast), class: "btn btn-accent btn-shadow btn-sm btn-block"

      %div{ style: "margin-bottom: 20px" }
        .float-right.d-none.d-md-block{ style: "margin-top: -20px;" }
          = paginate @replies, theme: "bootstrap-small"

  .py-3
    .container
      .broadcast-discussion
        .broadcast-discussion-header
          - if @broadcast.replies.count > 0
            all
            = pluralize(@broadcast.replies.count, "comment")
          - else
            no comments
          %div{ style: "display: inline-block" }
            &middot; sorted by
          .dropdown{ style: "display: inline-block"}
            = link_to "#", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }, class: "text-muted btn-link btn-sm btn-link dropdown-toggle" do
              - case params[:order] when "replies.created_at desc"
                new
              - else
                best
            .dropdown-menu
              = link_to "best", blog_post_path(@broadcast.url_hash.merge(order: "points desc", anchor: "comments")), style: (params[:order].blank? || params[:order] == "points desc") ? "font-weight:bold;" : "", data: { turbolinks: false }, class: "dropdown-item"
              = link_to "new", blog_post_path(@broadcast.url_hash.merge(order: "replies.created_at desc", anchor: "comments")), style: (params[:order] == "replies.created_at desc") ? "font-weight:bold;" : "", data: { turbolinks: false }, class: "dropdown-item"

          %span#write_reply_root_new{ style: "overflow: hidden;" }
            = link_to "Write a Reply", async_parent_reply_path(broadcast_id: @broadcast, parent_reply_id: "root", reply_id: "new"), method: :post, remote: true

        #comment_container_root_new{ style: "display:none" }
          - reply = @broadcast.replies.new
          = render "replies/form", reply: reply

        %a.anchor-top{ name: "comments" }
        = render "replies/index", parent: @broadcast

        .center-horizontally= paginate @replies, theme: "bootstrap-small"
