.forum-container
  %h3
    - unless location == 'home'
      = link_to 'Forums', forem.root_path
      &middot;
    = link_to forem_emojify(forum.title), forem.forum_path(forum)
    - if location == 'home'
      = link_to forem.forum_path(forum), class: 'btn btn-sm pull-right btn-primary hidden-xs' do
        Enter Forum
        %span.fa.fa-arrow-right
    %p.lead.text-info
      = forem_format(forum.description)
  %hr/

  - if forum.last_visible_post(forem_user)
    - topic_scope = forum.topics.where(state: 'approved').order(last_post_at: :desc)
    - topic_scope = topic_scope.limit(3) if location == 'home'
    - topic_scope.each do |topic|
      .topic-container
        .row
          .col-xs-1{ style: 'text-align:right' }
            = render partial: 'forem/forums/user_image', locals: { user: topic.user, size: 25 }
          .col-md-11.col-xs-10.col-xs-offset-1.col-md-offset-0{ style: 'border-left: 1px solid #5999de;' }
            %p.lead{ style: 'margin-bottom:10px' }= link_to topic, forem.forum_topic_path(forum, topic), class: 'content-link-primary', style: 'text-decoration:none'
        - number_of_previous_posts = topic.posts.where(state: 'approved').count - 1
        - if number_of_previous_posts > 0
          .row
            .col-md-11.col-xs-10.col-xs-offset-2.col-md-offset-1{ style: 'border-left: 1px solid #5999de;padding-bottom:10px' }
              = link_to forem.forum_topic_path(forum, topic) do
                .text-muted{ style: 'font-weight: 300' }
                  %i.fa.fa-comments-o
                  = pluralize topic.posts.where(state: 'approved').count - 1, 'previous post'
        - if post = topic.posts.where(state: 'approved').order(created_at: :desc).last
          .row
            .col-xs-1
            .col-md-11.col-xs-10.col-xs-offset-1.col-md-offset-0{ style: 'border-left: 1px solid #5999de;padding-bottom:0px;margin-bottom:10px' }
              .row
                .col-xs-2.col-sm-1
                  = render partial: 'forem/forums/user_image', locals: { user: post.user, size: 20 }
                .col-xs-10.col-sm-11
                  %p
                    - link_string = "&nbsp;" + link_to('more...'.html_safe, forem.forum_topic_post_path(post.forum, post.topic, post), class: 'content-link-primary small')
                    = strip_tags(strip_quote(post.text)).truncate(80 + link_string.size, separator: ' ', omission: link_string ).html_safe
                  .small.text-muted{ style: 'font-weight: 300' }
                    %abbr{ title: post.created_at.strftime("%-d %B %Y, %-l:%M %p"), data: { toggle: 'tooltip', container: 'body', placement: 'bottom' } }= (time_ago_in_words(post.created_at) + t("ago")).html_safe
                    = t('by')
                    = post.user.forem_name
  - else
    %hr/
    %br/
    .text-warning.text-center No post so far!
    %br/
  .clearfix
