- if can?(:read, forum)
  .list-group-item
    %h3.list-group-heading
      = link_to forem_emojify(forum.title), forem.forum_path(forum), :class => "title"
      = link_to forem.forum_path(forum), class: 'btn btn-sm pull-right btn-primary' do
        %strong Enter Forum&nbsp;
        %span.fa.fa-arrow-right
    .list-group-body
      %h4.description.text-info= forem_format(forum.description)


      .last_posts
        - if forum.last_visible_post(forem_user)
          - forum.posts.approved_or_pending_review_for(forem_user).reverse[0,3].each do |post|
            %hr/
            = link_to forem.forum_topic_path(forum, post.topic), class: "topic-link" do
              .col-sm-1
                = image_tag post.user.photo_url, class: "img-responsive img-thumbnail"
              .col-sm-8
                = truncate(post.text, length: 200)
              .col-sm-3
                .text-muted.text-small
                  %time{:datetime => post.created_at.to_s(:db)}= "posted #{time_ago_in_words(post.created_at)} #{t("ago")}"
                  = t('by')
                  = post.user.forem_name
              .clearfix

        - else
          %hr/
          %br/
          .text-warning.text-center No post so far!
          %br/
      .clearfix