.forum
  = render :partial => 'forem/forums/head', :locals => { :forum => @forum }
  = forem_pages_widget(@topics)
  .panel.panel-default
    .panel-heading
      %h4.pull-left Conversations in this forum
      #forum_topic_links.btn-group.pull-right.btn-group-sm
        - if can? :moderate, @forum
          = link_to t('forem.forum.moderator_tools'), forem.forum_moderator_tools_path(@forum), :class => "btn btn-danger"
      .clearfix
    %table.topics.table-hover.table
      %thead
        %tr
          %th.icon
          %th.byline Topic
          %th.latest-post.text-center= t('forem.topic.headings.latest')
          %th.posts-count.text-center= t('forem.topic.headings.posts')
          %th.views-count.text-center= t('forem.topic.headings.views')
      %tbody
        - if @topics.empty?
          %tr
            %td{:align => "center", :colspan => "5"}= t('forem.topic.none')
        = render @topics
    - unless @topic.try(:new_record?)
      - if can? :create_topic, @forum
        .panel-body
          = link_to forem.new_forum_topic_path(@forum), :class => "btn btn-primary btn-block btn-sm", :id => "new-topic" do
            .fa.fa-plus
            &nbsp; Start a new conversation

  = forem_pages_widget(@topics)
