- @title = "Your Social Profile"

= form_for @social_profile, html: {role: "form", class: 'form-horizontal'}, url: social_profile_path do |f|
  .panel.panel-default
    .panel-heading
      %h4 Do you want want to publicly share the following information on MyApnea.Org?
      .radio
        %label
          = f.radio_button :make_public, true, id: 'optionsRadios2'
          %strong
            Yes&nbsp;&nbsp;-&nbsp;
          %span Make my nickname, city, sex, and age publicly available.

      .radio
        %label
          = f.radio_button :make_public, false, id: 'optionsRadios1'
          %strong
            No&nbsp;&nbsp;-&nbsp;
          %span Let me participate as an anonymous user.

    .panel-body
      - if @social_profile.errors.any?
        .alert.alert-danger.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          %strong Profile Errors
          %ul
            - @social_profile.errors.full_messages.each do |msg|
              %li= msg.html_safe

      .form-group
        %label.col-sm-3.control-label
          = image_tag current_user.photo_url, :class => "img-responsive img-thumbnail"
        .col-sm-9
          - if @social_profile.photo.present?
            %h3 Change Photo
          - else
            %h3 Upload Photo
          =f.file_field :photo
      .form-group
        %label.col-sm-3.control-label Nickname
        .col-sm-6
          =f.text_field(:name, class: 'form-control')
      .form-group
        %label.col-sm-3.control-label City
        .col-sm-6
          =f.text_field(:location, autocomplete: 'off', id: 'location', class: 'form-control')
          =f.hidden_field :latitude
          =f.hidden_field :longitude
          =f.hidden_field :location_id
      .form-group
        %label.col-sm-3.control-label Age
        .col-sm-6
          =f.number_field(:age, class: 'form-control')
      .form-group
        %label.col-sm-3.control-label Sex
        .col-sm-6
          =f.select(:sex, ["Male", "Female", "Other"], {}, class: 'form-control')
      =f.submit("Save", class: 'btn btn-primary pull-right')

= javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyBB91qMUvtmPzct9z7slTqm-lTUEVuYjKo"
= javascript_include_tag 'typeahead-addresspicker'
= javascript_include_tag 'social/places'
