#container-right.no-js
  -if true
    #container-right-notfixed
      -if current_user
        = render partial: 'layouts/beta/alerts/right_nav_opt_in'
        .row.reset-layout{ style: 'padding-top: 20px;' }
          .col-md-5.col-sm-12.col-xs-5.centered-text
            = link_to social_profile_path do
              = image_tag current_user.photo_url, class: "user-picture", style: 'max-width:65px; max-height:65px;'
          .col-md-7.col-sm-12.col-xs-7.reset-layout#user-profile-header-text
            %h4.f300.text-white
              = current_user.name
            = link_to account_path, style: 'color:white; color:rgba(255,255,255,.8); text-decoration:none;', class: 'f300' do
              %span.glyphicon.glyphicon-cog{ style: 'margin-bottom:10px' }
              Settings
            %br
            = link_to main_app.destroy_user_session_path, style: 'color:white; color:rgba(255,255,255,.8); text-decoration:none;', class: 'f300', :method => :delete do
              %i.fa.fa-sign-out{ style: 'margin-bottom:10px' }
              Sign out
            %br
            - if current_user.is_owner? or current_user.is_moderator?
              = link_to admin_path, style: 'color:white; color:rgba(255,255,255,.8); text-decoration:none;', class: 'f300' do
                %i.fa.fa-wrench
                Admin Panel
          .row.reset-layout
            = link_to forums_path, class: 'user-stats' do
              .col-xs-4
                = current_user.approved_posts.count
                %p.small
                  = "Post".pluralize(current_user.approved_posts.count)
            = link_to surveys_path, class: 'user-stats' do
              .col-xs-4
                = current_user.complete_surveys.count
                %p.small
                  = "Survey".pluralize(current_user.complete_surveys.count)
            = link_to research_topics_path, class: 'user-stats' do
              .col-xs-4
                = current_user.number_votes_remaining
                %p.small
                  = "Vote".pluralize(current_user.number_votes_remaining)
      -else
        .col-sm-12{ style: 'padding-top: 20px;' }
          .centered-text
            = form_tag user_session_path, method: :post do
              = text_field_tag 'user[email]', nil, placeholder: 'Email', class: "form-control"
              = password_field_tag 'user[password]', nil, placeholder: 'Password', class: "form-control"
              = submit_tag 'Login', class: "btn btn-warning ", style: 'width:70%'
      .row.reset-layout
        .col-xs-11.col-xs-offset-1#user-profile-container{style:'margin-top:30px; margin-right:0; padding-right:0; margin-bottom:20px;'}
          %ul.list-group
            = link_to root_path do
              %li.list-group-item.hover-slide-left.list-shrink{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Home
            = link_to forums_path do
              %li.list-group-item.hover-slide-left.list-shrink{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Forums
            = link_to surveys_path do
              %li.list-group-item.hover-slide-left.list-shrink{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Research Surveys
            = link_to research_topics_path do
              %li.list-group-item.hover-slide-left.list-shrink{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Rank the Research
            = link_to intro_path do
              %li.list-group-item.hover-slide-left.list-shrink.visible-xs{style: 'margin-top:50px; color:white; color: rgba(255,255,255,.8); text-decoration: none;'} Introduction
            = link_to team_path do
              %li.list-group-item.hover-slide-left.list-shrink.visible-xs{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Our Team
            = link_to faqs_path do
              %li.list-group-item.hover-slide-left.list-shrink.visible-xs{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } FAQs
            = link_to social_path do
              %li.list-group-item.hover-slide-left.list-shrink.visible-xs{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Community
            = link_to providers_path do
              %li.list-group-item.hover-slide-left.list-shrink.visible-xs{ style: 'color:white; color: rgba(255,255,255,.8); text-decoration: none;' } Become a Provider
    #container-right-scroll.hidden-xs
      .col-md-12.reset-layout.hidden-sm#recent-news-container{ style: '' }
        = render partial: 'layouts/beta/recent_news_posts'
