%ul.list-group#recent-news{ style: 'margin-bottom:0px; padding-bottom:0px;' }
  %li.list-group-item
    %h4.text-white Recent News

  - Notification.all_posts(true).each do |post|
    %li.list-group-item.wrapword{ style: 'background-color: #7FB2EB;' }
      %h5.f300{ style: 'color: white; color: rgba(255,255,255,.8);font-size:18px' }
        = post[:title]
      %p.f400.darkerer-blue{ style: 'margin:0px 10px;font-size:14px' }
        - post_in = (post[:type] == :facebook ? 'Facebook' : 'News')
        - post_url = (post[:type] == :facebook ? post[:user_link] : forum_topic_path(post[:post].forum, post[:post].topic))
        = link_to "Posted in #{post_in} by #{post[:user]}", post_url
      %p.f300.darkerer-blue{ style: 'margin:0px 10px;font-size:14px' }
        = post[:created_at].strftime("%d %b %Y")
      %p{ style: 'margin:10px 10px; color: white; color: rgba(255,255,255,.8); font-size:14px' }
        - content = (post[:type] == :facebook ? post[:content_description] : post[:content])
        = strip_tags(simple_markdown content).truncate(100, separator: ' ').html_safe
