#container-right.no-js
  #container-right-fixed
    -if current_user
      .row{ style: 'padding-top: 10px;' }
        = render partial: 'layouts/navigation/user_profile_display'
    -else
      .row.reset-layout{ style: 'padding-top: 20px;' }
        .centered-text{ style: 'margin: 10px' }
          = form_tag user_session_path, method: :post do
            = text_field_tag 'user[email]', nil, placeholder: 'Email', class: "form-control"
            = password_field_tag 'user[password]', nil, placeholder: 'Password', class: "form-control"
            = submit_tag 'Login', class: "btn btn-warning ", style: 'width:70%'
    .row.reset-layout
      = render partial: 'layouts/navigation/right_nav_main'
    #user-stats.row.reset-layout
      = render partial: 'layouts/navigation/user_stats'
    .row.reset-layout
      = render partial: 'layouts/navigation/right_nav_mobile'
  #container-right-scroll
    .col-xs-12.reset-layout#recent-news-container{ style: '' }
      = render partial: 'layouts/partials/recent_news_posts'
