-if current_user
  %br
  .centered
    = link_to (current_user.forum_name.present? ? member_path(current_user.forum_name) : account_path) do
      = image_tag current_user.photo_url, class: "user-picture", style: 'max-width:100px; max-height:100px;cursor:pointer'
  .clearfix
  .centered
    %h4.f300.text-white
      = current_user.forum_name
    %p.text-light7
      %span.f500 Member since:
      %span.text-light9= current_user.created_at.year
  #user-stats
    .col-xs-4.user-stats
      %p.small.f500.text-dark5
        POSTS
      %h5.text-white5
        = current_user.posts.visible_for_user.not_research.count
    .col-xs-4.user-stats
      %p.small.f500.text-dark5
        SURVEYS
      %h5.text-white5
        = current_user.completed_surveys.count
    .col-xs-4.user-stats
      %p.small.f500.text-dark5
        VOTES
      %h5.large.text-white5
        = current_user.votes.current.count
    .clearfix


-# Progress callouts
%br
- if current_user
  .progress-list
    %p.lead.text-light8.centered-text
      Next steps:
    -# User should have a photo
    - if current_user.photo.present?
      .progress-item
        %span.glyphicon.glyphicon-ok.progress-indicator.progress-indicator-complete
        %p Your picture is great!
    - else
      = link_to account_path(anchor: 'change-picture'), class: 'no-underline' do
        .progress-item
          %span.glyphicon.progress-indicator
          %p Upload your picture
    -# User should introduce themselves on the forum, if such a forum exists
    - if introduction_topic = Topic.find_by_slug('introduce-yourself')
      - if current_user.posts.current.where("topic_id = ?", introduction_topic).present?
        .progress-item
          %span.glyphicon.glyphicon-ok.progress-indicator.progress-indicator-complete
          %p
            Nice to meet you!
      - else
        = link_to forum_topic_path(Forum.find_by_slug('general'), introduction_topic), class: 'no-underline' do
          .progress-item
            %span.glyphicon.progress-indicator
            %p
              Introduce yourself
    -# User should post on the forums
    - if current_user.posts.current.where.not("topic_id = ?", introduction_topic).present?
      .progress-item
        %span.glyphicon.glyphicon-ok.progress-indicator.progress-indicator-complete
        %p
          Thanks for joining the conversation!
    - else
      = link_to forums_path, class: 'no-underline' do
        .progress-item
          %span.glyphicon.progress-indicator
          %p
            Contribute to the discussions
    -# User should complete a survey
    - if current_user.completed_surveys.present?
      .progress-item
        %span.glyphicon.glyphicon-ok.progress-indicator.progress-indicator-complete
        %p
          Thank you - your survey data is powerful.
    - else
      = link_to survey_path('about-me'), class: 'no-underline' do
        .progress-item
          %span.glyphicon.progress-indicator
          %p
            Complete your first survey
    -# User should complete the rank the research tutorial
    - if current_user.experienced_voter?
      .progress-item
        %span.glyphicon.glyphicon-ok.progress-indicator.progress-indicator-complete
        %p
          Thanks for your opinions - you're shaping the future of research!
    - else
      = link_to intro_research_topics_path, class: 'no-underline' do
        .progress-item
          %span.glyphicon.progress-indicator
          %p
            Complete the research tutorial
    -# User should submit their own research topic
    - if current_user.research_topics.current.present?
      .progress-item
        %span.glyphicon.glyphicon-ok.progress-indicator.progress-indicator-complete
        %p
          Thanks for submitting your question!
    - else
      = link_to new_research_topic_path, class: 'no-underline' do
        .progress-item
          %span.glyphicon.progress-indicator
          %p
            Submit your own research question
    -# User should submit their own research topic
    - if current_user.invites.members.present?
      .progress-item
        %span.glyphicon.glyphicon-ok.progress-indicator.progress-indicator-complete
        %p
          Thanks for sharing MyApnea with others!
    - else
      = link_to members_invites_path, class: 'no-underline' do
        .progress-item
          %span.glyphicon.progress-indicator
          %p
            Invite somebody with or at-risk of sleep apnea to join!
    - if current_user.invites.providers.present?
      .progress-item
        %span.glyphicon.glyphicon-ok.progress-indicator.progress-indicator-complete
        %p
          Thanks for sharing MyApnea with your provider!
    - else
      = link_to providers_invites_path, class: 'no-underline' do
        .progress-item
          %span.glyphicon.progress-indicator
          %p
            Invite your personal care provider to join!
- else
  .progress-list
    %p.lead.text-light8.centered-text
      After joining:
    .progress-item
      %span.glyphicon.glyphicon-lock.progress-indicator.progress-indicator-locked
      %p
        Create a social profile
    .progress-item
      %span.glyphicon.glyphicon-lock.progress-indicator.progress-indicator-locked
      %p
        Introduce yourself
    .progress-item
      %span.glyphicon.glyphicon-lock.progress-indicator.progress-indicator-locked
      %p
        Contribute to the discussions
    .progress-item
      %span.glyphicon.glyphicon-lock.progress-indicator.progress-indicator-locked
      %p
        Finish your first survey
    .progress-item
      %span.glyphicon.glyphicon-lock.progress-indicator.progress-indicator-locked
      %p
        Complete the research tutorial
    .progress-item
      %span.glyphicon.glyphicon-lock.progress-indicator.progress-indicator-locked
      %p
        Submit your own research question
    .progress-item
      %span.glyphicon.progress-indicator
      %p
        Invite others to join the community!
  %br
  .centered
    = link_to 'Join Today!', get_tracked_link(:join_from_sidebar), class: 'btn btn-warning btn-lg'


- if false
  #side-nav.hidden-lg.hidden-md
    = render partial: 'layouts/navigation/right_nav_main'
  #side-nav-mobile.hidden-lg.hidden-md
    = render partial: 'layouts/navigation/right_nav_mobile'
