-if current_user
  %br
  .row
    = render partial: 'layouts/navigation/user_profile_display'
-else
  %br
  .centered-text
    = form_tag user_session_path, method: :post do
      = text_field_tag 'user[email]', nil, placeholder: 'Email', class: "form-control"
      = password_field_tag 'user[password]', nil, placeholder: 'Password', class: "form-control"
      = submit_tag 'Login', class: "btn btn-warning ", style: 'width:70%'
#right-nav
  = render partial: 'layouts/navigation/right_nav_main'
- if current_user
  #user-stats
    = render partial: 'layouts/navigation/user_stats'
#right-nav-mobile.hidden-lg.hidden-md
  = render partial: 'layouts/navigation/right_nav_mobile'
