%footer
  .container
    .row
      .col-sm-3.hidden-xs
        %ul
          %p
            &copy;
            = Time.zone.today.year
            MyApnea.Org
          %p.address Division of Sleep and Circadian Disorders
          %p.address Brigham and Women's Hospital
          %p.address 221 Longwood Avenue
          %p.address Boston, MA 02115
      .col-sm-2.col-xs-4
        %ul
          %p MyApnea
          %li= link_to 'About', about_path
          %li= link_to 'Team', team_path
          %li= link_to 'Partners', partners_path
          %li= link_to 'Privacy', privacy_path
          %li= link_to 'Terms', terms_and_conditions_path
          %li= link_to 'FAQs', faqs_path
          - unless current_user
            %li= link_to 'I forgot my password!', new_user_password_path
      .col-sm-2.col-xs-4
        %ul
          %p.small Features
          %li= link_to 'Community', community_path
          %li= link_to 'Providers', providers_path
          %li= link_to 'Forum', chapters_path
          %li= link_to 'Research', blog_category_path(category: 'research')
          %li= link_to 'Surveys', surveys_path, data: { no_turbolink: true }
      .col-sm-2.col-xs-4
        %ul
          %p.small Learn
          %li= link_to 'Learn', blog_category_path(category: 'learn')
          %li= link_to 'Devices', pap_path
          %li= link_to 'Research Highlights', blog_category_path(category: 'research')

      .col-md-2.col-md-offset-1.col-sm-3.col-sm-offset-0.hidden-xs
        = link_to image_tag('myapnea/welcome/img-small/bwh_footer.png', class: 'partners-img-footer img-responsive'), 'http://www.brighamandwomens.org/'
        %br
        = link_to image_tag('myapnea/icons/facebook_icon.png', class: 'share-icons-md'), 'http://www.facebook.com/MyApnea'
        = link_to image_tag('myapnea/icons/twitter_icon.png', class: 'share-icons-md'), 'http://www.twitter.com/myapneaorg'
        = link_to image_tag('myapnea/icons/email_icon.png', class: 'share-icons-md'), "mailto:support@myapnea.org"
