%footer
  .container
    .row
      .col-sm-3.hidden-xs
        %p
          &copy;
          = Time.zone.today.year
          MyApnea.Org
        %ul
          %li= link_to 'Contact Us', contact_path
      .col-sm-2.col-xs-4
        %p MyApnea
        %ul
          %li= link_to 'About', about_path
          %li= link_to 'Team', team_path
          %li= link_to 'Partners', partners_path
          %li= link_to 'Privacy', privacy_path
          %li= link_to 'Terms', terms_and_conditions_path
          %li= link_to 'FAQs', faqs_path
          - unless current_user
            %li= link_to 'I forgot my password!', new_user_password_path
      .col-sm-2.col-xs-4
        %p Features
        %ul
          %li= link_to 'Community', community_path
          %li= link_to 'Forum', topics_path
          %li= link_to 'Research', blog_category_path(category: 'research')
          %li= link_to 'Surveys', surveys_path, data: { turbolinks: false }
      .col-sm-2.col-xs-4
        %p Learn
        %ul
          %li= link_to 'Learn', blog_category_path(category: 'learn')
          %li= link_to 'Devices', pap_path
          %li= link_to 'Research Highlights', blog_category_path(category: 'research')
          %li.hidden-sm.hidden-md.hidden-lg= link_to 'Contact Us', contact_path

      .col-md-2.col-md-offset-1.col-sm-3.col-sm-offset-0.hidden-xs
        = link_to image_tag('myapnea/welcome/img-small/bwh_footer.png', class: 'partners-img-footer img-responsive'), 'http://www.brighamandwomens.org/'
        %br
        = link_to image_tag('myapnea/icons/facebook_icon.png', class: 'share-icons-md'), 'http://www.facebook.com/MyApnea'
        = link_to image_tag('myapnea/icons/twitter_icon.png', class: 'share-icons-md'), 'http://www.twitter.com/myapneaorg'
        = link_to image_tag('myapnea/icons/email_icon.png', class: 'share-icons-md'), "mailto:#{ENV['support_email']}"
