= form_with model: user, url: slice_enrollment_consent_path(project), method: :post do |form|
  .consent-fields
    = render "forms/vertical/text_field", form: form, object: user, key: :full_name, help_text: user.full_name.present? ? "Check that you entered your full legal name." : "Enter your full name to participate in research."

  .row
    .col
      .d-none.d-md-block
        = render "slice/i_do_not_consent", project: project, size: "btn-lg"
      .d-block.d-md-none
        = render "slice/i_do_not_consent", project: project, size: ""
    .col
      .text-right
        .d-none.d-md-block
          = form.submit "I Consent", class: "btn btn-lg btn-primary btn-shadow"
        .d-block.d-md-none
          = form.submit "I Consent", class: "btn btn-primary btn-shadow"
