- projects.each do |project|
  - subject = current_user&.subjects&.find_by(project: project)
  .research-study-fullscreen-backdrop{ data: { object: "close-research-study research-study-backdrop", research_study: project.id } }
    .card.research-study-fullscreen-content
      %h4.card-header
        .float-right
          = link_to "#", class: "link-unstyled", data: { object: "close-research-study", research_study: project.id } do
            &times;
        = project.name
        Report
      .card-body.research-study-fullscreen-backdrop-body
        .mb-5{ style: "background-color: #fff3e0;margin-top: -1.25rem;margin-left: -1.25rem;margin-right: -1.25rem;padding: 1.25rem;"}
          .brand-subtitle
            After completing the
            = project.name
            surveys, you can
            %span.text-accent print out a personalized report
            that you can take to your next doctor visit.

        .brand-subtitle.text-center
          Here's a glimpse about what we've found among the 10,000
          participants in this study.

        .mb-5
          .brand-title AGE
          .brand-subtitle
            The average age is
            - avg_age = 58
            = succeed "." do
              %strong= avg_age
            Our youngest participant is
            - min_age = 18
            %strong= [min_age, 18].max
            and our oldest is
            - max_age = 78
            = succeed "." do
              %strong= [max_age, 90].min

        .mb-5
          .brand-title SEX
          .brand-subtitle
            Sleep apnea is
            %span.text-accent more common in men
            than in women.
            Both sexes benefit
            from treatment.

        .mb-5
          .brand-title DIAGNOSIS
          .brand-subtitle
            More than
            %strong 77.8%
            of participants have been diagnosed with sleep apnea.
            Here is a breakdown of how old participants were when diagnosed.

            The average participant thinks they had sleep apnea for
            %strong 2
            years before diagnosis.

      .card-footer.text-muted
        .float-right
          - if subject
            = link_to slice_surveys_path(project), class: "text-accent" do
              Take surveys
              %i.fa.fa-caret-right
          - else
            = link_to slice_consent_path(project), class: "text-accent" do
              Get started
              %i.fa.fa-caret-right
        = link_to "#", class: "link-unstyled", data: { turbolinks: false } do
          %i.fa.fa-print
          Print
