- if @projects.present?
  .research-studies
    - projects.each do |project|
      - subject = current_user&.subjects&.find_by(project: project)
      .research-study
        .d-flex.flex-row.align-items-stretch
          .research-study-icon.d-flex.align-items-center
            %i.fa.fa-flask
          .research-study-body.d-flex.align-items-center
            %div
              .research-study-name= project.name
              = project.short_description
        .research-study-footer.d-flex.flex-column.flex-sm-row
          .ml-3.d-inline-block
            %i.fa.fa-circle-o-notch.fa-spin{ style: "color: #4caf50;" }
            %small
              Recruiting
          .ml-3.d-inline-block
            %i.fa.fa-users.text-accent
            %small
              1,200+ participants
          .ml-3.mr-auto.d-inline-block
            %i.fa.fa-heartbeat.text-accent
            %small
              17 surveys
          - if project.slug == "myapnea-core" && false
            .ml-3.d-inline-block
              %i.fa.fa-pie-chart.text-accent
              %small
                = link_to "#", data: { object: "show-research-study", research_study: project.id } do
                  Personalized report

          .ml-3.d-block.d-sm-inline-block.text-center
            - if current_user && subject
              = link_to slice_surveys_path(project), class: "btn btn-sm btn-primary btn-shadow" do
                Take surveys
                %i.fa.fa-angle-right
            - else
              = link_to slice_consent_path(project), class: "btn btn-sm btn-primary btn-shadow" do
                Get started
                %i.fa.fa-angle-right

- else
  .jumbotron.jumbotron-action.jumbotron-shadow.jumbotron-custom-text
    %p
      No studies are currently collecting survey data.
    %p
      We are actively working on preparing the MyApnea Core surveys.

    %p Please check back soon!
