- if @projects.present?
  - projects.each do |project|
    - subject = current_user&.subjects&.find_by(project: project)
    .research-study{ class: "cover-theme-#{project.cover_theme}" }
      .d-flex.flex-row.align-items-stretch
        .research-study-icon.d-flex.align-items-center
          %i.fa.fa-flask
        .research-study-body.d-flex.align-items-center
          .d-flex.flex-column.flex-lg-row
            .research-study-text.order-1.order-lg-0
              .research-study-name= project.name
              = project.short_description
            - if project.cover_theme == "mood"
              .research-study-background-image.order-0.order-lg-1{ class: "research-study-background-image-#{rand(2)}" }
      .research-study-footer.d-flex.flex-column.flex-sm-row
        .ml-3.d-inline-block{ class: project.slug == "myapnea-core" ? nil : "mr-auto" }
          %i.fa.fa-users.text-accent
          %small
            Recruiting
        - if project.slug == "myapnea-core"
          .ml-3.d-inline-block
            %i.fa.fa-heartbeat.text-accent
            %small
              17 surveys
          .ml-3.mr-auto.d-inline-block
            %i.fa.fa-pie-chart.text-accent
            %small
              Personalized report
        - if project.slug == "myapnea-core" && false
          .ml-3.d-inline-block
            %i.fa.fa-pie-chart.text-accent
            %small
              = link_to "#", data: { object: "show-research-study", research_study: project.id } do
                Personalized report

        .ml-3.d-block.d-sm-inline-block.text-center
          - if project.external?
            - if current_user && subject
              = link_to participate_path(project), class: "btn btn-sm btn-primary btn-shadow" do
                Visit study
                %i.fa.fa-angle-right
            - else
              = link_to participate_path(project), class: "btn btn-sm btn-primary btn-shadow" do
                Get started
                %i.fa.fa-angle-right
          - else
            - if current_user && subject
              = link_to slice_overview_path(project), class: "btn btn-sm btn-primary btn-shadow" do
                Take surveys
                %i.fa.fa-angle-right
            - else
              = link_to slice_consent_path(project), class: "btn btn-sm btn-primary btn-shadow" do
                Get started
                %i.fa.fa-angle-right

- else
  .jumbotron.jumbotron-action.jumbotron-custom-text.jumbotron-shadow
    %p Our surveys are being updated.
    %p Please check back soon!
