- @title = "#{@project.name} Consent"

= render "projects/theme", project: @project

- content_for :header, @title

.dashboard-container-margins
  .brand-title Consent
  = simple_markdown @project.consent

  - unless @subject&.consented?
    #consent-form= render "slice/consent_form", project: @project, user: @user

- if @subject&.consented_at.present?
  .dashboard-container
    .float-right
      = link_to slice_print_consent_path(@project), class: "btn btn-sm btn-outline-dark", data: { turbolinks: false } do
        = icon("fas", "print")
        Print
    - if @subject.consented?
      You joined the study on
      = succeed "." do
        %strong= @subject.consented_at.strftime("%B %-d, %Y")
    - elsif @subject.consent_revoked?
      You left the study on
      = succeed "." do
        %strong= @subject.consent_revoked_at.strftime("%B %-d, %Y")
