- @title = "#{@project.name} Consent"

= render "projects/theme", project: @project

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.dashboard-container-margins
  .brand-title Consent
  = simple_markdown @project.consent

  - unless @subject
    .row
      .col
        .d-none.d-md-block
          = render "slice/i_do_not_consent", project: @project, size: "btn-lg"
        .d-block.d-md-none
          = render "slice/i_do_not_consent", project: @project, size: ""
      .col
        .text-right
          .d-none.d-md-block
            = render "slice/i_consent", project: @project, size: "btn-lg"
          .d-block.d-md-none
            = render "slice/i_consent", project: @project, size: ""

- if @subject
  .dashboard-container
    %p
      You joined the study on
      = succeed "." do
        %strong= @subject.consented_at.strftime("%B %-d, %Y")
