- @title = "#{@project.name} Consent"

= render "projects/theme", project: @project

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.dashboard-container-margins
  .brand-title Consent
  = simple_markdown @project.consent

  - unless @subject
    #consent-form= render "slice/consent_form", project: @project, user: @user

- if @subject
  .dashboard-container
    %p
      You joined the study on
      = succeed "." do
        %strong= @subject.consented_at.strftime("%B %-d, %Y")
