- @title = "Leave #{@project.name} Study"

= render "projects/theme", project: @project
- content_for :header, @title
- content_for :sidebar, render("internal/sidebar")

.dashboard-container
  .brand-title= @title

  = form_with url: slice_submit_leave_study_path(@project), method: :post, local: true do |form|
    .form-group
      = form.label :withdraw, "Are you sure you want to withdraw from the <strong>#{@project.name}</strong> study?".html_safe, class: "form-control-label"
      = form.text_field :withdraw, class: "form-control#{" is-invalid" if @withdraw_error}", value: params[:withdraw], style: "max-width: 14rem;", maxlength: 8, placeholder: "<type here>", autocomplete: "off"
      %small.form-text{ class: @withdraw_error ? "text-danger" : "text-muted" }
        Type
        %span.badge.badge-light WITHDRAW
        to leave the study.
    .form-group.mt-4
      = form.submit "Leave Study", class: "btn btn-danger"
      = link_to "Cancel", slice_overview_path(@project), class: "btn btn-light"
