- @title = "#{@project.name} Overview Report"

= render "projects/theme", project: @project

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")
- content_for :header, "Overview Report"

.dashboard-container
  .mb-5
    .brand-title
      .float-right
        = link_to "#", class: "btn btn-sm btn-outline-dark" do
          %i.fa.fa-print
          Print
      =# @project.name
      Your MyApnea Sleep Report

    %p
      Once you consent and complete all the surveys, you will receive a personal sleep health report that you can print and bring to your doctor. The scores are based on commonly used measures. Regardless of your scores, you should discuss any sleep health concerns with your doctor.

  .mb-5
    .brand-title
      .float-right
        %span.text-accent Your Score
      SLEEP SCALE

  .mb-3.p-3{ class: @insomnia_scale.blank? ? "myapnea-grey-bg" : nil }
    .brand-title
      .float-right
        %span.text-accent
          - if @insomnia_scale
            = @insomnia_scale
          - else
            = render "slice/complete_surveys_to_see_result"
      Insomnia Scale (WHI Insomnia Rating Scale)
    %p
      This scale measures symptoms of poor sleep quality.
    %p
      Scores greater than 10 suggest problems with insomnia.

  - data = @subject.data(["dem_tall", "dem_weight"])
  - @height = data.dig("data", "dem_tall")
  - @weight = data.dig("data", "dem_weight")
  - if @weight.is_a?(Numeric) && @height.is_a?(Numeric) && @height.positive?
    - @bmi = @weight * 703 / (@height * @height)
  .mb-3.p-3
    .brand-title
      .float-right
        %span.text-accent
          - if @bmi
            = format("%0.1f", @bmi.presence)
          - else
            = render "slice/complete_surveys_to_see_result"

      BMI: Body mass index

    %p
      BMI is calculated based on your height and weight.
    %p
      A BMI over 25 puts you in the 'overweight' category. Research has shown that people in this category are the more likely to develop severe obstructive sleep apnea.

  - if false

    .mb-5
      .brand-title
        .float-right
          %span.text-accent ##
        ESS: Epworth sleepiness scale
      %p
        The ESS measures your 'daytime sleepiness'.
        A normal level of sleepiness is any score from 0-10. If your score is higher than 10, talk to your doctor about your sleepiness.

    .mb-5
      .brand-title
        .float-right
          %span.text-accent ##
        WHI IRS: Women's health initiative insomnia rating scale
      %p
        The WHI IRS evaluates insomnia symptoms.
        If your score is higher than 8, talk to your doctor about insomnia.

    .mb-5
      .brand-title
        .float-right
          %span.text-accent ##
        FOSQ- Functional outcomes of sleep
      %p
        The FOSQ is used to measure your ability to function given your sleepiness level. In other words, it can measure your 'sleep-related quality of life'.
        The score range is 5-20 points. A higher score means a you have a better functional status.

    .mb-5
      .brand-title
        .float-right
          %span.text-accent ##
        SF-12 - Physical health status
        SF-12 - Mental health status
      %p
        The SF-12 measures your general health status. The scores are separated into physical health status and mental health status.

    .mb-5
      .brand-title
        .float-right
          %span.text-accent ##
        World Health Organization (WHO) Well-Being Index
      %p
        A score lower than 13 (or if you answered 0 or 1 on any question) means you should talk to your doctor about depression.

    .mb-5
      .brand-title
        .float-right
          %span.text-accent ##
        WPAI- Work Productivity and Activity Impairment
      %p
        %ol
          %li Percent work time missed due to health (absenteeism):
          %li Percent impairment while working due to health (presenteeism):
          %li Percent overall work impairment due to health (overall work productivity loss):
          %li Percent activity impairment due to health (activity impairment):
