- @title = "Research"

- @theme = "default-dark"
- @container = current_user ? "container-fluid" : "container"
- @nocontainer = current_user ? true : false

= render "internal/tabs" if current_user
.page-box.p-0.last-box.footer-custom-bg.d-flex.flex-column
  %div{ style: "background-color: #fafafa" }
    .white-header-container{ class: @container }
      = render "layouts/white_title", title: @title
  - if content_for?(:tabs)
    .header-tabs{ class: "#{"header-tabs-no-breadcrumbs" unless content_for?(:breadcrumbs)}" }
      %div{ class: @container }
        = yield :tabs
  .row.no-gutters.flex-md-nowrap.theme-custom-spacing.flex-fill{ class: "theme-#{@theme.presence || "default"}-bg" }
    = render "sidebar/mini" if current_user
    = render("internal/sidebar") if current_user
    %main.col.p-3.remove-last-margin{ role: "main" }
      %div{ class: current_user ? nil : "container" }
        - if false
          - @projects.each do |project|
            = render "slice/research_studies_popups", projects: @projects
        = render "slice/research_studies", projects: @projects
  .py-3.mt-auto
    .container
      = render "slice/research_articles"
