- @title = "Surveys"
- @footer = "light"

- content_for :body_class do
  myapnea-light-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.dashboard-container
  %ul
    - Project.published.order(:name).each do |project|
      %li
        - subject = current_user.subjects.find_by(project: project)
        - if subject
          .mb-3
            %strong Study
            = project.name
            = link_to ">> DELETE <<", [:slice, subject], method: :delete, class: "text-danger small"
          .mb-3
            %strong Consented At
            = subject.consented_at
          .mb-3
            %strong Consent Revoked At
            = subject.consent_revoked_at
          .mb-3
            %strong Subject Code
            %code= subject.slice_subject_id
            = subject.slice_subject_code_cache
        - else
          = link_to slice_subjects_path(subject: { project_id: project.id }), method: :post do
            Consent to
            = project.name
            %i.fa.fa-spock


.dashboard-container
  - current_user.subjects.each do |subject|
    - subject.subject_events.reverse_each do |subject_event|
      .panel.panel-full-width
        %h1
          .float-right
            %small= subject.project.name
          = subject_event.name
        - if subject_event.percent.to_i.zero?
          .progress.progress-simple
            .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #ededed;", aria: { valuenow: "0", valuemin: "0", valuemax: "100" } }
        - else
          .progress.progress-simple
            .progress-bar.progress-bar-striped.bg-primary{ role: "progressbar", style: "width: #{subject_event.percent}%;", aria: { valuenow: "#{subject_event.percent}", valuemin: "0", valuemax: "100" } }
        .float-right
          %small.text-muted= "#{subject_event.percent}%"
        .clearfix
        .card-columns
          - subject_event.event_designs.each do |event_design|
            .card
              .card-body
                .small.card-title
                  = event_design.design_name
                - if event_design.percent.to_i.zero?
                  .progress.progress-simple
                    .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #ededed;", aria: { valuenow: "0", valuemin: "0", valuemax: "100" } }
                - else
                  .progress.progress-simple
                    .progress-bar.progress-bar-striped.bg-primary{ role: "progressbar", style: "width: #{event_design.percent}%;", aria: { valuenow: "#{event_design.percent}", valuemin: "0", valuemax: "100" } }

              .card-footer
                .float-right
                  %small.text-muted= "#{event_design.percent}%"
                - if event_design.valid? && event_design.incomplete?
                  - if event_design.percent.to_i.zero?
                    = link_to slice_surveys_start_path(subject.project, event_design.event_id, event_design.design_id) do
                      Start
                      %i.fa.fa-caret-right
                  - else
                    = link_to slice_surveys_resume_path(subject.project, event_design.event_id, event_design.design_id) do
                      Resume
                      %i.fa.fa-caret-right
                .clearfix

