%td
  %h1
    = link_to vote_path(vote: { research_topic_id: research_topic.id, rating: (research_topic.received_vote_from?(current_user) ? '0' : '1') }), method: :post, remote: true do
      %i.fa.fa-thumbs-o-up.fa-rank{ id:"#{'voting_icon'+research_topic.id.to_s}", class: "#{research_topic.received_vote_from?(current_user) ? 'voted' : 'disabled'}" }
%td
  %h4{ style: 'padding-left: 0px; '}= research_topic.text
  .row.collapse{ id: "#{'ranking'+research_topic.id.to_s}" }
    %div{ style: 'text-align: center; width: 15%; float:left; ' }
      = render partial: 'forums/user_image', locals: { user: research_topic.user, size: 50 }
    .col-xs-9.reset-layout
      %p.f300
        = research_topic.description
  - unless research_topic.description.blank?
    %p.f300.expand-research-topic{ style: 'padding-left: 0px; ', data: { toggle:'collapse', target:"#{'#ranking'+research_topic.id.to_s}" } } Read more
  .progress{ style: 'width:90%;', id:"#{'progress'+research_topic.id.to_s}", class: "#{research_topic.received_vote_from?(current_user) ? 'collapse in' : 'collapse'}", data: { target: "#{'#progress-bar'+research_topic.id.to_s}" }  }
    .progress-bar{ role:'progressbar', id:"#{'progress-bar'+research_topic.id.to_s}", aria:{ valuenow:"#{research_topic.voted_on_percentage}", valuemin:'0', valuemax:'100' } }
      = research_topic.voted_on_percentage.to_s + '%'


