- content_for :community_contributions do
  .panel.panel-primary
    .panel-heading
      Community Contributions
    .panel-body.text-right
      .row
        .col-md-4
          Surveys Answered
          %br/
          %span.h0 560
        .col-md-4
          Symptom Check-ins
          %br/
          %span.h0 1.3k
        .col-md-4
          Members Doing
          %br/
          %span.h0 350

- content_for :your_contributions do
  = render partial: "shared/badge_list", :locals => {badges: [{title:"Frequent Check-iner",body:"You've done 40 frequent surveys", icon: "fa-clock-o", earned: true},
                                                              {title:"Dutiful Citizen",body:"You've responded to 10 biannual surveys!", icon: "fa-list-ul"},  {title:"On Fire!",body:"You are on a 5 survey streak!", icon: "fa-fire", earned: true} ]}


%p.lead MyApnea.Org is part of a growing national network of patients, health care providers and researchers. This partnership is built upon the open exchange of information about sleep apnea. Here we provide a series of questions to help the sleep apnea community better understand the symptoms found in patients with sleep apnea or at risk for sleep apnea, their experiences with getting diagnosed, and their health conditions. Many of you will have answered some of these questions before but it is important for us to ask them again so that we have an understanding of the MyApnea community now and over time. After you complete each survey, you will see how your answers compare to the others within the network.

%p.lead
  You may navigate away from the surveys at any time and your answers will be
  saved for you to complete upon your return. Each
  %b completed survey
  earns you an entry into our monthly drawing for a chance to win a $250 gift
  card*! The more surveys you complete the more chances to win! Drawings are
  held the last day of each month.

%p.lead{ style: 'font-style:italic'}
  %i *Must be a United States resident to be eligible to win. Proof of eligibility must be given (i.e. SSN) upon notification of award.

.panel.panel-default
  .panel-heading
    %h3.panel-title New Surveys
    .req surveys_ready_for_completion (title of survey, url to survey)
  .list-group
    .list-group-item.list-group-item-info
      .text-center We’ve recently redesigned our surveys! Don’t worry- if you previously completed our one longer survey your data is safely stored and you earned three entries into our January lottery. If you are new to the site, we now have three shorter surveys for you to complete and you’ll earn a lottery entry for each completed survey.
    - if current_user.incomplete_surveys.empty? and current_user.unstarted_surveys.empty?
      .list-group-item
        %span.text-info No new surveys available. Check back later!

    - current_user.incomplete_surveys.each do |survey|
      = link_to start_or_resume_survey(survey, survey.most_recent_answer_session(current_user)), class: 'list-group-item' do
        %h3
          = survey.name
          .btn.btn-success.btn-lg.pull-right
            Resume
            &nbsp;
            .fa.fa-arrow-right
          = render partial: 'surveys/partials/session_progress', locals: {stats: survey.completion_stats(current_user), question_flow: survey, answer: nil}
    - current_user.unstarted_surveys.each do |survey|
      = link_to start_or_resume_survey(survey), class: 'list-group-item' do
        %h3
          = survey.name
          .btn.btn-success.btn-lg.pull-right
            Start
            &nbsp;
            .fa.fa-arrow-right
        %p Survey not yet started.
        %p
          %strong
            Estimated time commitment:
            = survey.total_time.ceil
            minutes for
            = survey.all_questions.length
            questions.
          //= link_to "Complete Survey", start_or_resume_survey(survey), class: "btn btn-success btn-sm"

.panel.panel-default
  .panel-heading
    %h3.panel-title Surveys You've Completed
    .req surveys_ready_for_completion (title of survey, url to survey)
  .list-group
    - if current_user.complete_surveys.empty?
      .list-group-item
        %span.text-info None so far!
    - current_user.complete_surveys.each do |survey|
      .list-group-item
        %h3= survey.name
        %p
          %strong Survey finished!
        %div
          = link_to 'Review Answers', survey_report_path(answer_session_id: survey.most_recent_answer_session(current_user).id), class: 'btn btn-default btn-sm'
          = #link_to 'Retake Survey', start_survey_path(question_flow_id: survey.id, reset_survey: true), class: 'btn btn-default btn-sm', data: {confirm: "Are you sure you want to retake this survey?", description: "All your progress will be lost, and you'll have complete all of the questions again."}


