- @highlight = highlight

.panel.highlight-container
  .panel-body.centered-text
    = link_to (@highlight.link.present? ? @highlight.link : @highlight) do
      - if @highlight.photo_url.present?
        = image_tag @highlight.photo, class: 'img-responsive img-thumbnail', style: 'margin: auto;'
      - elsif @highlight.display_date.present?
        = render partial: 'static/home_news_image', locals: {day: @highlight.display_date.day.to_s, month: Date::MONTHNAMES[@highlight.display_date.month][0..2], year: @highlight.display_date.year.to_s[2..3]}
      %h4.f300.primary-orange
        = @highlight.title
      %h5.f300
        = @highlight.description
