- @title = @highlight.new_record? ? 'New Highlight' : 'Edit Highlight'

.content-main-header
  %h1
    = @title
  %p.lead
    = link_to 'Highlights', highlights_path
    - unless @highlight.new_record?
      &middot;
      = link_to @highlight.title, @highlight

.content-container
  .content-body
    = form_for @highlight, html: { class: 'form-horizontal' } do |f|
      - if @highlight.errors.any?
        #error_explanation.bs-callout.bs-callout-danger
          %h4
            = pluralize(@highlight.errors.count, "error")
            prohibited this highlight from being saved

          %ul
            - @highlight.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :title, nil, class: 'col-md-2 control-label'
        .col-md-10
          = f.text_field :title, class: 'form-control', autocomplete: 'off'
      .form-group
        = f.label :description, nil, class: 'col-md-2 control-label'
        .col-md-10
          = f.text_area :description, class: 'form-control'
      .form-group
        = f.label :link, nil, class: 'col-md-2 control-label'
        .col-md-10
          = f.text_field :link, class: 'form-control'
      .form-group
        = f.label :photo, nil, class: 'col-md-2 control-label'
        .col-md-10
          = f.file_field :photo
      .form-group
        = f.label :display_date, nil, class: 'col-md-2 control-label'
        .col-md-10
          = f.text_field :display_date, class: 'form-control', placeholder: 'YYYY-MM-DD'
      .form-group
        .col-md-offset-2.col-md-10
          .checkbox
            %label
              = f.check_box :displayed
              Highlight Displayed
      .form-group
        .col-md-offset-2.col-md-10
          .checkbox
            %label
              = f.check_box :research_highlight
              Research Highlight
      .form-group
        .col-md-offset-2.col-md-10
          = f.submit nil, class: 'btn btn-primary'
          = link_to 'Cancel', (@highlight.new_record? ? highlights_path : @highlight), class: 'btn btn-default'
