- @title = 'Member Posts'

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.drawer-and-shelf-container
  .drawer
    = render 'admin/menu'
  .shelf
    .dashboard-container
      %table.table.table-striped.table-borderless.table-hover
        %col.hidden-xs.hidden-sm{ width: '40px' }
        %col.hidden-xs.hidden-sm{ width: '67px' }
        %col
        %col.hidden-xs.hidden-sm{ width: '120px' }
        %col.hidden-xs.hidden-sm{ width: '150px' }
        %thead
          %tr
            %th.hidden-xs.hidden-sm
            = th_sort_field @order, 'points', 'Points', extra_class: 'center hidden-xs hidden-sm'
            %th Reply
            %th.hidden-xs.hidden-sm Author
            = th_sort_field @order, 'replies.created_at', 'Date', extra_class: 'hidden-xs hidden-sm'

        %tbody
          - @replies.each do |reply|
            %tr
              %td.hidden-xs.hidden-sm.center
                - if reply.deleted?
                  %span.glyphicon.glyphicon-eye-close{ rel: 'tooltip', data: { title: 'Deleted', container: 'body', placement: 'left' } }
              %td.hidden-xs.hidden-sm.text-right.center
                - symbol = '+' if reply.rank >= 0
                = "#{symbol}#{reply.rank}"
              %td.breakword{ class: reply.deleted? ? 'text-muted' : nil, style: reply.deleted? ? 'text-decoration:line-through' : nil }
                = link_to reply.parent.title, reply, data: { turbolinks: false }
                .reply-body{ style: 'font-size: 0.9em;padding:0;margin:0' }
                  = simple_markdown_new(sanitize(reply.description.gsub(/</, '&lt;')).gsub('&gt;', '>'), table_class: 'table table-striped', allow_links: reply.display_links?)
              %td.hidden-xs.hidden-sm.breakword= link_to reply.user.forum_name, member_posts_path(reply.user.forum_name)
              %td.hidden-xs.hidden-sm
                %abbr{ rel: 'tooltip', data: { title: reply.created_at.strftime('%-l:%M %p'), container: 'body', placement: 'left' } }
                  = reply.created_at.strftime('%b %-d, %Y')

    .center= paginate @replies, theme: 'bootstrap'
