- replies = Reply.where("description like ?", "%#{image.to_param}%")
- broadcasts = Broadcast.where("description like ?", "%#{image.to_param}%")
- if replies.present? || broadcasts.present?
  %ul.list-unstyled
    - replies.each do |reply|
      %li= link_to "Reply ##{reply.id}", reply, data: { turbolinks: false }
    - broadcasts.each do |broadcast|
      %li= link_to broadcast.title, broadcast
