- @title = "Edit Image - #{@image.name}"
- @menu_title = @image.name

- @theme = "day"
- content_for :header, @menu_title
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "images", images_path
    %li= link_to @image.name, @image
    %li.breadcrumb-muted edit
- content_for :sidebar, render("admin/sidebar")

.dashboard-container= render "form", image: @image
