- @title = 'Images'

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to plus_or('New Image'), new_image_path, class: 'btn btn-accent btn-shadow'
          = render 'layouts/per_page', per_page: 40, object_count: @images.total_count
        = @title

.drawer-and-shelf-container
  .drawer
    = render 'admin/menu'
  .shelf
    - if @images.present?
      .dashboard-container
        %table.table.table-striped.table-borderless.table-hover
          %col
          %col
          %col.hidden-xs
          %col.hidden-xs
          %col{ width: '1px' }
          %thead
            %tr
              %th
              %th User
              %th.hidden-xs File Size
              %th.hidden-xs Created At
              %th.text-center Actions

          %tbody
            - @images.each do |image|
              %tr
                %td
                  = link_to image, style: 'width: 56px;display:block;' do
                    = image_tag download_image_path(image, size: 'thumb'), style: 'width: 56px;'
                %td.breakword= link_to image.user.forum_name, image
                %td.hidden-xs.nowrap= number_to_human_size image.file_size
                %td.hidden-xs
                  %abbr{ rel: 'tooltip', data: { title: image.created_at.strftime('%-l:%M %p'), container: 'body', placement: 'left' } }
                    = image.created_at.strftime('%b %-d, %Y')
                %td.text-center= render 'layouts/edit_delete_dropdown', edit_url: edit_image_path(image), delete_url: image, delete_confirmation: 'Delete image?'
      .center-horizontally= paginate@images, theme: 'bootstrap'
    - else
      .jumbotron.jumbotron-action
        %p.text-center No images found.
