- @title = 'Images'

- content_for :banner do
  .content-main-header
    .container
      %h1 Images
      = link_to new_image_path, class: 'btn btn-xs btn-default' do
        %span.glyphicon.glyphicon-plus
        New Image

- @background_color = '#fff'
.container
  %table.table.table-striped
    %thead
      %tr
        %th
        %th User
        %th Image
        %th File Size
        %th Created At
        %th Actions

    %tbody
      - @images.each do |image|
        %tr
          %td
            = image_tag download_image_path(image, size: 'thumb'), class: 'img-responsive'
          %td= image.user.name
          %td= image.image
          %td= number_to_human_size image.file_size
          %td= image.created_at.strftime('%-d %b %Y, %-l:%M %p')
          %td
            = link_to 'Show', image, class: 'btn btn-xs btn-default'
            = link_to 'Edit', edit_image_path(image), class: 'btn btn-xs btn-default'
            = link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure you want to delete this image?' }, class: 'btn btn-xs btn-danger'

  .center= paginate @images, theme: 'bootstrap'
