= link_to 'Edit', edit_image_path(@image)
|
= link_to 'Back', images_path

%br
%br

%p
  %strong User:
  = @image.user.name

%p
  %strong Image:
  = @image.image

%p
  %strong File Size:
  = number_to_human_size @image.file_size

%p
  = image_tag download_image_path(@image), alt: '', class: 'img-responsive'
