- @title = @image.to_param

- @body = "light"
- @footer = "light"

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        - if current_user&.admin?
          .float-right
            = render "layouts/edit_delete_dropdown_header", edit_url: edit_image_path(@image), delete_url: @image, delete_confirmation: "Delete image?"
        = @title

.dashboard-container
  %table.table.table-striped.table-borderless.table-hover
    %col{ width: "30%" }
    %tr
      %th User
      %td
        = link_to @image.user.username, posts_member_path(@image.user.username)

    %tr
      %th Image Link
      %td
        %code.breakword= "#{ENV["website_url"]}/image/#{@image.to_param}"

    %tr
      %th File Size
      %td= number_to_human_size @image.file_size

  .center= image_tag download_image_path(@image), alt: "", style: "max-width: 100%; margin: 0 auto;"
