%html
  %head
    %meta{ charset: 'utf-8'}
    %meta{ content: 'IE=Edge,chrome=1', http: {equiv: 'X-UA-Compatible'}}
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    / For Facebook
    %meta{ property: 'og:url', content: ENV['website_url'] + '/' }
    %meta{ property: 'og:title', content: ENV['pprn_title'] }
    %meta{ property: 'og:description', content: 'Improving sleep apnea through information, support, and research' }
    %meta{ property: 'og:image', content: ENV['website_url'] + '/assets/' + asset_path('myapnea/MyApneaLogo_border_whitesub_square.png').split('/assets/').last }
    / For Google+
    %meta{ itemprop: 'name', content: ENV['pprn_title'] }
    %meta{ itemprop: 'description', content: 'Improving sleep apnea through information, support, and research' }
    %meta{ itemprop: 'image', content: ENV['website_url'] + '/assets/' + asset_path('myapnea/MyApneaLogo_border_whitesub_square.png').split('/assets/').last }
    %title=ENV['pprn_title']
    %link{href:'//fonts.googleapis.com/css?family=Dosis:400,700|Cabin:400,700', rel:'stylesheet', type:'text/css'}
    %link{href:'//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel:'stylesheet'}
    = favicon_link_tag
    = csrf_meta_tags
    = stylesheet_link_tag 'cleantheme', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "cleantheme", "data-turbolinks-track" => true
    = javascript_tag "var root_url='#{request.script_name + '/'}';var auth_token='#{form_authenticity_token}';"
    - if false
      = javascript_include_tag "//code.jquery.com/ui/1.11.2/jquery-ui.min.js"
  %body{screen_capture_injected: "true", class: "#{params[:night] == '1' ? 'night-mode' : 'day-mode'}", data: { email: "#{current_user.email if current_user}", fullname: "#{current_user.name if current_user}" } }
    %div#social-backdrop{ style: 'background-color:black; width:100%; height:81px; position:absolute; top:0; z-index:1000;' }
    = render partial: 'layouts/beta/navigation/top_navigation'
    .container-fluid.reset-layout
      - if (params[:action] == 'home' and !current_user) or params[:action] == 'stealth_providers' or params[:action] == 'stealth_provider1' or params[:controller] == 'registrations' or (params[:controller] == 'providers' and params[:action].in?(['new', 'show']))
        = yield
      - else
        #container-main
          = render partial: 'layouts/beta/container_left'
          = render partial: 'layouts/beta/container_right'
    = render partial: 'layouts/beta/footer'
    = render partial: 'layouts/beta/privacy_modal'
    = render partial: 'layouts/beta/welcome_video_modal'
