- footer = "footer-default" unless defined?(footer) && footer.present?
.footer-container{ class: footer }
  %div{ class: defined?(container) && container.present? ? container : "container" }
    .footer
      .nowrap.row

        .col
          &copy;
          .d-none.d-sm-inline= Time.zone.today.year
          = link_to ENV["website_name"], about_path


        .col.text-center.d-none.d-sm-block
          %small.px-2= link_to "Terms", terms_and_conditions_path
          %small.px-2= link_to "Privacy", privacy_policy_path

        .col.text-right{ style: "margin-top: -14px;" }
          = link_to "Questions?", search_path
          &nbsp;
          = image_tag "logos/bwh-logo.png", size: "48x56", alt: ""

- if false
  - unless cookies[:accepted_cookies] == "1"
    .cookie-consent.d-flex.align-items-center
      .container.d-flex.align-items-center
        .mr-auto.pr-3
          = link_to "We use cookies to collect information. Click here to read more.", privacy_policy_path, class: "text-dark"
        %div
          = link_to "#", data: { object: "cookie-accept" }, style: "font-weight: 300;font-size: 1.5rem;", class: "text-dark no-underline" do
            &cross;
