- if true
  = link_to root_path, class: "navbar-brand navbar-hide-scrolled img-ignore-selection", style: "width: 173px;position: relative;" do
    =# image_tag "myapnea/logos/MyApneaLogo_border_notext_173x46.png", style: "height: 30px; width: auto;", alt: ""
    &nbsp;
    %div{ style: "position: absolute; top: 0; left: 0;" }= image_tag "myapnea/logos/MyApneaLogo_border_notext_173x46.png", alt: "", class: "img-ignore-selection"
- else
  = link_to "MyApnea", root_path, class: "navbar-brand navbar-hide-scrolled"

- if @menu_title || @title
  = link_to "#top", data: { object: "remove-collapse-in scroll-anchor", target: ".navbar-full-menu" }, class: "navbar-brand navbar-show-scrolled" do
    %i.fa.fa-level-up.fa-flip-horizontal{ aria: { hidden: "true" } }
    = @menu_title || @title
