<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyApnea.Org Welcome</title>
  <meta name="generator" content="BBEdit 10.5" />
  <link href='//fonts.googleapis.com/css?family=Patrick+Hand|Handlee|Coming+Soon' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,700|Cabin:400,700' rel='stylesheet' type='text/css'>


  <!-- Style Sheets -->
  <%= stylesheet_link_tag 'cleantheme', media: 'all', data: { turbolinks_track: true } %>
  <%= javascript_include_tag 'cleantheme', data: { turbolinks_track: true } %>
</head>
<body>

<!-- NAVIGATION BAR -->

  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

          <%= link_to image_tag('myapnea/welcome/img-small/myApneaLogoOld.png', width: '100%', style: 'position:relative;top:-32px; left:0px;'), root_path, class: 'navbar-brand', style: 'color:white; line-height:100%; width:260px;' %>

      </div>

      <% if current_user %>
        <div class='navbar-right text-white centered-text', style='margin-top:-10px;'>
          <h4 id='btn-welcome-phone' style='font-weight:300'>Welcome, <span class='lighterer-blue'><%= current_user.first_name %></span>!</h4>
        </div>
      <% else  %>
        <!-- Add a login for mobile devices -->
        <%= link_to 'Login', new_user_session_path, class: 'btn primary-blue-bcg text-white visible-xs float-right', id: 'btn-login-phone' %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= form_tag user_session_path, method: :post, class: 'navbar-form navbar-right' do %>
            <%= text_field_tag 'user[email]', nil, placeholder: 'Email', class: 'form-control' %>
            <%= password_field_tag 'user[password]', nil, placeholder: 'Password', class: 'form-control' %>
            <%= submit_tag 'Login', class: 'btn btn-primary' %>
          <% end %>

        </div><!-- /.navbar-collapse -->
      <% end %>
    </div><!-- /.container-fluid -->
  </nav>


<%= yield %>

</body>
</html>
