!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=Edge,chrome=1', http: {equiv: 'X-UA-Compatible'}}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title='MyApnea.Org'
    %link{href: ''}
    %link{href:'//fonts.googleapis.com/css?family=Dosis:400,700|Cabin:400,700', rel:'stylesheet', type:'text/css'}
    %link{href:'//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel:'stylesheet'}
    = favicon_link_tag
    = csrf_meta_tags
    = stylesheet_link_tag 'cleantheme', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "cleantheme", "data-turbolinks-track" => true
    = javascript_tag "var root_url='#{request.script_name + '/'}';var auth_token='#{form_authenticity_token}';"
  %body{ data: { object: 'no-user-voice' } }
    %nav.navbar.navbar-fixed-top{role:'navigation'}
      .container-fluid
        .navbar-header
          = link_to image_tag('myapnea/MyApneaLogo_border_whitesub_300x80.png', width: "100%", style: "position:relative; top:-25px; left:0px;", id: "navbar-myapnea-logo"), root_path, class: "navbar-brand", style: "width:70%; line-height:100%; min-width:260px; max-width:260px;"
          - if params[:action] == 'home' and !current_user
            = link_to "Login", new_user_session_path, class: "btn primary-blue-bcg text-white visible-xs float-right", id: "btn-login-phone"
        - if params[:action] == 'home' and !current_user
          .collapse.navbar-collapse.navbar-right.float-right
            = form_tag user_session_path, method: :post, class: "navbar-form" do
              = text_field_tag 'user[email]', nil, placeholder: 'Email', class: "form-control"
              = password_field_tag 'user[password]', nil, placeholder: 'Password', class: "form-control"
              = submit_tag 'Login', class: "btn btn-primary"
    .container-fluid
      - if params[:action] == 'home' and !current_user
        = yield
      - else
        .row
          #container-left
            = yield
          #container-right.primary-blue-bcg
            -if current_user
              .col-lg-5.col-md-6.col-sm-8#user-profile-header-picture
                = link_to social_profile_path do
                  = image_tag current_user.photo_url, class: "user-picture", size: "75x75", style: 'width:75px;height:75px'
              .col-md-6.col-sm-8#user-profile-header-text
                %h4.user-name.text-white
                  = current_user.name
            -else
              .col-md-8.col-md-offset-2
                .centered-text
                  = link_to 'Log in!', new_user_session_path, class: 'btn btn-warning btn-lg'
            .col-sm-12.reset-layout#user-profile-container{style:'margin-top:30px;'}
              %ul.list-group
                %li.list-group-item Community Profile
                %li.list-group-item Forums
                %li.list-group-item Research Surveys
                %li.list-group-item Rate the Research
    - unless params[:action] == 'home' and !current_user
      .footer
        .col-sm-3.col-xs-5.primary-orange
          %ul
            %li
              = link_to 'FAQs', faqs_path
            %li
              = link_to 'Team', team_path
            %li
              = link_to'Privacy', privacy_path
        .col-sm-3.col-xs-7.pull-right
          = image_tag "myapnea/welcome/img-small/asaa_logo.jpg", class: 'partners-img img-responsive', id: 'partner-AASA'
        .col-sm-3.col-xs-7.pull-right
          = image_tag "myapnea/welcome/img-small/pcornet_logo.jpg", class: "partners-img img-responsive", id: "partner-PCORnet"
        .col-sm-3.col-xs-7.pull-right
          = image_tag "myapnea/welcome/img-small/bwh_logo.jpg", class: "partners-img img-responsive", id: "partner-BWH"
    / Modal
    - if params[:action] == 'home' and !current_user
      .modal.fade#myModal{ tabindex:'-1', role:'dialog', aria: { labelledby: 'myModalLabel', hidden: 'true' } }
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              %button.close{ type: 'button', data: { dismiss: 'modal' } }
                %span{ aria: { hidden: 'true' } } &times;
                %span.sr-only Close
              %h4.modal-title#myModalLabel Privacy Policy and Data Security Measures
            .modal-body{ style: 'overflow-y:scroll; max-height:600px; font-size:20px;' }
              %p{ style:'font-size:18px' }
                We at MyApnea.Org have taken many steps to protect your privacy. Health information is private under federal law. However, by joining MyApnea.Org’s research portal and agreeing to our informed consent form, you are giving permission for the following people and groups to see, use, and share your identifiable health information:
              %ul{ style:'font-size:18px' }
                %li Any groups that help create or support MyApnea.Org
                %li The Partners HealthCare ethics board that oversees the project and the Partners HealthCare research quality improvement programs
                %li People from organizations that provide accreditation and oversight of hospitals and research</li>
                %li Federal and state agencies that oversee or review research, such as the Patient-Centered Outcomes Network
              %p{ style: 'font-size:18px; font-weight:bold' }
                We will use your information for research.=
              %p{ style: 'font-size:18px; ' }
                We collect information about you, your health, and some of your behaviors. This information will be used in research and will be presented in scientific conferences and published in scientific journals. These presentations and publications will never show any information that identifies you or any other individual in the study. We will share summary information that does not contain any identifying information with other participants in the network, which include members of the National Patient-Centered Outcomes Network and research partners in MyApnea.Org.
              %p
                While we think that there are only minimal risks associated with sharing research results, we cannot predict how this information might be used in the future. We take many safety measures to protect your privacy, but we cannot guarantee that your identity will never be known.
              %p{ style: 'font-size:18px; font-weight:bold' }
                We will never sell, rent, or lease your information.
              %p{ style: 'font-size:18px; font-style:italic' }
                We will never voluntarily share identifying information about you without your permission.
              %p{ style: 'font-size:18px;' }
                You will be able to see some of your study information and summary information provided by other members in MyApnea.Org. When you register for MyApnea.Org, you provide us with a username and a password. You can use this to sign in to the study and see your Dashboard and some of the health information you’ve provided to us (e.g., your sleep surveys and health profile). Some of this information will be displayed in summary form and shown in relationship to summary information provided by other members of MyApnea.Org.
              %p{ style: 'font-size:18px;' }
                You should be very careful not to provide your login information to anyone else. If you are worried that someone else may be using your login information, please let us know immediately, or change your password yourself through the My Account Setting page.
              %p{ style: 'font-size:18px; font-weight:bold' }
                We follow the Electronic Security and Adherence to the U.S. Health Insurance Portability and Accountability Act (HIPAA) Privacy Rule.
              %p{ style: 'font-size:18px' }
                MyApnea.Org follows the security guidelines of the U.S. Health Insurance Portability and Accountability Act of 1996 (HIPAA). All study data is sent, stored, and processed in a secure environment.
              %p{ style: 'font-size:18px' }
                We are required by HIPAA to protect the privacy of health information obtained for research. This is an abbreviated notice, and does not describe all details of this requirement - see Partners Privacy Notice.
              %p{ style: 'font-size:18px' }
                During this study, identifiable information about you or your health will be collected and shared with the researchers conducting the research. In general, under federal law, identifiable health information is private. However, there are exceptions to this rule. In some cases, others may see your identifiable health information for purposes of research oversight, quality control, public health and safety, or law enforcement. We share your health information only when we must, and we ask anyone who receives it from us to protect your privacy.
              %p{ style: 'font-size:18px; font-weight:bold' }
                We are protecting your data.
              %p{ style: 'font-size:18px' }
                The Partners HealthCare Research IT Facilities Security Center will host the data for MyApnea.Org. All study information will be stored on secure network servers.</p>
              %p{ style: 'font-size:18px' }
                Data and the web portal will be housed on the Partners HealthCare Research Computing Cloud Infrastructure. The Discovery Information Platform for Research (DIPR) provides a set of virtual services within the Partners HealthCare secure data center and within the Partners HealthCare network. All systems are secured behind the Partners HealthCare firewall and follow Partners HealthCare Information Security policies for authenticated, minimum access. All systems are patched, monitored and scanned routinely for vulnerabilities and intrusions by the systems administrator and PHS Information Security. Data is encrypted, where applicable, in compliance with state and federal government standards, regulations, and in accordance with Partners Security and Privacy policies. The web server and database server are hosted within the Partners Firewall, and make use of standard 256-bit encryption connection ciphers.</p>
              %p{ style: 'font-size:18px' }
                If you have any questions about this information, please contact us by email at
                =  mail_to 'support@myapnea.org', nil, class: 'lighter-blue'
            .modal-footer
              = link_to 'More information', consent_path, class: 'btn btn-default'
              %button.btn.btn-primary{ type: 'button', data: { dismiss: 'modal' } } Close

