<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MyApnea.Org</title>
    <link href='//fonts.googleapis.com/css?family=Patrick+Hand|Handlee|Coming+Soon' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Dosis:400,700|Cabin:400,700' rel='stylesheet' type='text/css' />
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "cleantheme", media: "all", "data-turbolinks-track" => true %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <%= javascript_include_tag "cleantheme", "data-turbolinks-track" => true %>
    <%= javascript_tag "var root_url='#{request.script_name + '/'}';var auth_token='#{form_authenticity_token}';" %>
  </head>
  <body data-email="<%= current_user.email if current_user %>" data-fullname="<%= current_user.name if current_user %>">

<!-- NAVIGATION BAR -->

  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="">
          <%= link_to image_tag('myapnea/welcome/img-small/myApneaLogoOld.png', width: '100%', style: 'position:relative;top:-32px; left:0px;', id: 'navbar-myapnea-logo'), root_path, class: 'navbar-brand', style: 'width:70%; line-height:100%; min-width:160px; max-width:260px;' %>


    <% if current_user %>
        <div class='navbar-right text-white centered-text'>
          <h4 id='btn-welcome-phone' style='font-weight:300'>Welcome, <span class='lighterer-blue'><%= current_user.first_name %></span>!</h4>
        </div>
      </div><!-- /.navbar-header -->
    <% else  %>
        <!-- Add a login for mobile devices -->
        <%= link_to 'Login', new_user_session_path, class: 'btn primary-blue-bcg text-white visible-xs float-right', id: 'btn-login-phone' %>
      </div><!-- /.navbar-header -->
      <div class="collapse navbar-collapse navbar-right">
        <%= form_tag user_session_path, method: :post, class: 'navbar-form' do %>
          <%= text_field_tag 'user[email]', nil, placeholder: 'Email', class: 'form-control' %>
          <%= password_field_tag 'user[password]', nil, placeholder: 'Password', class: 'form-control' %>
          <%= submit_tag 'Login', class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>

    </div><!-- /.container-fluid -->
  </nav>


  <%= yield %>

</body>
</html>
