!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=Edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    = render "layouts/meta/general"
    = render "layouts/meta/facebook"
    = render "layouts/meta/google"
    = render "layouts/meta/analytics"
    = favicon_link_tag
    = auto_discovery_link_tag(:rss, "#{ENV["website_url"]}/blog.atom")
    = csrf_meta_tags
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{ src: "//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
      %script{ src: "//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" }
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: "reload" }
    = javascript_include_tag "application", data: { turbolinks_track: "reload" }
    = javascript_tag "var root_url=\"#{request.script_name + "/"}\";"
  %body{ class: yield(:body_class), style: 'margin-bottom 0; margin-top: 0; padding-top: 0' }
    = yield :header
    %div{ style: 'height: 20px' }
      &nbsp;
    .hidden-xs{ style: 'height: 20px' }
      &nbsp;
    .centered{ style: 'margin-bottom: 18px' }
      = link_to root_path, tabindex: '-1' do
        = image_tag 'myapnea/logos/MyApneaLogo_border_whitetext_square_300x80_bluetext.png', style: 'max-width: 100%'
    .container= yield
    = yield :footer
    .text-center.small{ style: 'margin-bottom:20px;margin-top:40px' }
      = link_to 'Terms', terms_and_conditions_path, style: 'color: #777'
      &nbsp;
      = link_to 'Privacy', privacy_path, style: 'color: #777'
      &nbsp;
      = link_to 'Contact', contact_path, style: 'color: #777'
      &nbsp;
      = link_to 'About', about_path, style: 'color: #777'
