!!!
%html
  %head
    %meta{ charset: 'utf-8'}
    %meta{ content: 'IE=Edge,chrome=1', http: { equiv: 'X-UA-Compatible' } }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    / For Facebook
    %meta{ property: 'og:url', content: ENV['website_url'] + '/' }
    %meta{ property: 'og:title', content: ENV['website_name'] }
    %meta{ property: 'og:description', content: 'Improving sleep apnea through information, support, and research' }
    %meta{ property: 'og:image', content: ENV['website_url'] + '/assets/' + asset_path('myapnea/logos/MyApneaLogo_border_whitetext_square.png').split('/assets/').last }
    / For Google+
    %meta{ itemprop: 'name', content: ENV['website_name'] }
    %meta{ itemprop: 'description', content: 'Improving sleep apnea through information, support, and research' }
    %meta{ itemprop: 'image', content: ENV['website_url'] + '/assets/' + asset_path('myapnea/logos/MyApneaLogo_border_whitetext_square.png').split('/assets/').last }
    / For Google Analytics
    %meta{ name: 'google-site-verification', content: 'RHApDe4I99r46ZVk4UVIbuJhXi2oIvUhKO0G7zlVHjo' }
    / For SEO
    %title= [@title, 'MyApnea'].compact.join(' | ').html_safe
    %meta{ name: 'description', content: "#{@page_content.present? ? @page_content : 'Sleep Apnea Research and Community for Patient Outcomes'}" }
    %meta{ name: 'keywords', content: @keywords.present? ? @keywords : 'sleep apnea, cpap devise, research study, sleep apnea forums, sleep apnea help' }
    = favicon_link_tag
    = auto_discovery_link_tag(:rss, "#{ENV['website_url']}/blog.atom")
    = csrf_meta_tags
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{ src: '//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' }
      %script{ src: '//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' }
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
    = javascript_include_tag 'application', data: { turbolinks_track: 'reload' }
    = javascript_tag "var root_url='#{request.script_name + '/'}';"
  %body{ class: yield(:body_class), style: 'margin-bottom 0; margin-top: 0; padding-top: 0' }
    = yield :header
    %div{ style: 'height: 20px' }
      &nbsp;
    .hidden-xs{ style: 'height: 20px' }
      &nbsp;
    .center{ style: 'margin-bottom: 18px' }
      = link_to root_path, tabindex: '-1' do
        = image_tag 'myapnea/logos/MyApneaLogo_border_whitetext_square_300x80_bluetext.png', style: 'max-width: 100%'
    .container= yield
    = yield :footer
    .text-center.small{ style: 'margin-bottom:20px;margin-top:40px' }
      = link_to 'Terms', terms_and_conditions_path, style: 'color: #777'
      &nbsp;
      = link_to 'Privacy', privacy_path, style: 'color: #777'
      &nbsp;
      = link_to 'Contact', contact_path, style: 'color: #777'
      &nbsp;
      = link_to 'About', about_path, style: 'color: #777'
