%div.hidden-xs.profile
  - if current_user == member
    .profile-image-container{ rel: 'tooltip', data: { title: 'Change your picture', container: 'body', placement: 'bottom' } }
      = link_to settings_path do
        = image_tag user_photo_url(member), style: 'width: 220px;'
  - else
    .profile-image-container
      = image_tag user_photo_url(member), style: 'width: 220px;'

  %div.overflow-hidden{ style: 'margin-left: 20px;margin-right: 20px;margin-bottom: 0;' }
    %p
      - if current_user == member
        %strong= current_user.name
        %br
      %small= member.forum_name
    %p
      %small.profile-muted-description
        Joined
        = member.created_at.strftime('%b %Y')

.profile
  %div.overflow-hidden{ style: 'margin-left: 20px;margin-right: 20px;margin-bottom: 0;padding-top: 11px;' }
    %p
      %strong Posts
      %br
      %small= member.replies.count
    %p
      %strong Karma
      %br
      %small
        - karma = member.replies.collect(&:rank).sum
        - if karma.negative?
          - "-#{karma}"
          %fa.fa.fa-frown-o
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
        - else
          - "+#{karma}"
          %fa.fa.fa-smile-o
          %fa.fa.fa-smile-o
          %fa.fa.fa-smile-o
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }

.profile-menu-container
  .hidden-sm.hidden-md.hidden-lg.profile-menu-close
    = link_to '#', data: { object: 'toggle-drawer' } do
      %fa.fa.fa-times
  %ul.blog-menu.profile-menu
    %li.blog-menu-header Menu
    %li
      = link_to '#', data: { object: 'suppress-click' }, style: 'color: green;' do
        %fa.fa.fa-check
        Following
    %li
      = link_to '#', data: { object: 'suppress-click' }, style: 'color: blue;' do
        %fa.fa.fa-plus
        Follow
    %li= link_to 'Posts', '#', data: { object: 'suppress-click' }, style: 'color: red;'
    %li= link_to 'Ignore', '#', data: { object: 'suppress-click' }, style: 'color: red;'
    %li= link_to 'Badges', '#', data: { object: 'suppress-click' }, style: 'color: red;'

.profile
  %div.overflow-hidden{ style: 'margin-left: 20px;margin-right: 20px;margin-bottom: 0;padding-top: 11px;' }
    %p
      %strong Achievements
    %p
      %small{ style: 'color: #ccc;' } 1&cross;
      %span.label.label-default Sleep Commentator
    %p
      %small{ style: 'color: #ccc;' } 1&cross;
      %span.label.label-default{ rel: 'tooltip', data: { title: 'Cast an upvote or downvote on the forum', container: 'body', placement: 'right' } } Voter
    %p
      %small{ style: 'color: #ccc;' } 1&cross;
      %span.label.label-default{ rel: 'tooltip', data: { title: 'Created a poll', container: 'body', placement: 'right' } } Pollster

