.hidden-xs= render 'members/profile_image', member: member

.profile-menu-container
  .hidden-sm.hidden-md.hidden-lg.profile-menu-close
    = link_to '#', data: { object: 'toggle-drawer' } do
      %fa.fa.fa-times
  %ul.blog-menu.profile-menu
    %li.blog-menu-header Member
    %li= link_to 'Posts', member_posts_path(member.forum_name), class: current_page?(member_posts_path(member.forum_name)) ? 'active' : nil
    %li= link_to 'Badges', member_badges_path(member.forum_name), class: current_page?(member_badges_path(member.forum_name)) ? 'active' : nil

.profile
  %div.overflow-hidden{ style: 'margin-left: 20px;margin-right: 20px;margin-bottom: 0;padding-top: 11px;' }
    %p
      %strong Bio
      %br
      %small I run, eat, swim, and dance.
    %p
      %strong Posts
      %br
      %small= member.replies.count
    %p
      %strong Karma
      %br
      %small
        - karma = member.replies.collect(&:rank).sum
        - if karma.negative?
          - "-#{karma}"
          %fa.fa.fa-frown-o
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
        - else
          - "+#{karma}"
          %fa.fa.fa-smile-o
          %fa.fa.fa-smile-o
          %fa.fa.fa-smile-o
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
          %fa.fa.fa-smile-o{ style: 'color: #ccc;' }
    %p
      %strong Badges
      %br
      %small 3
