.dashboard-container.dashboard-container-border-accent
  .d-flex.flex-column.flex-sm-row.align-items-sm-center
    %div.member-photo.text-center.mr-0.mr-sm-3
      = link_to profile_picture_tag(member, size: "128", style: "width: 128px; height: auto;"), posts_member_path(member.username)
    %div.flex-fill
      .member-name= member.username
      - if false
        Joined
        = member.created_at.strftime("%b %Y")

      - if member.profile_location.present?
        %i.fa.fa-map-marker
        = member.profile_location
      = link_to posts_member_path(member.username) do
        View profile
        %i.fa.fa-caret-right

  - if member.profile_bio.present?
    .member-bio
      = simple_markdown(member.profile_bio)
