.profile
  - if current_user == member
    .profile-image-container{ rel: "tooltip", data: { title: "Change your picture", container: "body", placement: "bottom" } }
      = link_to settings_path do
        = profile_picture_tag(member, size: "220", style: "width: 220px; height: auto; border-radius: 0 !important;")
  - else
    .profile-image-container
      = profile_picture_tag(member, size: "220", style: "width: 220px; height: auto; border-radius: 0 !important;")

  %div.overflow-hidden{ style: "margin-left: 20px;margin-right: 20px;margin-bottom: 0;" }
    %strong
      - if current_user && current_user.admin?
        = link_to member.username, member
      - else
        = member.username
    - if false
      %br
      %small
        = link_to "Hiding Posts", "#", data: { object: "suppress-click change-text-on-hover", text_hover: "Show Posts", text_default: "Hiding Posts" }, style: "color: red;"
      %br
      %small
        = link_to "Showing Posts", "#", data: { object: "suppress-click change-text-on-hover", text_hover: "Hide Posts", text_default: "Showing Posts" }, style: "color: red;"

    .mb-3
      %small.profile-muted-description
        Joined
        = member.created_at.strftime("%b %Y")
