- @title = 'Active Community Members'
.content-main-header
  %h1= @title

.horizontal-inset
  = render 'layouts/per_page', per_page: 40, object_count: @members.total_count
.clearfix

.content-container
  .content-body
    %table.table.table-striped
      %thead
        %tr
          %th Forum Name
          %th{ style: "white-space:nowrap" } Forum Posts
          %th
      - @members.each do |member|
        %tr
          %td{ style: 'white-space:nowrap' }
            = render 'forums/user_image_no_border', user: member, size: 18
            = link_to member.forum_name, member_path(member.forum_name)
          %td
            = member.posts.where(status: ['pending_review', 'approved']).count

    .centered= paginate @members, theme: 'bootstrap'
