- @title = @member.forum_name

- content_for :body_class do
  myapnea-sky-bg

- content_for :header do
  .header-container
    .container
      %h1.page-heading
        = @title

.drawer-and-shelf-container
  .drawer
    = render 'members/menu', member: @member
  .shelf
    .hidden-sm.hidden-md.hidden-lg{ style: 'display: flex;flex-wrap: wrap;justify-content: center;' }
      %div{ style: 'flex: 1 0 240px;max-width: 240px;' }= render 'members/profile_image', member: @member

    .dashboard-container
      = link_to '#', data: { object: 'toggle-drawer' }, class: 'drawer-open-button' do
        %fa.fa.fa-bars
        Menu

      .dashboard-title Recent Posts
      .dashboard-body
        - @replies.each do |reply|
          = render 'internal/reply', reply: reply

    .center= paginate @replies, theme: 'bootstrap'
