- @title = "#{@member.forum_name} - Sleep Apnea Community"
- @background_color = '#5999de'

.content-main-header2
  %h1
    = render 'forums/user_image', user: @member, size: 100
    = @member.forum_name

-# Admin information
- if current_user && (current_user.moderator? || current_user.owner?)
  .well
    %h4.f300
      Moderator Contact Information
    %br
    .row
      .col-sm-6
        %dl.dl-horizontal
          %dt
            %strong Member Name
          %dd
            = @member.name
          %dt
            %strong Member Email
          %dd
            = @member.email
      .col-sm-6
        %dl.dl-horizontal
          - spam_topics_count = Topic.where(status: 'spam', user_id: @member.id).count
          - if spam_topics_count > 0
            %dt
              %strong # of Spam Topics
            %dd
              = spam_topics_count
          - spam_posts_count = Post.where(status: 'spam', user_id: @member.id).count
          - if spam_posts_count > 0
            %dt
              %strong # of Spam Posts
            %dd
              = spam_posts_count

-# About member
.content-container
  .content-body
    .row
      .col-sm-4
        %p.dark8
          %span.f500.dark5 Member since:
          %div{ style: 'font-size: 32px;' }= @member.created_at.strftime('%b %-d, %Y')
      .col-sm-4
        %p.dark8
          %span.f500.dark5 Number of posts:
          %div{ style: 'font-size: 32px;' }= @member.replies.joins(:chapter).merge(Chapter.current).count
      .col-sm-4
        %p.dark8
          %span.f500.dark5 Number of votes:
          %div{ style: 'font-size: 32px;' }= @member.votes.current.count

-# Recent posts
- @replies.each do |reply|
  = render 'replies/show', level: 0, reply: reply, include_chapter_title: true

.centered= paginate @replies, theme: 'bootstrap-small'
