- @title = "#{@member.forum_name} - Sleep Apnea Community"

- content_for :body_class do
  brand-background

.content-main-header2
  %h1
    = render 'forums/user_image', user: @member, size: 100
    = @member.forum_name

-# Admin information
- if current_user && (current_user.moderator? || current_user.owner?)
  .well
    %h4.f300
      Moderator Contact Information
    %br
    .row
      .col-sm-6
        %dl.dl-horizontal
          %dt
            %strong Member Name
          %dd
            = link_to_if current_user.owner?, @member.name, @member
          %dt
            %strong Member Email
          %dd
            = @member.email
      .col-sm-6
        %dl.dl-horizontal
          - deleted_topics_count = Chapter.where(deleted: true, user_id: @member.id).count
          - if deleted_topics_count > 0
            %dt
              %strong # of Deleted Topics
            %dd
              = deleted_topics_count
          - deleted_posts_count = Reply.where(deleted: true, user_id: @member.id).joins(:chapter).merge(Chapter.current).count
          - if deleted_posts_count > 0
            %dt
              %strong # of Deleted Posts
            %dd
              = deleted_posts_count

-# About member
.content-container
  .content-body
    .row
      .col-sm-4
        %p.dark8
          %span.f500.dark5 Member since:
          %div{ style: 'font-size: 32px;' }= @member.created_at.strftime('%b %-d, %Y')
      .col-sm-4
        %p.dark8
          %span.f500.dark5 Number of posts:
          %div{ style: 'font-size: 32px;' }= @member.replies.count
      .col-sm-4
        %p.dark8
          %span.f500.dark5 Number of votes:
          %div{ style: 'font-size: 32px;' }= @member.votes.current.count

-# Recent posts
- @replies.each do |reply|
  = render 'replies/show', level: 0, reply: reply, include_chapter_title: true

.centered= paginate @replies, theme: 'bootstrap-small'
