%ul.list-group
  = link_to about_path do
    %li.list-group-item.hover-slide-left.list-shrink.text-dark8 Introduction
  = link_to team_path do
    %li.list-group-item.hover-slide-left.list-shrink.text-dark8 Our Team
  = link_to faqs_path do
    %li.list-group-item.hover-slide-left.list-shrink.text-dark8 FAQs
  = link_to community_path do
    %li.list-group-item.hover-slide-left.list-shrink.text-dark8 Community
  = link_to providers_path do
    %li.list-group-item.hover-slide-left.list-shrink.text-dark8 Providers
.clearfix
