/ Fixed navbar
%nav.navbar.navbar-fixed-top
  .container
    .navbar-header
      %button.pull-right.navbar-toggle.collapsed{ type: "button", aria: { controls: "navbar", expanded: "false" }, data: { target: "#navbar-myapnea", toggle: "collapse" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        = image_tag 'myapnea/logos/MyApneaLogo_border_whitetext_300x80.png', class: 'img-responsive'
    #navbar-myapnea.navbar-collapse.collapse
      - if current_user
        %ul#user-nav.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{ href: "#", role: "button", aria: { expanded: "false" }, data: { toggle: "dropdown" } }
              = image_tag user_photo_url(current_user), alt: '', size: '25', class: 'img-rounded'
              &nbsp;
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                = link_to 'Invite others', members_invites_path
              %li
                = link_to 'Settings', account_path
              %li
                = link_to 'Help', faqs_path
              - if current_user.owner? or current_user.moderator?
                %li.divider
                %li
                  = link_to 'Admin Dashboard', admin_path
              - if current_user.can_build_surveys?
                %li.divider
                %li= link_to 'Build a Survey', builder_path
              %li.divider
              %li
                = link_to 'Log out', destroy_user_session_path, method: :delete
      %ul#main-nav.nav.navbar-nav.navbar-right
        %li{ class: "#{'active' if @active_top_nav_link == :home}" }
          = link_to "#{current_user ? 'Dashboard' : 'Home'}", root_path
        %li{ class: "#{'active' if @active_top_nav_link == :forums }" }
          = link_to 'Forums', forums_path, data: { no_turbolink: true }
        %li{ class: "#{'active' if @active_top_nav_link == :surveys }" }
          = link_to 'Surveys', surveys_path
        %li{ class: "#{'active' if @active_top_nav_link == :research }" }
          = link_to 'Research', research_topics_path, data: { no_turbolink: true }
        %li{ class: "#{'active' if @active_top_nav_link == :learn }" }
          = link_to 'Learn', learn_path
        - unless current_user
          %li.hidden-xs.hidden-sm{ style: 'border-color: transparent' }
            = link_to 'Login', new_user_session_path, class: 'btn btn-default f300', style: 'border-radius:5px;font-size:18px; margin-left: 5px;'
          %li.visible-xs.visible-sm
            = link_to 'Login', new_user_session_path, class: 'btn btn-default', id: 'mobile-login'
            = link_to 'Join', new_user_registration_path, class: 'btn btn-primary', id: 'mobile-join'
