%nav.navbar.navbar-fixed-top{role:'navigation'}
  .container-fluid
    / #slidemenu
    = link_to image_tag('myapnea/logos/MyApneaLogo_border_whitetext_300x80.png'), root_path, class: "navbar-brand"
    - if !current_user
      = link_to "Login", new_user_session_path, class: "btn primary-blue-bcg text-white visible-xs float-right", id: "btn-login-phone"
    - elsif @provider
      = link_to home_path do
        .navbar-right.text-white.centered-text.visible-xs
          .navbar-header.pull-right#slide-nav
            %i.fa.fa-home{ style:'font-size:40px' }
    - else
      = link_to account_path do
        .navbar-right.text-white.centered-text.visible-xs
          .navbar-header.pull-right#slide-nav
            %a.navbar-toggle.pull-right
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
    - if ((params[:action] == 'home' or params[:action] == 'providers' or @provider) and !current_user)
      .hidden-xs.navbar-right.float-right
        = form_tag user_session_path, method: :post, class: "navbar-form" do
          = text_field_tag 'user[email]', nil, placeholder: 'Email', class: "form-control"
          = password_field_tag 'user[password]', nil, placeholder: 'Password', class: "form-control"
          = submit_tag 'Login', class: "btn btn-primary"
    - else
      .hidden-xs.centered-text#navbar-social
        = link_to image_tag('myapnea/icons/facebook_icon.png', class: 'share-icons-animate share-icons-md'), "http://www.facebook.com/share.php?u=#{ENV['website_url']}"
        = link_to image_tag('myapnea/icons/twitter_icon.png', class: 'share-icons-animate share-icons-md'), 'http://ctt.ec/Qeg7f'
        = link_to image_tag('myapnea/icons/email_icon.png', class: 'share-icons-animate share-icons-md'), "mailto:?subject=Check out MyApnea.Org&body=This group is working to improve treatment and research of sleep apnea! You can learn more and join their community by visiting www.myapnea.org"
        %ul.nav.navbar-nav#myapneanavbar{ style:'color:white; position:absolute; right:20%; bottom:0;' }
          %li{:class => "#{"active" if @active_top_nav_link == :home}"}
            = link_to 'Home', root_path
          %li.dropdown{:class => "#{"active" if @active_top_nav_link == :about}"}
            %a.dropdown-toggle{ href:'#', data:{ toggle: 'dropdown'} }
              About
              %span.caret
            %ul.dropdown-menu{ role:'menu' }
              %li= link_to 'Introduction', about_path
              %li= link_to 'Our Team', team_path
              %li= link_to 'Our Advisors', advisory_path
              %li= link_to 'Our Partners', partners_path
          %li.dropdown{:class => "#{"active" if @active_top_nav_link == :education}"}
            %a.dropdown-toggle{ href:'#', data:{ toggle: 'dropdown'} }
              Learn
              %span.caret
            %ul.dropdown-menu{ role:'menu' }
              %li= link_to 'Sleep Apnea', learn_path
              %li= link_to 'PAP Devices', learn_pap_path
          %li.dropdown{:class => "#{"active" if @active_top_nav_link == :participate}"}
            %a.dropdown-toggle{ href:'#', data:{ toggle: 'dropdown'} }
              Participate
              %span.caret
            %ul.dropdown-menu{ role:'menu' }
              %li= link_to 'Community', social_path
              %li= link_to 'Forums', forums_path
              %li= link_to 'Research Surveys', surveys_path, data: { no_turbolink: true }
              %li= link_to 'Rank the Research', research_topics_path
              %li= link_to 'Providers', providers_path
